In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [2]:
path='Files used in current analysis/Linkedin_Job_Details_26-Sep-2023-to-13-Nov-2023_12848-jobs_558-pages.csv'

In [3]:
df=pd.read_csv(path)

In [4]:
df

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,NaN,NaN,NaN
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,NaN,NaN,NaN
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,NaN,NaN,NaN
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,NaN,NaN,NaN
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
12843,Sr. Software Engineer - UI,"SOFTOO · Islamabad, Islāmābād, Pakistan \n3 w...",Hybrid\n\n \nFull-time,https://www.linkedin.com/jobs/view/3758268626,201-500 employees,NaN,NaN,NaN
12844,Customer Sales Representative,"V Packaging · Lahore, Punjab, Pakistan \n3 we...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3753070889,See how you compare to 10 applicants. Reactiva...,NaN,NaN,NaN
12845,Telesales Agent or CSR,"Jobly Staffing Ltd · Lahore, Punjab, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3757800035,11-50 employees,NaN,NaN,NaN
12846,Sales Executive,"Dost · Lahore, Punjab, Pakistan \n3 weeks ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3757283989,11-50 employees,NaN,NaN,NaN
12847,Angular Developer,EWDTech - Web Design and Development Services ...,On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3751461639,51-200 employees,NaN,NaN,NaN

#### investagating where description is mixed with data

In [5]:
df[df['Job Desception'].isnull()==False]

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,Job Desception,Company Info
9780,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3749008255,NaN,NaN,About the job\n \n\n \nWe are looki...,Financial Services\n \n ...
9781,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3747976526,NaN,NaN,About the job\n \n\n \nCompany Desc...,NaN
9782,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3748472577,NaN,NaN,About the job,NaN
9783,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3747979213,NaN,NaN,About the job\n \n\n \nRequirements...,IT Services and IT Consulting\n \n ...
9784,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3747956013,NaN,NaN,About the job\n \n\n \nWe are in se...,Renewable Energy Semiconductor Manufacturing\n...
...,...,...,...,...,...,...,...,...
10093,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3748498405,NaN,NaN,About the job,NaN
10094,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3725085649,NaN,NaN,About the job\n \n\n \nAny one can ...,NaN
10095,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3748421657,NaN,NaN,About the job\n \n\n \nPosition: In...,Human Resources\n \n 5...
10096,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3744340384,NaN,NaN,About the job,NaN
10097,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3644339587,NaN,NaN,About the job\n \n\n \nNeed a socia...,NaN

##### 318 rows of jobs description is mixed

In [6]:
df.isnull().sum()

Job Title           506
Job Info            771
Job Type            773
Job Link              0
employees           774
Job ID            12578
Job Desception    12530
Company Info      12632
dtype: int64

In [7]:
df[df['Job Title'].isnull()]

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,Job Desception,Company Info
110,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3716079439,NaN,NaN,NaN,NaN
125,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728144603,NaN,NaN,NaN,NaN
417,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728021212/...,NaN,NaN,NaN,NaN
420,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3727051751/...,NaN,NaN,NaN,NaN
456,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3726689376/...,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
12692,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3759168611,NaN,NaN,NaN,NaN
12715,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3759815536,NaN,NaN,NaN,NaN
12767,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3759166574,NaN,NaN,NaN,NaN
12787,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3753021984,NaN,NaN,NaN,NaN
12831,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3759846389,NaN,NaN,NaN,NaN

In [8]:
df.iloc[420]['Job Link']

'https://www.linkedin.com/jobs/view/3727051751/?eBP=JOB_SEARCH_ORGANIC&refId=n1BxF49FoRzpjWVR5WqmKw%3D%3D&trackingId=hKWx7Lut7Q2%2FUF%2B%2BmKHgGw%3D%3D&trk=flagship3_search_srp_jobs'

In [9]:
df[df['Job Title'].isnull()]['Job Link']

110          https://www.linkedin.com/jobs/view/3716079439
125          https://www.linkedin.com/jobs/view/3728144603
417      https://www.linkedin.com/jobs/view/3728021212/...
420      https://www.linkedin.com/jobs/view/3727051751/...
456      https://www.linkedin.com/jobs/view/3726689376/...
                               ...
12692        https://www.linkedin.com/jobs/view/3759168611
12715        https://www.linkedin.com/jobs/view/3759815536
12767        https://www.linkedin.com/jobs/view/3759166574
12787        https://www.linkedin.com/jobs/view/3753021984
12831        https://www.linkedin.com/jobs/view/3759846389
Name: Job Link, Length: 506, dtype: object

### checking duplicates

In [10]:
len(df)

12848

In [11]:
df['Job ID']=df['Job Link'].apply(lambda x:int(x.split('/')[5]))

In [12]:
len(df['Job ID'].unique())

9885

In [13]:
len(df)-len(df['Job ID'].unique())

2963

In [14]:
df['Job ID'].value_counts()

Job ID
3720211981    13
3733022066    11
3733019363    11
3707088816    10
3723015510     9
              ..
3734529346     1
3734528250     1
3734704933     1
3734502997     1
3751461639     1
Name: count, Length: 9885, dtype: int64

In [15]:
df['Job ID'].value_counts().unique()

array([13, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1], dtype=int64)

In [16]:
duplicates_count=df.duplicated(subset=['Job ID']).sum()
duplicates_count

2963

In [17]:
duplicates = df['Job ID'].duplicated()
df[duplicates]

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,Job Desception,Company Info
603,Odoo Developer,"AKSiQ · Karachi Division, Sindh, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3727054738,11-50 employees,3727054738,NaN,NaN
781,Assistant Manager Sales/Sales Executive,"Eastern Housing Pakistan · Multan, Punjab, Pak...",Full-time,https://www.linkedin.com/jobs/view/3727057147,201-500 employees,3727057147,NaN,NaN
834,Back-End Network Engineer,Turing · Pakistan (Remote) Reposted \n2 weeks...,Full-time · Entry level,https://www.linkedin.com/jobs/view/3726337380,"1,001-5,000 employees · IT Services and IT Con...",3726337380,NaN,NaN
840,Release Management Engineer,"AIIT Solutions · Rawalpindi, Punjab, Pakistan ...",Full-time,https://www.linkedin.com/jobs/view/3727054443,11-50 employees,3727054443,NaN,NaN
842,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3727051751,NaN,3727051751,NaN,NaN
...,...,...,...,...,...,...,...,...
12791,Software Engineering Manager,"Careem · Lahore, Punjab, Pakistan Reposted \n...",Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3737888915,"1,001-5,000 employees · IT Services and IT Con...",3737888915,NaN,NaN
12795,Media Generalist,"10Pearls · Karāchi, Sindh, Pakistan \n3 weeks...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3755745473,"1,001-5,000 employees · IT Services and IT Con...",3755745473,NaN,NaN
12815,Talent Acquisition Manager,"Careem · Karāchi, Sindh, Pakistan Reposted \n...",Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3742000837,"1,001-5,000 employees · IT Services and IT Con...",3742000837,NaN,NaN
12819,Security Guard,"International Medical Corps · Islamabad, Islām...",Full-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3755630853,"5,001-10,000 employees · Non-profit Organizations",3755630853,NaN,NaN
12835,Sales Account Executive,"KeepLoading · Islāmābād, Pakistan \n3 weeks ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3756313333,11-50 employees,3756313333,NaN,NaN

In [18]:
df = df.drop_duplicates(subset=['Job ID'])

In [19]:
df.shape

(9885, 8)

In [20]:
4214-591

3623

### checking null values

In [21]:
df.isnull().sum()

Job Title          376
Job Info           606
Job Type           608
Job Link             0
employees          609
Job ID               0
Job Desception    9674
Company Info      9746
dtype: int64

In [22]:
df['Job Title'].unique()

array(['LinkedIn Data Extractor', 'It Management Intern',
       'SQL Database Developer', ..., 'Senior iOS Engineer',
       'Sr. Software Engineer - UI', 'Telesales Agent or CSR'],
      dtype=object)

In [23]:
len(df['Job Title'].unique())

5337

In [24]:
df['Job Type'].unique()

array(['Full-time', 'Full-time · Mid-Senior level',
       'Internship · Internship', 'Full-time · Associate', 'Internship',
       'Full-time · Entry level', 'Part-time', 'Full-time · Internship',
       nan, 'Contract · Mid-Senior level', 'Contract',
       'Contract · Associate', '$150/month - $300/month · Full-time',
       'Full-time · Director', 'Part-time · Associate',
       'Mr Ahsan is hiring for this job', 'Part-time · Executive',
       'Contract · Executive', 'Part-time · Mid-Senior level',
       'Contract · Entry level', 'Temporary · Mid-Senior level',
       'Executive', 'Full-time · Executive',
       'Sean Sato is hiring for this job', 'Part-time · Internship',
       'Internship · Mid-Senior level',
       '$12,000/yr - $15,000/yr · Full-time · Mid-Senior level',
       '$200,000/yr · Full-time', 'Part-time · Entry level',
       'dr.ry. L. is hiring for this job',
       '10,001+ employees · Tobacco Manufacturing', 'Volunteer',
       'On-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nFull-time\n\n \nMid-Senior level',
       'Remote\n\n \nFull-time\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nFull-time',
       'Hybrid\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nDirector', 'Remote\n\n \nFull-time',
       'On-site\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nAssociate',
       'Full-time\n\n \nMid-Senior level', 'On-site\n\n \nPart-time',
       'Hybrid\n\n \nFull-time',
       'Remote\n\n \nContract\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nExecutive',
       'Remote\n\n \nFull-time\n\n \nEntry level',
       'Remote\n\n \nInternship', 'On-site\n\n \nInternship',
       'On-site\n\n \nContract\n\n \nMid-Senior level',
       'Remote\n\n \nContract', 'Remote\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nContract\n\n \nEntry level',
       'On-site\n\n \nFull-time\n\n \nInternship',
       'Remote\n\n \nPart-time\n\n \nAssociate', 'Remote\n\n \nPart-time',
       'Remote\n\n \nContract\n\n \nEntry level',
       'On-site\n\n \nContract\n\n \nAssociate',
       'Full-time\n\n \nEntry level', 'Hybrid\n\n \nContract',
       'Remote\n\n \nFull-time\n\n \nDirector', 'Hybrid\n\n \nPart-time',
       'On-site\n\n \nContract',
       'PKR600,000/yr - PKR660,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       'Remote', 'Contract\n\n \nMid-Senior level',
       'On-site\n\n \nContract\n\n \nInternship',
       'Full-time\n\n \nExecutive',
       'Remote\n\n \nInternship\n\n \nMid-Senior level',
       'Hybrid\n\n \nContract\n\n \nMid-Senior level',
       'Remote\n\n \nPart-time\n\n \nEntry level',
       'Hybrid\n\n \nTemporary', 'Remote\n\n \nPart-time\n\n \nExecutive',
       'On-site\n\n \nInternship\n\n \nEntry level',
       'On-site\n\n \nVolunteer',
       'Remote\n\n \nFull-time\n\n \nExecutive',
       'On-site\n\n \nInternship\n\n \nInternship',
       'Remote\n\n \nVolunteer',
       'On-site\n\n \nPart-time\n\n \nEntry level', 'On-site',
       'Hybrid\n\n \nInternship',
       'Hybrid\n\n \nContract\n\n \nEntry level',
       'Full-time\n\n \nInternship',
       '$180/month - $250/month\n\n \nRemote\n\n \nFull-time', 'Hybrid',
       'Remote\n\n \nContract\n\n \nAssociate',
       'Remote\n\n \nTemporary\n\n \nEntry level',
       'On-site\n\n \nTemporary', 'Remote\n\n \nTemporary',
       'Full-time\n\n \nAssociate',
       'PKR1,200,000/yr - PKR1,800,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       '5,001-10,000 employees · IT Services and IT Consulting',
       'PKR1,200,000/yr - PKR2,400,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       'On-site\n\n \nContract\n\n \nExecutive',
       'PKR1,800,000/yr - PKR3,600,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nMid-Senior level',
       'MYR57,000/yr - MYR108,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nEntry level',
       '$1,500/month - $1,800/month\n\n \nRemote\n\n \nFull-time',
       '11-50 employees',
       '10,001+ employees · Food and Beverage Manufacturing',
       'PHP360,000/yr - PHP720,000/yr\n\n \nRemote\n\n \nPart-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nVolunteer', 'Remote\n\n \nMid-Senior level',
       '$500/month - $1,000/month\n\n \nHybrid\n\n \nContract',
       'Remote\n\n \nPart-time\n\n \nMid-Senior level',
       'PKR960,000/yr - PKR1,200,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       '$20,000/yr - $25,000/yr\n\n \nRemote\n\n \nContract\n\n \nEntry level',
       '$30,000/month - $60,000/month\n\n \nHybrid\n\n \nFull-time',
       'Remote\n\n \nPart-time\n\n \nDirector',
       'PKR960,000/yr - PKR1,200,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nMid-Senior level'],
      dtype=object)

In [25]:
len(df['Job Type'].unique())

111

In [26]:
df['Job Info'].unique()

array(['EcomFleet · Pakistan (Remote)  \n1 week ago',
       'Digicon Valley · Lahore, Punjab, Pakistan (On-site)  \n2 weeks ago',
       'Murkez Technologies · Lahore, Punjab, Pakistan (On-site)  \n1 week ago',
       ...,
       'Jobly Staffing Ltd · Lahore, Punjab, Pakistan  \n3 weeks ago',
       'Dost · Lahore, Punjab, Pakistan  \n3 weeks ago',
       'EWDTech - Web Design and Development Services · Faisalabad, Punjab, Pakistan  \n3 weeks ago\n\n · 18 applicants'],
      dtype=object)

In [27]:
len(df['Job Info'].unique())

8380

In [28]:
df['employees'].unique()

array(['11-50 employees', '51-200 employees',
       'Mobeen Naqvi is hiring for this job',
       '1,001-5,000 employees · Software Development',
       '501-1,000 employees · IT Services and IT Consulting',
       '501-1,000 employees · Telecommunications',
       '1,001-5,000 employees · Banking', '201-500 employees',
       '10,001+ employees', '51-200 employees · Human Resources Services',
       '501-1,000 employees',
       '1,001-5,000 employees · Technology, Information and Internet',
       '1,001-5,000 employees',
       '1-10 employees · Retail Apparel and Fashion',
       'Muhammad akram is hiring for this job',
       '10,001+ employees · International Affairs',
       '501-1,000 employees · Higher Education', '1-10 employees',
       '10,001+ employees · Software Development',
       '1,001-5,000 employees · Information Technology & Services',
       '5,001-10,000 employees', 'TARIQ KHAN is hiring for this job',
       '201-500 employees · Financial Services',
       '10,001+ employees · Telecommunications',
       '5,001-10,000 employees · Packaging and Containers Manufacturing',
       '1,001-5,000 employees · IT Services and IT Consulting',
       '1,001-5,000 employees · Executive Offices',
       '1,001-5,000 employees · Telecommunications',
       '1,001-5,000 employees · Food and Beverage Manufacturing',
       '10,001+ employees · Food and Beverage Services', nan,
       '10,001+ employees · Tobacco Manufacturing',
       '51-200 employees · Software Development',
       '5,001-10,000 employees · IT Services and IT Consulting',
       'Sufian Mian Akhtar is hiring for this job',
       'Danish Khan is hiring for this job',
       '51-200 employees · Business Consulting and Services',
       '51-200 employees · Entertainment Providers',
       '11-50 employees · Human Resources Services',
       'Wajahat Ahmed is hiring for this job',
       '11-50 employees · IT Services and IT Consulting',
       '1,001-5,000 employees · Wholesale Building Materials',
       '51-200 employees · IT Services and IT Consulting',
       '1,001-5,000 employees · Outsourcing and Offshoring Consulting',
       '10,001+ employees · Pharmaceutical Manufacturing',
       'See how you compare to 272 applicants. Reactivate Premium',
       '501-1,000 employees · Motor Vehicle Manufacturing',
       'See how you compare to 118 applicants. Reactivate Premium',
       '10,001+ employees · Non-profit Organizations',
       'Adnan Dogar is hiring for this job',
       'Zuhad khan is hiring for this job',
       'Ali Raza is hiring for this job',
       '51-200 employees · Research Services',
       '51-200 employees · Higher Education',
       '5,001-10,000 employees · Advertising Services',
       'See how you compare to 36 applicants. Reactivate Premium',
       'See how you compare to 9 applicants. Reactivate Premium',
       'online earning is hiring for this job',
       'Ishook Ram is hiring for this job',
       '10,001+ employees · Beverage Manufacturing',
       'See how you compare to 19 applicants. Reactivate Premium',
       'Immad Langah is hiring for this job',
       '11-50 employees · Outsourcing and Offshoring Consulting',
       'Rehan Sheikh is hiring for this job',
       'See recent hiring trends for Tubitech Srl. Reactivate Premium',
       'ASG SYSTEMS PAKISTAN is hiring for this job',
       '10,001+ employees · Outsourcing/Offshoring',
       '11-50 employees · Financial Services',
       'ayesha shz is hiring for this job',
       '10,001+ employees · Hospitals and Health Care',
       '10,001+ employees · Farming',
       'Afraz Begum Sial is hiring for this job',
       'See how you compare to 53 applicants. Reactivate Premium',
       'See how you compare to 10 applicants. Reactivate Premium',
       'Sanaullah Aman is hiring for this job',
       'See how you compare to 15 applicants. Reactivate Premium',
       'See how you compare to 7 applicants. Reactivate Premium',
       '1,001-5,000 employees · Oil and Gas',
       '51-200 employees · Information Technology & Services',
       'Nam C. is hiring for this job',
       '5,001-10,000 employees · Real Estate',
       '10,001+ employees · Professional Services',
       'Tahir Islam is hiring for this job',
       '51-200 employees · Technology, Information and Internet',
       'See how you compare to 23 applicants. Reactivate Premium',
       'Zulqarnain Khan is hiring for this job',
       'AWAIS AHMAD is hiring for this job',
       'Hassan Raza Khalid is hiring for this job',
       'See how you compare to 51 applicants. Reactivate Premium',
       '501-1,000 employees · Software Development',
       'SHAKIR NAWAB is hiring for this job',
       '51-200 employees · Automation Machinery Manufacturing',
       'See how you compare to 34 applicants. Reactivate Premium',
       'Jawad Arshad is hiring for this job',
       '5,001-10,000 employees · Book and Periodical Publishing',
       'Salman Tariq is hiring for this job',
       '201-500 employees · Computer and Network Security',
       'Umar Siddiqui is hiring for this job',
       'See how you compare to 20 applicants. Reactivate Premium',
       '10,001+ employees · Information Services',
       'See how you compare to 21 applicants. Reactivate Premium',
       '1,001-5,000 employees · International Affairs',
       'Muhammad Haris is hiring for this job',
       'Adnan Qureshi is hiring for this job',
       'muhammad sharjeel is hiring for this job',
       'Shahid Aziz is hiring for this job',
       'Yasir Khubaib is hiring for this job',
       '11-50 employees · Technology, Information and Internet',
       'Anas Abdul Aziz Fayyaz Ehsan is hiring for this job',
       '11-50 employees · Education', 'Manas Khan is hiring for this job',
       'muhammad imran is hiring for this job',
       '51-200 employees · International Trade and Development',
       'Ali Malik, CCXP is hiring for this job',
       '51-200 employees · Staffing and Recruiting',
       '11-50 employees · Higher Education',
       '11-50 employees · Transportation, Logistics, Supply Chain and Storage',
       '1-10 employees · Human Resources Services',
       '1,001-5,000 employees · Higher Education',
       '51-200 employees · Human Resources',
       '201-500 employees · Software Development',
       '201-500 employees · Medical Practices',
       'Huma Khan is hiring for this job',
       '1,001-5,000 employees · Manufacturing',
       '51-200 employees · Paper and Forest Product Manufacturing',
       'Muhammad Asif is hiring for this job',
       '10,001+ employees · Technology, Information and Internet',
       '5,001-10,000 employees · Non-profit Organization Management',
       'Talha Shah is hiring for this job',
       'Mirza Sajid Mahmood is hiring for this job',
       '5,001-10,000 employees · International Affairs',
       '201-500 employees · Internet Marketplace Platforms',
       '201-500 employees · IT Services and IT Consulting',
       '10,001+ employees · Financial Services',
       '10,001+ employees · Automation Machinery Manufacturing',
       '5,001-10,000 employees · Internet Marketplace Platforms',
       '10,001+ employees · IT Services and IT Consulting',
       '10,001+ employees · Personal Care Product Manufacturing',
       '10,001+ employees · Banking',
       'See how you compare to 256 applicants. Reactivate Premium',
       '1,001-5,000 employees · Advertising Services',
       '201-500 employees · Technology, Information and Internet',
       '10,001+ employees · Food and Beverage Manufacturing',
       '10,001+ employees · Retail', 'Awais Javed is hiring for this job',
       'Dn Ch Moiz Gujjar is hiring for this job',
       '10,001+ employees · International Trade and Development',
       '10,001+ employees · Biotechnology Research',
       'Mian Khuram Ali is hiring for this job',
       'Irtaza B. Raja is hiring for this job',
       'See how you compare to 32 applicants. Reactivate Premium',
       '51-200 employees · Information Services',
       'Abdul Rauf is hiring for this job',
       'See how you compare to 6 applicants. Reactivate Premium',
       'Dr Farrukh Aslam khan is hiring for this job',
       'See how you compare to 62 applicants. Reactivate Premium',
       'See how you compare to 13 applicants. Reactivate Premium',
       '1-10 employees · Outsourcing and Offshoring Consulting',
       'The Motor Crew is hiring for this job',
       'See how you compare to 17 applicants. Reactivate Premium',
       'See how you compare to 69 applicants. Reactivate Premium',
       '501-1,000 employees · Hospitals and Health Care',
       '10,001+ employees · Consumer Services',
       '5,001-10,000 employees · Consumer Goods',
       'fahad khan is hiring for this job',
       '10,001+ employees · Manufacturing',
       '11-50 employees · Staffing and Recruiting',
       'Sharjeel Arif is hiring for this job',
       'Shafeeque Ahmed is hiring for this job',
       'Uzair Khan is hiring for this job',
       'See how you compare to 18 applicants. Reactivate Premium',
       'See how you compare to 73 applicants. Reactivate Premium',
       '5,001-10,000 employees · Non-profit Organizations',
       'Usman Majeed is hiring for this job',
       'See how you compare to 86 applicants. Reactivate Premium',
       'See how you compare to 12 applicants. Reactivate Premium',
       'See how you compare to 11 applicants. Reactivate Premium',
       '51-200 employees · Media Production',
       'Choudhry Azizuddin is hiring for this job',
       'See how you compare to 58 applicants. Reactivate Premium',
       '501-1,000 employees · Food and Beverage Services',
       '51-200 employees · Accounting',
       '11-50 employees · Software Development',
       'Faisal Raza is hiring for this job',
       'See how you compare to 283 applicants. Reactivate Premium',
       '1,001-5,000 employees · Human Resources Services',
       'yasir khalid is hiring for this job',
       '11-50 employees · Outsourcing/Offshoring',
       'Hira Benish, Ph.D. is hiring for this job',
       '5,001-10,000 employees · Translation and Localization',
       'Raja Mahmood Subhani is hiring for this job',
       'See how you compare to 92 applicants. Reactivate Premium',
       'Muhammad Ukasha Noman is hiring for this job',
       'Job poster joined LinkedIn in 2021',
       'See how you compare to 14 applicants. Reactivate Premium',
       '1-10 employees · Human Resources',
       'Ali Ather is hiring for this job',
       'Nauman Khan is hiring for this job',
       'Irfan Chughtai is hiring for this job',
       '10,001+ employees · Oil and Gas',
       '201-500 employees · Real Estate',
       'See how you compare to 52 applicants. Reactivate Premium',
       '10,001+ employees · Transportation, Logistics, Supply Chain and Storage',
       '1,001-5,000 employees · Events Services',
       'See how you compare to 119 applicants. Reactivate Premium',
       '11-50 employees · Information Technology & Services',
       'Haris Arain is hiring for this job',
       'Sami ur rehman rehman is hiring for this job',
       '51-200 employees · Retail Luxury Goods and Jewelry',
       'Muhammad Attique is hiring for this job',
       'Awais Ashraf is hiring for this job',
       'innocent Angel is hiring for this job',
       'iqra batool is hiring for this job',
       'Laraib Hussain is hiring for this job',
       'Mona Farooq is hiring for this job',
       '51-200 employees · Apparel & Fashion',
       'jai kumar is hiring for this job',
       'Javed Ramzan Ali is hiring for this job',
       'Aneel Kumar is hiring for this job',
       '10,001+ employees · Packaging and Containers Manufacturing',
       'Sherjeel Ali Chaudary is hiring for this job',
       'Syed Saboor Pasha is hiring for this job',
       '1,001-5,000 employees · Automotive',
       'Love Suther is hiring for this job',
       '501-1,000 employees · Real Estate',
       'Amjad Mehmood is hiring for this job',
       '10,001+ employees · Chemical Manufacturing',
       '51-200 employees · Think Tanks', '501-1,000 employees · Retail',
       '1-10 employees · Staffing and Recruiting',
       'Salman Ahmed Hashmi is hiring for this job',
       'See how you compare to 37 applicants. Reactivate Premium',
       'Zeeshan Yaqoob is hiring for this job',
       '11-50 employees · Public Safety',
       'Usama Tariq is hiring for this job',
       'See how you compare to 153 applicants. Reactivate Premium',
       '201-500 employees · Information Technology & Services',
       'HAIDER SAEED MUGHAL is hiring for this job',
       '5,001-10,000 employees · Human Resources Services',
       'Abubaker Kareem is hiring for this job',
       'See how you compare to 85 applicants. Reactivate Premium',
       'mohammad ashraf memon is hiring for this job',
       'Malik Mirza FCA, FCCA (UK), MBA is hiring for this job',
       '10,001+ employees · Higher Education',
       'See how you compare to 22 applicants. Reactivate Premium',
       'Muhammad Shahzaib is hiring for this job',
       'See how you compare to 4 applicants. Reactivate Premium',
       'Qasim Awan is hiring for this job',
       'See how you compare to 3 applicants. Reactivate Premium',
       '5,001-10,000 employees · Software Development',
       '51-200 employees · International Affairs',
       '201-500 employees · IT System Custom Software Development',
       '1,001-5,000 employees · Food Production',
       '51-200 employees · Advertising Services',
       '1,001-5,000 employees · Real Estate',
       '51-200 employees · Strategic Management Services',
       '1,001-5,000 employees · Financial Services',
       'Ume Rubab is hiring for this job',
       'See how you compare to 308 applicants. Reactivate Premium',
       'Anas Nadeem is hiring for this job',
       'PROTRIP CONSULTANCY is hiring for this job',
       '51-200 employees · Financial Services',
       '201-500 employees · Transportation, Logistics, Supply Chain and Storage',
       'Ghulam Asghar is hiring for this job',
       'See how you compare to 64 applicants. Reactivate Premium',
       'Raaheen Alikhan is hiring for this job',
       'Kashif Awan is hiring for this job',
       '10,001+ employees · Information Technology & Services',
       'See how you compare to 47 applicants. Reactivate Premium',
       'See how you compare to 27 applicants. Reactivate Premium',
       'Muhammad Asim is hiring for this job',
       '201-500 employees · Telecommunications',
       '11-50 employees · Advertising Services',
       'Akhtar Abid Hussain is hiring for this job',
       'Ahmad Saleem is hiring for this job',
       'See how you compare to 5 applicants. Reactivate Premium',
       'Gamers Hype is hiring for this job',
       'Shafaqat Ali is hiring for this job',
       '5,001-10,000 employees · Biotechnology Research',
       '501-1,000 employees · Outsourcing and Offshoring Consulting',
       '10,001+ employees · Airlines and Aviation',
       '1,001-5,000 employees · Retail',
       '51-200 employees · Telecommunications',
       '1-10 employees · IT Services and IT Consulting',
       'See recent hiring trends for AA Joyland. Reactivate Premium',
       '11-50 employees · Holding Companies',
       'See how you compare to 125 applicants. Reactivate Premium',
       '10,001+ employees · Facilities Services',
       'See how you compare to 24 applicants. Reactivate Premium',
       'Ambrose Emmanuel is hiring for this job',
       'Saad Malik is hiring for this job',
       '201-500 employees · Leisure, Travel & Tourism',
       'Hotel Deluxe Lahore is hiring for this job',
       'Hamza Raza is hiring for this job',
       '51-200 employees · Design Services',
       'syed Khalid is hiring for this job',
       'Zain Bukhari is hiring for this job',
       '5,001-10,000 employees · Education Administration Programs',
       '201-500 employees · Automation Machinery Manufacturing',
       'Muhammad Usman is hiring for this job',
       'Zaheer Ahmad is hiring for this job',
       'Muhammad Hamdan is hiring for this job',
       'See how you compare to 145 applicants. Reactivate Premium',
       'See how you compare to 33 applicants. Reactivate Premium',
       'mohammed ishtiaq is hiring for this job',
       '6 company alumni work here · 4 school alumni work here',
       '1-10 employees · Blockchain Services',
       'Saqib Idrees is hiring for this job',
       '501-1,000 employees · Technology, Information and Internet',
       '7 school alumni work here',
       '201-500 employees · Food and Beverage Manufacturing',
       '10,001+ employees · Renewable Energy Semiconductor Manufacturing',
       '10,001+ employees · Outsourcing and Offshoring Consulting',
       'Ahmad awan is hiring for this job',
       'Zulfiqar Rana is hiring for this job',
       '11-50 employees · Marketing Services',
       '501-1,000 employees · Electric Power Generation',
       'Bilal S. is hiring for this job',
       '1-10 employees · Software Development',
       '201-500 employees · Pharmaceutical Manufacturing',
       '10,001+ employees · Aviation and Aerospace Component Manufacturing',
       '1,001-5,000 employees · Airlines and Aviation',
       'Arhum Ahmad is hiring for this job',
       'Muhammad Anas Farooqi is hiring for this job',
       '5,001-10,000 employees · Manufacturing',
       'See how you compare to 83 applicants. Reactivate Premium',
       'See how you compare to 16 applicants. Reactivate Premium',
       'Iqra Amjad is hiring for this job',
       '11-50 employees · Real Estate',
       'Safia Naz is hiring for this job',
       'Zaman Ashraf is hiring for this job',
       'Faizan Kamran is hiring for this job',
       'Hassan mehdi is hiring for this job',
       'Syed Zulfiqar Ali is hiring for this job',
       'Iqbal Shehzada is hiring for this job',
       '10,001+ employees · Advertising Services',
       'See how you compare to 167 applicants. Reactivate Premium',
       'See how you compare to 200 applicants. Reactivate Premium',
       'Rafay Z. is hiring for this job',
       'See how you compare to 231 applicants. Reactivate Premium',
       'See how you compare to 305 applicants. Reactivate Premium',
       'See how you compare to 99 applicants. Reactivate Premium',
       'See how you compare to 68 applicants. Reactivate Premium',
       'See how you compare to 255 applicants. Reactivate Premium',
       'See how you compare to 90 applicants. Reactivate Premium',
       'S Hidayat Waris, SI (M) is hiring for this job',
       '1,001-5,000 employees · Renewable Energy Equipment Manufacturing',
       'See how you compare to 163 applicants. Reactivate Premium',
       'See how you compare to 435 applicants. Reactivate Premium',
       'See how you compare to 276 applicants. Reactivate Premium',
       'ZENITH INTERNATIONAL is hiring for this job',
       'Umair Shahzad-SAP is hiring for this job',
       'See how you compare to 76 applicants. Reactivate Premium',
       'See how you compare to 107 applicants. Reactivate Premium',
       'Sufian Nazir is hiring for this job',
       'See how you compare to 350 applicants. Reactivate Premium',
       'AKHMAD KHUSHAL is hiring for this job',
       'Waqar Ur Rehman is hiring for this job',
       'See how you compare to 54 applicants. Reactivate Premium',
       'See how you compare to 41 applicants. Reactivate Premium',
       '1 school alum works here',
       'Muhammad Yasir Gujjar is hiring for this job',
       'See how you compare to 266 applicants. Reactivate Premium',
       'See how you compare to 229 applicants. Reactivate Premium',
       'amir mughal is hiring for this job',
       '51-200 employees · Education Management',
       '51-200 employees · Real Estate',
       'Razia Faiz is hiring for this job',
       'Mahnoor Waseem is hiring for this job',
       '1,001-5,000 employees · Wholesale',

In [29]:
len(df['employees'].unique())

882

# 18 oct 2023

In [30]:
df.columns

Index(['Job Title', 'Job Info', 'Job Type', 'Job Link', 'employees', 'Job ID',
       'Job Desception', 'Company Info'],
      dtype='object')

In [31]:
df['Job Title'].value_counts()[:30]

Job Title
Sales Executive                                                   132
Business Development Executive                                    124
Business Development Manager                                       64
Sales Specialist                                                   63
Business Development Specialist                                    57
Customer Service Representative                                    53
Graphic Designer                                                   52
Salesperson                                                        47
Full Stack Engineer                                                41
Software Engineer                                                  41
Senior Software Engineer                                           40
Sales And Marketing Specialist                                     39
Call Center Representative                                         34
Wordpress Developer                                                34
PHP Developer                                                      32
Dotnet Developer                                                   31
Educational Counselor                                              31
Business Development Officer                                       30
Customer Sales Representative                                      29
Upwork Bidder                                                      28
Digital Marketing Specialist                                       28
Sales Development Representative                                   28
International Sales Executive                                      27
Video Editor                                                       27
DevOps Engineer                                                    24
Search Engine Optimization Specialist                              24
Social Media Manager                                               24
Back End Developer                                                 23
Senior Software Engineer, Trilogy (Remote) - $100,000/year USD     23
Shopify Developer                                                  23
Name: count, dtype: int64

In [32]:
df['Job Info'].iloc[1].split('·')[0]

'Digicon Valley '

In [33]:
df['Job Info']

0              EcomFleet · Pakistan (Remote)  \n1 week ago
1        Digicon Valley · Lahore, Punjab, Pakistan (On-...
2        Murkez Technologies · Lahore, Punjab, Pakistan...
3        DevNatives · Islamabad, Islāmābād, Pakistan (H...
4        ItCreaters · Lahore, Punjab, Pakistan (On-site...
                               ...
12843    SOFTOO · Islamabad, Islāmābād, Pakistan  \n3 w...
12844    V Packaging · Lahore, Punjab, Pakistan  \n3 we...
12845    Jobly Staffing Ltd · Lahore, Punjab, Pakistan ...
12846       Dost · Lahore, Punjab, Pakistan  \n3 weeks ago
12847    EWDTech - Web Design and Development Services ...
Name: Job Info, Length: 9885, dtype: object

In [34]:
# df['company']=df['Job Info'].apply(lambda x:x.split('·')[0])
# # AttributeError: 'float' object has no attribute 'split'

In [35]:
# i=0
# for info in df['Job Info']:
#     print(info.split('·')[0])
#     i=i+1
#     # print(info)
# # AttributeError: 'float' object has no attribute 'split'

In [36]:
# i

In [37]:
df['Job Info'].iloc[110]

nan

In [38]:
df['Job Info'].iloc[3]

'DevNatives · Islamabad, Islāmābād, Pakistan (Hybrid)  \n1 week ago\n\n · 51 applicants'

In [39]:
df['Job Info'].iloc[3].split('·')

['DevNatives ',
 ' Islamabad, Islāmābād, Pakistan (Hybrid)  \n1 week ago\n\n ',
 ' 51 applicants']

In [40]:
df.isnull().sum()

Job Title          376
Job Info           606
Job Type           608
Job Link             0
employees          609
Job ID               0
Job Desception    9674
Company Info      9746
dtype: int64

In [41]:
df.dropna()

Empty DataFrame
Columns: [Job Title, Job Info, Job Type, Job Link, employees, Job ID, Job Desception, Company Info]
Index: []

In [42]:
len(df)-52

9833

In [43]:
# df.dropna(subset = ['Job Title'], inplace=True)
#or
df.dropna(inplace=True)

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_11556\3641532845.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [44]:
df

Empty DataFrame
Columns: [Job Title, Job Info, Job Type, Job Link, employees, Job ID, Job Desception, Company Info]
Index: []

In [45]:
3623-52

3571

In [46]:
df.isnull().sum()

Job Title         0
Job Info          0
Job Type          0
Job Link          0
employees         0
Job ID            0
Job Desception    0
Company Info      0
dtype: int64

In [47]:
df['company']=df['Job Info'].apply(lambda x:x.split('·')[0])

In [48]:
df['company'].unique()

array([], dtype=object)

In [49]:
len(df['company'].unique())

0

In [50]:
df['company'].value_counts()

Series([], Name: count, dtype: int64)

In [51]:
df['Job Info']

Series([], Name: Job Info, dtype: object)

In [52]:
df['Job Info'].iloc[3].split('·')[1]

IndexError: single positional indexer is out-of-bounds

In [ ]:
df['Job Info'].iloc[3].split('·')[1].split()[0]

In [ ]:
df['Job Info'].iloc[3].split('·')[1].split()[0].strip(',')

In [ ]:
df['location']=df['Job Info'].apply(lambda x:x.split('·')[1].split()[0].strip(','))

In [ ]:
df['location']

In [ ]:
df['location'].unique()

In [ ]:
len(df['location'].unique())

In [ ]:
df[df['location']=='Mānsehra']

In [ ]:
df['location'].value_counts()

In [ ]:
df['location'].value_counts()[:30]

In [ ]:
df[df['location']=='New']

In [ ]:
df['Job Info']

In [ ]:
df['Job Info'].iloc[3]

In [ ]:
df['Job Info'].iloc[3].split('·')

In [ ]:
df['Job Info'].iloc[3].split('·')[1].split('(')

In [ ]:
df['Job Info'].iloc[3].split('·')[1].split('(')[0]

In [ ]:
df['location']=df['Job Info'].apply(lambda x:x.split('·')[1].split('(')[0])

In [ ]:
df['location']

In [ ]:
df['location'].unique()

In [ ]:
len(df['location'].unique())

In [ ]:
df['location'].value_counts()

In [ ]:
df['location'].value_counts()[:30]

In [ ]:
# df_concat['Lahore, Punjab, Pakistan  \n1 week ago\n\n' in df_concat['Job Info']]

In [ ]:
df[df['location']==' Lahore District, Punjab, Pakistan  \n1 week ago']

In [ ]:
print(df[df['location']==' Lahore District, Punjab, Pakistan  \n1 week ago']['Job Info'])

In [ ]:
df.iloc[94]['Job Info']

In [ ]:
df.iloc[94]['Job Info'].strip('\n')

In [ ]:
'siyaahat.pk · Lahore District, Punjab, Pakistan  \n1 week ago'.strip('\n')

In [ ]:
'siyaahat.pk · Lahore District, Punjab, Pakistan  \n1 week ago'.strip('\n1 week ago')

In [ ]:
'siyaahat.pk · Lahore District, Punjab, Pakistan  \n1 week ago'.strip('\n2 week ago\n1 week ago')

In [ ]:
'siyaahat.pk · Lahore District, Punjab, Pakistan  \n1 week ago'.strip('\n2 week ago')

In [ ]:
df.iloc[94]['Job Type']

In [ ]:
df['location']=df['Job Info'].apply(lambda x:x.split('·')[1].split('(')[0].strip('\n2 week ago\n1 week ago'))
#not correctly remove \n2 weeks

In [ ]:
df['location']

In [ ]:
df['location'].unique()

In [ ]:
len(df['location'].unique())

# 19 oct 2023

In [ ]:
df['Job Info'].iloc[3]

In [ ]:
df['Job Info'].iloc[3].split('(')

In [ ]:
df['Job Info'].iloc[3].split('(')[1].split(')')

In [ ]:
df['Job Info'].iloc[3].split('(')[1].split(')')[0]

In [ ]:
# df['Remote/Onsite']=df['Job Info'].apply(lambda x:x.split('(')[1].split(')')[0])
# # IndexError: list index out of range

In [ ]:
# i=0
# for info in df['Job Info']:
#     print(info.split('(')[1].split(')')[0])
#     i=i+1
#     print(info)
# # IndexError: list index out of range

In [ ]:
# i

In [ ]:
df.iloc[87]['Job Info']

In [ ]:
# i=0
# for info in df['Job Info']:
#     try:
#         print(info.split('(')[1].split(')')[0])
#     except IndexError:
#         print('Not specified')
#     i=i+1
#     print(i)

In [ ]:
# pvt value observed

In [ ]:
# for couting how many pvt values
# i=0
# for info in df['Job Info']:
#     try:
#         a=info.split('(')[1].split(')')[0])
#     except IndexError:
#         a='Not specified'
#     i=i+1
#     if a=='Pvt':
#         print(i)
# # SyntaxError: unmatched ')'

In [ ]:
df.iloc[11]['Job Info']

In [ ]:
df.iloc[11]['Job Info'].split('·')[1].split('(')[1].split(')')[0]

In [ ]:
remote_onsite_list=[]
for info in df['Job Info']:
    try:
        remote_onsite_list.append(info.split('·')[1].split('(')[1].split(')')[0])
    except IndexError:
        remote_onsite_list.append('Not specified')

In [ ]:
# remote_onsite_list

In [ ]:
len(remote_onsite_list)

In [ ]:
df['Remote/Onsite']=remote_onsite_list
# df['Remote/Onsite']=pd.Series(remote_onsite_list)

In [ ]:
df['Remote/Onsite']

In [ ]:
df['Remote/Onsite'].unique()

In [ ]:
df['Remote/Onsite'].value_counts()

In [ ]:
df['Job Info'].iloc[3]

In [ ]:
df['Job Info'].iloc[3].split('·')[2]

In [ ]:
# df['n-applicants']=df['Job Info'].apply(lambda x:x.split('·')[2])
# # IndexError: list index out of range

In [ ]:
# i=0
# for info in df['Job Info']:
#     print(info.split('·')[2])
#     i=i+1
#     print(info)
# # IndexError: list index out of range

In [ ]:
# i

In [ ]:
df.iloc[0]['Job Info']

#application not given

In [ ]:
df['Job Info'].iloc[3].split('·')[2].strip(' applicants')

# 20 oct 2023

In [ ]:
# n_applicant_list=[]
# for info in df['Job Info']:
#     try:
#         n_applicant_list.append(int(info.split('·')[2].strip(' applicants')))
#     except IndexError:
#         n_applicant_list.append(np.nan)
# # ValueError: invalid literal for int() with base 10: '2,048'

In [ ]:
n_applicant_list=[]
for info in df['Job Info']:
    try:
        n_applicant_list.append(info.split('·')[2].strip(' applicants'))
    except IndexError:
        n_applicant_list.append(np.nan)

In [ ]:
n_applicant_list[:10]

In [ ]:
df['n_applicant']=n_applicant_list

In [ ]:
df['n_applicant'].dtype

In [ ]:
# df['n_applicant'] = df['n_applicant'].astype(int)
# # ValueError: cannot convert float NaN to integer

In [ ]:
df['n_applicant'].unique()

In [ ]:
len(df['n_applicant'].unique())

In [ ]:
df['n_applicant'].value_counts()[:30]

# 21 oct 2023

In [ ]:
df['Job Info'].iloc[3]

In [ ]:
df['Job Info'].iloc[3].split('\n')[1]

In [ ]:
df['job posting time']=df['Job Info'].apply(lambda x:x.split('\n')[1])
df['job posting time']

In [ ]:
df['job posting time'].unique()

In [ ]:
df['job posting time'].value_counts()

In [ ]:
df['Job Type'].unique()

In [ ]:
len(df['Job Type'].unique())

In [ ]:
df[df['Job Type']=='Full-time']

In [ ]:
len(df[df['Job Type']=='Full-time'])

In [ ]:
df[df['Job Type']=='Internship · Internship']

In [ ]:
len(df[df['Job Type']=='Internship · Internship'])

In [ ]:
df[df['Job Type']=='Contract']

In [ ]:
len(df[df['Job Type']=='Contract'])

In [ ]:
df[df['Job Type']=='On-site\n\n \nFull-time\n\n \nMid-Senior level']

In [ ]:
len(df[df['Job Type']=='On-site\n\n \nFull-time\n\n \nMid-Senior level'])

In [ ]:
df[df['Job Type']=='Mr Ahsan is hiring for this job']

In [ ]:
df[df['Job Type']=='$12,000/yr - $15,000/yr · Full-time · Mid-Senior level']

### counting number of elements in job type column

In [ ]:
'Full-time · Entry level'.split()

In [ ]:
a='Full-time · Entry level'.split()
a.remove('·')
a

In [ ]:
# a='Full-time · Entry level'.split('·')
# len(a)
len('Full-time · Entry level'.split('·'))

In [ ]:
'On-site\n\n \nFull-time\n\n \nAssociate'.split()

In [ ]:
'On-site\n\n \nFull-time\n\n \nAssociate'.split('\n\n \n')

In [ ]:
'Part-time · Mid-Senior level'.split()

In [ ]:
'·' in 'Part-time · Mid-Senior level'

In [ ]:
'\n\n \n' in 'On-site\n\n \nFull-time\n\n \nAssociate'

In [ ]:
Job_Type_nElements=[]
for cell in df['Job Type']:
    if '·' in cell:
        nElements=len(cell.split('·'))
        Job_Type_nElements.append(nElements)
    elif '\n\n \n' in cell:
        nElements=len(cell.split('\n\n \n'))
        Job_Type_nElements.append(nElements)
    else:
        nElements=len(cell.split())
        Job_Type_nElements.append(nElements)

In [ ]:
Job_Type_nElements[:10]

In [ ]:
len(df['Job Type'])

In [ ]:
len(Job_Type_nElements)

In [ ]:
set(Job_Type_nElements)

In [ ]:
Job_Type_nElements.count(1)

In [ ]:
Job_Type_nElements.count(2)

In [ ]:
Job_Type_nElements.count(3)

In [ ]:
Job_Type_nElements.count(7)

In [ ]:
df['Job Type nElements']=Job_Type_nElements

In [ ]:
df['Job Type nElements'].value_counts()

In [ ]:
df[df['Job Type nElements']==7]

In [ ]:
df['Job Type'].unique()

In [ ]:
'Full-time · Mid-Senior level'.split('·')[0]

In [ ]:
df['Job-Type']=df['Job Type'].apply(lambda x:x.split('·')[0])
df['Job-Type']

In [ ]:
df['Job-Type'].unique()

In [ ]:
len(df['Job-Type'].unique())

##### len(df['Job-Type'].unique()) should be 7 instead of 35

In [ ]:
len(df['Job Type'].unique())

In [ ]:
print(f"There is difference of:{len(df['Job Type'].unique())-len(df['Job-Type'].unique())}")

In [ ]:
df[df['Job Type nElements']==1]

In [ ]:
df[df['Job Type nElements']==1]['Job Type'].unique()

In [ ]:
# Job_type_options

In [ ]:
inconsistant_Job_Type_Elements_1=['Executive']
inconsistant_Job_Type_Elements_1

In [ ]:
len(df[df['Job Type nElements']==1]['Job Type'].unique())

In [ ]:
df[df['Job Type']=='Executive']

In [ ]:
df[df['Job Type nElements']==2]['Job Type'].unique()

In [ ]:
inconsistant_Job_Type_Elements_2=['$150/month - $300/month · Full-time','$200,000/yr · Full-time','10,001+ employees · Tobacco Manufacturing','Full-time\n\n \nMid-Senior level']
inconsistant_Job_Type_Elements_2

In [ ]:
len(df[df['Job Type nElements']==2]['Job Type'].unique())

In [ ]:
df[df['Job Type']=='Full-time\n\n \nMid-Senior level']

In [ ]:
df[df['Job Type']=='10,001+ employees · Tobacco Manufacturing']

In [ ]:
df[df['Job Type'].isin(inconsistant_Job_Type_Elements_2)]

In [ ]:
len(df[df['Job Type'].isin(inconsistant_Job_Type_Elements_2)])

In [ ]:
df[df['Job Type nElements']==3]['Job Type'].unique()

In [ ]:
len(df[df['Job Type nElements']==3]['Job Type'].unique())

In [ ]:
inconsistant_Job_Type_Elements_3=['$12,000/yr - $15,000/yr · Full-time · Mid-Senior level']
inconsistant_Job_Type_Elements_3

In [ ]:
df[df['Job Type'].isin(inconsistant_Job_Type_Elements_3)]

In [ ]:
len(df[df['Job Type'].isin(inconsistant_Job_Type_Elements_3)])

In [ ]:
df[df['Job Type nElements']==7]['Job Type'].unique()

In [ ]:
len(df[df['Job Type nElements']==7]['Job Type'].unique())

In [ ]:
'Executive' not in inconsistant_Job_Type_Elements_1

In [ ]:
'·' in 'Full-time · Mid-Senior level'

In [ ]:
'Full-time · Mid-Senior level'.split('·')[0]

In [ ]:
"On-site\n\n \nFull-time".split('\n\n \n')[1]

In [ ]:
i=0
for inconsistant_Job in inconsistant_Job_Type_Elements_2:
    if 'Full-time' in inconsistant_Job:
        i=i+1
i

In [ ]:
'On-site\n\n \nFull-time\n\n \nMid-Senior level'.split('\n\n \n')[1]

In [ ]:
i=0
for inconsistant_Job in inconsistant_Job_Type_Elements_3:
    if 'Full-time' in inconsistant_Job:
        i=i+1
i

In [ ]:
'On-site\n\n \nFull-time\n\n \nMid-Senior level'.split('\n\n \n')

In [ ]:
# Job_Type_list=[]
# for elmnt in df['Job Type']:
#     if len(elmnt.split())==1:
#         if elmnt not in inconsistant_Job_Type_Elements_1:
#             Job_Type_list.append(elmnt)
#         else:
#             Job_Type_list.append('Not specified')
#     if len(elmnt.split())==2:
#         if elmnt not in inconsistant_Job_Type_Elements_2:
#             if '·' in elmnt:
#                 Job_Type_list.append(elmnt.split('·')[0])
#             elif '\n\n \n' in elmnt:
#                 Job_Type_list.append(elmnt.split('\n\n \n')[1])
#             else:
#                 Job_Type_list.append('Not specified')
#         else:
#             for inconsistant_Job in inconsistant_Job_Type_Elements_2:
#                 if 'Full-time' in inconsistant_Job:
#                     Job_Type_list.append('Full-time')
#                 else:
#                     Job_Type_list.append('Not specified')
#     if len(elmnt.split())==3:
#         if elmnt not in inconsistant_Job_Type_Elements_3:
#             Job_Type_list.append(elmnt.split('\n\n \n')[1])
#         else:
#             for inconsistant_Job in inconsistant_Job_Type_Elements_3:
#                 if 'Full-time' in inconsistant_Job:
#                     Job_Type_list.append('Full-time')
#                 else:
#                     Job_Type_list.append('Not specified')
#     if len(elmnt.split())==7:
#         Job_Type_list.append('Not specified')
# # IndexError: list index out of range

In [ ]:
# Job_Type_list=[]
# i=0
# for elmnt in df['Job Type']:
#     if len(elmnt.split())==3:
#         if elmnt not in inconsistant_Job_Type_Elements_3:
#             # print(elmnt.split('\n\n \n')[1])
#             print(elmnt)
#     print(i)        
#     i=i+1
# i

In [ ]:
# Job_Type_list=[]
# i=0
# for elmnt in df['Job Type']:
#     if len(elmnt.split())==2:
#         if elmnt not in inconsistant_Job_Type_Elements_2:
#             # print(elmnt.split('\n\n \n')[1])
#             print(elmnt)
#     i=i+1
# i

In [ ]:
'Full-time · Mid-Senior level'.split()

In [ ]:
len('Full-time · Mid-Senior level'.split())

In [ ]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt not in inconsistant_Job_Type_Elements_1:
            Job_Type_list.append(elmnt)
        else:
            Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '·' in elmnt:
                Job_Type_list.append(elmnt.split('·')[0])
            elif '\n\n \n' in elmnt:
                Job_Type_list.append(elmnt.split('\n\n \n')[1])
            else:
                Job_Type_list.append('Not specified')
        else:
            for inconsistant_Job in inconsistant_Job_Type_Elements_2:
                if 'Full-time' in inconsistant_Job:
                    Job_Type_list.append('Full-time')
                else:
                    Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[1])
        else:
            for inconsistant_Job in inconsistant_Job_Type_Elements_3:
                if 'Full-time' in inconsistant_Job:
                    Job_Type_list.append('Full-time')
                else:
                    Job_Type_list.append('Not specified')
    if len(elmnt.split())==7:
        Job_Type_list.append('Not specified')

include all Job_type_options instaed 'Full-time'

In [ ]:
Job_Type_list[:10]

In [ ]:
len(Job_Type_list)

In [ ]:
len(df)

In [ ]:
len(Job_Type_list)-len(df)

In [ ]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt not in inconsistant_Job_Type_Elements_1:
            Job_Type_list.append(elmnt)
        else:
            Job_Type_list.append('Not specified')

In [ ]:
len(Job_Type_list)

In [ ]:
len(df[df['Job Type nElements']==1])

In [ ]:
Job_Type_list=[]
i=0
i_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '·' in elmnt:
                Job_Type_list.append(elmnt.split('·')[0])
                i_list.append(i)
            elif '\n\n \n' in elmnt:
                Job_Type_list.append(elmnt.split('\n\n \n')[1])
                i_list.append(i)
            else:
                Job_Type_list.append('Not specified')
                i_list.append(i)
        else:
            for inconsistant_Job in inconsistant_Job_Type_Elements_2:
                if 'Full-time' in inconsistant_Job:
                    Job_Type_list.append('Full-time')
                    i_list.append(i)
                else:
                    Job_Type_list.append('Not specified')
                    i_list.append(i)
    i=i+1
i

In [ ]:
len(i_list)

In [ ]:
i_list=pd.Series(i_list)

In [ ]:
i_list.value_counts()[:10]

In [ ]:
df['Job Type'].iloc[3470]

In [ ]:
df['Job Type'].iloc[3470].split('\n\n \n')

In [ ]:
df['Job Type'].iloc[1725]

In [ ]:
df['Job Type'].iloc[2810]

In [ ]:
inconsistant_Job_Type_Elements_2

In [ ]:
df[df['Job Type nElements']==2]['Job Type'].unique()

In [ ]:
len(Job_Type_list)

In [ ]:
len(df[df['Job Type nElements']==2])

In [ ]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[1])
        else:
            for inconsistant_Job in inconsistant_Job_Type_Elements_3:
                if 'Full-time' in inconsistant_Job:
                    Job_Type_list.append('Full-time')
                else:
                    Job_Type_list.append('Not specified')

In [ ]:
len(Job_Type_list)

In [ ]:
len(df[df['Job Type nElements']==3])

In [ ]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==7:
        Job_Type_list.append('Not specified')

In [ ]:
len(Job_Type_list)

In [ ]:
len(df[df['Job Type nElements']==7])

In [ ]:
df['Job Type nElements'].value_counts()

In [ ]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt not in inconsistant_Job_Type_Elements_1:
            Job_Type_list.append(elmnt)
        else:
            Job_Type_list.append('Not specified')
    elif len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '\n\n \n' in elmnt:
                Job_Type_list.append(elmnt.split('\n\n \n')[1])
            elif '·' in elmnt:
                Job_Type_list.append(elmnt.split('·')[0])
            else:
                Job_Type_list.append('Not specified')
        else:
            for inconsistant_Job in inconsistant_Job_Type_Elements_2:
                if 'Full-time' in inconsistant_Job:
                    Job_Type_list.append('Full-time')
                else:
                    Job_Type_list.append('Not specified')
    elif len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[1])
        else:
            for inconsistant_Job in inconsistant_Job_Type_Elements_3:
                if 'Full-time' in inconsistant_Job:
                    Job_Type_list.append('Full-time')
                else:
                    Job_Type_list.append('Not specified')
    elif len(elmnt.split())==7:
        Job_Type_list.append('Not specified')

In [ ]:
len(Job_Type_list)

In [ ]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt not in inconsistant_Job_Type_Elements_1:
            Job_Type_list.append(elmnt)
        else:
            Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '·' in elmnt:
                Job_Type_list.append(elmnt.split('·')[0])
            elif '\n\n \n' in elmnt:
                Job_Type_list.append(elmnt.split('\n\n \n')[1])
            else:
                Job_Type_list.append('Not specified')
        else:
            if 'Full-time' in elmnt:
                Job_Type_list.append('Full-time')
            else:
                Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[1])
        else:
            if 'Full-time' in inconsistant_Job:
                Job_Type_list.append('Full-time')
            else:
                Job_Type_list.append('Not specified')
    if len(elmnt.split())==7:
        Job_Type_list.append('Not specified')

In [ ]:
len(Job_Type_list)

In [ ]:
set(Job_Type_list)

In [ ]:
df['Job-Type']=Job_Type_list

In [ ]:
df['Job-Type'].unique()

In [ ]:
# df[df['Job-Type']=='Full-time ']

In [ ]:
df['Job-Type'].value_counts()

In [ ]:
df['Job-Type'].value_counts()['Full-time']+df['Job-Type'].value_counts()['Full-time ']

In [ ]:
df['Job-Type'].value_counts()['Internship']+df['Job-Type'].value_counts()['Internship ']

In [ ]:
df['Job-Type'].value_counts()['Part-time ']+df['Job-Type'].value_counts()['Part-time']

In [ ]:
df['Job-Type'].value_counts()['Contract ']+df['Job-Type'].value_counts()['Contract']

In [ ]:
df['Job-Type'] = df['Job-Type'].replace(['Full-time ','Internship ','Part-time ','Contract '],['Full-time','Internship','Part-time','Contract'])

In [ ]:
df['Job-Type'].unique()

In [ ]:
df['Job-Type'].value_counts()

In [ ]:
df['Job Type'].unique()

### These are job Job type options on linkedin:
Full-time,
Part-time,
Contract,
Temporary,
Volunteer,
Internship,
Other
### These are Experience level options on linkedin:
Internship,
Entry level,
Associate,
Mid-Senior level,
Director,
Executive
### These are On-site/remote options on linkedin:
On-site,
Remote,
Hybrid

In [ ]:
Job_type_options=['Full-time','Part-time','Contract','Temporary','Volunteer','Internship','Other']
Job_type_options

In [ ]:
Experience_level_options=['Internship','Entry level','Associate','Mid-Senior level','Director','Executive']
Experience_level_options

In [ ]:
On_site_remote_options=['On-site','Remote','Hybrid']
On_site_remote_options

In [ ]:
len(Job_type_options)

In [ ]:
len(Experience_level_options)

In [ ]:
df.columns