In [18]:
import pandas as pd
import numpy as np

In [19]:
df=pd.read_csv('Files used in current analysis/Linkedin_Job_Details_26-Sep-2023-to-09-Oct-2023_4214-jobs_181-pages.csv')
df

,Job Title,Job Info,Job Type,Job Link,employees
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job
...,...,...,...,...,...
4209,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees"
4210,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development"
4211,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting
4212,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ..."
4213,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting

In [20]:
df_=pd.read_csv('Files used in current analysis/Linkedin_Job-Descriptions-company_details_26-Sep-2023-to-26-Nov-2023_15947-jobs_685-pages.csv')
df_

,Job Link,Job Desception,Company Info
0,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...
15942,https://www.linkedin.com/jobs/view/3767355025,About the job\n \n \nThis role is p...,NaN
15943,https://www.linkedin.com/jobs/view/3766809535,About the job\n \n \nA U.S.-based c...,IT Services and IT Consulting\n \n ...
15944,https://www.linkedin.com/jobs/view/3772530977,About the job,NaN
15945,https://www.linkedin.com/jobs/view/3771943212,About the job,NaN
15946,https://www.linkedin.com/jobs/view/3767944844,About the job,NaN

In [21]:
df_1=pd.read_csv('Files used in current analysis/Linkedin_Job_Details_26-Sep-2023-to-26-Nov-2023_15875-jobs_685-pages.csv')
df_1

,Job Title,Job Info,Job Type,Job Link,employees
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job
...,...,...,...,...,...
15870,Manager – Growth Chat & SMS (Digital Marketing),"Bank Alfalah Limited · Karāchi, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767355025,"5,001-10,000 employees · Banking"
15871,Release Support Engineer,Turing · Pakistan Reposted \n1 week ago,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3766809535,"1,001-5,000 employees · IT Services and IT Con..."
15872,Information Security Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n1 week...",On-site\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3772530977,51-200 employees · IT Services and IT Consulting
15873,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,"Level 3 BOS · Karachi Division, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771943212,201-500 employees · Outsourcing and Offshoring...
15874,Community Associate,"The Hive · Karachi Division, Sindh, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767944844,11-50 employees

In [22]:
# i am looking for solution that if job_id of Job_details data frame  match with job_id of jobs_description data frame 
# then show jobs_description  with job_id of Job_details

In [23]:
df['Job ID']=df['Job Link'].apply(lambda x:int(x.split('/')[5]))
df_['Job ID']=df_['Job Link'].apply(lambda x:int(x.split('/')[5]))
df_1['Job ID']=df_1['Job Link'].apply(lambda x:int(x.split('/')[5]))

In [24]:
# x=np.array(df['Job ID'])
# y=np.array(df_['Job ID'])
# z=np.where(x==y)
# z

In [25]:
df_2=df_[df_['Job ID'].isin(df['Job ID'])]
df_2

,Job Link,Job Desception,Company Info,Job ID
0,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...,3727054368
1,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...,3723395858
2,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...,3727034665
3,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...,3727029273
4,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN,3727034696
...,...,...,...,...
15679,https://www.linkedin.com/jobs/view/3729723124,About the job\n \n \nJob Responsibi...,Software Development\n \n ...,3729723124
15681,https://www.linkedin.com/jobs/view/3537348803,About the job\n \n \nLOCATION: Jara...,NaN,3537348803
15766,https://www.linkedin.com/jobs/view/3661745501,About the job\n \n \nAbout Us:CureM...,Software Development\n \n ...,3661745501
15776,https://www.linkedin.com/jobs/view/3728757956,About the job\n \n \nAbout the role...,Book and Periodical Publishing\n \n...,3728757956
15915,https://www.linkedin.com/jobs/view/3734537706,About the job\n \n \nPosition Title...,Internet Marketplace Platforms\n \n...,3734537706

In [26]:
df_3=pd.merge(df,df_,on='Job ID',how='inner')
df_3

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7270,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

In [27]:
df_4=pd.merge(df_1,df_,on='Job ID',how='inner')
df_4

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
27639,Unity Developer,"Codiea.io · Bahawalpur, Punjab, Pakistan \n1 ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767951886,1-10 employees,3767951886,https://www.linkedin.com/jobs/view/3767951886,About the job,NaN
27640,Manager – Growth Chat & SMS (Digital Marketing),"Bank Alfalah Limited · Karāchi, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767355025,"5,001-10,000 employees · Banking",3767355025,https://www.linkedin.com/jobs/view/3767355025,About the job\n \n \nThis role is p...,NaN
27641,Information Security Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n1 week...",On-site\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3772530977,51-200 employees · IT Services and IT Consulting,3772530977,https://www.linkedin.com/jobs/view/3772530977,About the job,NaN
27642,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,"Level 3 BOS · Karachi Division, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771943212,201-500 employees · Outsourcing and Offshoring...,3771943212,https://www.linkedin.com/jobs/view/3771943212,About the job,NaN
27643,Community Associate,"The Hive · Karachi Division, Sindh, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767944844,11-50 employees,3767944844,https://www.linkedin.com/jobs/view/3767944844,About the job,NaN

In [28]:
# why df3 have 7272 rows

In [29]:
# df3=df[df['Job ID']==df_['Job ID']]
# df3
# ValueError: Can only compare identically-labeled Series objects

In [30]:
df_2.drop_duplicates(subset=['Job ID']).shape

(3623, 4)

In [31]:
df.drop_duplicates(subset=['Job ID']).shape

(3623, 6)

In [32]:
df_3.drop_duplicates(subset=['Job ID']).shape

(3623, 9)

In [33]:
df.isnull().sum()

Job Title    54
Job Info     54
Job Type     54
Job Link      0
employees    54
Job ID        0
dtype: int64

In [34]:
df_3.isnull().sum()

Job Title          67
Job Info           67
Job Type           67
Job Link_x          0
employees          67
Job ID              0
Job Link_y          0
Job Desception    104
Company Info      915
dtype: int64

In [21]:
df_3.columns

Index(['Job Title', 'Job Info', 'Job Type', 'Job Link_x', 'employees',
       'Job ID', 'Job Link_y', 'Job Desception', 'Company Info'],
      dtype='object')

In [35]:
df.dropna(inplace=True)
df_1.dropna(inplace=True)
df_3.dropna(subset=['Job Title','Job Info','Job Type','employees'],inplace=True) # i want to delete specific columns
df_4.dropna(subset=['Job Title','Job Info','Job Type','employees'],inplace=True)

In [23]:
# df['Job ID']=df['Job Link'].apply(lambda x:int(x.split('/')[5]))

In [36]:
df = df.drop_duplicates(subset=['Job ID'])
df_1=df_1.drop_duplicates(subset=['Job ID'])
df_2=df_2.drop_duplicates(subset=['Job ID'])
df_3=df_3.drop_duplicates(subset=['Job ID'])
df_4=df_4.drop_duplicates(subset=['Job ID'])

In [37]:
df.shape,df_1.shape,df_2.shape,df_3.shape,df_4.shape

((3573, 6), (11744, 6), (3623, 4), (3573, 9), (11744, 9))

In [38]:
df_3

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
7266,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

### building Function for automatic keywords checking

#### actual function

In [46]:
#### building logic for one word in description
def filter_desc_by_one_keyword(df_3,it_tech_pattern,case):
    df_4=df_3.dropna(subset=['Job Desception'])
    filtered_df= df_4[df_4['Job Desception'].str.contains(it_tech_pattern, case)]
    it_keywords=['computer','Computer','information technology','Information Technology','IT','software',
             'Software','network','Network','cybersecurity','Cybersecurity','developer',
             'Developer','programming','Programming','virtual','Virtual','Data','data','Digital','digital','AI','web']
    IT_jobs_IDs=[]
    n_IT_jobs=0
    loc=0
    for job_desc in filtered_df['Job Desception'].iloc[:]:
        flag=0
        for keyword in it_keywords:
            try:
                if keyword in job_desc:
                    flag=1
            except TypeError:
            #print('null value')
                pass
        if flag==1:
            n_IT_jobs=n_IT_jobs+1
            IT_jobs_IDs.append(filtered_df['Job ID'].iloc[loc])
            # filtered_df.iloc[5]['Job ID'] and filtered_df['Job ID'].iloc[5] are similar
        
        loc=loc+1
    
    n_IT_jobs
    len(IT_jobs_IDs)
    filtered_df_desc=filtered_df[filtered_df['Job ID'].isin(IT_jobs_IDs)]
    
    print(f'length of filtered_df_desc:{len(filtered_df_desc)}\n\n')
    print(f'Unique values in filtered_df_desc:\n{filtered_df_desc["Job Title"].unique()}\n\n')
    print(f"Number of Unique values in filtered_df_desc:{len(filtered_df_desc['Job Title'].unique())}\n\n")
    
    if len(filtered_df_desc)==len(filtered_df):
        print('It is nearly 100 % varified by Jobs desc that It belongs to IT and Tech Jobs\n\n')
    else:
        percent=len(filtered_df_desc)/len(filtered_df)*100
        print(f'It is nearly {percent} % varified by Jobs desc that It belongs to IT and Tech Jobs\n\n')
        
    defferences=[] # this is list of job titles present in filtered_df_title but not in filtered_df_desc
    defferences1=[] # List of titles that are not cleared as IT and Tech Job due to abnoramal desc
    defferences2=[] # List of titles that are not cleared as IT and Tech Job due to not matching of II_keywords in desc
    for value in filtered_df['Job Title'].unique():
        if value not in filtered_df_desc["Job Title"].unique():
            defferences.append(value)
            if filtered_df[filtered_df['Job Title']==value]['Job Desception'].isnull().sum()==1:
               defferences1.append(value)
            elif len(str(filtered_df[filtered_df['Job Title']==value]['Job Desception']))<64:
               defferences1.append(value)
            else:
                defferences2.append(value)
                
            
   
    print(f'list of {len(defferences)} job titles which present in filtered_df_title but not present in filtered_df_desc:\n{defferences}\n\n')
    print(f'List of {len(defferences1)} titles that are not cleared as IT and Tech Job due to abnoramal desc:\n{defferences1}\n\n')
    print(f'List of  {len(defferences2)} titles that are not cleared as IT and Tech Job due to not matching of II_keywords in desc:\n{defferences2}\n\n')

In [47]:
def filter_desc(filtered_df_title,n_abnormal_desc):
    it_keywords=['computer','Computer','information technology','Information Technology','IT','software',
             'Software','network','Network','cybersecurity','Cybersecurity','developer',
             'Developer','programming','Programming','virtual','Virtual','Data','data','Digital','digital','AI','web']
    IT_jobs_IDs=[]
    n_IT_jobs=0
    loc=0
    for job_desc in filtered_df_title['Job Desception'].iloc[:]:
        flag=0
        for keyword in it_keywords:
            try:
                if keyword in job_desc:
                    flag=1
            except TypeError:
            #print('null value')
                pass
        if flag==1:
            n_IT_jobs=n_IT_jobs+1
            IT_jobs_IDs.append(filtered_df_title['Job ID'].iloc[loc])
            # filtered_df.iloc[5]['Job ID'] and filtered_df['Job ID'].iloc[5] are similar
        
        loc=loc+1
    
    n_IT_jobs
    len(IT_jobs_IDs)
    filtered_df_desc=filtered_df_title[filtered_df_title['Job ID'].isin(IT_jobs_IDs)]
    
    print(f'length of filtered_df_desc:{len(filtered_df_desc)}\n\n')
    print(f'Unique values in filtered_df_desc:\n{filtered_df_desc["Job Title"].unique()}\n\n')
    print(f"Number of Unique values in filtered_df_desc:{len(filtered_df_desc['Job Title'].unique())}\n\n")
    
    if len(filtered_df_desc)+n_abnormal_desc==len(filtered_df_title):
        print('It is nearly 100 % varified by Jobs desc that It belongs to IT and Tech Jobs\n\n')
    else:
        percent=(len(filtered_df_desc)+n_abnormal_desc)/len(filtered_df_title)*100
        print(f'It is nearly {percent} % varified by Jobs desc that It belongs to IT and Tech Jobs\n\n')
        
    defferences=[] # this is list of job titles present in filtered_df_title but not in filtered_df_desc
    defferences1=[] # List of titles that are not cleared as IT and Tech Job due to abnoramal desc
    defferences2=[] # List of titles that are not cleared as IT and Tech Job due to not matching of II_keywords in desc
    for value in filtered_df_title['Job Title'].unique():
        if value not in filtered_df_desc["Job Title"].unique():
            defferences.append(value)
            if filtered_df_title[filtered_df_title['Job Title']==value]['Job Desception'].isnull().sum()==1:
               defferences1.append(value)
            elif len(str(filtered_df_title[filtered_df_title['Job Title']==value]['Job Desception']))<64:
               defferences1.append(value)
            else:
                defferences2.append(value)
                
            
   
    print(f'list of {len(defferences)} job titles which present in filtered_df_title but not present in filtered_df_desc:\n{defferences}\n\n')
    print(f'List of {len(defferences1)} titles that are not cleared as IT and Tech Job due to abnoramal desc:\n{defferences1}\n\n')
    print(f'List of  {len(defferences2)} titles that are not cleared as IT and Tech Job due to not matching of II_keywords in desc:\n{defferences2}\n\n')

In [48]:
def filter_keyword(it_tech_pattern,df_3,case):
    filtered_df_title = df_3[df_3['Job Title'].str.contains(it_tech_pattern, case)]
    print(f'length of filtered_df_title:{len(filtered_df_title)}\n\n')
    print(f'Unique values in filtered_df_title:\n{filtered_df_title["Job Title"].unique()}\n\n')
    print(f'Number of Unique values in filtered_df_title:{len(filtered_df_title["Job Title"].unique())}\n\n')
    filtered_df_title['Job Desception'].isnull().sum()
    count_of_un_complete_desc=0
    for i in range(0,len(filtered_df_title)):
        try:
            if(len(filtered_df_title.iloc[i]['Job Desception'])<20):
                # print(df.iloc[i])
                count_of_un_complete_desc=count_of_un_complete_desc+1
        except TypeError:
            pass
            # print('non value')
    if count_of_un_complete_desc==0:
        print("Not Found any uncomplete job descreption")
    n_abnormal_desc=count_of_un_complete_desc+filtered_df_title['Job Desception'].isnull().sum()
    print(f"count of_un_complete_desc in filtered_df_title:{count_of_un_complete_desc}")
    print(f"count of Null desc in filtered_df_title:{filtered_df_title['Job Desception'].isnull().sum()}")
    print(f"count of abonormal desc in filtered_df_title:{n_abnormal_desc}\n\n")
    filter_desc(filtered_df_title,n_abnormal_desc)
    
    # return filtered_df_title

### Analyzing IT keyword

In [49]:
it_tech_pattern = 'IT'
case=True
filter_keyword(it_tech_pattern,df_3,case)

length of filtered_df_title:27


Unique values in filtered_df_title:
['IT Jobs' 'SEO Executive (ON-SITE)' 'Senior Associate - IT Auditor'
 'Team Lead IT Software Development (m/f/d)'
 'IT Data Migration Specialist (m/f/d) - 100% remote' 'Director IT'
 'Manager Customer Facing IT' 'IT Sales Executive'
 'Senior Full-stack Java / Angular Developer - +10 years of IT experience - Full remote - Contractor in USD'
 'IT Support Coordinator Intern' 'IT & Network Administrator'
 'Assistant Manager IT' 'Project Manager - IT Services'
 'Executive IT Infrastructure' 'Senior Executive IT Infrastructure'
 'Manager IT BP - Digital Channels' 'Assistant Manager IT Infrastructure'
 'IT Manager - Data Engineer' 'Assistant Manager IT (Microsoft Dynamics)'
 'IT Executive' 'IT Project Manager' 'Chief Manager - IT Risk']


Number of Unique values in filtered_df_title:22


count of_un_complete_desc in filtered_df_title:1
count of Null desc in filtered_df_title:2
count of abonormal desc in filtered_df_title:3


length of filtered_df_desc:24


Unique values in filtered_df_desc:
['IT Jobs' 'SEO Executive (ON-SITE)' 'Senior Associate - IT Auditor'
 'Team Lead IT Software Development (m/f/d)'
 'IT Data Migration Specialist (m/f/d) - 100% remote' 'Director IT'
 'Manager Customer Facing IT' 'IT Support Coordinator Intern'
 'IT & Network Administrator' 'Assistant Manager IT'
 'Project Manager - IT Services' 'Executive IT Infrastructure'
 'Senior Executive IT Infrastructure' 'Manager IT BP - Digital Channels'
 'Assistant Manager IT Infrastructure' 'IT Manager - Data Engineer'
 'Senior Full-stack Java / Angular Developer - +10 years of IT experience - Full remote - Contractor in USD'
 'Assistant Manager IT (Microsoft Dynamics)' 'IT Executive'
 'Chief Manager - IT Risk']


Number of Unique values in filtered_df_desc:20


It is nearly 100 % varified by Jobs desc that It belongs to IT and Tech Jobs


list of 2 job titles which present in filtered_df_title but not present in filtered_df_desc:
['IT Sales Executive', 'IT Project Manager']


List of 2 titles that are not cleared as IT and Tech Job due to abnoramal desc:
['IT Sales Executive', 'IT Project Manager']


List of  0 titles that are not cleared as IT and Tech Job due to not matching of II_keywords in desc:
[]

***there are many jobs in which it is cleared as IT and Tech Jobs from job titles As these are not cleared from jobs descriptions may be due to not having desc***

***count of abonormal desc in filtered_df_title:17 but List of 84 titles that are not cleared as IT and Tech Job due to abnoramal desc why*** 
***problem arised due to*** 
len(str(filtered_df_title[filtered_df_title['Job Title']=='IT Project Manager']['Job Desception']))<64:

In [50]:
# filtered_df_title[filtered_df_title['Job Title']=='Digital Marketing Strategist and Planner']['Job Desception']
# filtered_df_title[filtered_df_title['Job Title']=='Digital Marketing Strategist and Planner'].index
# # filtered_df_title[filtered_df_title['Job Title']=='Digital Marketing Strategist and Planner'].index.key()
# filtered_df_title[filtered_df_title['Job Title']=='Digital Marketing Strategist and Planner'].index.item()
# loc=filtered_df_title[filtered_df_title['Job Title']=='Digital Marketing Strategist and Planner'].index.item()
# filtered_df_title.iloc[93]

In [51]:
# 290+84

In [52]:
# 514-374

### Analyzing tech keyword

In [53]:
it_tech_pattern = 'Tech'
case=False # 145 for True and 150 for Flase
filter_keyword(it_tech_pattern,df_3,case)

length of filtered_df_title:150


Unique values in filtered_df_title:
['Technical Business Analyst' 'Fintech B2B Marketing Executive'
 'Senior Technical Support Engineer, Skyvera (Remote) - $30,000/year USD'
 'Technical Recruiter' 'ERP Technical Support' 'Technical Content Writer'
 'ASSISTANT MANAGER COMPLIANCE- INFORMATION TECHNOLOGY' 'Technical Writer'
 'Dynamics 365 F&O Technical Consultant'
 'Technical Customer Support Specialist' 'Technical Project Manager'
 'Cloud Technical Specialist' 'Technical Project Manager/ Scrum Master'
 'Engineering Technician' 'Radiologic Technologist'
 'Technical Lead - .NET' 'Senior Technical Project Manager'
 'Technical Advisor for Development of Women Entrepreneurship Policy - Islamabad'
 'Technical Product Manager'
 'Senior Technical Support Analyst, Skyvera (Remote) - $30,000/year USD'
 'Technical Advisor Environmental Health - Asia'
 'Technical Sales Representative'
 'Head of Technology and Mechanization - Agri'
 'Technical Team Lead, Trilogy (Remote) - $100,000/year USD'
 'Technical Lead .NET' 'Assistant Manager Technical Sales'
 'Technical Lead' 'Cardiac Catheterization Laboratory Technologist'
 'Sr Associate Technical Client Support' 'Site Technician'
 'Talent Acquisition Specialist (Technical Recruiter)'
 'Technical Team Lead' 'Project Manager Technical Lead'
 'Technical Delivery Specialist – Microsoft Dynamics 365'
 'Senior Lay Equipment Technician' 'Technical Lead ML DevOps Engineer'
 'Associate Technical Client Support' 'Tier 1 Support Technician'
 'Chief Technology Officer' 'Technical Support Specialist'
 'Technical Support Engineer, Skyvera (Remote) - $30,000/year USD'
 'Technical VFX Artist' 'Solar Installation Technician (Project Based)'
 'Endoscopy Technician' 'Lead Technical Support Engineer'
 'Lead Generation Manager, Technology & Data Strategy'
 'Technical Project Manager (Evening Shift)' 'DM Technical Performance'
 'Technology Consulting- SAP- EAM- Rapid Innovation'
 'Lead Generation Intern ( Technical )' 'Technical Manager'
 'Technical Support - Shopify' 'Information Technology Business Partner'
 'Tech Trainer' 'Information Technology Functional Partner'
 'Information Technology Help Desk Manager'
 'Senior Technical Content Writer' 'Migration Technical Lead'
 'Pakistan CSA: Agricultural Technology Special'
 'Technical SEO Specialist' 'Laboratory Technician' 'Technician'
 'Plant Technician' 'Assistant Manager Technical Services'
 'Solar Inverter Repair Technician' 'Fortify Lead Technical Consultant'
 'Information Technology Intern' 'Technical Doc Writer'
 'Technical Support Analyst, Skyvera (Remote) - $20,000/year USD'
 'Technical Support Representative, Skyvera (Remote) - $15,000/year USD'
 'Technical Product Owner, Trilogy (Remote) - $100,000/year USD'
 'Information Technology Sales Executive'
 'Information Technology Project Manager' 'Fintech Developer'
 'Food Technologist' 'MS Dynamics 365 F&O - Technical Architect'
 'Oracle Fusion HCM Consultant (Functional Consultant and Technical Consultant)'
 'Information Technology Support Engineer'
 'Technical Application Specialist - Molecular Diagnosis'
 'Technical Lead Frontend - UI'
 'Project Manager( FinTech) ( Forex Trading)'
 'Fintech Products B2B Marketer (Freelance)' 'Fullstack Tech Lead'
 'Technical Support Engineer, Developer Support'
 'Information Technology Business Analyst' 'Technical Support Engineer'
 'Ariba Techno/Functional Analyst'
 'Microsoft Dynamics 365 Technical Support, Power Platform'
 'Technical Associate Program 2023 - Excellent Opportunity for Fresh Graduates in Pakistan'
 'Trainee Technical Product Support Engineer'
 'Information Technology Coordinator - Sales'
 'Technical Support Executive' 'Bilingual (French) Support Technician'
 'Technical Support Specialist, Skyvera (Remote) - $15,000/year USD'
 'D365 Technical Consultant' 'Technical Sales Engineer'
 'Commodities Technical Analyst'
 'Technical Specialist, (Peshawar), Pakistan'
 'Technical Lead - Software & AI' 'Technical Proposal Writer'
 'Oracle Fusion Technical Consultant' 'Non Technical Project Manager'
 'Technical Support Engineer (Solar Inverter + EVCS + Portable Power Station）'
 'Information Technology Security Manager' 'Senior Technical Writer'
 'Microsoft Dynamics Consultant (Technical)'
 'Strategic Business Unit – Technical & Business Resources'
 'Electronic Technician (Sukkur, Pakistan)'
 'Technical Product Manager (OTE $80,000/year USD), Sparkrock']


Number of Unique values in filtered_df_title:109


count of_un_complete_desc in filtered_df_title:1
count of Null desc in filtered_df_title:2
count of abonormal desc in filtered_df_title:3


length of filtered_df_desc:128


Unique values in filtered_df_desc:
['Technical Business Analyst'
 'Senior Technical Support Engineer, Skyvera (Remote) - $30,000/year USD'
 'Technical Recruiter' 'ERP Technical Support' 'Technical Content Writer'
 'ASSISTANT MANAGER COMPLIANCE- INFORMATION TECHNOLOGY' 'Technical Writer'
 'Dynamics 365 F&O Technical Consultant'
 'Technical Customer Support Specialist' 'Technical Project Manager'
 'Cloud Technical Specialist' 'Technical Lead - .NET'
 'Senior Technical Project Manager'
 'Technical Advisor for Development of Women Entrepreneurship Policy - Islamabad'
 'Technical Product Manager'
 'Senior Technical Support Analyst, Skyvera (Remote) - $30,000/year USD'
 'Technical Advisor Environmental Health - Asia'
 'Technical Sales Representative'
 'Head of Technology and Mechanization - Agri'
 'Technical Team Lead, Trilogy (Remote) - $100,000/year USD'
 'Technical Lead .NET' 'Technical Lead'
 'Sr Associate Technical Client Support'
 'Talent Acquisition Specialist (Technical Recruiter)'
 'Technical Team Lead' 'Project Manager Technical Lead'
 'Senior Lay Equipment Technician' 'Technical Lead ML DevOps Engineer'
 'Associate Technical Client Support' 'Tier 1 Support Technician'
 'Engineering Technician' 'Chief Technology Officer'
 'Technical Support Specialist'
 'Technical Support Engineer, Skyvera (Remote) - $30,000/year USD'
 'Technical VFX Artist' 'Lead Technical Support Engineer'
 'Lead Generation Manager, Technology & Data Strategy'
 'Technical Project Manager (Evening Shift)' 'DM Technical Performance'
 'Technology Consulting- SAP- EAM- Rapid Innovation'
 'Lead Generation Intern ( Technical )' 'Technical Support - Shopify'
 'Information Technology Business Partner' 'Tech Trainer'
 'Information Technology Help Desk Manager'
 'Senior Technical Content Writer' 'Migration Technical Lead'
 'Pakistan CSA: Agricultural Technology Special'
 'Technical SEO Specialist' 'Laboratory Technician' 'Technician'
 'Plant Technician' 'Assistant Manager Technical Services'
 'Fortify Lead Technical Consultant' 'Information Technology Intern'
 'Technical Doc Writer'
 'Technical Support Analyst, Skyvera (Remote) - $20,000/year USD'
 'Technical Support Representative, Skyvera (Remote) - $15,000/year USD'
 'Technical Product Owner, Trilogy (Remote) - $100,000/year USD'
 'Information Technology Sales Executive'
 'Information Technology Project Manager' 'Fintech Developer'
 'MS Dynamics 365 F&O - Technical Architect'
 'Information Technology Support Engineer'
 'Technical Application Specialist - Molecular Diagnosis'
 'Technical Lead Frontend - UI'
 'Project Manager( FinTech) ( Forex Trading)' 'Fullstack Tech Lead'
 'Technical Support Engineer, Developer Support'
 'Information Technology Business Analyst' 'Technical Support Engineer'
 'Ariba Techno/Functional Analyst'
 'Microsoft Dynamics 365 Technical Support, Power Platform'
 'Trainee Technical Product Support Engineer'
 'Information Technology Coordinator - Sales'
 'Technical Support Executive' 'Bilingual (French) Support Technician'
 'Technical Support Specialist, Skyvera (Remote) - $15,000/year USD'
 'D365 Technical Consultant' 'Technical Sales Engineer'
 'Commodities Technical Analyst'
 'Technical Specialist, (Peshawar), Pakistan'
 'Technical Lead - Software & AI' 'Oracle Fusion Technical Consultant'
 'Non Technical Project Manager'
 'Technical Support Engineer (Solar Inverter + EVCS + Portable Power Station）'
 'Information Technology Security Manager' 'Senior Technical Writer'
 'Microsoft Dynamics Consultant (Technical)'
 'Strategic Business Unit – Technical & Business Resources'
 'Electronic Technician (Sukkur, Pakistan)'
 'Technical Product Manager (OTE $80,000/year USD), Sparkrock']


Number of Unique values in filtered_df_desc:92


It is nearly 87.33333333333333 % varified by Jobs desc that It belongs to IT and Tech Jobs


list of 17 job titles which present in filtered_df_title but not present in filtered_df_desc:
['Fintech B2B Marketing Executive', 'Technical Project Manager/ Scrum Master', 'Radiologic Technologist', 'Assistant Manager Technical Sales', 'Cardiac Catheterization Laboratory Technologist', 'Site Technician', 'Technical Delivery Specialist – Microsoft Dynamics 365', 'Solar Installation Technician (Project Based)', 'Endoscopy Technician', 'Technical Manager', 'Information Technology Functional Partner', 'Solar Inverter Repair Technician', 'Food Technologist', 'Oracle Fusion HCM Consultant (Functional Consultant and Technical Consultant)', 'Fintech Products B2B Marketer (Freelance)', 'Technical Associate Program 2023 - Excellent Opportunity for Fresh Graduates in Pakistan', 'Technical Proposal Writer']


List of 1 titles that are not cleared as IT and Tech Job due to abnoramal desc:
['Technical Associate Program 2023 - Excellent Opportunity for Fresh Graduates in Pakistan']


List of  16 titles that are not cleared as IT and Tech Job due to not matching of II_keywords in desc:
['Fintech B2B Marketing Executive', 'Technical Project Manager/ Scrum Master', 'Radiologic Technologist', 'Assistant Manager Technical Sales', 'Cardiac Catheterization Laboratory Technologist', 'Site Technician', 'Technical Delivery Specialist – Microsoft Dynamics 365', 'Solar Installation Technician (Project Based)', 'Endoscopy Technician', 'Technical Manager', 'Information Technology Functional Partner', 'Solar Inverter Repair Technician', 'Food Technologist', 'Oracle Fusion HCM Consultant (Functional Consultant and Technical Consultant)', 'Fintech Products B2B Marketer (Freelance)', 'Technical Proposal Writer']

Why these jobs are not in IT by desc?:

'Technical Project Manager/ Scrum Master':
Agile,testing:testing can be in non IT jobs like 'Chemist (Third Party Contract)','Food Technologist','Product Owner',project 

'Assistant Manager Technical Sales' Non tech job:non IT job
'Information Technology Functional Partner':BS(CS),SAP
'Technical Delivery Specialist – Microsoft Dynamics 365'
'Oracle Fusion HCM Consultant (Functional Consultant and Technical Consultant)'
'Fintech Products B2B Marketer (Freelance)'
'Technical Proposal Writer'

### Analyzing developer keyword

In [54]:
it_tech_pattern = 'developer'
case=False # 21 for True and 533 for Flase
filter_keyword(it_tech_pattern,df_3,case)

length of filtered_df_title:533


Unique values in filtered_df_title:
['SQL Database Developer' 'Business Intelligence Developer'
 'Web Developer - Internship' 'Dotnet+React Developer'
 'Artificial Intelligence Developer' 'Junior Business Developer'
 'Jr Business Developer (Upwork)' 'Full Stack Developer'
 'Python Developer with Data Science Focus' 'Odoo Developer'
 'Web Developer' 'SOFTWARE DEVELOPER' 'Salesforce Developer'
 'SEO Developer' 'Python/Django Developer' 'Application Developer'
 'Back End Developer' 'Shopify Developer' 'Junior Dotnet Developer'
 'Associate MERN Stack Developer' 'TV App Developer' 'Wordpress Developer'
 'Dotnet Developer' 'PHP Developer Required'
 'AI-Augmented Software Developer, Trilogy (Remote) - $200,000/year USD'
 'Shopify App Developer' 'Full Stack Dotnet Developer'
 'Lead Web Developer' 'Senior Web Developer' 'Scala Developer'
 'Senior Python Developer' 'HubSpot Developer' 'MERN Stack Developer'
 'Node.JS Developer' 'Software Developer'
 'Full stack Developer (Mid-Level)' '.Net Developer - C# - MVC'
 'Microsoft Dynamics 365 CRM Developer' 'Trainee iOS Developer'
 'Mern Stack Developer'
 'MERN Stack Developer - ReactJS, NodeJS, Apollo, Graphql & MongoDB'
 'Full Stack Developer (.Net & Angular)' 'Game Developer'
 'full stack developer' 'Javascript Developer'
 'mid Lavel Laravel Developer' 'Android Developer'
 'MERN and React Native Developer' 'Software Architect Lead Developer'
 'Node.Js Developer' 'Senior .NET Developer/Lead'
 'Full Stack PHP developer' 'Senior Mern Stack Developer'
 'Senior Full Stack Web Developer (PHP Laravel, VueJS, NodeJS)'
 'Unity Developer' 'WordPress backend developer'
 'Mobile Application Developer' 'Laravel Developer' 'Angular Developer'
 'iOS Developer' 'Senior MERN STACK Developer'
 'Frontend Vue j.s developer' 'Sr Flutter Developers'
 'Lead Java Developer' 'Senior .net core API developer'
 'Senior MERN Stack Developer' 'Angular developer'
 'Unity  Android Mobile Game Developer' 'Junior iOS Developer'
 'Senior Node JS Developer' 'Lead ReactJS Developer - Web TV Application'
 'Senior React Native Developer' 'Senior PHP Developer'
 'Senior Fullstack Elixir Developer' 'Sr. React Native developer'
 'Sr. Angular Developer' 'Senior Angular Developer'
 'Junior Backend Developer (Python)' 'Frontend Developer'
 'Python Developer'
 'AI-Augmented Software Developer, Skyvera (Remote) - $200,000/year USD'
 'User Interface Developer' 'Front-End Developer' 'flutter Developer'
 'Shopify Back End Developer' 'Full Stack Dotnet Developer with Angular'
 'International Business Trade Developer- Pakistan/Bangladesh'
 'ReactJS Developer' 'Full Stack Developer with 1.5 Years of Experience'
 'Software/Application Developer' 'PHP Developer'
 'Back End Developer, Trilogy (Remote) - $100,000/year USD'
 'Magento Developer' 'Flutter Application Developer'
 'Dot Net Core Developer' 'Flutter Developer' 'PHP Backend Developer'
 'Senior MERN Stack Developer | Team Lead' 'Vue Developer'
 'React Native Developer' 'Senior API Developer'
 'Senior Unity Developer, gt.school (Remote) - $100,000/year USD'
 'Senior React js Developer'
 'Senior Mobile Developer, gt.school (Remote) - $100,000/year USD'
 'Senior Dotnet Developer'
 'Mobile Application Developer (iOS, Swift), gt.school (Remote) - $100,000/year USD'
 'iOS Developer, gt.school (Remote) - $100,000/year USD'
 'Wordpress/PHP Developer With React.js' 'Senior MEAN/MERN Developer'
 'Senior Java Developer' 'Senior Software Developer'
 'Azure Full Stack Developer'
 'Full-Stack Web Developer (Django Developer)' 'Mean Stack Developer'
 'MEAN Stack Developer' 'Senior Backend Developer (Python)'
 'Full Stack Developer (Laravel, My SQL, React JS)' 'Blockchain Developer'
 'Senior Shopify Developer' 'Lead Dotnet Developer'
 'Trainee Unreal engine developer' 'Bubble.io Developer' 'React Developer'
 'Vue.Js Developer'
 '🚀 Seeking a Talented Angular Software Developer to Join Our Startup Team!'
 'Enterprise Resources Planning Developer'
 'Webflow Developer and Graphic Designer' 'Junior PHP Laravel Developer'
 'Laravel PHP Developer' 'Senior React Js Developer'
 'WordPress Plugin Developer JD' 'Senior Core PHP Developer'
 'PHP/ Wordpress Developer' 'ODOO Software Developer'
 'Mid/Senior Vue and Nuxt.js Developer' 'Full-Stack Developer'
 'Junior Database developers with Azure Data Lake - Full Remote - Contractor in USD'
 'Django Developer' 'Web Developer - WordPress' 'Apex Developer'
 'Front End Shopify Developer' 'Senior Full stack Developer'
 'Senior Full-Stack Developer' 'Senior Blockchain Developer'
 'Senior Shopify developer' 'PHP Web Developer'
 'C++ Developer, Trilogy (Remote) - $200,000/year USD'
 'Unity Game Developer, gt.school (Remote) - $100,000/year USD'
 'Unity Developer, gt.school (Remote) - $100,000/year USD'
 'Full Stack Developer, Trilogy (Remote) - $100,000/year USD'
 'Senior Developer, Trilogy (Remote) - $100,000/year USD'
 'Experienced Full-Stack Developer with Web Development Experience (Remote Position)'
 'Java Developer' 'Unreal Developer'
 'Node.js Developer for Lahore and Faisalabad'
 'Senior .Net Developer (Integrations)' 'Senior Wordpress Developer'
 'Senior Salesforce Developer' 'Python Backend developer'
 'Angular & NodeJs Developer' 'Senior Developer (Web & SAP Business One)'
 'Backend Developer Node.js / Nest / Typescript (Karachi)'
 'Backend Developer' 'Senior Web Application Developer'
 'React-Native Developer' 'Wordpress Plugin Developers' 'Vue JS Developer'
 'Senior Full Stack Developer' 'POWER BI Developer'
 'Cross-Platform Mobile Developers M5164'
 'Cross-Platform Mobile Developer M5164'
 'Internship Program - Angular frontend developer'
 'Full-Stack Back-End-Heavy Developer' 'Senior Developer'
 'Power Platform Developer (Remote)' 'Business Developer'
 'Business developer' 'Python and PHP Developer'
 'Lead Site Speed Optimization Developer - Front End Engineer'
 'RPA Developer' 'WPF Developer' 'BLOCKCHAIN FULL STACK DEVELOPER'
 'Senior Deep Learning Developer (Text To Speech / TTS)'
 'PHP Developer (laravel and Core PHP)' 'Principal Dotnet Developer'
 'Senior Frontend Developer' 'Vuejs Developer'
 'Cross Platform Mobile Developer' 'SAP ABAP Developer'
 'Senior Backend Developer'
 'Backend Developer (Custom WordPress and Laravel)'
 'Senior Mobile and AI Application Developer' 'PHP And Laravel Developer'
 'Full-Stack Developer (Node/ Nest/ Typescript/ Rest-API)'
 'Senior Full-stack Java / Angular Developer - +10 years of IT experience - Full remote - Contractor in USD'
 'Senior .Net MAUI /Xamarin developer' 'GitHub Developer'
 'Swift Developer' 'Drupal Developer - Full remote - Contractor in USD'
 'Java/React Developer'
 'Java / Angular Software Developer - +3 years - Contractor in USD'
 'No Code Developer' 'Python Django developer' 'Trainee Laravel Developer'
 'Creative Unity Developer' 'swift developer' 'Full Stack web developer'
 'Associate Flutter Developer' 'Oracle Apex Developer' 'Node Js Developer'
 'Node Js. Developer' 'Mobile Application Developer(React Native)'
 'VUE JS Front End Developer' 'PHP Core Developer'
 'ASP.NET Senior Lead Developer' 'Front End Angular Developer'
 'Senior Salesforce Developer - Architecture'
 'Senior Javascript Developer' 'Senior MEAN Stack Developer'
 'Internship For PHP Laravel Developer' 'Fintech Developer'
 'Web Application Developer'
 'Senior IOS Developer, gt.school (Remote) - $100,000/year USD'
 'ServiceNow Developer' 'Senior Business Developer' 'MERN/MEAN Developer'
 'Sr. Python Developer' 'Jr. Instructional Designer and Developer'
 'PHP AND LARAVEL DEVELOPER' '.NET Developer with Xamarin Experience'
 'Unity Game Developer' 'WordPress Full Stack Developer'
 'Java Developer (Backend)' 'Back End Developer Node JS'
 'Drupal 9/10 Developer - Full remote - Contractor in USD'
 'ERP Developer (Python / JS / MySQL)' 'Word Press Developer'
 'Technical Support Engineer, Developer Support'
 'Flutter Developer (Contractual)' 'Wordpress Plugin Developer'
 'Senior .Net Core/Angular Developer' 'Senior Nodejs Developer'
 'Shopilify Cms developer' 'UNREAL DEVELOPER' 'SQL Developer'
 'MicroStrategy Developer' 'Senior Deep Learning Developer'
 'NetSuite Developer' 'Node JS Developer' 'Marketo Developer'
 'Associate Developer, Java' 'Oracle Developer'
 'Full-Stack Cloud Developer' 'Senior Front-End Developer'
 'Solana Developer' 'Senior Web Developer (PHP+WordPress)'
 'Web Application Developer (AR and XML)' 'Senior PHP/Wordpress Developer'
 'Cybersecurity Software Developer' 'Full Stack Developer (PHP)'
 'PHP/Laravel Developer'
 'Microsoft Dynamics 365 Commerce/Retail CRT Developer (Freelance)'
 'Back-End Developer' 'PHP Laravel Developer' 'Nodejs Developer'
 'SSRS Developer' 'Senior Mobile Application Developer'
 'Full Stack developer' 'Azure Backend Developer'
 'BI Engineer/Looker Dashboard Developer' 'Software Developer in Test'
 'Senior Integration Developer - Onsite in Dubai'
 'Full Stack Developer - Onsite in Dubai'
 'Django React Full Stack Developer' 'Jr Android Developer'
 'Lead Full Stack Web Developer' 'Golang Developer'
 'Oracle APEX Developer' 'MERN STACK Developer' 'Drupal Developer'
 'Senior Mobile App Developer' 'Mid - Senior Unity Developer'
 'Angular/Node Developer' 'Senior Dotnet + React Developer'
 'Senior Back End Developer' 'Senior .Net Full Stack Developer'
 'Power Platform Developer' 'Node js  developer'
 'Full Stack NextJS Developer' 'Senior Dot Net Developer'
 'Senior Python/Django Developer'
 'Senior Backend Developer - Onsite Job Role - Night Shift'
 'Web Developer / WordPress Developer Apprentice (Unpaid)'
 'PHP & JavaScript Developer (WordPress/WooCommerce Specialist)'
 'Senior BlockChain Developer' 'Senior WordPress Developer'
 'Javascript/Angular Developer'
 'Senior SharePoint Developer with strong Power Platform Integration'
 'Shopify Developer (Liquid)' 'Senior Azure Cloud Developer'
 'Mobile Apps (Xamarin) - Software Developer'
 'WordPress Backend Developer' 'iOS Developer (Jr Level)'
 'Senior IOS Developer']


Number of Unique values in filtered_df_title:304


count of_un_complete_desc in filtered_df_title:11
count of Null desc in filtered_df_title:7
count of abonormal desc in filtered_df_title:18


length of filtered_df_desc:507


Unique values in filtered_df_desc:
['SQL Database Developer' 'Business Intelligence Developer'
 'Web Developer - Internship' 'Dotnet+React Developer'
 'Artificial Intelligence Developer' 'Junior Business Developer'
 'Full Stack Developer' 'Python Developer with Data Science Focus'
 'Odoo Developer' 'Web Developer' 'SOFTWARE DEVELOPER'
 'Salesforce Developer' 'SEO Developer' 'Python/Django Developer'
 'Application Developer' 'Back End Developer' 'Shopify Developer'
 'Junior Dotnet Developer' 'Associate MERN Stack Developer'
 'TV App Developer' 'Wordpress Developer' 'Dotnet Developer'
 'PHP Developer Required'
 'AI-Augmented Software Developer, Trilogy (Remote) - $200,000/year USD'
 'Shopify App Developer' 'Full Stack Dotnet Developer'
 'Lead Web Developer' 'Senior Web Developer' 'Scala Developer'
 'Senior Python Developer' 'HubSpot Developer' 'MERN Stack Developer'
 'Node.JS Developer' 'Software Developer'
 'Full stack Developer (Mid-Level)' '.Net Developer - C# - MVC'
 'Microsoft Dynamics 365 CRM Developer' 'Trainee iOS Developer'
 'Mern Stack Developer'
 'MERN Stack Developer - ReactJS, NodeJS, Apollo, Graphql & MongoDB'
 'Full Stack Developer (.Net & Angular)' 'Game Developer'
 'full stack developer' 'Javascript Developer'
 'mid Lavel Laravel Developer' 'MERN and React Native Developer'
 'Software Architect Lead Developer' 'Node.Js Developer'
 'Senior .NET Developer/Lead' 'Full Stack PHP developer'
 'Senior Mern Stack Developer'
 'Senior Full Stack Web Developer (PHP Laravel, VueJS, NodeJS)'
 'Unity Developer' 'Mobile Application Developer' 'Laravel Developer'
 'iOS Developer' 'Senior MERN STACK Developer'
 'Frontend Vue j.s developer' 'Sr Flutter Developers'
 'Lead Java Developer' 'Angular developer' 'Senior Node JS Developer'
 'Lead ReactJS Developer - Web TV Application'
 'Senior MERN Stack Developer' 'Senior React Native Developer'
 'Senior PHP Developer' 'Senior Fullstack Elixir Developer'
 'Sr. React Native developer' 'Junior Backend Developer (Python)'
 'Frontend Developer' 'Python Developer'
 'AI-Augmented Software Developer, Skyvera (Remote) - $200,000/year USD'
 'User Interface Developer' 'Front-End Developer' 'flutter Developer'
 'Shopify Back End Developer' 'Full Stack Dotnet Developer with Angular'
 'International Business Trade Developer- Pakistan/Bangladesh'
 'ReactJS Developer' 'Full Stack Developer with 1.5 Years of Experience'
 'Software/Application Developer' 'Magento Developer'
 'Flutter Application Developer' 'PHP Developer' 'Dot Net Core Developer'
 'Flutter Developer' 'PHP Backend Developer'
 'Senior MERN Stack Developer | Team Lead' 'Vue Developer'
 'React Native Developer' 'Sr. Angular Developer' 'Senior API Developer'
 'Senior Unity Developer, gt.school (Remote) - $100,000/year USD'
 'Senior React js Developer'
 'Senior Mobile Developer, gt.school (Remote) - $100,000/year USD'
 'Senior Dotnet Developer'
 'Mobile Application Developer (iOS, Swift), gt.school (Remote) - $100,000/year USD'
 'iOS Developer, gt.school (Remote) - $100,000/year USD'
 'Wordpress/PHP Developer With React.js' 'Senior MEAN/MERN Developer'
 'Senior Java Developer' 'Senior Software Developer'
 'Azure Full Stack Developer'
 'Full-Stack Web Developer (Django Developer)' 'Mean Stack Developer'
 'MEAN Stack Developer' 'Senior Backend Developer (Python)'
 'Full Stack Developer (Laravel, My SQL, React JS)' 'Blockchain Developer'
 'Senior Shopify Developer' 'Angular Developer' 'Lead Dotnet Developer'
 'Trainee Unreal engine developer' 'Bubble.io Developer' 'React Developer'
 'Android Developer' 'Vue.Js Developer'
 '🚀 Seeking a Talented Angular Software Developer to Join Our Startup Team!'
 'Webflow Developer and Graphic Designer' 'Junior PHP Laravel Developer'
 'Laravel PHP Developer' 'Senior React Js Developer'
 'WordPress Plugin Developer JD' 'Senior Core PHP Developer'
 'PHP/ Wordpress Developer' 'ODOO Software Developer'
 'Mid/Senior Vue and Nuxt.js Developer' 'Full-Stack Developer'
 'Junior Database developers with Azure Data Lake - Full Remote - Contractor in USD'
 'Django Developer' 'Apex Developer' 'Front End Shopify Developer'
 'Senior Full stack Developer' 'Senior Full-Stack Developer'
 'Senior Blockchain Developer' 'Senior Shopify developer'
 'PHP Web Developer' 'C++ Developer, Trilogy (Remote) - $200,000/year USD'
 'Unity Game Developer, gt.school (Remote) - $100,000/year USD'
 'Unity Developer, gt.school (Remote) - $100,000/year USD'
 'Full Stack Developer, Trilogy (Remote) - $100,000/year USD'
 'Senior Developer, Trilogy (Remote) - $100,000/year USD'
 'Experienced Full-Stack Developer with Web Development Experience (Remote Position)'
 'Java Developer' 'Node.js Developer for Lahore and Faisalabad'
 'Senior .Net Developer (Integrations)' 'Senior Wordpress Developer'
 'Senior Salesforce Developer' 'Python Backend developer'
 'Angular & NodeJs Developer' 'Senior Developer (Web & SAP Business One)'
 'Backend Developer Node.js / Nest / Typescript (Karachi)'
 'Backend Developer' 'Senior Web Application Developer'
 'React-Native Developer' 'Wordpress Plugin Developers' 'Vue JS Developer'
 'Senior Full Stack Developer' 'POWER BI Developer'
 'Cross-Platform Mobile Developers M5164'
 'Cross-Platform Mobile Developer M5164'
 'Internship Program - Angular frontend developer'
 'Full-Stack Back-End-Heavy Developer' 'Senior Developer'
 'Power Platform Developer (Remote)' 'Business Developer'
 'Business developer' 'Python and PHP Developer'
 'Lead Site Speed Optimization Developer - Front End Engineer'
 'RPA Developer' 'WPF Developer' 'BLOCKCHAIN FULL STACK DEVELOPER'
 'Senior Deep Learning Developer (Text To Speech / TTS)'
 'PHP Developer (laravel and Core PHP)' 'Principal Dotnet Developer'
 'Senior Frontend Developer' 'Vuejs Developer'
 'Cross Platform Mobile Developer' 'SAP ABAP Developer'
 'Senior Backend Developer' 'Senior Mobile and AI Application Developer'
 'PHP And Laravel Developer'
 'Full-Stack Developer (Node/ Nest/ Typescript/ Rest-API)'
 'Senior .Net MAUI /Xamarin developer' 'GitHub Developer'
 'Swift Developer' 'Drupal Developer - Full remote - Contractor in USD'
 'Java/React Developer'
 'Java / Angular Software Developer - +3 years - Contractor in USD'
 'No Code Developer' 'Python Django developer' 'Trainee Laravel Developer'
 'swift developer' 'Full Stack web developer'
 'Associate Flutter Developer' 'Oracle Apex Developer' 'Node Js Developer'
 'Node Js. Developer' 'Mobile Application Developer(React Native)'
 'VUE JS Front End Developer' 'PHP Core Developer'
 'ASP.NET Senior Lead Developer' 'Front End Angular Developer'
 'Senior Salesforce Developer - Architecture'
 'Senior Javascript Developer' 'Senior MEAN Stack Developer'
 'Internship For PHP Laravel Developer' 'Fintech Developer'
 'Web Application Developer'
 'Senior IOS Developer, gt.school (Remote) - $100,000/year USD'
 'ServiceNow Developer' 'Senior Business Developer' 'MERN/MEAN Developer'
 'Sr. Python Developer' 'Jr. Instructional Designer and Developer'
 'PHP AND LARAVEL DEVELOPER' '.NET Developer with Xamarin Experience'
 'Unity Game Developer' 'WordPress Full Stack Developer'
 'Java Developer (Backend)' 'Back End Developer Node JS'
 'Drupal 9/10 Developer - Full remote - Contractor in USD'
 'ERP Developer (Python / JS / MySQL)' 'Word Press Developer'
 'Technical Support Engineer, Developer Support'
 'Wordpress Plugin Developer' 'Senior .Net Core/Angular Developer'
 'Senior Nodejs Developer' 'Shopilify Cms developer' 'UNREAL DEVELOPER'
 'SQL Developer' 'MicroStrategy Developer'
 'Senior Deep Learning Developer' 'NetSuite Developer' 'Node JS Developer'
 'Marketo Developer' 'Associate Developer, Java' 'Oracle Developer'
 'Full-Stack Cloud Developer'
 'Senior Full-stack Java / Angular Developer - +10 years of IT experience - Full remote - Contractor in USD'
 'Senior Front-End Developer' 'Solana Developer'
 'Senior Web Developer (PHP+WordPress)'
 'Web Application Developer (AR and XML)' 'Senior PHP/Wordpress Developer'
 'Cybersecurity Software Developer' 'Full Stack Developer (PHP)'
 'PHP/Laravel Developer'
 'Microsoft Dynamics 365 Commerce/Retail CRT Developer (Freelance)'
 'Back-End Developer' 'PHP Laravel Developer' 'Nodejs Developer'
 'SSRS Developer' 'Senior Mobile Application Developer'
 'Full Stack developer' 'Azure Backend Developer'
 'BI Engineer/Looker Dashboard Developer' 'Software Developer in Test'
 'Senior Integration Developer - Onsite in Dubai'
 'Full Stack Developer - Onsite in Dubai'
 'Django React Full Stack Developer' 'Jr Android Developer'
 'Lead Full Stack Web Developer' 'Golang Developer'
 'Oracle APEX Developer' 'MERN STACK Developer' 'Drupal Developer'
 'Senior Mobile App Developer' 'Mid - Senior Unity Developer'
 'Angular/Node Developer' 'Senior Dotnet + React Developer'
 'Senior Back End Developer' 'Senior .Net Full Stack Developer'
 'Power Platform Developer' 'Node js  developer'
 'Full Stack NextJS Developer' 'Senior Dot Net Developer'
 'Senior Python/Django Developer'
 'Senior Backend Developer - Onsite Job Role - Night Shift'
 'Web Developer / WordPress Developer Apprentice (Unpaid)'
 'PHP & JavaScript Developer (WordPress/WooCommerce Specialist)'
 'Senior BlockChain Developer' 'Senior WordPress Developer'
 'Javascript/Angular Developer'
 'Senior SharePoint Developer with strong Power Platform Integration'
 'Shopify Developer (Liquid)' 'Senior Azure Cloud Developer'
 'WordPress Backend Developer' 'iOS Developer (Jr Level)'
 'Senior IOS Developer']


Number of Unique values in filtered_df_desc:290


It is nearly 98.49906191369607 % varified by Jobs desc that It belongs to IT and Tech Jobs


list of 14 job titles which present in filtered_df_title but not present in filtered_df_desc:

In [56]:
# df_3[df_3['Job Title']=='WordPress backend developer']['Job Desception']

'Business developer'
'Senior .net core API developer'
['Jr Business Developer (Upwork)', 'WordPress backend developer', 'Unreal Developer', 'Flutter Developer (Contractual)', 'Mobile Apps (Xamarin) - Software Developer']

### Analyzing software keyword

In [57]:
it_tech_pattern = 'Software'
case=False # 230 for True and 235 for Flase
filter_keyword(it_tech_pattern,df_3,case)

length of filtered_df_title:235


Unique values in filtered_df_title:
['Software Engineer' 'Software Engineer - Product Operation'
 'SOFTWARE DEVELOPER' 'Software Quality Assurance Engineer'
 'Senior Software Engineer' 'Software Engineer-Integration'
 'AI-Augmented Software Developer, Trilogy (Remote) - $200,000/year USD'
 'Senior Software Quality Assurance Engineer'
 'Software Development Engineer in Test (SDET)' 'Software Developer'
 'Software Engineer - Marketing Platform'
 'Senior Software Development Project Manager'
 'Software Quality Assurance Analyst' 'Software Architect Lead Developer'
 'Software Engineer (.Net/MVC)' 'Principal Software Engineer'
 'Senior Software Engineer (.NET/ React Js)'
 'Principal Software Engineer Full Stack PHP'
 'Senior Java Software Engineer'
 'Team Lead IT Software Development (m/f/d)'
 'Senior C++ Engineer, GFI Software (Remote) - $100,000/year USD'
 'AI-Augmented Software Developer, Skyvera (Remote) - $200,000/year USD'
 'Embedded Software Engineer' 'Principal Software Engineer (khi/lhr/Isl)'
 'Software Engineer, Skyvera (Remote) - $200,000/year USD'
 'Software/Application Developer' 'Software Engineer (React js)'
 'Software Development Engineer, Trilogy (Remote) - $100,000/year USD'
 'Software House Sales Executive' 'Hybrid QA for financial software'
 'Software Engineer with AI Tooling Expertise, Skyvera (Remote) - $200,000/year USD'
 'Senior Software Engineering Manager' 'Senior Software Engineer - Node'
 'Senior C++ Software Engineer, Trilogy (Remote) - $200,000/year USD'
 'Lead Software Engineer' 'Java Software Engineer'
 'Software Engineer II- Android' 'Sr. Software Engineer - OpenSIPS'
 'C++ Software Engineer II' 'Senior Software Developer'
 'Software Engineer - Angular' 'Senior C++ Software Engineer'
 'Software Development Engineer'
 '🚀 Seeking a Talented Angular Software Developer to Join Our Startup Team!'
 'Software Development Team Leader' 'ODOO Software Developer'
 'Software Engineer - iOS' 'Principal Software Quality Assurance Engineer'
 'Front-End Software Engineer'
 'Senior Principal Software Engineer, Trilogy (Remote) - $100,000/year USD'
 'Software Engineer (AI-Powered Development), Trilogy (Remote) - $200,000/year USD'
 'Senior Software Architect, Trilogy (Remote) - $100,000/year USD'
 'Chief Software Architect, gt.school (Remote) - $200,000/year USD'
 'Lead Software Engineer, Trilogy (Remote) - $100,000/year USD'
 'Senior Software Engineer, Trilogy (Remote) - $200,000/year USD'
 'Principal Software Engineer, Trilogy (Remote) - $100,000/year USD'
 'Principal Software Architect, gt.school (Remote) - $200,000/year USD'
 'Principal Software Engineer, GFI Software (Remote) - $100,000/year USD'
 'Principal Software Engineer, gt.school (Remote) - $100,000/year USD'
 'Senior Software Engineer, Trilogy (Remote) - $100,000/year USD'
 'Lead Software Engineer, gt.school (Remote) - $200,000/year USD'
 'Senior Software Engineer IV' 'Senior Software Engineer - Flutter'
 'Senior Software Engineer (Backend)'
 'Senior C++ Software Engineer, GFI Software (Remote) - $100,000/year USD'
 'Security Software Engineer - Blockchain / Web3'
 'Software Engineer- Mobile (Android)' 'Software Engineer, QA'
 'Software Engineer Frontend' 'Lead Software Engineer - React JS'
 'Senior Software Engineer - Ruby on Rails' 'Associate Software Architect'
 'Junior Software Quality Assurance Engineer' 'Software Project Manager'
 'Software Architect' 'Hybrid QA for financial software 2'
 'C# .NET Software Engineer'
 'Principal Software Engineer, gt.school (Remote) - $200,000/year USD'
 'Head of Software Engineering (Python)'
 'Software Engineer - Blockchain / Web3 - APAC'
 'Senior Software Engineer (.Net)'
 'Business Development Intern ( Software House)'
 'Java / Angular Software Developer - +3 years - Contractor in USD'
 'Software Delivery Engineer' 'Software Engineering Manager'
 'Senior Back-End Software Engineer' 'Senior Android Software Engineer'
 'Software Engineer - React Native'
 'Principal Software Engineer - Ruby on Rails'
 'Principle Software Engineer (Frontend)' 'Software Engineer III-Django'
 'Software Architect - Python' 'Software Quality Assurance Manager'
 'Sr. Software Engineer (.NET)' 'System Software Engineer'
 'Software Engineering Manager, Trilogy (Remote) - $100,000/year USD'
 'Software Architect, gt.school (Remote) - $100,000/year USD'
 'Senior Software Engineer (Fullstack)'
 'Full Stack Lead Software Engineer'
 'Software Quality Assurance (Manual) - Pakistan'
 'Senior Software Engineer - Java Spring Boot (4-7 years)'
 'Software Engineer - .NET & C#' 'Cybersecurity Software Developer'
 'Business Development Manager (Software Development Services)'
 'Senior Software Engineer/Fullstack' 'Technical Lead - Software & AI'
 'Senior Software Development Engineer in Test - Data Analytics'
 'Software Developer in Test' 'Principal Software Engineer (Backend)'
 'Software Development  Manager' 'Senior Software Engineer Team Lead'
 'Software Test Engineer'
 'Remote Software Job | Software Development And Design'
 'Senior Software Engineer (AI/Infra)'
 'Software Architect (JAVA MVC Springboot)'
 'Senior Software Engineer (Vue.js)' 'PS Software Engineer'
 'Software Engineer (Full Stack)'
 'Senior Software Engineering Manager, Trilogy (Remote) - $100,000/year USD'
 'Mobile Apps (Xamarin) - Software Developer'
 'Software Engineer .Net & iOS'
 'Senior Software Engineer - .NET (6-months contract)']


Number of Unique values in filtered_df_title:122


count of_un_complete_desc in filtered_df_title:3
count of Null desc in filtered_df_title:2
count of abonormal desc in filtered_df_title:5


length of filtered_df_desc:225


Unique values in filtered_df_desc:
['Software Engineer' 'Software Engineer - Product Operation'
 'SOFTWARE DEVELOPER' 'Software Quality Assurance Engineer'
 'Senior Software Engineer'
 'AI-Augmented Software Developer, Trilogy (Remote) - $200,000/year USD'
 'Senior Software Quality Assurance Engineer'
 'Software Development Engineer in Test (SDET)' 'Software Developer'
 'Software Engineer - Marketing Platform'
 'Senior Software Development Project Manager'
 'Software Architect Lead Developer' 'Software Engineer (.Net/MVC)'
 'Principal Software Engineer' 'Senior Software Engineer (.NET/ React Js)'
 'Principal Software Engineer Full Stack PHP'
 'Senior Java Software Engineer'
 'Team Lead IT Software Development (m/f/d)'
 'Senior C++ Engineer, GFI Software (Remote) - $100,000/year USD'
 'AI-Augmented Software Developer, Skyvera (Remote) - $200,000/year USD'
 'Embedded Software Engineer'
 'Software Engineer, Skyvera (Remote) - $200,000/year USD'
 'Software/Application Developer' 'Software Engineer (React js)'
 'Software Development Engineer, Trilogy (Remote) - $100,000/year USD'
 'Software House Sales Executive' 'Hybrid QA for financial software'
 'Software Engineer with AI Tooling Expertise, Skyvera (Remote) - $200,000/year USD'
 'Senior Software Engineering Manager' 'Senior Software Engineer - Node'
 'Senior C++ Software Engineer, Trilogy (Remote) - $200,000/year USD'
 'Lead Software Engineer' 'Java Software Engineer'
 'Software Engineer II- Android' 'Sr. Software Engineer - OpenSIPS'
 'C++ Software Engineer II' 'Senior Software Developer'
 'Software Engineer - Angular' 'Senior C++ Software Engineer'
 'Software Development Engineer'
 '🚀 Seeking a Talented Angular Software Developer to Join Our Startup Team!'
 'Software Development Team Leader' 'ODOO Software Developer'
 'Software Engineer - iOS' 'Principal Software Quality Assurance Engineer'
 'Front-End Software Engineer'
 'Senior Principal Software Engineer, Trilogy (Remote) - $100,000/year USD'
 'Software Engineer (AI-Powered Development), Trilogy (Remote) - $200,000/year USD'
 'Senior Software Architect, Trilogy (Remote) - $100,000/year USD'
 'Chief Software Architect, gt.school (Remote) - $200,000/year USD'
 'Lead Software Engineer, Trilogy (Remote) - $100,000/year USD'
 'Senior Software Engineer, Trilogy (Remote) - $200,000/year USD'
 'Principal Software Engineer, Trilogy (Remote) - $100,000/year USD'
 'Principal Software Architect, gt.school (Remote) - $200,000/year USD'
 'Principal Software Engineer, gt.school (Remote) - $100,000/year USD'
 'Senior Software Engineer, Trilogy (Remote) - $100,000/year USD'
 'Lead Software Engineer, gt.school (Remote) - $200,000/year USD'
 'Senior Software Engineer IV' 'Senior Software Engineer - Flutter'
 'Senior Software Engineer (Backend)'
 'Senior C++ Software Engineer, GFI Software (Remote) - $100,000/year USD'
 'Security Software Engineer - Blockchain / Web3'
 'Software Engineer- Mobile (Android)' 'Software Engineer, QA'
 'Software Engineer Frontend' 'Lead Software Engineer - React JS'
 'Senior Software Engineer - Ruby on Rails' 'Associate Software Architect'
 'Junior Software Quality Assurance Engineer' 'Software Project Manager'
 'Software Architect' 'Hybrid QA for financial software 2'
 'C# .NET Software Engineer'
 'Principal Software Engineer, gt.school (Remote) - $200,000/year USD'
 'Head of Software Engineering (Python)'
 'Software Engineer - Blockchain / Web3 - APAC'
 'Senior Software Engineer (.Net)'
 'Business Development Intern ( Software House)'
 'Java / Angular Software Developer - +3 years - Contractor in USD'
 'Software Delivery Engineer' 'Software Engineering Manager'
 'Senior Back-End Software Engineer' 'Senior Android Software Engineer'
 'Software Engineer - React Native'
 'Principal Software Engineer - Ruby on Rails'
 'Principle Software Engineer (Frontend)' 'Software Engineer III-Django'
 'Software Architect - Python' 'Software Quality Assurance Manager'
 'Sr. Software Engineer (.NET)' 'System Software Engineer'
 'Software Engineering Manager, Trilogy (Remote) - $100,000/year USD'
 'Software Architect, gt.school (Remote) - $100,000/year USD'
 'Senior Software Engineer (Fullstack)'
 'Full Stack Lead Software Engineer'
 'Software Quality Assurance (Manual) - Pakistan'
 'Senior Software Engineer - Java Spring Boot (4-7 years)'
 'Software Engineer - .NET & C#' 'Cybersecurity Software Developer'
 'Business Development Manager (Software Development Services)'
 'Senior Software Engineer/Fullstack' 'Technical Lead - Software & AI'
 'Senior Software Development Engineer in Test - Data Analytics'
 'Software Developer in Test' 'Principal Software Engineer (Backend)'
 'Software Development  Manager' 'Senior Software Engineer Team Lead'
 'Software Test Engineer'
 'Remote Software Job | Software Development And Design'
 'Senior Software Engineer (AI/Infra)'
 'Software Architect (JAVA MVC Springboot)'
 'Senior Software Engineer (Vue.js)' 'Software Engineer (Full Stack)'
 'Senior Software Engineering Manager, Trilogy (Remote) - $100,000/year USD'
 'Software Engineer .Net & iOS'
 'Senior Software Engineer - .NET (6-months contract)']


Number of Unique values in filtered_df_desc:116


It is nearly 97.87234042553192 % varified by Jobs desc that It belongs to IT and Tech Jobs


list of 6 job titles which present in filtered_df_title but not present in filtered_df_desc:
['Software Engineer-Integration', 'Software Quality Assurance Analyst', 'Principal Software Engineer (khi/lhr/Isl)', 'Principal Software Engineer, GFI Software (Remote) - $100,000/year USD', 'PS Software Engineer', 'Mobile Apps (Xamarin) - Software Developer']


List of 4 titles that are not cleared as IT and Tech Job due to abnoramal desc:
['Software Engineer-Integration', 'Software Quality Assurance Analyst', 'Principal Software Engineer (khi/lhr/Isl)', 'Principal Software Engineer, GFI Software (Remote) - $100,000/year USD']


List of  2 titles that are not cleared as IT and Tech Job due to not matching of II_keywords in desc:
['PS Software Engineer', 'Mobile Apps (Xamarin) - Software Developer']

['PS Software Engineer', 'Mobile Apps (Xamarin) - Software Developer']

'Software Engineer'
'Software Developer'
'Software/Application Developer'
Software Development
Software Quality Assurance
Software Architect
'Software Project Manager'
QA
'Software Test Engineer'
Software Engineering

In [ ]:
### Analyzing Digital keyword

In [ ]:
it_tech_pattern = 'Digital'
case=True # 62 for True and 62 for Flase: 0 title for 'digital' 
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
### Analyzing virtual keyword

In [ ]:
it_tech_pattern = 'Virtual'
case=True # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

Number of Unique values in filtered_df_desc:3


It is nearly 21.052631578947366 % varified by Jobs desc that It belongs to IT and Tech Jobs


list of 10 job titles which present in filtered_df_title but not present in filtered_df_desc:
['Virtual Data Analytics Internship - Customer Insights', 'Virtual Data Engineering Internship - Performance Optimization', 'Virtual Data Analytics Internship - Customer Retention', 'Virtual Project Management Internship', 'Virtual Data Engineering Internship - Cloud Based Storage System', 'Virtual Data Engineering Internship - Payment Capabilities', 'Virtual B2B Sales Internship', 'Virtual Customer Experience Internship', 'Virtual Operations Management Internship', 'Virtual Product Management Internship']

In [ ]:
it_tech_pattern = 'Data'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [259]:
it_tech_pattern = 'app'
case=False # 21 for True and 533 for Flase
filter_keyword(it_tech_pattern,df_3,case)

length of filtered_df_title:51


Unique values in filtered_df_title:
['junior application support engineer' 'Application Developer'
 'TV App Developer' 'Application Support Analyst'
 'Application/Support Engineer'
 'Applications Operations and Management Consultant, Managed Services'
 'Shopify App Developer'
 'Microsoft Dynamics CRM and Power Apps Consultant'
 'Telesales Representative - Appointment Setter'
 'Mobile Application Developer'
 'Lead ReactJS Developer - Web TV Application'
 'Application Support Engineer, Skyvera (Remote) - $30,000/year USD'
 'App Store Optimization (ASO) Manager' 'Software/Application Developer'
 'Web Administrator - Middleware Applications (WAS)'
 'Flutter Application Developer'
 'Mobile Application Developer (iOS, Swift), gt.school (Remote) - $100,000/year USD'
 'Application Associate, SNL Feeds' 'Manager Frontend App Development'
 'Business Application Manager' 'Appointment Setter'
 'Administrative Assistant (Temporary Appointment), GS-5, Islamabad, Pakistan, # 26003'
 'Senior Web Application Developer'
 'Senior Mobile and AI Application Developer'
 'Windows Application Architect'
 'Mobile Application Developer(React Native)'
 'Cloud Automation & Application Engineer(Team Lead)'
 'Practice Manager - Microsoft Cloud Apps & Integration - based in Perth, Australia'
 'Application Support Engineer' 'Web Application Developer'
 'Technical Application Specialist - Molecular Diagnosis'
 'Creative Video Editor for Apps Promotions & Ad Campaigns.'
 'Mobile Games Acquisition Manager (App Store Optimization)'
 'Web Application Developer (AR and XML)'
 'Senior Mobile Application Developer'
 'Sap Advanced Business Application Programming Consultant'
 'Senior Mobile App Developer'
 'Web Developer / WordPress Developer Apprentice (Unpaid)'
 'Mobile Apps (Xamarin) - Software Developer'
 'Oracle Apps DBA - R12 (Full Customization)']


Number of Unique values in filtered_df_title:40


count of_un_complete_desc in filtered_df_title:1
count of Null desc in filtered_df_title:0
count of abonormal desc in filtered_df_title:1


length of filtered_df_desc:43


Unique values in filtered_df_desc:
['junior application support engineer' 'Application Developer'
 'TV App Developer' 'Application Support Analyst'
 'Application/Support Engineer'
 'Applications Operations and Management Consultant, Managed Services'
 'Shopify App Developer'
 'Microsoft Dynamics CRM and Power Apps Consultant'
 'Mobile Application Developer'
 'Lead ReactJS Developer - Web TV Application'
 'Application Support Engineer, Skyvera (Remote) - $30,000/year USD'
 'App Store Optimization (ASO) Manager' 'Software/Application Developer'
 'Web Administrator - Middleware Applications (WAS)'
 'Flutter Application Developer'
 'Mobile Application Developer (iOS, Swift), gt.school (Remote) - $100,000/year USD'
 'Application Associate, SNL Feeds' 'Manager Frontend App Development'
 'Business Application Manager' 'Appointment Setter'
 'Administrative Assistant (Temporary Appointment), GS-5, Islamabad, Pakistan, # 26003'
 'Senior Web Application Developer'
 'Senior Mobile and AI Application Developer'
 'Windows Application Architect'
 'Mobile Application Developer(React Native)'
 'Practice Manager - Microsoft Cloud Apps & Integration - based in Perth, Australia'
 'Web Application Developer'
 'Technical Application Specialist - Molecular Diagnosis'
 'Mobile Games Acquisition Manager (App Store Optimization)'
 'Web Application Developer (AR and XML)'
 'Senior Mobile Application Developer' 'Application Support Engineer'
 'Sap Advanced Business Application Programming Consultant'
 'Senior Mobile App Developer'
 'Web Developer / WordPress Developer Apprentice (Unpaid)'
 'Oracle Apps DBA - R12 (Full Customization)']


Number of Unique values in filtered_df_desc:36


It is nearly 86.27450980392157 % varified by Jobs desc that It belongs to IT and Tech Jobs


list of 4 job titles which present in filtered_df_title but not present in filtered_df_desc:
['Telesales Representative - Appointment Setter', 'Cloud Automation & Application Engineer(Team Lead)', 'Creative Video Editor for Apps Promotions & Ad Campaigns.', 'Mobile Apps (Xamarin) - Software Developer']


List of 0 titles that are not cleared as IT and Tech Job due to abnoramal desc:
[]


List of  4 titles that are not cleared as IT and Tech Job due to not matching of II_keywords in desc:
['Telesales Representative - Appointment Setter', 'Cloud Automation & Application Engineer(Team Lead)', 'Creative Video Editor for Apps Promotions & Ad Campaigns.', 'Mobile Apps (Xamarin) - Software Developer']

List of  6 titles that are not cleared as IT and Tech Job due to not matching of II_keywords in desc:
['PowerBi Data Analyst', 'Virtual Data Analytics Internship - Customer Insights', 'Virtual Data Engineering Internship - Performance Optimization', 'Virtual Data Analytics Internship - Customer Retention', 'Virtual Data Engineering Internship - Cloud Based Storage System', 'Virtual Data Engineering Internship - Payment Capabilities']

In [ ]:
it_tech_pattern = 'AI'
case=True # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

Good

In [ ]:
it_tech_pattern = 'Computer'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

List of  1 titles that are not cleared as IT and Tech Job due to not matching of II_keywords in desc:
['Professor of Mechanical Engineering / Professor of Pharmacy/ PHD Computer Science']

In [ ]:
it_tech_pattern = 'Quality'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

['Software Quality Assurance Analyst', 'Product Quality Associate - MEA', 'Senior Care Quality Assurance Associate', 'Quality Operations Manager', 'Quality System Lead (Jamshoro)', 'Business Development Executive (Quality Assurance)', 'Assistant Manager - Quality']

In [ ]:
it_tech_pattern = 'Engineer'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)
# check all engineer titles in filtered_df_desc

['Trainee R&D Engineer', 'Software Engineer-Integration', 'Principal Software Engineer (khi/lhr/Isl)', '5-10 yr Experienced professionals: biofuels engineer + Experienced SME supply chain manager + Sectoral researcher', 'Civil Engineers (Roads, QA/QC) QS', 'Embedded System Engineer', 'One Identity Resident Engineer', 'Senior Process Design Engineer', 'Virtual Data Engineering Internship - Performance Optimization', 'Virtual Data Engineering Internship - Cloud Based Storage System', 'Virtual Data Engineering Internship - Payment Capabilities', 'Principal Software Engineer, GFI Software (Remote) - $100,000/year USD', 'Civil Engineer', 'Associate Professor - Avionics Engineering', 'Process Design Engineer', 'Cloud Automation & Application Engineer(Team Lead)', 'Project Engineer', 'Sales Engineer', 'Sub Engineer', 'Engineer', 'Proposal Engineer', 'Electrical Electronic Engineer', 'Professor of Mechanical Engineering / Professor of Pharmacy/ PHD Computer Science', 'Mechanical Maintenance Engineer', 'PS Software Engineer', 'Assistant Engineer – Operations', 'Chief Engineer (Power Utility)', 'Pipeline Maintenance Engineer', 'Inspection Engineer', 'Deputy Chief Engineer (Mechanical - Gas Engine)']

In [ ]:
it_tech_pattern = 'Architect'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'writ'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'analyst'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

'Senior Financial Analyst'
'Analyst Client Care - Contract', 'Research Analyst/ Academic Writer', 'Senior Actuarial Analyst', 'Benefit Configuration Analyst'

In [ ]:
it_tech_pattern = 'market'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'Research'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'designer'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'Freelance'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'Editor'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'Creat'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'Product'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'Teacher'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'HR'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'Finance'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'Education'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'Business'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'agricalture'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'Anchor'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'Sports'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'school'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'College'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'University'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'PHD'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'worker'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'tax'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'ML'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'sell'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'Executive'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'data entry'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'admin'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'book'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'Finance'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'Finance'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

In [ ]:
it_tech_pattern = 'Finance'
case=False # 19 for True and 19 for Flase: 0 for virtual (small)
filter_keyword(it_tech_pattern,df_3,case)

import pandas as pd

# Assuming your DataFrame is named 'df' and the job titles are in a column 'job_title'
it_tech_pattern = 'IT|Tech'
filtered_df = df[df['job_title'].str.contains(it_tech_pattern, case=False)]

import pandas as pd

it_tech_keywords = ['IT', 'Tech', 'Information Technology', 'Developer', 'Software Engineer', 'Data Scientist', ...]

# Assuming your DataFrame is named 'df' and the job titles are in a column 'job_title'
filtered_df = df[df['job_title'].apply(lambda title: any(keyword in title for keyword in it_tech_keywords))]