In [211]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [212]:
df=pd.read_csv('Filltered_Files-concatenated/IT_roles_Linkedin_Job_Details_and_Job_Descriptions_26-sep-to-26-nov_3734-jobs_1856-titles_20-features_Not-duplicated_v5_Feature_Eng_Processed.csv')
df

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info,company,location_1,location_2,Remote/Onsite,n_applicant,job posting time,Job Type nElements,Job-Type,Experience Level,Comp_N_Employees,Comp_Industry
0,iOS Intern,AusSource Enterprises (SMC-PRIVATE) LIMITED · ...,Full-time,https://www.linkedin.com/jobs/view/3727017016,11-50 employees,3727017016,https://www.linkedin.com/jobs/view/3727017016,About the job\n \n\n \n#hiringalert...,IT Services and IT Consulting\n \n ...,AusSource Enterprises (SMC-PRIVATE) LIMITED,Islamabad,"Islamabad, Islāmābād, Pakistan",On-site,NaN,2 weeks ago,1,Full-time,Not specified,11-50 employees,Not specified
1,Trainee iOS Developer,"TechSwivel (Private) Limited · Lahore, Punjab,...",Full-time,https://www.linkedin.com/jobs/view/3726895494/...,11-50 employees,3726895494,https://www.linkedin.com/jobs/view/3726895494,About the job\n \n\n \nUnpaid Inter...,Software Development\n \n ...,TechSwivel (Private) Limited,Lahore,"Lahore, Punjab, Pakistan",On-site,NaN,2 weeks ago,1,Full-time,Not specified,11-50 employees,Not specified
2,Android Developer,"MWAN Mobile · Islāmābād, Pakistan (On-site) \...",Full-time,https://www.linkedin.com/jobs/view/3727010740/...,11-50 employees,3727010740,https://www.linkedin.com/jobs/view/3727010740,NaN,NaN,MWAN Mobile,Islāmābād,"Islāmābād, Pakistan",On-site,NaN,2 weeks ago,1,Full-time,Not specified,11-50 employees,Not specified
3,MERN and React Native Developer,"TecStik · Karāchi, Sindh, Pakistan (On-site) ...",Full-time,https://www.linkedin.com/jobs/view/3727013349/...,1-10 employees,3727013349,https://www.linkedin.com/jobs/view/3727013349,About the job\n \n\n \nThe ideal ca...,"Technology, Information and Media\n ...",TecStik,Karāchi,"Karāchi, Sindh, Pakistan",On-site,51,2 weeks ago,1,Full-time,Not specified,1-10 employees,Not specified
4,Mobile Application Developer,"Analytica · Lahore, Punjab, Pakistan (On-site)...",Full-time,https://www.linkedin.com/jobs/view/3727010108/...,51-200 employees,3727010108,https://www.linkedin.com/jobs/view/3727010108,About the job\n \n\n \nWe are looki...,Software Development\n \n ...,Analytica,Lahore,"Lahore, Punjab, Pakistan",On-site,51,2 weeks ago,1,Full-time,Not specified,51-200 employees,Not specified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3729,Pre-Sales Software,"Grewals Tech Solutions · Lahore, Punjab, Paki...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3768502364,11-50 employees,3768502364,https://www.linkedin.com/jobs/view/3768502364,About the job\n \n \nAs a Pre-Sales...,"Technology, Information and Media\n ...",Grewals Tech Solutions,Lahore,"Lahore, Punjab, Pakistan \n1 week ago\n\n",On-site,8,1 week ago,2,Full-time,Not specified,11-50 employees,Not specified
3730,"Lead Software Engineer, Trilogy (Remote) - $10...","Crossover · Lahore, Punjab, Pakistan Reposted...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3766612589,"5,001-10,000 employees · IT Services and IT Co...",3766612589,https://www.linkedin.com/jobs/view/3766612589,About the job\n \n \nCrossover is t...,IT Services and IT Consulting\n \n ...,Crossover,Lahore,"Lahore, Punjab, Pakistan Reposted \n6 days a...",Remote,19,6 days ago,3,Full-time,Mid-Senior level,"5,001-10,000 employees",IT Services and IT Consulting
3731,QA Engineer,"NewRich Network · Lahore, Punjab, Pakistan \n...",Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3772083919,11-50 employees · Online Audio and Video Media,3772083919,https://www.linkedin.com/jobs/view/3772083919,About the job\n \n \nWe are a compa...,Online Audio and Video Media\n \n ...,NewRich Network,Lahore,"Lahore, Punjab, Pakistan \n1 week ago",Remote,NaN,1 week ago,3,Full-time,Entry level,11-50 employees,Online Audio and Video Media
3732,"Principal Software Engineer, IgniteTech (Remot...","Crossover · Karāchi, Sindh, Pakistan Reposted...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3766351795,"5,001-10,000 employees · IT Services and IT Co...",3766351795,https://www.linkedin.com/jobs/view/3766351795,About the job\n \n \nCrossover is t...,IT Services and IT Consulting\n \n ...,Crossover,Karāchi,"Karāchi, Sindh, Pakistan Reposted \n6 days a...",Remote,19,6 days ago,3,Full-time,Mid-Senior level,"5,001-10,000 employees",IT Services and IT Consulting
3733,Software Development Support Engineer (L2 & L3),"the ENTERTAINER · Lahore, Punjab, Pakistan \n...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3763867444,201-500 employees · Software Development,3763867444,https://www.linkedin.com/jobs/view/3763867444,About the job,NaN,the ENTERTAINER,Lahore,"Lahore, Punjab, Pakistan \n1 week ago\n\n",On-site,25,1 week ago,3,Full-time,Mid-Senior level,201-500 employees,Software Development

In [213]:
it_tech_pattern = 'IT'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=True)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=True)
df.loc[conndition, 'Job Title_2'] = 'IT Expert'
df[df['Job Title_2']=='IT Expert']['Job Title_2']

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_6228\3334376297.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'IT Expert' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[conndition, 'Job Title_2'] = 'IT Expert'

728     IT Expert
985     IT Expert
1001    IT Expert
1077    IT Expert
1101    IT Expert
          ...
2243    IT Expert
2244    IT Expert
2245    IT Expert
2246    IT Expert
2247    IT Expert
Name: Job Title_2, Length: 87, dtype: object

In [214]:
it_tech_pattern = 'Software'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'Software Engineer'
df[df['Job Title_2']=='Software Engineer']['Job Title_2']

24      Software Engineer
27      Software Engineer
33      Software Engineer
39      Software Engineer
46      Software Engineer
              ...
3728    Software Engineer
3729    Software Engineer
3730    Software Engineer
3732    Software Engineer
3733    Software Engineer
Name: Job Title_2, Length: 700, dtype: object

In [215]:
it_tech_pattern = 'Desktop'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'Desktop Engineer'
df[df['Job Title_2']=='Desktop Engineer']['Job Title_2']

268     Desktop Engineer
680     Desktop Engineer
1664    Desktop Engineer
1665    Desktop Engineer
1666    Desktop Engineer
1667    Desktop Engineer
1668    Desktop Engineer
1669    Desktop Engineer
1670    Desktop Engineer
1671    Desktop Engineer
Name: Job Title_2, dtype: object

In [216]:
it_tech_pattern = 'UI|UX'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=True)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=True)
df.loc[conndition, 'Job Title_2'] = 'UI/UX Developer'
df[df['Job Title_2']=='UI/UX Developer']['Job Title_2']

51      UI/UX Developer
134     UI/UX Developer
202     UI/UX Developer
1209    UI/UX Developer
1721    UI/UX Developer
             ...
3131    UI/UX Developer
3132    UI/UX Developer
3133    UI/UX Developer
3134    UI/UX Developer
3135    UI/UX Developer
Name: Job Title_2, Length: 82, dtype: object

In [217]:
it_tech_pattern = 'php|laravel'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'PHP Developer'
df[df['Job Title_2']=='PHP Developer']['Job Title_2']

340     PHP Developer
355     PHP Developer
368     PHP Developer
369     PHP Developer
393     PHP Developer
            ...
2813    PHP Developer
2814    PHP Developer
2815    PHP Developer
2816    PHP Developer
2817    PHP Developer
Name: Job Title_2, Length: 207, dtype: object

In [218]:
it_tech_pattern = 'MERN|MEAN'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'MERN/MEAN Developer'
df[df['Job Title_2']=='MERN/MEAN Developer']['Job Title_2']

3       MERN/MEAN Developer
447     MERN/MEAN Developer
456     MERN/MEAN Developer
728     MERN/MEAN Developer
883     MERN/MEAN Developer
               ...
2482    MERN/MEAN Developer
2483    MERN/MEAN Developer
2484    MERN/MEAN Developer
2485    MERN/MEAN Developer
2486    MERN/MEAN Developer
Name: Job Title_2, Length: 70, dtype: object

In [219]:
it_tech_pattern='JavaScript|js|Node|React|Angular|Vue|Express|Java|jQuery|HTML|CSS'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'JavaScript Developer'
df[df['Job Title_2']=='JavaScript Developer']['Job Title_2']

3       JavaScript Developer
11      JavaScript Developer
12      JavaScript Developer
13      JavaScript Developer
17      JavaScript Developer
                ...
2425    JavaScript Developer
2426    JavaScript Developer
2427    JavaScript Developer
2428    JavaScript Developer
2429    JavaScript Developer
Name: Job Title_2, Length: 295, dtype: object

In [220]:
it_tech_pattern = 'Python|Django'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'Python Developer'
df[df['Job Title_2']=='Python Developer']['Job Title_2']

336     Python Developer
343     Python Developer
348     Python Developer
382     Python Developer
385     Python Developer
              ...
2861    Python Developer
2862    Python Developer
2863    Python Developer
2864    Python Developer
2865    Python Developer
Name: Job Title_2, Length: 77, dtype: object

In [221]:
it_tech_pattern = 'Scrap|Extract|Data Mining'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'Data Mining Engineer'
df[df['Job Title_2']=='Data Mining Engineer']['Job Title_2']

928     Data Mining Engineer
970     Data Mining Engineer
1207    Data Mining Engineer
1455    Data Mining Engineer
1632    Data Mining Engineer
2847    Data Mining Engineer
2866    Data Mining Engineer
2867    Data Mining Engineer
2868    Data Mining Engineer
Name: Job Title_2, dtype: object

In [222]:
it_tech_pattern = 'Web'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'Web Developer'
df[df['Job Title_2']=='Web Developer']['Job Title_2']

125     Web Developer
237     Web Developer
241     Web Developer
246     Web Developer
252     Web Developer
            ...
3220    Web Developer
3221    Web Developer
3222    Web Developer
3223    Web Developer
3533    Web Developer
Name: Job Title_2, Length: 239, dtype: object

In [223]:
it_tech_pattern='Full Stack|Full-Stack|Fullstack|Full_Stack'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'Full-Stack Developer'
df[df['Job Title_2']=='Full-Stack Developer']['Job Title_2']

264     Full-Stack Developer
352     Full-Stack Developer
403     Full-Stack Developer
432     Full-Stack Developer
447     Full-Stack Developer
                ...
2071    Full-Stack Developer
2072    Full-Stack Developer
2073    Full-Stack Developer
2074    Full-Stack Developer
2075    Full-Stack Developer
Name: Job Title_2, Length: 257, dtype: object

In [224]:
it_tech_pattern='Front'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'Front-End Developer'
df[df['Job Title_2']=='Front-End Developer']['Job Title_2']

243     Front-End Developer
282     Front-End Developer
301     Front-End Developer
434     Front-End Developer
811     Front-End Developer
               ...
1844    Front-End Developer
1845    Front-End Developer
1846    Front-End Developer
1847    Front-End Developer
1848    Front-End Developer
Name: Job Title_2, Length: 116, dtype: object

In [225]:
it_tech_pattern='Back'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'Back-End Developer'
df[df['Job Title_2']=='Back-End Developer']['Job Title_2']

332     Back-End Developer
333     Back-End Developer
334     Back-End Developer
335     Back-End Developer
336     Back-End Developer
               ...
559     Back-End Developer
560     Back-End Developer
561     Back-End Developer
1407    Back-End Developer
2217    Back-End Developer
Name: Job Title_2, Length: 232, dtype: object

In [226]:
it_tech_pattern = 'Shopify'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'Shopify Developer'
df[df['Job Title_2']=='Shopify Developer']['Job Title_2']

235     Shopify Developer
337     Shopify Developer
386     Shopify Developer
400     Shopify Developer
451     Shopify Developer
              ...
2933    Shopify Developer
2934    Shopify Developer
2935    Shopify Developer
2936    Shopify Developer
2937    Shopify Developer
Name: Job Title_2, Length: 64, dtype: object

In [227]:
it_tech_pattern = 'Word Press|Word-Press|WordPress|Word_Press'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'WordPress Developer'
df[df['Job Title_2']=='WordPress Developer']['Job Title_2']

259     WordPress Developer
335     WordPress Developer
355     WordPress Developer
379     WordPress Developer
407     WordPress Developer
               ...
3281    WordPress Developer
3282    WordPress Developer
3283    WordPress Developer
3284    WordPress Developer
3285    WordPress Developer
Name: Job Title_2, Length: 102, dtype: object

In [228]:
it_tech_pattern = 'App|Android|ios|Mobile|Flutter|Xamarin|React Native|Swift|Kotlin|Ionic'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'App Developer'
df[df['Job Title_2']=='App Developer']['Job Title_2']

0       App Developer
1       App Developer
2       App Developer
3       App Developer
4       App Developer
            ...
328     App Developer
329     App Developer
330     App Developer
331     App Developer
1815    App Developer
Name: Job Title_2, Length: 333, dtype: object

In [229]:
it_tech_pattern = 'Cloud|AWS|Azure|GCP|IBM|Salesforce|Oracle'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'Cloud Developer'
df[df['Job Title_2']=='Cloud Developer']['Job Title_2']

249     Cloud Developer
250     Cloud Developer
260     Cloud Developer
292     Cloud Developer
313     Cloud Developer
             ...
926     Cloud Developer
927     Cloud Developer
1059    Cloud Developer
1149    Cloud Developer
2622    Cloud Developer
Name: Job Title_2, Length: 198, dtype: object

In [230]:
it_tech_pattern = 'data|analyst|Analytics|Analysis|Artificial intelligence|business intelligence|Machine Learning|Deep Learning|Computer vision|Natural Language processing|NLP|SQL|ETL|powerBI|Power BI|Tableau'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'AI/Data Science/Machine Learning Engineer'
df[df['Job Title_2']=='AI/Data Science/Machine Learning Engineer']['Job Title_2']

232     AI/Data Science/Machine Learning Engineer
244     AI/Data Science/Machine Learning Engineer
258     AI/Data Science/Machine Learning Engineer
265     AI/Data Science/Machine Learning Engineer
276     AI/Data Science/Machine Learning Engineer
                          ...
1659    AI/Data Science/Machine Learning Engineer
1660    AI/Data Science/Machine Learning Engineer
1661    AI/Data Science/Machine Learning Engineer
1662    AI/Data Science/Machine Learning Engineer
1663    AI/Data Science/Machine Learning Engineer
Name: Job Title_2, Length: 771, dtype: object

In [231]:
it_tech_pattern = 'Devops'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'Devops Engineer'
df[df['Job Title_2']=='Devops Engineer']['Job Title_2']

751     Devops Engineer
773     Devops Engineer
781     Devops Engineer
793     Devops Engineer
798     Devops Engineer
             ...
1733    Devops Engineer
1734    Devops Engineer
1735    Devops Engineer
1736    Devops Engineer
1737    Devops Engineer
Name: Job Title_2, Length: 80, dtype: object

In [232]:
it_tech_pattern = 'game|Unreal|Unity'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'Game Developer'
df[df['Job Title_2']=='Game Developer']['Job Title_2']

7       Game Developer
75      Game Developer
461     Game Developer
728     Game Developer
1576    Game Developer
             ...
2174    Game Developer
2175    Game Developer
2176    Game Developer
3249    Game Developer
3253    Game Developer
Name: Job Title_2, Length: 111, dtype: object

In [233]:
it_tech_pattern = 'Network|Cisco|Internet'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'Network Engineer'
df[df['Job Title_2']=='Network Engineer']['Job Title_2']

312     Network Engineer
314     Network Engineer
333     Network Engineer
339     Network Engineer
755     Network Engineer
              ...
2661    Network Engineer
2662    Network Engineer
2663    Network Engineer
2664    Network Engineer
2665    Network Engineer
Name: Job Title_2, Length: 62, dtype: object

In [234]:
it_tech_pattern = 'dotnet|.net'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'dotnet Engineer'
df[df['Job Title_2']=='dotnet Engineer']['Job Title_2']

51      dotnet Engineer
64      dotnet Engineer
88      dotnet Engineer
134     dotnet Engineer
160     dotnet Engineer
             ...
2658    dotnet Engineer
2660    dotnet Engineer
2661    dotnet Engineer
2662    dotnet Engineer
2665    dotnet Engineer
Name: Job Title_2, Length: 206, dtype: object

In [235]:
it_tech_keywords=['C++']
filtered=df[df['Job Title'].apply(lambda title: any(keyword in title for keyword in it_tech_keywords))]
filtered
df[df['Job ID'].isin(filtered['Job ID'])]['Job Title_2']
# df.loc[df['Job ID'].isin(filtered['Job ID']), 'Job Title_2'] = 'C++ Engineer'
# df[df['Job Title_2']=='C++ Engineer']['Job Title_2']
# condition=df['Job Title'].apply(lambda title: any(keyword in title for keyword in it_tech_keywords))
# condition
# condition.value_counts()
# df.loc[conndition, 'Job Title_2'] = 'C++ Engineer'
# df[df['Job Title_2']=='C++ Engineer']['Job Title_2']

577    Software Engineer
584                  NaN
585    Software Engineer
589    Software Engineer
590    Software Engineer
594                  NaN
595    Software Engineer
597                  NaN
598    Software Engineer
601                  NaN
650    Software Engineer
651    Software Engineer
659    Software Engineer
682    Software Engineer
683    Software Engineer
684    Software Engineer
693                  NaN
704    Software Engineer
705    Software Engineer
706    Software Engineer
707    Software Engineer
717    Software Engineer
718    Software Engineer
719    Software Engineer
735    Software Engineer
736    Software Engineer
737    Software Engineer
738    Software Engineer
739    Software Engineer
740    Software Engineer
742    Software Engineer
Name: Job Title_2, dtype: object

In [236]:
filtered_job_ids = filtered['Job ID'].tolist()

def update_job_title(job_id, current_title):
    if job_id in filtered_job_ids:
        return 'C++ Engineer'
    else:
        return current_title

df['Job Title_2'] = df.apply(lambda row: update_job_title(row['Job ID'], row['Job Title_2']), axis=1)

In [237]:
df['Job Title_2'].value_counts()

Job Title_2
AI/Data Science/Machine Learning Engineer    757
Software Engineer                            515
App Developer                                303
Full-Stack Developer                         219
Back-End Developer                           209
dotnet Engineer                              206
JavaScript Developer                         176
Cloud Developer                              157
PHP Developer                                135
Game Developer                               110
Front-End Developer                          108
WordPress Developer                           99
Web Developer                                 92
Devops Engineer                               80
IT Expert                                     65
UI/UX Developer                               64
Shopify Developer                             60
MERN/MEAN Developer                           57
Python Developer                              48
C++ Engineer                                  31
Network Engineer                              16
Desktop Engineer                               8
Name: count, dtype: int64

In [238]:
# it_tech_pattern = 'C++'
# filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=True)]
# filtered_df
# conndition=df['Job Title'].str.contains(it_tech_pattern, case=True)
# df.loc[conndition, 'Job Title_2'] = 'C++ Engineer'
# df[df['Job Title_2']=='C++ Engineer']['Job Title_2']

In [239]:
it_tech_pattern = 'security|Cyber|Threat|Surveillance|infosec'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'Cyber security Engineer'
df[df['Job Title_2']=='Cyber security Engineer']['Job Title_2']

296     Cyber security Engineer
324     Cyber security Engineer
327     Cyber security Engineer
328     Cyber security Engineer
747     Cyber security Engineer
757     Cyber security Engineer
803     Cyber security Engineer
924     Cyber security Engineer
1013    Cyber security Engineer
1073    Cyber security Engineer
1097    Cyber security Engineer
1256    Cyber security Engineer
1420    Cyber security Engineer
1479    Cyber security Engineer
1508    Cyber security Engineer
1571    Cyber security Engineer
1579    Cyber security Engineer
1646    Cyber security Engineer
1663    Cyber security Engineer
2198    Cyber security Engineer
2199    Cyber security Engineer
2226    Cyber security Engineer
2228    Cyber security Engineer
2234    Cyber security Engineer
2665    Cyber security Engineer
2869    Cyber security Engineer
2870    Cyber security Engineer
2871    Cyber security Engineer
2872    Cyber security Engineer
2873    Cyber security Engineer
2874    Cyber security Engineer
2875    Cyber security Engineer
2876    Cyber security Engineer
2877    Cyber security Engineer
2878    Cyber security Engineer
2879    Cyber security Engineer
3139    Cyber security Engineer
Name: Job Title_2, dtype: object

In [240]:
it_tech_pattern = 'SQA|testing|Automation|Quality Assurance|Scrum|SDET|QA'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'Testing and SQA Engineer'
df[df['Job Title_2']=='Testing and SQA Engineer']['Job Title_2']

29      Testing and SQA Engineer
62      Testing and SQA Engineer
105     Testing and SQA Engineer
249     Testing and SQA Engineer
274     Testing and SQA Engineer
                  ...
3599    Testing and SQA Engineer
3665    Testing and SQA Engineer
3675    Testing and SQA Engineer
3679    Testing and SQA Engineer
3731    Testing and SQA Engineer
Name: Job Title_2, Length: 174, dtype: object

In [241]:
it_tech_pattern = 'Web3|Blockchain|crypto'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'Web3 Engineer'
df[df['Job Title_2']=='Web3 Engineer']['Job Title_2']

1316    Web3 Engineer
1321    Web3 Engineer
1887    Web3 Engineer
2404    Web3 Engineer
3024    Web3 Engineer
3136    Web3 Engineer
3137    Web3 Engineer
3138    Web3 Engineer
3139    Web3 Engineer
3140    Web3 Engineer
3141    Web3 Engineer
3142    Web3 Engineer
3143    Web3 Engineer
3144    Web3 Engineer
3145    Web3 Engineer
3146    Web3 Engineer
3147    Web3 Engineer
3533    Web3 Engineer
Name: Job Title_2, dtype: object

In [242]:
it_tech_pattern = 'ML|DL|BI|AI'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
conndition=df['Job Title'].str.contains(it_tech_pattern, case=False)
df.loc[conndition, 'Job Title_2'] = 'AI Engineer'
df[df['Job Title_2']=='AI Engineer']['Job Title_2']

1       AI Engineer
4       AI Engineer
7       AI Engineer
19      AI Engineer
20      AI Engineer
           ...
3183    AI Engineer
3361    AI Engineer
3377    AI Engineer
3460    AI Engineer
3594    AI Engineer
Name: Job Title_2, Length: 338, dtype: object

In [245]:
df['Job Title_2'].isnull().sum()

0

In [208]:
df[df['Job Title_2'].isnull()]

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info,company,...,location_2,Remote/Onsite,n_applicant,job posting time,Job Type nElements,Job-Type,Experience Level,Comp_N_Employees,Comp_Industry,Job Title_2
708,C# Programmer,"Markalytics · Islamabad, Islāmābād, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3752414660,11-50 employees,3752414660,https://www.linkedin.com/jobs/view/3752414660,About the job\n \n\n \nCompany Desc...,Advertising Services\n \n ...,Markalytics,...,"Islamabad, Islāmābād, Pakistan \n2 weeks ago",On-site,NaN,2 weeks ago,2,Full-time,Not specified,11-50 employees,Not specified,NaN

In [244]:
df['Job Title_2'].fillna('C# Engineer', inplace=True)

In [246]:
df['Job Title_2'].value_counts()

Job Title_2
AI/Data Science/Machine Learning Engineer    669
Software Engineer                            431
AI Engineer                                  338
App Developer                                215
Full-Stack Developer                         213
Back-End Developer                           207
dotnet Engineer                              201
JavaScript Developer                         173
Testing and SQA Engineer                     164
Cloud Developer                              142
PHP Developer                                130
Front-End Developer                          105
Game Developer                               102
WordPress Developer                           98
Web Developer                                 85
Devops Engineer                               79
UI/UX Developer                               64
Shopify Developer                             60
IT Expert                                     59
MERN/MEAN Developer                           56
Python Developer                              47
Cyber security Engineer                       35
C++ Engineer                                  31
Network Engineer                              16
Desktop Engineer                               8
Web3 Engineer                                  5
C# Engineer                                    1
Name: count, dtype: int64