In [1]:
import os
import pandas as pd
from datetime import datetime

In [2]:
path="Daily Job Description and compnay Details concatenated/9th week 21 Nov -27 Nov"

In [3]:
dir_list = os.listdir(path)
dir_list

['Linkedin_Job-Descriptions-company_details_23-Nov-2023_649-jobs_28-pages.csv',
 'Linkedin_Job-Descriptions-company_details_26-Nov-2023_699-jobs_29-pages.csv']

In [4]:
len(dir_list)

2

In [5]:
dates=[file.split('_')[3] for file in dir_list]
dates.sort(key=lambda date: datetime.strptime(date, "%d-%b-%Y"))
file_names=[]
for date in dates:
    for file in dir_list:
        if file.split('_')[3]==date:
            file_names.append(file)
file_names

['Linkedin_Job-Descriptions-company_details_23-Nov-2023_649-jobs_28-pages.csv',
 'Linkedin_Job-Descriptions-company_details_26-Nov-2023_699-jobs_29-pages.csv']

In [6]:
df_concat=None
for file in file_names:
    df=pd.read_csv(path+'/'+file)
    df_concat=pd.concat([df_concat,df],ignore_index=True)

In [7]:
df_concat

,Job Link,Job Desception,Company Info
0,https://www.linkedin.com/jobs/view/3766647620,About the job\n \n \nðŸ“ŒðŸ“Œ We are look...,IT Services and IT Consulting\n \n ...
1,https://www.linkedin.com/jobs/view/3766002179,About the job\n \n \nJob Title: Lea...,"Technology, Information and Internet\n ..."
2,https://www.linkedin.com/jobs/view/3730481772,About the job\n \n \nDÃ©tail de l'of...,NaN
3,https://www.linkedin.com/jobs/view/3749325617,About the job\n \n \nTCP is committ...,Software Development\n \n ...
4,https://www.linkedin.com/jobs/view/3767386725,About the job\n \n \nAre you passio...,IT Services and IT Consulting\n \n ...
...,...,...,...
1343,https://www.linkedin.com/jobs/view/3767355025,About the job\n \n \nThis role is p...,NaN
1344,https://www.linkedin.com/jobs/view/3766809535,About the job\n \n \nA U.S.-based c...,IT Services and IT Consulting\n \n ...
1345,https://www.linkedin.com/jobs/view/3772530977,About the job,NaN
1346,https://www.linkedin.com/jobs/view/3771943212,About the job,NaN
1347,https://www.linkedin.com/jobs/view/3767944844,About the job,NaN

In [8]:
total_pages=0
for file in file_names:
    total_pages=total_pages+int(file.split('_')[5].strip('-pages.csv'))
total_pages

57

In [9]:
total_records=0
for file in file_names:
    total_records=total_records+int(file.split('_')[4].strip('-jobs'))
total_records

1348

In [10]:
len(df_concat)

1348

In [11]:
folder_path='Linkedin Job Description and compnay Details Weekly Files/'
folder_path

'Linkedin Job Description and compnay Details Weekly Files/'

In [12]:
week=path.split('/')[-1].split()[2]+'-'+path.split('/')[-1].split()[3]+'-2023-to'+path.split('/')[-1].split()[4]+'-'+path.split('/')[-1].split()[5]+'-2023'
week

'21-Nov-2023-to-27-Nov-2023'

In [13]:
df_concat.to_csv(folder_path+f'Linkedin_Job-Descriptions-company_details_{week}_{len(df_concat)}-jobs_{total_pages}-pages.csv',index=False)