In [1]:
import os
import pandas as pd
from datetime import datetime

In [2]:
path="Linkedin Job Description and compnay Details Weekly Files"

In [3]:
dir_list = os.listdir(path)
dir_list

['Linkedin_Job-Descriptions-company_details_03-Oct-2023-to-09-Oct-2023_2098-jobs_89-pages.csv',
 'Linkedin_Job-Descriptions-company_details_07-Nov-2023-to-13-Nov-2023_754-jobs_32-pages.csv',
 'Linkedin_Job-Descriptions-company_details_10-Oct-2023-to-16-Oct-2023_2138-jobs_93-pages.csv',
 'Linkedin_Job-Descriptions-company_details_14-Nov-2023-to-20-Nov-2023_1693-jobs_70-pages.csv',
 'Linkedin_Job-Descriptions-company_details_17-Oct-2023-to-23-Oct-2023_2154-jobs_97-pages.csv',
 'Linkedin_Job-Descriptions-company_details_21-Nov-2023-to-27-Nov-2023_1348-jobs_57-pages.csv',
 'Linkedin_Job-Descriptions-company_details_24-Oct-2023-to-30-0ct-2023_1945-jobs_83-pages.csv',
 'Linkedin_Job-Descriptions-company_details_26-Sep-2023-to-02-Oct-2023_2117-jobs_92-pages.csv',
 'Linkedin_Job-Descriptions-company_details_31-Oct-2023-to-06-Nov-2023_1700-jobs_72-pages.csv']

In [4]:
len(dir_list)

9

In [5]:
dates=[file.split('_')[3].split('-to-')[0] for file in dir_list]
dates.sort(key=lambda date: datetime.strptime(date, "%d-%b-%Y"))
file_names=[]
for date in dates:
    for file in dir_list:
        if file.split('_')[3].split('-to-')[0]==date:
            file_names.append(file)
file_names

['Linkedin_Job-Descriptions-company_details_26-Sep-2023-to-02-Oct-2023_2117-jobs_92-pages.csv',
 'Linkedin_Job-Descriptions-company_details_03-Oct-2023-to-09-Oct-2023_2098-jobs_89-pages.csv',
 'Linkedin_Job-Descriptions-company_details_10-Oct-2023-to-16-Oct-2023_2138-jobs_93-pages.csv',
 'Linkedin_Job-Descriptions-company_details_17-Oct-2023-to-23-Oct-2023_2154-jobs_97-pages.csv',
 'Linkedin_Job-Descriptions-company_details_24-Oct-2023-to-30-0ct-2023_1945-jobs_83-pages.csv',
 'Linkedin_Job-Descriptions-company_details_31-Oct-2023-to-06-Nov-2023_1700-jobs_72-pages.csv',
 'Linkedin_Job-Descriptions-company_details_07-Nov-2023-to-13-Nov-2023_754-jobs_32-pages.csv',
 'Linkedin_Job-Descriptions-company_details_14-Nov-2023-to-20-Nov-2023_1693-jobs_70-pages.csv',
 'Linkedin_Job-Descriptions-company_details_21-Nov-2023-to-27-Nov-2023_1348-jobs_57-pages.csv']

In [6]:
df_concat=None
for file in file_names:
    df=pd.read_csv(path+'/'+file)
    df_concat=pd.concat([df_concat,df],ignore_index=True)

In [7]:
df_concat

,Job Link,Job Desception,Company Info
0,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...
15942,https://www.linkedin.com/jobs/view/3767355025,About the job\n \n \nThis role is p...,NaN
15943,https://www.linkedin.com/jobs/view/3766809535,About the job\n \n \nA U.S.-based c...,IT Services and IT Consulting\n \n ...
15944,https://www.linkedin.com/jobs/view/3772530977,About the job,NaN
15945,https://www.linkedin.com/jobs/view/3771943212,About the job,NaN
15946,https://www.linkedin.com/jobs/view/3767944844,About the job,NaN

In [8]:
total_pages=0
for file in file_names:
    total_pages=total_pages+int(file.split('_')[5].strip('-pages.csv'))
total_pages

685

In [9]:
total_records=0
for file in file_names:
    total_records=total_records+int(file.split('_')[4].strip('-jobs'))
total_records

15947

In [10]:
len(df_concat)

15947

In [11]:
folder_path='Weekly Files Concatenated/'
folder_path

'Weekly Files Concatenated/'

In [12]:
week='26-Sep-2023-to-26-Nov-2023'

In [13]:
df_concat.to_csv(folder_path+f'Linkedin_Job-Descriptions-company_details_{week}_{len(df_concat)}-jobs_{total_pages}-pages.csv',index=False)