In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [2]:
path='Weekly Files Concatenated/Linkedin_Job_Details_26-Sep-2023-to-09-Oct-2023_4214-jobs_181-pages.csv'

In [3]:
df=pd.read_csv(path)

### checking duplicates

In [4]:
len(df)

4214

In [7]:
df['Job ID']=df['Job Link'].apply(lambda x:int(x.split('/')[5]))

In [10]:
len(df['Job ID'].unique())

3623

In [12]:
len(df)-len(df['Job ID'].unique())

591

In [13]:
df['Job ID'].value_counts()

Job ID
3720211981    9
3723015510    7
3723013969    6
3723015541    6
3723016496    6
             ..
3727586074    1
3725569364    1
3727905143    1
3708061712    1
3731006178    1
Name: count, Length: 3623, dtype: int64

In [14]:
df['Job ID'].value_counts().unique()

array([9, 7, 6, 5, 4, 3, 2, 1], dtype=int64)

In [15]:
duplicates_count=df.duplicated(subset=['Job ID']).sum()
duplicates_count

591

In [16]:
duplicates = df['Job ID'].duplicated()
df[duplicates]

,Job Title,Job Info,Job Type,Job Link,employees,Job ID
603,Odoo Developer,"AKSiQ · Karachi Division, Sindh, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3727054738,11-50 employees,3727054738
781,Assistant Manager Sales/Sales Executive,"Eastern Housing Pakistan · Multan, Punjab, Pak...",Full-time,https://www.linkedin.com/jobs/view/3727057147,201-500 employees,3727057147
834,Back-End Network Engineer,Turing · Pakistan (Remote) Reposted \n2 weeks...,Full-time · Entry level,https://www.linkedin.com/jobs/view/3726337380,"1,001-5,000 employees · IT Services and IT Con...",3726337380
840,Release Management Engineer,"AIIT Solutions · Rawalpindi, Punjab, Pakistan ...",Full-time,https://www.linkedin.com/jobs/view/3727054443,11-50 employees,3727054443
842,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3727051751,NaN,3727051751
...,...,...,...,...,...,...
4170,"Software Engineer with AI Tooling Expertise, S...","Crossover · Islamabad, Islāmābād, Pakistan Re...",Remote\n\n \nFull-time\n\n \nDirector,https://www.linkedin.com/jobs/view/3727370490,"5,001-10,000 employees · IT Services and IT Co...",3727370490
4180,"Software Engineer with AI Tooling Expertise, S...","Crossover · Karāchi, Sindh, Pakistan Reposted...",Remote\n\n \nFull-time\n\n \nDirector,https://www.linkedin.com/jobs/view/3727370416,"5,001-10,000 employees · IT Services and IT Co...",3727370416
4181,"Technical Team Lead, Trilogy (Remote) - $100,0...","Crossover · Rawalpindi, Punjab, Pakistan Repo...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3727367888,"5,001-10,000 employees · IT Services and IT Co...",3727367888
4204,"Principal Software Engineer, GFI Software (Rem...","Crossover · Rawalpindi, Punjab, Pakistan Repo...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3723017385,"5,001-10,000 employees · IT Services and IT Co...",3723017385
4205,"Senior Software Architect, Trilogy (Remote) - ...","Crossover · Rakhni, Baluchistan, Pakistan Rep...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3723021010,"5,001-10,000 employees · IT Services and IT Co...",3723021010

### droping duplicates

In [17]:
df_no_duplicates = df.drop_duplicates(subset=['Job ID'])

In [18]:
df_no_duplicates

,Job Title,Job Info,Job Type,Job Link,employees,Job ID
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696
...,...,...,...,...,...,...
4209,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227
4210,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639
4211,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750
4212,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533
4213,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178

In [19]:
len(df_no_duplicates)

3623

In [20]:
len(df)-duplicates_count

3623

### Building modified path

In [15]:
pre_link=path.split('/')[-1].split(path.split('/')[-1].split('_')[4].strip('-jobs'))[0]
post_link=path.split('/')[-1].split(path.split('/')[-1].split('_')[4].strip('-jobs'))[1]
Not_duplicated_folder_path='Weekly Files Not Duplicateed/'+pre_link+str(len(df_no_duplicates))+post_link
Not_duplicated_folder_path

'Weekly Files Not Duplicateed/Linkedin_Job_Links_10-Oct-2023-to-16-Oct-2023_1928-jobs_93-pages.csv'

### saving file

In [16]:
if df.duplicated(subset=['Job ID']).sum()>0:
    df_no_duplicates.to_csv(Not_duplicated_folder_path,index=False)
else:
    df.to_csv(Not_duplicated_folder_path,index=False)