In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [2]:
path='Files used in current analysis/Linkedin_Job-Descriptions-company_details_26-Sep-2023-to-26-Nov-2023_15947-jobs_685-pages.csv'

In [3]:
df=pd.read_csv(path)
df

,Job Link,Job Desception,Company Info
0,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...
15942,https://www.linkedin.com/jobs/view/3767355025,About the job\n \n \nThis role is p...,NaN
15943,https://www.linkedin.com/jobs/view/3766809535,About the job\n \n \nA U.S.-based c...,IT Services and IT Consulting\n \n ...
15944,https://www.linkedin.com/jobs/view/3772530977,About the job,NaN
15945,https://www.linkedin.com/jobs/view/3771943212,About the job,NaN
15946,https://www.linkedin.com/jobs/view/3767944844,About the job,NaN

### checking duplicates

In [4]:
len(df)

15947

In [5]:
df['Job ID']=df['Job Link'].apply(lambda x:int(x.split('/')[5]))

In [6]:
len(df['Job ID'].unique())

12321

In [7]:
len(df)-len(df['Job ID'].unique())

3626

In [8]:
df['Job ID'].value_counts()

Job ID
3720211981    13
3733022066    11
3707088816    11
3733019363    11
3605634351    10
              ..
3737178761     1
3737300518     1
3733021967     1
3738367069     1
3767944844     1
Name: count, Length: 12321, dtype: int64

In [9]:
df['Job ID'].value_counts().unique()

array([13, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1], dtype=int64)

In [10]:
duplicates_count=df.duplicated(subset=['Job ID']).sum()
duplicates_count

3626

In [11]:
duplicates = df['Job ID'].duplicated()
df[duplicates]

,Job Link,Job Desception,Company Info,Job ID
603,https://www.linkedin.com/jobs/view/3727054738,About the job\n \n\n \nWe are in se...,NaN,3727054738
781,https://www.linkedin.com/jobs/view/3727057147,About the job\n \n\n \nRequired Exp...,Real Estate\n \n 201-5...,3727057147
834,https://www.linkedin.com/jobs/view/3726337380,About the job\n \n\n \nA rapidly-gr...,IT Services and IT Consulting\n \n ...,3726337380
840,https://www.linkedin.com/jobs/view/3727054443,About the job\n \n\n \nWe are looki...,Information Technology & Services\n ...,3727054443
842,https://www.linkedin.com/jobs/view/3727051751,NaN,NaN,3727051751
...,...,...,...,...
15928,https://www.linkedin.com/jobs/view/3765449305,About the job\n \n \nJob Brief:As a...,"Real Estate\n \n 5,001...",3765449305
15929,https://www.linkedin.com/jobs/view/3765793064,About the job\n \n \nAbout Arrivy A...,Software Development\n \n ...,3765793064
15930,https://www.linkedin.com/jobs/view/3765780780,About the job,NaN,3765780780
15932,https://www.linkedin.com/jobs/view/3766397564,About the job\n \n \nA developing f...,NaN,3766397564
15943,https://www.linkedin.com/jobs/view/3766809535,About the job\n \n \nA U.S.-based c...,IT Services and IT Consulting\n \n ...,3766809535

In [12]:
df.isnull().sum()

Job Link             0
Job Desception     315
Company Info      4084
Job ID               0
dtype: int64

In [24]:
count_of_abnormal_desc=0
for i in range(0,len(df)):
    try:
        if(len(df.iloc[i]['Job Desception'])<20):
            # print(df.iloc[i])
            count_of_abnormal_desc=count_of_abnormal_desc+1
    except TypeError:
        pass
        # print('non value')
if count_of_abnormal_desc==0:
    print("Not Found any uncomplete job descreption")

In [25]:
count_of_abnormal_desc

1586

In [28]:
count_of_abnormal_desc+df.isnull().sum()['Job Desception']

1901

In [21]:
df['Job Desception'].unique()[0]

"About the job\n            \n\n \nAbout Us:We are an E-Commerce Agency, specializing in Amazon. The primary focus of our company is to build brands for our clients and make their brands expandable in the respective target markets.Key Responsibilities: Utilize various tools and techniques to extract data from LinkedIn profiles, including but not limited to names, job titles, companies, contact information, and other relevant data points.Ensure the accuracy and integrity of the extracted data through thorough validation and verification processes.Enhance existing datasets by adding missing or relevant information obtained from LinkedIn profiles.Adhere to LinkedIn's terms of service and privacy policies while extracting and handling data, ensuring ethical and legal data collection practices.Regularly update and maintain databases to reflect the most current information.Keep detailed records of extraction processes, sources, and data quality assessments.Generate reports summarizing extracted data and insights for use by various departments within the organization.\n Qualifications: Proven experience in data extraction, particularly from LinkedIn or similar platforms.Familiarity with data extraction tools (Octoparse, Import.io, scrapy etc) Strong attention to detail and data accuracy.Understanding of data privacy and compliance regulations, especially pertaining to LinkedIn.Proficiency in data management and database tools.Excellent communication and documentation skills.Ability to work independently and meet deadlines."

In [17]:
df['Company Info'].unique()[:5]

array(['Advertising Services\n            \n              11-50 employees\n            \n\n              10 on LinkedIn',
       'IT Services and IT Consulting\n            \n              11-50 employees\n            \n\n              59 on LinkedIn',
       'IT Services and IT Consulting\n            \n              51-200 employees\n            \n\n              70 on LinkedIn',
       'IT Services and IT Consulting\n            \n              11-50 employees\n            \n\n              38 on LinkedIn',
       nan], dtype=object)

In [14]:
len(df['Company Info'].unique())

3449