In [4]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [5]:
df_1=pd.read_csv('Files used in current analysis/Linkedin_Job_Details_26-Sep-2023-to-26-Nov-2023_15875-jobs_685-pages.csv')
df_1

,Job Title,Job Info,Job Type,Job Link,employees
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job
...,...,...,...,...,...
15870,Manager – Growth Chat & SMS (Digital Marketing),"Bank Alfalah Limited · Karāchi, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767355025,"5,001-10,000 employees · Banking"
15871,Release Support Engineer,Turing · Pakistan Reposted \n1 week ago,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3766809535,"1,001-5,000 employees · IT Services and IT Con..."
15872,Information Security Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n1 week...",On-site\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3772530977,51-200 employees · IT Services and IT Consulting
15873,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,"Level 3 BOS · Karachi Division, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771943212,201-500 employees · Outsourcing and Offshoring...
15874,Community Associate,"The Hive · Karachi Division, Sindh, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767944844,11-50 employees

In [6]:
df_2=pd.read_csv('Files used in current analysis/Linkedin_Job-Descriptions-company_details_26-Sep-2023-to-26-Nov-2023_15947-jobs_685-pages.csv')
df_2

,Job Link,Job Desception,Company Info
0,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...
15942,https://www.linkedin.com/jobs/view/3767355025,About the job\n \n \nThis role is p...,NaN
15943,https://www.linkedin.com/jobs/view/3766809535,About the job\n \n \nA U.S.-based c...,IT Services and IT Consulting\n \n ...
15944,https://www.linkedin.com/jobs/view/3772530977,About the job,NaN
15945,https://www.linkedin.com/jobs/view/3771943212,About the job,NaN
15946,https://www.linkedin.com/jobs/view/3767944844,About the job,NaN

In [4]:
df_1['Job ID']=df_1['Job Link'].apply(lambda x:int(x.split('/')[5]))
df_2['Job ID']=df_2['Job Link'].apply(lambda x:int(x.split('/')[5]))

In [5]:
df=pd.merge(df_1,df_2,on='Job ID',how='inner')
df

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
27639,Unity Developer,"Codiea.io · Bahawalpur, Punjab, Pakistan \n1 ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767951886,1-10 employees,3767951886,https://www.linkedin.com/jobs/view/3767951886,About the job,NaN
27640,Manager – Growth Chat & SMS (Digital Marketing),"Bank Alfalah Limited · Karāchi, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767355025,"5,001-10,000 employees · Banking",3767355025,https://www.linkedin.com/jobs/view/3767355025,About the job\n \n \nThis role is p...,NaN
27641,Information Security Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n1 week...",On-site\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3772530977,51-200 employees · IT Services and IT Consulting,3772530977,https://www.linkedin.com/jobs/view/3772530977,About the job,NaN
27642,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,"Level 3 BOS · Karachi Division, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771943212,201-500 employees · Outsourcing and Offshoring...,3771943212,https://www.linkedin.com/jobs/view/3771943212,About the job,NaN
27643,Community Associate,"The Hive · Karachi Division, Sindh, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767944844,11-50 employees,3767944844,https://www.linkedin.com/jobs/view/3767944844,About the job,NaN

In [6]:
df.columns

Index(['Job Title', 'Job Info', 'Job Type', 'Job Link_x', 'employees',
       'Job ID', 'Job Link_y', 'Job Desception', 'Company Info'],
      dtype='object')

### checking duplicates

In [7]:
len(df)

27644

In [8]:
len(df['Job ID'].unique())

12010

In [9]:
duplicates_count=df.duplicated(subset=['Job ID']).sum()
duplicates_count

15634

In [10]:
duplicates = df['Job ID'].duplicated()
df[duplicates]

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
8,Sr. SDET Engineer,"Afiniti · Peshawar, Khyber Pakhtunkhwa, Pakist...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3631034202,"1,001-5,000 employees · Software Development",3631034202,https://www.linkedin.com/jobs/view/3631034202,About the job\n \n\n \nWho are we? ...,Software Development\n \n ...
9,Sr. SDET Engineer,"Afiniti · Peshawar, Khyber Pakhtunkhwa, Pakist...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3631034202,"1,001-5,000 employees · Software Development",3631034202,https://www.linkedin.com/jobs/view/3631034202,About the job\n \n\n \nWho are we? ...,Software Development\n \n ...
10,Sr. SDET Engineer,"Afiniti · Peshawar, Khyber Pakhtunkhwa, Pakist...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3631034202,"1,001-5,000 employees · Software Development",3631034202,https://www.linkedin.com/jobs/view/3631034202,About the job\n \n\n \nWho are we? ...,Software Development\n \n ...
11,Sr. SDET Engineer,"Afiniti · Peshawar, Khyber Pakhtunkhwa, Pakist...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3631034202,"1,001-5,000 employees · Software Development",3631034202,https://www.linkedin.com/jobs/view/3631034202,About the job\n \n\n \nWho are we? ...,Software Development\n \n ...
12,Sr. SDET Engineer,"Afiniti · Peshawar, Khyber Pakhtunkhwa, Pakist...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3631034202,"1,001-5,000 employees · Software Development",3631034202,https://www.linkedin.com/jobs/view/3631034202,About the job\n \n\n \nWho are we? ...,Software Development\n \n ...
...,...,...,...,...,...,...,...,...,...
27308,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3767390372,NaN,3767390372,https://www.linkedin.com/jobs/view/3767390372,NaN,NaN
27309,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3767390372,NaN,3767390372,https://www.linkedin.com/jobs/view/3767390372,NaN,NaN
27313,Web Backend Developer,Turing · Pakistan \n1 week ago\n\n · 11 appli...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3765780780,"1,001-5,000 employees · IT Services and IT Con...",3765780780,https://www.linkedin.com/jobs/view/3765780780,About the job,NaN
27314,Web Backend Developer,Turing · Pakistan \n2 weeks ago\n\n · 11 appl...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3765780780,"1,001-5,000 employees · IT Services and IT Con...",3765780780,https://www.linkedin.com/jobs/view/3765780780,About the job\n \n \nJob Descriptio...,IT Services and IT Consulting\n \n ...
27315,Web Backend Developer,Turing · Pakistan \n2 weeks ago\n\n · 11 appl...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3765780780,"1,001-5,000 employees · IT Services and IT Con...",3765780780,https://www.linkedin.com/jobs/view/3765780780,About the job,NaN

### drop duplicates

In [11]:
df = df.drop_duplicates(subset=['Job ID'])

In [12]:
df.shape

(12010, 9)

### checking null values

In [13]:
df.isnull().sum()

Job Title          258
Job Info           258
Job Type           272
Job Link_x           0
employees          273
Job ID               0
Job Link_y           0
Job Desception     284
Company Info      3185
dtype: int64

In [14]:
null_rows = df[df.isnull().any(axis=1)]
null_rows

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
5,Research Analyst for Business Subjects (Office...,"TechoMatrix · Karāchi, Sindh, Pakistan (On-sit...",Full-time,https://www.linkedin.com/jobs/view/3727008042,11-50 employees,3727008042,https://www.linkedin.com/jobs/view/3727008042,About the job\n \n\n \nWe're Hiring...,NaN
120,Digital Marketing Strategist and Planner,Prime Human Resource Services (Pvt) Ltd · Karā...,Full-time,https://www.linkedin.com/jobs/view/3727011545,"10,001+ employees",3727011545,https://www.linkedin.com/jobs/view/3727011545,About the job,NaN
138,IT Jobs,"Wellnes Solutions · Rawalpindi, Punjab, Pakist...",Full-time,https://www.linkedin.com/jobs/view/3664300908,Muhammad akram is hiring for this job,3664300908,https://www.linkedin.com/jobs/view/3664300908,About the job\n \n\n \nFollowing Po...,NaN
148,Research Analyst,"Indian School of Business · Hyderabad, Sindh, ...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3723336007,"501-1,000 employees · Higher Education",3723336007,https://www.linkedin.com/jobs/view/3723336007,NaN,NaN
...,...,...,...,...,...,...,...,...,...
27639,Unity Developer,"Codiea.io · Bahawalpur, Punjab, Pakistan \n1 ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767951886,1-10 employees,3767951886,https://www.linkedin.com/jobs/view/3767951886,About the job,NaN
27640,Manager – Growth Chat & SMS (Digital Marketing),"Bank Alfalah Limited · Karāchi, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767355025,"5,001-10,000 employees · Banking",3767355025,https://www.linkedin.com/jobs/view/3767355025,About the job\n \n \nThis role is p...,NaN
27641,Information Security Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n1 week...",On-site\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3772530977,51-200 employees · IT Services and IT Consulting,3772530977,https://www.linkedin.com/jobs/view/3772530977,About the job,NaN
27642,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,"Level 3 BOS · Karachi Division, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771943212,201-500 employees · Outsourcing and Offshoring...,3771943212,https://www.linkedin.com/jobs/view/3771943212,About the job,NaN
27643,Community Associate,"The Hive · Karachi Division, Sindh, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767944844,11-50 employees,3767944844,https://www.linkedin.com/jobs/view/3767944844,About the job,NaN

In [15]:
subset_columns = ['Job Title', 'Job Info', 'Job Type', 'employees']
null_rows = df[df[subset_columns].isnull().any(axis=1)]
null_rows

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
269,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3716079439,NaN,3716079439,https://www.linkedin.com/jobs/view/3716079439,NaN,NaN
299,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728144603,NaN,3728144603,https://www.linkedin.com/jobs/view/3728144603,NaN,NaN
816,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728021212/...,NaN,3728021212,https://www.linkedin.com/jobs/view/3728021212,NaN,NaN
819,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3727051751/...,NaN,3727051751,https://www.linkedin.com/jobs/view/3727051751,NaN,NaN
861,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3726689376/...,NaN,3726689376,https://www.linkedin.com/jobs/view/3726689376,NaN,NaN
...,...,...,...,...,...,...,...,...,...
27566,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3772771813,NaN,3772771813,https://www.linkedin.com/jobs/view/3772771813,NaN,NaN
27578,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3767693296,NaN,3767693296,https://www.linkedin.com/jobs/view/3767693296,NaN,NaN
27580,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3766808575,NaN,3766808575,https://www.linkedin.com/jobs/view/3766808575,NaN,NaN
27589,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3772859487,NaN,3772859487,https://www.linkedin.com/jobs/view/3772859487,NaN,NaN
27593,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3766806694,NaN,3766806694,https://www.linkedin.com/jobs/view/3766806694,NaN,NaN

In [16]:
len(null_rows)

273

### dealing Null values

In [17]:
df=df.dropna(subset=['Job Title','Job Info','Job Type','employees'])

In [18]:
df

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
27639,Unity Developer,"Codiea.io · Bahawalpur, Punjab, Pakistan \n1 ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767951886,1-10 employees,3767951886,https://www.linkedin.com/jobs/view/3767951886,About the job,NaN
27640,Manager – Growth Chat & SMS (Digital Marketing),"Bank Alfalah Limited · Karāchi, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767355025,"5,001-10,000 employees · Banking",3767355025,https://www.linkedin.com/jobs/view/3767355025,About the job\n \n \nThis role is p...,NaN
27641,Information Security Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n1 week...",On-site\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3772530977,51-200 employees · IT Services and IT Consulting,3772530977,https://www.linkedin.com/jobs/view/3772530977,About the job,NaN
27642,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,"Level 3 BOS · Karachi Division, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771943212,201-500 employees · Outsourcing and Offshoring...,3771943212,https://www.linkedin.com/jobs/view/3771943212,About the job,NaN
27643,Community Associate,"The Hive · Karachi Division, Sindh, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767944844,11-50 employees,3767944844,https://www.linkedin.com/jobs/view/3767944844,About the job,NaN

In [19]:
12010-len(null_rows)

11737

In [20]:
df.isnull().sum()

Job Title            0
Job Info             0
Job Type             0
Job Link_x           0
employees            0
Job ID               0
Job Link_y           0
Job Desception      31
Company Info      2916
dtype: int64

### exploring values in features

In [21]:
df['Job Title'].unique()

array(['LinkedIn Data Extractor', 'It Management Intern',
       'SQL Database Developer', ...,
       'Manager – Growth Chat & SMS (Digital Marketing)',
       'Information Security Specialist',
       'FUNCTIONAL CONSULTANT ORACLE FUSION - HCM'], dtype=object)

In [22]:
len(df['Job Title'].unique())

6442

In [23]:
df['Job Title'].value_counts()[:30]

Job Title
Sales Executive                          142
Business Development Executive           135
Sales Specialist                          76
Business Development Manager              71
Business Development Specialist           63
Graphic Designer                          58
Web Back-End Developer                    57
Software Engineer                         56
Customer Service Representative           55
Salesperson                               50
Full Stack Engineer                       47
Senior Software Engineer                  45
Sales And Marketing Specialist            40
Wordpress Developer                       38
Call Center Representative                37
PHP Developer                             36
Customer Sales Representative             35
Sales Development Representative          35
Search Engine Optimization Specialist     33
Dotnet Developer                          33
Digital Marketing Specialist              32
Business Development Officer              32
Educational Counselor                     32
Video Editor                              31
International Sales Executive             30
Upwork Bidder                             28
Sales Manager                             28
Back End Developer                        27
Shopify Developer                         27
Social Media Manager                      27
Name: count, dtype: int64

In [24]:
df['Job Info'].unique()

array(['EcomFleet · Pakistan (Remote)  \n1 week ago',
       'Digicon Valley · Lahore, Punjab, Pakistan (On-site)  \n2 weeks ago',
       'Murkez Technologies · Lahore, Punjab, Pakistan (On-site)  \n1 week ago',
       ...,
       'DPL · Islamabad, Islāmābād, Pakistan  \n1 week ago\n\n · 83 applicants',
       'Level 3 BOS · Karachi Division, Sindh, Pakistan  \n1 week ago\n\n · 19 applicants',
       'The Hive · Karachi Division, Sindh, Pakistan  \n1 week ago'],
      dtype=object)

In [25]:
len(df['Job Info'].unique())

10209

In [26]:
df['Job Type'].unique()

array(['Full-time', 'Full-time · Mid-Senior level',
       'Internship · Internship', 'Full-time · Associate', 'Internship',
       'Full-time · Entry level', 'Part-time', 'Full-time · Internship',
       'Contract · Mid-Senior level', 'Contract', 'Contract · Associate',
       '$150/month - $300/month · Full-time', 'Full-time · Director',
       'Part-time · Associate', 'Mr Ahsan is hiring for this job',
       'Part-time · Executive', 'Contract · Executive',
       'Part-time · Mid-Senior level', 'Contract · Entry level',
       'Temporary · Mid-Senior level', 'Executive',
       'Full-time · Executive', 'Sean Sato is hiring for this job',
       'Part-time · Internship', 'Internship · Mid-Senior level',
       '$12,000/yr - $15,000/yr · Full-time · Mid-Senior level',
       '$200,000/yr · Full-time', 'Part-time · Entry level',
       'dr.ry. L. is hiring for this job',
       '10,001+ employees · Tobacco Manufacturing', 'Volunteer',
       'On-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nFull-time\n\n \nMid-Senior level',
       'Remote\n\n \nFull-time\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nFull-time',
       'Hybrid\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nDirector', 'Remote\n\n \nFull-time',
       'On-site\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nAssociate',
       'Full-time\n\n \nMid-Senior level', 'On-site\n\n \nPart-time',
       'Hybrid\n\n \nFull-time',
       'Remote\n\n \nContract\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nExecutive',
       'Remote\n\n \nFull-time\n\n \nEntry level',
       'Remote\n\n \nInternship', 'On-site\n\n \nInternship',
       'On-site\n\n \nContract\n\n \nMid-Senior level',
       'Remote\n\n \nContract', 'Remote\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nContract\n\n \nEntry level',
       'On-site\n\n \nFull-time\n\n \nInternship',
       'Remote\n\n \nPart-time\n\n \nAssociate', 'Remote\n\n \nPart-time',
       'Remote\n\n \nContract\n\n \nEntry level',
       'On-site\n\n \nContract\n\n \nAssociate',
       'Full-time\n\n \nEntry level', 'Hybrid\n\n \nContract',
       'Remote\n\n \nFull-time\n\n \nDirector', 'Hybrid\n\n \nPart-time',
       'On-site\n\n \nContract',
       'PKR600,000/yr - PKR660,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       'Remote', 'Contract\n\n \nMid-Senior level',
       'On-site\n\n \nContract\n\n \nInternship',
       'Full-time\n\n \nExecutive',
       'Remote\n\n \nInternship\n\n \nMid-Senior level',
       'Hybrid\n\n \nContract\n\n \nMid-Senior level',
       'Remote\n\n \nPart-time\n\n \nEntry level',
       'Hybrid\n\n \nTemporary', 'Remote\n\n \nPart-time\n\n \nExecutive',
       'On-site\n\n \nInternship\n\n \nEntry level',
       'On-site\n\n \nVolunteer',
       'Remote\n\n \nFull-time\n\n \nExecutive',
       'On-site\n\n \nInternship\n\n \nInternship',
       'Remote\n\n \nVolunteer',
       'On-site\n\n \nPart-time\n\n \nEntry level', 'On-site',
       'Hybrid\n\n \nInternship',
       'Hybrid\n\n \nContract\n\n \nEntry level',
       'Full-time\n\n \nInternship',
       '$180/month - $250/month\n\n \nRemote\n\n \nFull-time', 'Hybrid',
       'Remote\n\n \nContract\n\n \nAssociate',
       'Remote\n\n \nTemporary\n\n \nEntry level',
       'On-site\n\n \nTemporary', 'Remote\n\n \nTemporary',
       'Full-time\n\n \nAssociate',
       'PKR1,200,000/yr - PKR1,800,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       '5,001-10,000 employees · IT Services and IT Consulting',
       'PKR1,200,000/yr - PKR2,400,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       'On-site\n\n \nContract\n\n \nExecutive',
       'PKR1,800,000/yr - PKR3,600,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nMid-Senior level',
       'MYR57,000/yr - MYR108,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nEntry level',
       '$1,500/month - $1,800/month\n\n \nRemote\n\n \nFull-time',
       '11-50 employees',
       '10,001+ employees · Food and Beverage Manufacturing',
       'PHP360,000/yr - PHP720,000/yr\n\n \nRemote\n\n \nPart-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nVolunteer', 'Remote\n\n \nMid-Senior level',
       '$500/month - $1,000/month\n\n \nHybrid\n\n \nContract',
       'Remote\n\n \nPart-time\n\n \nMid-Senior level',
       'PKR960,000/yr - PKR1,200,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       '$20,000/yr - $25,000/yr\n\n \nRemote\n\n \nContract\n\n \nEntry level',
       '$30,000/month - $60,000/month\n\n \nHybrid\n\n \nFull-time',
       'Remote\n\n \nPart-time\n\n \nDirector',
       'PKR960,000/yr - PKR1,200,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nContract\n\n \nInternship',
       'On-site\n\n \nPart-time\n\n \nMid-Senior level',
       'On-site\n\n \nTemporary\n\n \nEntry level',
       'Full-time\n\n \nDirector',
       'Hybrid\n\n \nInternship\n\n \nInternship',
       'Remote\n\n \nInternship\n\n \nInternship',
       'On-site\n\n \nExecutive',
       '$1,000/month - $2,500/month\n\n \nOn-site\n\n \nFull-time',
       '$36,000/yr - $60,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nEntry level',
       '$50,000/month - $70,000/month + Commission\n\n \nOn-site\n\n \nFull-time',
       'On-site\n\n \nInternship\n\n \nDirector',
       'Hybrid\n\n \nFull-time\n\n \nExecutive',
       '₹180,000/yr - ₹360,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nEntry level',
       'On-site\n\n \nTemporary\n\n \nInternship',
       '$12,000/yr - $18,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nMid-Senior level',
       'Contract\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nInternship',
       'On-site\n\n \nTemporary\n\n \nMid-Senior level',
       'Hybrid\n\n \nInternship\n\n \nMid-Senior level'], dtype=object)

In [27]:
len(df['Job Type'].unique())

129

In [28]:
df['employees']

0                                          11-50 employees
1                                          11-50 employees
2                                         51-200 employees
3                                          11-50 employees
4                      Mobeen Naqvi is hiring for this job
                               ...
27639                                       1-10 employees
27640                     5,001-10,000 employees · Banking
27641     51-200 employees · IT Services and IT Consulting
27642    201-500 employees · Outsourcing and Offshoring...
27643                                      11-50 employees
Name: employees, Length: 11737, dtype: object

In [29]:
df['employees'].unique()[:10]

array(['11-50 employees', '51-200 employees',
       'Mobeen Naqvi is hiring for this job',
       '1,001-5,000 employees · Software Development',
       '501-1,000 employees · IT Services and IT Consulting',
       '501-1,000 employees · Telecommunications',
       '1,001-5,000 employees · Banking', '201-500 employees',
       '10,001+ employees', '51-200 employees · Human Resources Services'],
      dtype=object)

In [30]:
len(df['employees'].unique())

975

### extracting company feature

In [31]:
df.loc[:,'company']=df['Job Info'].apply(lambda x:x.split('·')[0])

In [32]:
df['company'].unique()

array(['EcomFleet ', 'Digicon Valley ', 'Murkez Technologies ', ...,
       'EComia Global ', 'BUZZMAX.CA ', 'Codiea.io '], dtype=object)

In [33]:
len(df['company'].unique())

4435

In [34]:
df['company'].value_counts()

company
Crossover                                   848
Zameen.com                                  252
Turing                                      223
People (Professional Employers Pvt Ltd)     143
Zones IT Solutions                          116
                                           ...
Smart IT Solutions                            1
Al Falah Chemicals                            1
Office Automation Group                       1
Jana.Pk - Travel & Tour Services              1
Codiea.io                                     1
Name: count, Length: 4435, dtype: int64

In [35]:
df['company'].value_counts()[:30]

company
Crossover                                         848
Zameen.com                                        252
Turing                                            223
People (Professional Employers Pvt Ltd)           143
Zones IT Solutions                                116
Afiniti                                           104
Jazz                                              101
Times Consultant (Pvt.) Ltd.                       88
Daraz                                              79
Telenor                                            70
HR Ways - Hiring Tech Talent                       67
The Indus Hospital                                 66
CureMD                                             66
Motive                                             65
PTCL.Official                                      59
Kamayi                                             57
BAT                                                56
K-Electric                                         49
Dubizzle Labs                                      47
EY                                                 46
GSK                                                44
S&P Global                                         43
TCP Software                                       42
Careem                                             42
Contour Software                                   40
Talent Pal                                         39
Sui Southern Gas Company Limited                   38
Teradata                                           37
Mashreq                                            37
Human Resource Solutions International - HRSI      35
Name: count, dtype: int64

### extracting location

In [36]:
df.loc[:,'location_1']=df['Job Info'].apply(lambda x:x.split('·')[1].split()[0].strip(','))

In [37]:
df['location_1']

0          Pakistan
1            Lahore
2            Lahore
3         Islamabad
4            Lahore
            ...
27639    Bahawalpur
27640       Karāchi
27641     Islamabad
27642       Karachi
27643       Karachi
Name: location_1, Length: 11737, dtype: object

In [38]:
df['location_1'].unique()

array(['Pakistan', 'Lahore', 'Islamabad', 'Karāchi', 'Peshawar',
       'Islāmābād', 'Rawalpindi', 'Multan', 'Karachi', 'Hyderabad',
       'Mirpur', 'Kharian', 'Sindh', 'Faisalabad', 'Jhelum', 'Gujrāt',
       'Korangi', 'Bahawalpur', 'Gulshan', 'Gujranwala', 'Sukkur',
       'Punjab', 'Shekhūpura', 'Sargodha', 'Wazirabad', 'Mānsehra',
       'Sialkot', 'Chakwāl', 'Muzaffargarh', 'Nawabshah', 'Mardān',
       'Gujrat', 'Dera', 'Sāhīwāl', 'Jhang', 'Sahiwal', 'Quetta',
       'Vienna', 'Rahimyar', 'Milan', 'Lodhran', 'South', 'Zhob',
       'Jamshoro', 'Khyber', 'New', 'Rakhni', 'Taxila', 'APAC', 'Azad',
       'Toba', 'Thatta', 'Jarānwāla', 'Mīrpur', 'Larkana', 'Pasrur',
       'Sarai', 'Panjgur', 'Baloch', 'Attock', 'Rahim', 'Ratodero', 'APJ',
       'Chakwal', 'İzmir', 'Miān', 'Battagram', 'Harīpur', 'Naushahro',
       'Khuzdar', 'Kasur', 'Abbottabad', 'Malir', 'Vehari', 'Kahuta',
       'Badin', 'Thal', 'Landhi', 'Shikarpur', 'Bhakkar', 'Bahrain',
       'Metro', 'Kohāt', 'Okāra', 'Bahawalnagar', 'Shergarh', 'Chaman',
       'Bin', 'Sibi', 'Bagar', 'Kabirwala', 'Kasūr', 'Mehmood', 'Bahadar',
       'Fazilpur', 'Qasba', 'Mall', 'Kot', 'Haripur', 'Parkersburg',
       'Narowal', 'India', 'Ahmadpur', 'Naya', 'Muzaffarabad', 'Mandi',
       'Clifton', 'Okara', 'More', 'Dajal', 'Torwarsak', 'Jacobabad',
       'Haroonabad', 'Johar', 'Renala', 'Kampala', 'Mardan', 'Pakpattan',
       'Khānewāl', 'Pattoki', 'Khushāb', 'Mianwali', 'Hāsilpur',
       'Mingāora', 'Latifabad', 'MENA', 'Swabi', 'Gilgit-Baltistan',
       'Turkey', 'Dubai', 'Akora', 'Abbottābād', 'Hangu', 'Umarkot',
       'Khudian', 'Pak', 'Gurugram', 'Burewala', 'Banda', 'Skardu',
       'Kandhkot', 'Rajanpur', 'Tribal', 'Daharki', 'Talagang', 'Pindi',
       'Layyah', 'Sakrand', 'Sheikhupura'], dtype=object)

In [39]:
len(df['location_1'].unique())

149

In [40]:
df['location_1'].value_counts()

location_1
Lahore          3842
Karāchi         2274
Islamabad       1725
Pakistan         900
Karachi          790
                ...
Sibi               1
Bin                1
Shergarh           1
Bahawalnagar       1
Sheikhupura        1
Name: count, Length: 149, dtype: int64

In [41]:
df['location_1'].value_counts()[:30]

location_1
Lahore          3842
Karāchi         2274
Islamabad       1725
Pakistan         900
Karachi          790
Rawalpindi       551
Islāmābād        309
Faisalabad       202
Multan           124
Peshawar         105
Punjab            84
Hyderabad         69
Sialkot           60
APAC              51
Gujranwala        49
APJ               38
Quetta            37
New               34
Sindh             32
South             30
Bahawalpur        29
Muzaffargarh      28
Jhelum            22
Gujrāt            21
Sargodha          15
Sukkur            14
Rahim             13
Jamshoro          12
Umarkot           11
Sahiwal           11
Name: count, dtype: int64

In [42]:
df.loc[:,'location_2']=df['Job Info'].apply(lambda x:x.split('·')[1].split('(')[0])

In [43]:
df['location_2']

0                                                Pakistan
1                                Lahore, Punjab, Pakistan
2                                Lahore, Punjab, Pakistan
3                          Islamabad, Islāmābād, Pakistan
4                                Lahore, Punjab, Pakistan
                               ...
27639           Bahawalpur, Punjab, Pakistan  \n1 week ago
27640               Karāchi, Sindh, Pakistan  \n1 week ago
27641     Islamabad, Islāmābād, Pakistan  \n1 week ago\...
27642     Karachi Division, Sindh, Pakistan  \n1 week a...
27643      Karachi Division, Sindh, Pakistan  \n1 week ago
Name: location_2, Length: 11737, dtype: object

In [44]:
df['location_2'].unique()

array([' Pakistan ', ' Lahore, Punjab, Pakistan ',
       ' Islamabad, Islāmābād, Pakistan ', ...,
       ' Sakrand, Sindh, Pakistan  \n1 week ago\n\n ',
       ' Sheikhupura District, Punjab, Pakistan  \n1 week ago\n\n ',
       ' Islamabad, Punjab, Pakistan  \n2 weeks ago\n\n '], dtype=object)

In [45]:
len(df['location_2'].unique())

1163

In [46]:
df['location_2'].value_counts()

location_2
 Lahore, Punjab, Pakistan                                  1052
 Karāchi, Sindh, Pakistan                                   624
 Islamabad, Islāmābād, Pakistan                             518
 Lahore, Punjab, Pakistan  \n2 weeks ago                    326
 Karachi Division, Sindh, Pakistan                          242
                                                           ...
 Gulshan Town, Sindh, Pakistan  \n7 hours ago\n\n             1
 Korangi District, Sindh, Pakistan  \n10 hours ago\n\n        1
 Jhelum, Punjab, Pakistan  \n23 hours ago\n\n                 1
 Sāhīwāl, Punjab, Pakistan  \n9 hours ago\n\n                 1
 Islamabad, Punjab, Pakistan  \n2 weeks ago\n\n               1
Name: count, Length: 1163, dtype: int64

In [47]:
df['location_2'].value_counts()[:30]

location_2
 Lahore, Punjab, Pakistan                              1052
 Karāchi, Sindh, Pakistan                               624
 Islamabad, Islāmābād, Pakistan                         518
 Lahore, Punjab, Pakistan  \n2 weeks ago                326
 Karachi Division, Sindh, Pakistan                      242
 Pakistan                                               236
 Lahore, Punjab, Pakistan  \n2 weeks ago\n\n            199
 Lahore, Punjab, Pakistan  \n1 week ago                 194
 Lahore, Punjab, Pakistan  \n1 week ago\n\n             177
 Karāchi, Sindh, Pakistan  \n1 week ago\n\n             145
 Lahore, Punjab, Pakistan  \n1 month ago                138
 Karāchi, Sindh, Pakistan  \n2 weeks ago                138
 Rawalpindi, Punjab, Pakistan                           127
 Karāchi, Sindh, Pakistan  \n2 weeks ago\n\n            127
 Islamabad, Islāmābād, Pakistan  \n2 weeks ago\n\n      126
 Pakistan  \n2 weeks ago\n\n                            124
 Islamabad, Islāmābād, Pakistan  \n2 weeks ago          113
 Karāchi, Sindh, Pakistan  \n1 week ago                 112
 Lahore, Punjab, Pakistan  \n3 days ago\n\n              98
 Karāchi, Sindh, Pakistan  \n3 days ago\n\n              94
 Islāmābād, Pakistan                                     90
 Lahore, Punjab, Pakistan Reposted  \n1 week ago         90
 Islamabad, Islāmābād, Pakistan  \n1 week ago\n\n        90
 Lahore, Punjab, Pakistan  \n2 days ago\n\n              89
 Lahore, Punjab, Pakistan  \n5 days ago\n\n              85
 Lahore District, Punjab, Pakistan                       83
 Karāchi, Sindh, Pakistan  \n1 month ago                 81
 Lahore, Punjab, Pakistan  \n1 day ago\n\n               79
 Islamabad, Islāmābād, Pakistan  \n1 week ago            76
 Lahore, Punjab, Pakistan  \n3 days ago                  73
Name: count, dtype: int64

### extracting remote/onsite

In [48]:
remote_onsite_list=[]
for info in df['Job Info']:
    try:
        remote_onsite_list.append(info.split('·')[1].split('(')[1].split(')')[0])
    except IndexError:
        remote_onsite_list.append('Not specified')

In [49]:
len(remote_onsite_list)

11737

In [50]:
df.loc[:,'Remote/Onsite']=remote_onsite_list

In [51]:
df['Remote/Onsite']

0               Remote
1              On-site
2              On-site
3               Hybrid
4              On-site
             ...
27639    Not specified
27640    Not specified
27641    Not specified
27642    Not specified
27643    Not specified
Name: Remote/Onsite, Length: 11737, dtype: object

In [52]:
df['Remote/Onsite'].unique()

array(['Remote', 'On-site', 'Hybrid', 'Not specified'], dtype=object)

In [53]:
df['Remote/Onsite'].value_counts()

Remote/Onsite
Not specified    8396
On-site          2616
Remote            525
Hybrid            200
Name: count, dtype: int64

### extarctig number of applicants feature

In [54]:
n_applicant_list=[]
for info in df['Job Info']:
    try:
        n_applicant_list.append(info.split('·')[2].strip(' applicants'))
    except IndexError:
        n_applicant_list.append(np.nan)

In [55]:
n_applicant_list[:10]

[nan, nan, nan, '51', '51', nan, nan, nan, '312', '2,048']

In [56]:
df.loc[:,'n_applicant']=n_applicant_list

In [57]:
df['n_applicant'].unique()

array([nan, '51', '312', '2,048', '30', '3,159', '41', '3,008', '120',
       '685', '50', '28', '24', '734', '9', '112', '42', '10', '89', '48',
       '19', '732', '338', '18', '154', '472', '110', '32', '16', '448',
       '239', '933', '255', '15', '177', '33', '323', '207', '22', '21',
       '49', '591', '45', '29', '231', '337', '249', '123', '40', '192',
       '157', '1,386', '36', '1,186', '17', '76', '61', '38', '20', '12',
       '115', '73', '46', '315', '90', '67', '27', '23', '13', '172',
       '778', '96', '58', '216', '43', '204', '247', '380', '39', '1,768',
       '11', '310', '34', '108', '162', '853', '986', '215', '14', '94',
       '92', '168', '911', '53', '420', '31', '72', '44', '59', '132',
       '289', '35', '52', '1,379', '158', '260', '54', '250', '332',
       '649', '1,385', '153', '37', '83', '370', '287', '57', '339', '47',
       '208', '121', '56', '98', '68', '254', '259', '138', '305', '186',
       '197', '84', '795', '63', '79', '757', '166', '662', '100', '109',
       '285', '60', '127', '364', '74', '199', '198', '212', '328', '122',
       '252', '264', '502', '237', '376', '903', '146', '298', '505',
       '985', '342', '516', '1,213', '362', '1,344', '256', '189', '143',
       '88', '131', '531', '25', '149', '26', '316', '141', '99', '184',
       '113', '97', '170', '6', '480', '133', '309', '77', '429', '62',
       '4', '55', '202', '521', '925', '135', '304', '164', '1,391',
       '862', '229', '628', '200', '151', '176', '468', '71', '66',
       '1,650', '394', '1,015', '458', '181', '611', '749', '335', '904',
       '377', '3,400', '604', '372', '180', '693', '1,577', '144', '171',
       '926', '1,968', '834', '104', '69', '148', '479', '293', '95',
       '1,159', '190', '1,034', '75', '86', '898', '130', '270', '852',
       '136', '432', '441', '402', '2,420', '346', '827', '438', '134',
       '1,319', '495', '396', '560', '114', '81', '283', '804', '185',
       '253', '117', '344', '295', '1,296', '557', '175', '242', '811',
       '868', '880', '822', '526', '214', '532', '681', '2,142', '87',
       '535', '744', '371', '413', '928', '573', '187', '201', '322',
       '244', '78', '409', '307', '227', '424', '213', '930', '225',
       '2,943', '399', '245', '830', '267', '1,708', '779', '165', '291',
       '65', '2,701', '496', '105', '358', '793', '137', '106', '246',
       '467', '243', '1,415', '248', '7', '389', '541', '351', '345',
       '507', '107', '347', '336', '369', '561', '475', '326', '640',
       '174', '536', '860', '139', '821', '682', '545', '85', '465',
       '803', '203', '455', '268', '265', '217', '8', '1,574', '542',
       '1,704', '513', '1,177', '452', '1,750', '577', '147', '428',
       '1,649', '152', '469', '427', '837', '592', '522', '191', '464',
       '80', '159', '233', '430', '103', '142', '5,401', '664', '1,167',
       '182', '3', '400', '70', '773', '284', '124', '205', '64', '262',
       '263', '555', '1,857', '266', '321', '597', '318', '221', '195',
       '288', '1,674', '93', '223', '481', '408', '1,132', '363', '477',
       '854', '419', '240', '129', '552', '921', '723', '5,203', '145',
       '666', '116', '194', '711', '589', '118', '546', '258', '188',
       '679', '303', '387', '125', '218', '102', '651', '82', '1,064',
       '431', '406', '425', '234', '1,632', '381', '294', '721', '155',
       '638', '220', '391', '126', '156', '1,657', '998', '1,195', '478',
       '319', '257', '403', '224', '357', '119', '942', '5', '167', '379',
       '111', '740', '330', '2,895', '210', '463', '281', '1,023', '301',
       '1,381', '1,148', '661', '617', '1,556', '286', '603', '850',
       '1,080', '1,356', '196', '992', '1,457', '1,917', '361', '1,514',
       '667', '206', '529', '558', '91', '101', '163', '588', '1,450',
       '1,588', '140', '609', '500', '1', '193', '1,042', '275', '768',
       '128', '395', '1,013', '340', '474', '423', '551', '484', '490',
       '367', '272', '290', '278', '366', '671', '791', '375', '2', '235',
       '1,882', '1,579', '581', '1,225', '1,066', '895', '669', '1,239',
       '219', '678', '674', '1,824', '160', '1,840', '1,516', '179',
       '543', '990', '462', '299', '639', '619', '355', '567', '161',
       '701', '1,848', '445', '398', '276', '3,098', '282', '308', '426',
       '251', '586', '211', '269', '585', '553', '799', '228', '470',
       '331', '230', '238', '489', '292', '365', '1,767', '620', '1,179',
       '327', '302', '482', '1,897', '405', '422', '183', '962', '514',
       '236', '3,052', '353', '418', '493', '1,405', '629', '648',
       '2,264', '434', '2,163', '306', '280', '719', '226', '277', '487',
       '241', '1,438', '762', '716', '169', '820', '1,269', '388', '646',
       '1,108', '359', '354', '150', '1,456', '1,267', '1,566', '410',
       '491', '414', '550', '333', '325', '1,138', '350', '554', '348',
       '356', '580', '222', '440', '390', '0', '945', '314', '2,046',
       '1,365', '360', '705', '2,920', '392', '2,177', '751', '279',
       '261', '809', '777', '417', '442', '343', '300', '232', '499',
       '892', '802', '407', '623', '595', '178', '845', '1,502', '2,368',
       '525', '632', '999', '508', '859', '273', '660', '1,286', '433',
       '1,087', '1,820', '1,284', '548', '393', '961', '1,120', '1,075',
       '540', 'Over 200', '313', '1,079', '411', '512', '831', '401',
       '559', '1,441', '657', '311', '439', '817', '727', '447', '497',
       '790', '659', '1,311', '404', '1,477', '584', '568', '334', '569',
       '534', '621', '1,497', '590', '645', '635', '320', '801', '1,016',
       '520', '368', '556', '786', '2,052', '863', '750', '527', '647',
       '605', '706', '1,252', '951', '697', '720', '449', '374', '1,224',
       '993', '173', '473', '435', '733', '1,215', '699', '1,426', '454',
       '1,050', '753', '690', '713', '1,037', '888', '443', '607',
       '1,059', '451', '373', '415', '562', '1,039', '1,886', '450',
       '918', '504'], dtype=object)

In [58]:
len(df['n_applicant'].unique())

756

In [59]:
df['n_applicant'].value_counts()[:30]

n_applicant
51          287
Over 200    271
11          194
13          140
10          135
12          132
0           129
15          122
14          121
18          108
17          107
19          103
1           101
16           98
9            94
3            93
21           90
7            89
8            89
2            85
4            83
6            82
20           79
5            78
23           68
24           67
25           67
32           66
26           61
22           59
Name: count, dtype: int64

### Extracting job posting time feature

In [60]:
df.loc[:,'job posting time']=df['Job Info'].apply(lambda x:x.split('\n')[1])
df['job posting time']

0         1 week ago
1        2 weeks ago
2         1 week ago
3         1 week ago
4         1 week ago
            ...
27639     1 week ago
27640     1 week ago
27641     1 week ago
27642     1 week ago
27643     1 week ago
Name: job posting time, Length: 11737, dtype: object

In [61]:
df['job posting time'].unique()

array(['1 week ago', '2 weeks ago', '1 day ago', '6 days ago',
       '5 days ago', '11 hours ago', '3 days ago', '3 hours ago',
       '4 days ago', '13 minutes ago', '14 minutes ago', '5 hours ago',
       '10 hours ago', '9 hours ago', '2 days ago', '13 hours ago',
       '18 hours ago', '7 hours ago', '4 hours ago', '3 weeks ago',
       '2 hours ago', '12 hours ago', '6 hours ago', '14 hours ago',
       '1 hour ago', '22 hours ago', '8 hours ago', '23 hours ago',
       '15 hours ago', '20 hours ago', '19 hours ago', '16 hours ago',
       '17 hours ago', '21 hours ago', '17 minutes ago', '48 minutes ago',
       '23 minutes ago', '49 minutes ago', '37 minutes ago',
       '42 minutes ago', '36 minutes ago', '44 minutes ago',
       '55 minutes ago', '32 minutes ago', '58 minutes ago',
       '3 minutes ago', '1 month ago', '4 weeks ago',
       'https://anitechnologies.net/ · Islamabad, Islāmābād, Pakistan Reposted  '],
      dtype=object)

In [62]:
df['job posting time'].value_counts()[:10]

job posting time
1 week ago     3578
2 weeks ago    2243
5 days ago      854
6 days ago      743
3 days ago      664
1 day ago       528
1 month ago     495
4 days ago      491
2 days ago      474
3 weeks ago     319
Name: count, dtype: int64

### Feature Eng on Job Type feature

In [63]:
df['Job Type'].unique()

array(['Full-time', 'Full-time · Mid-Senior level',
       'Internship · Internship', 'Full-time · Associate', 'Internship',
       'Full-time · Entry level', 'Part-time', 'Full-time · Internship',
       'Contract · Mid-Senior level', 'Contract', 'Contract · Associate',
       '$150/month - $300/month · Full-time', 'Full-time · Director',
       'Part-time · Associate', 'Mr Ahsan is hiring for this job',
       'Part-time · Executive', 'Contract · Executive',
       'Part-time · Mid-Senior level', 'Contract · Entry level',
       'Temporary · Mid-Senior level', 'Executive',
       'Full-time · Executive', 'Sean Sato is hiring for this job',
       'Part-time · Internship', 'Internship · Mid-Senior level',
       '$12,000/yr - $15,000/yr · Full-time · Mid-Senior level',
       '$200,000/yr · Full-time', 'Part-time · Entry level',
       'dr.ry. L. is hiring for this job',
       '10,001+ employees · Tobacco Manufacturing', 'Volunteer',
       'On-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nFull-time\n\n \nMid-Senior level',
       'Remote\n\n \nFull-time\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nFull-time',
       'Hybrid\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nDirector', 'Remote\n\n \nFull-time',
       'On-site\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nAssociate',
       'Full-time\n\n \nMid-Senior level', 'On-site\n\n \nPart-time',
       'Hybrid\n\n \nFull-time',
       'Remote\n\n \nContract\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nExecutive',
       'Remote\n\n \nFull-time\n\n \nEntry level',
       'Remote\n\n \nInternship', 'On-site\n\n \nInternship',
       'On-site\n\n \nContract\n\n \nMid-Senior level',
       'Remote\n\n \nContract', 'Remote\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nContract\n\n \nEntry level',
       'On-site\n\n \nFull-time\n\n \nInternship',
       'Remote\n\n \nPart-time\n\n \nAssociate', 'Remote\n\n \nPart-time',
       'Remote\n\n \nContract\n\n \nEntry level',
       'On-site\n\n \nContract\n\n \nAssociate',
       'Full-time\n\n \nEntry level', 'Hybrid\n\n \nContract',
       'Remote\n\n \nFull-time\n\n \nDirector', 'Hybrid\n\n \nPart-time',
       'On-site\n\n \nContract',
       'PKR600,000/yr - PKR660,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       'Remote', 'Contract\n\n \nMid-Senior level',
       'On-site\n\n \nContract\n\n \nInternship',
       'Full-time\n\n \nExecutive',
       'Remote\n\n \nInternship\n\n \nMid-Senior level',
       'Hybrid\n\n \nContract\n\n \nMid-Senior level',
       'Remote\n\n \nPart-time\n\n \nEntry level',
       'Hybrid\n\n \nTemporary', 'Remote\n\n \nPart-time\n\n \nExecutive',
       'On-site\n\n \nInternship\n\n \nEntry level',
       'On-site\n\n \nVolunteer',
       'Remote\n\n \nFull-time\n\n \nExecutive',
       'On-site\n\n \nInternship\n\n \nInternship',
       'Remote\n\n \nVolunteer',
       'On-site\n\n \nPart-time\n\n \nEntry level', 'On-site',
       'Hybrid\n\n \nInternship',
       'Hybrid\n\n \nContract\n\n \nEntry level',
       'Full-time\n\n \nInternship',
       '$180/month - $250/month\n\n \nRemote\n\n \nFull-time', 'Hybrid',
       'Remote\n\n \nContract\n\n \nAssociate',
       'Remote\n\n \nTemporary\n\n \nEntry level',
       'On-site\n\n \nTemporary', 'Remote\n\n \nTemporary',
       'Full-time\n\n \nAssociate',
       'PKR1,200,000/yr - PKR1,800,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       '5,001-10,000 employees · IT Services and IT Consulting',
       'PKR1,200,000/yr - PKR2,400,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       'On-site\n\n \nContract\n\n \nExecutive',
       'PKR1,800,000/yr - PKR3,600,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nMid-Senior level',
       'MYR57,000/yr - MYR108,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nEntry level',
       '$1,500/month - $1,800/month\n\n \nRemote\n\n \nFull-time',
       '11-50 employees',
       '10,001+ employees · Food and Beverage Manufacturing',
       'PHP360,000/yr - PHP720,000/yr\n\n \nRemote\n\n \nPart-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nVolunteer', 'Remote\n\n \nMid-Senior level',
       '$500/month - $1,000/month\n\n \nHybrid\n\n \nContract',
       'Remote\n\n \nPart-time\n\n \nMid-Senior level',
       'PKR960,000/yr - PKR1,200,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       '$20,000/yr - $25,000/yr\n\n \nRemote\n\n \nContract\n\n \nEntry level',
       '$30,000/month - $60,000/month\n\n \nHybrid\n\n \nFull-time',
       'Remote\n\n \nPart-time\n\n \nDirector',
       'PKR960,000/yr - PKR1,200,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nContract\n\n \nInternship',
       'On-site\n\n \nPart-time\n\n \nMid-Senior level',
       'On-site\n\n \nTemporary\n\n \nEntry level',
       'Full-time\n\n \nDirector',
       'Hybrid\n\n \nInternship\n\n \nInternship',
       'Remote\n\n \nInternship\n\n \nInternship',
       'On-site\n\n \nExecutive',
       '$1,000/month - $2,500/month\n\n \nOn-site\n\n \nFull-time',
       '$36,000/yr - $60,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nEntry level',
       '$50,000/month - $70,000/month + Commission\n\n \nOn-site\n\n \nFull-time',
       'On-site\n\n \nInternship\n\n \nDirector',
       'Hybrid\n\n \nFull-time\n\n \nExecutive',
       '₹180,000/yr - ₹360,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nEntry level',
       'On-site\n\n \nTemporary\n\n \nInternship',
       '$12,000/yr - $18,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nMid-Senior level',
       'Contract\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nInternship',
       'On-site\n\n \nTemporary\n\n \nMid-Senior level',
       'Hybrid\n\n \nInternship\n\n \nMid-Senior level'], dtype=object)

In [64]:
len(df['Job Type'].unique())

129

## understanding options according to linkedin
****

### These are job Job type options on linkedin:
Full-time,
Part-time,
Contract,
Temporary,
Volunteer,
Internship,
Other
### These are Experience level options on linkedin:
Internship,
Entry level,
Associate,
Mid-Senior level,
Director,
Executive
### These are On-site/remote options on linkedin:
On-site,
Remote,
Hybrid

***

### counting number of elements in job type column

In [65]:
Job_Type_nElements=[]
for cell in df['Job Type']:
    if '·' in cell:
        nElements=len(cell.split('·'))
        Job_Type_nElements.append(nElements)
    elif '\n\n \n' in cell:
        nElements=len(cell.split('\n\n \n'))
        Job_Type_nElements.append(nElements)
    else:
        nElements=len(cell.split())
        Job_Type_nElements.append(nElements)

In [66]:
set(Job_Type_nElements)

{1, 2, 3, 4, 7}

In [67]:
df.loc[:,'Job Type nElements']=Job_Type_nElements

In [68]:
df['Job Type nElements'].value_counts()

Job Type nElements
2    5693
3    3633
1    2395
4      13
7       3
Name: count, dtype: int64

### extarcting Job type

In [69]:
Job_type_options=['Internship','Full-time','Part-time','Contract','Temporary','Volunteer','Other']
Job_type_options
# len(Job_type_options)
# 'Internship' placed at first due to avoid collision in experience level

['Internship',
 'Full-time',
 'Part-time',
 'Contract',
 'Temporary',
 'Volunteer',
 'Other']

In [70]:
Job_Type_list=[]
for i in range(len(df['Job Type'].iloc[:])):
    job_type=None
    flag=0
    for keyword in Job_type_options:
        if keyword in df['Job Type'].iloc[i]:
            job_type=keyword
            flag=1
            # break
        else:
            pass
            # flag=0
    if flag==1:
        Job_Type_list.append(job_type)
    else:
        Job_Type_list.append('Not specified')

Job_Type_list
len(Job_Type_list)

11737

In [71]:
set(Job_Type_list)

{'Contract',
 'Full-time',
 'Internship',
 'Not specified',
 'Part-time',
 'Temporary',
 'Volunteer'}

In [72]:
df.loc[:,'Job-Type']=Job_Type_list

In [73]:
df['Job-Type'].unique()

array(['Full-time', 'Internship', 'Part-time', 'Contract',
       'Not specified', 'Temporary', 'Volunteer'], dtype=object)

In [74]:
len(df['Job-Type'].unique())

7

In [75]:
df['Job-Type'].value_counts()

Job-Type
Full-time        11073
Contract           277
Part-time          211
Internship         128
Not specified       25
Temporary           18
Volunteer            5
Name: count, dtype: int64

### extarcting Experience level from df['Job Type']

In [76]:
Experience_level_options=['Internship','Entry level','Associate','Mid-Senior level','Director','Executive']
Experience_level_options
# len(Experience_level_options)

['Internship',
 'Entry level',
 'Associate',
 'Mid-Senior level',
 'Director',
 'Executive']

In [77]:
Job_Type_list=[]
for i in range(len(df['Job Type'].iloc[:])):
    job_type=None
    flag=0
    for keyword in Experience_level_options:
        if keyword in df['Job Type'].iloc[i]:
            job_type=keyword
            flag=1
            # break
        else:
            pass
            # flag=0
    if flag==1:
        Job_Type_list.append(job_type)
    else:
        Job_Type_list.append('Not specified')

Job_Type_list
len(Job_Type_list)

11737

In [78]:
df.loc[:,'Experience Level']=Job_Type_list

In [79]:
df['Experience Level'].unique()

array(['Not specified', 'Mid-Senior level', 'Internship', 'Associate',
       'Entry level', 'Director', 'Executive'], dtype=object)

In [80]:
len(df['Experience Level'].unique())

7

In [81]:
df['Experience Level'].value_counts()

Experience Level
Not specified       6682
Mid-Senior level    2740
Entry level         1153
Associate            696
Director             212
Internship           152
Executive            102
Name: count, dtype: int64

### extracting On-site/remote from Job Type feature

In [82]:
On_site_remote_options=['On-site','Remote','Hybrid']
On_site_remote_options
# len(On_site_remote_options)

['On-site', 'Remote', 'Hybrid']

In [83]:
Job_Type_list=[]
for i in range(len(df['Job Type'].iloc[:])):
    job_type=None
    flag=0
    for keyword in On_site_remote_options:
        if keyword in df['Job Type'].iloc[i]:
            job_type=keyword
            flag=1
            # break
        else:
            pass
            # flag=0
    if flag==1:
        Job_Type_list.append(job_type)
    else:
        Job_Type_list.append('Not specified')

Job_Type_list
len(Job_Type_list)

11737

In [84]:
df.loc[:,'Remote/Onsite-2']=Job_Type_list

In [85]:
df['Remote/Onsite-2'].unique()

array(['Not specified', 'On-site', 'Hybrid', 'Remote'], dtype=object)

In [86]:
df['Remote/Onsite-2'].value_counts()

Remote/Onsite-2
On-site          5720
Not specified    3741
Remote           1725
Hybrid            551
Name: count, dtype: int64

#### how many are specified in Remote/Onsite-2

In [87]:
df['Remote/Onsite-2'].value_counts()['Not specified']
len(df)-df['Remote/Onsite-2'].value_counts()['Not specified']

7996

#### how many are specified in Remote/Onsite

In [88]:
df['Remote/Onsite'].value_counts()

Remote/Onsite
Not specified    8396
On-site          2616
Remote            525
Hybrid            200
Name: count, dtype: int64

In [89]:
len(df)-df['Remote/Onsite'].value_counts()['Not specified']

3341

#### total Remote/Onsite-2 specified jobs

In [90]:
len(df)-df['Remote/Onsite-2'].value_counts()['Not specified']+len(df)-df['Remote/Onsite'].value_counts()['Not specified']
# 7996+3341

11337

In [91]:
len(df)-11337

400

***So there are 400 jobs having missing or Not specified Remote/Onsite values***
***

### merging Remote/Onsite and Remote/Onsite-2

***
#### boolean indexing
working

In [92]:
condition = (df['Remote/Onsite'] == 'Not specified') & (df['Remote/Onsite-2'].isin(On_site_remote_options))
df.loc[condition, 'Remote/Onsite'] = df.loc[condition, 'Remote/Onsite-2']

In [93]:
df['Remote/Onsite'].value_counts()

Remote/Onsite
On-site          8336
Remote           2250
Hybrid            751
Not specified     400
Name: count, dtype: int64

#### drop Remote/Onsite-2

In [94]:
df.drop(columns=['Remote/Onsite-2'], inplace=True)

#### working on employees feature , Extracting no of employees and industry feature from employees feature

In [95]:
df['employees'].unique()[:10]

array(['11-50 employees', '51-200 employees',
       'Mobeen Naqvi is hiring for this job',
       '1,001-5,000 employees · Software Development',
       '501-1,000 employees · IT Services and IT Consulting',
       '501-1,000 employees · Telecommunications',
       '1,001-5,000 employees · Banking', '201-500 employees',
       '10,001+ employees', '51-200 employees · Human Resources Services'],
      dtype=object)

In [96]:
inconsistent_values_in_employees_feature = ['is hiring for this job', 
                                            'See how you compare', 
                                            'Job poster joined LinkedIn',
                                           'school alum works here',
                                            'alumni work here',
                                            'See recent hiring trends'
                                           ]

In [97]:
L1=[] #for employees 
L2=[] #for industry
for feature_element in df['employees'].iloc[:]:
    flag=0
    for value in inconsistent_values_in_employees_feature:
        if value in feature_element:
            flag=1
            
    if flag==1:
        L1.append('Not specified')
        L2.append('Not specified')
    else:
        if len(feature_element.split('·'))==1:
            L1.append(feature_element)
            L2.append('Not specified')
        elif len(feature_element.split('·'))==2:
            L1.append(feature_element.split('·')[0])
            L2.append(feature_element.split('·')[1])
        else:
            L1.append('Other')
            L2.append('Other')

In [98]:
len(L1)

11737

In [99]:
len(L2)

11737

In [100]:
df.loc[:,'Comp_N_Employees']=L1

In [101]:
df.loc[:,'Comp_Industry']=L2

In [102]:
df['Comp_N_Employees'].unique()

array(['11-50 employees', '51-200 employees', 'Not specified',
       '1,001-5,000 employees ', '501-1,000 employees ',
       '201-500 employees', '10,001+ employees', '51-200 employees ',
       '501-1,000 employees', '1,001-5,000 employees', '1-10 employees ',
       '10,001+ employees ', '1-10 employees', '5,001-10,000 employees',
       '201-500 employees ', '5,001-10,000 employees ',
       '11-50 employees ', '1 company alum works here',
       'Industrial Automation'], dtype=object)

In [103]:
len(df['Comp_N_Employees'].unique())

19

In [104]:
df['Comp_N_Employees'].value_counts()

Comp_N_Employees
11-50 employees              2258
5,001-10,000 employees       1481
51-200 employees             1407
1,001-5,000 employees        1228
10,001+ employees            1133
Not specified                 946
1-10 employees                674
201-500 employees             596
51-200 employees              464
201-500 employees             346
501-1,000 employees           340
11-50 employees               273
501-1,000 employees           189
1,001-5,000 employees         165
1-10 employees                126
5,001-10,000 employees         60
10,001+ employees              49
1 company alum works here       1
Industrial Automation           1
Name: count, dtype: int64

In [105]:
df['Comp_Industry'].unique()

array(['Not specified', ' Software Development',
       ' IT Services and IT Consulting', ' Telecommunications',
       ' Banking', ' Human Resources Services',
       ' Technology, Information and Internet',
       ' Retail Apparel and Fashion', ' International Affairs',
       ' Higher Education', ' Information Technology & Services',
       ' Financial Services', ' Packaging and Containers Manufacturing',
       ' Executive Offices', ' Food and Beverage Manufacturing',
       ' Food and Beverage Services', ' Tobacco Manufacturing',
       ' Business Consulting and Services', ' Entertainment Providers',
       ' Wholesale Building Materials',
       ' Outsourcing and Offshoring Consulting',
       ' Pharmaceutical Manufacturing', ' Motor Vehicle Manufacturing',
       ' Non-profit Organizations', ' Research Services',
       ' Advertising Services', ' Beverage Manufacturing',
       ' Outsourcing/Offshoring', ' Hospitals and Health Care',
       ' Farming', ' Oil and Gas', ' Real Estate',
       ' Professional Services', ' Automation Machinery Manufacturing',
       ' Book and Periodical Publishing',
       ' Computer and Network Security', ' Information Services',
       ' Education', ' International Trade and Development',
       ' Staffing and Recruiting',
       ' Transportation, Logistics, Supply Chain and Storage',
       ' Human Resources', ' Medical Practices', ' Manufacturing',
       ' Paper and Forest Product Manufacturing',
       ' Non-profit Organization Management',
       ' Internet Marketplace Platforms',
       ' Personal Care Product Manufacturing', ' Retail',
       ' Biotechnology Research', ' Consumer Services', ' Consumer Goods',
       ' Media Production', ' Accounting',
       ' Translation and Localization', ' Events Services',
       ' Retail Luxury Goods and Jewelry', ' Apparel & Fashion',
       ' Automotive', ' Chemical Manufacturing', ' Think Tanks',
       ' Public Safety', ' IT System Custom Software Development',
       ' Food Production', ' Strategic Management Services',
       ' Airlines and Aviation', ' Holding Companies',
       ' Facilities Services', ' Leisure, Travel & Tourism',
       ' Design Services', ' Education Administration Programs',
       ' Blockchain Services',
       ' Renewable Energy Semiconductor Manufacturing',
       ' Marketing Services', ' Electric Power Generation',
       ' Aviation and Aerospace Component Manufacturing',
       ' Renewable Energy Equipment Manufacturing',
       ' Education Management', ' Wholesale', ' Utilities',
       ' Industrial Machinery Manufacturing', ' Furniture',
       ' Engineering Services', ' Medical Equipment Manufacturing',
       ' Semiconductor Manufacturing',
       ' Technology, Information and Media', ' Packaging & Containers',
       ' Online Audio and Video Media', ' Architecture and Planning',
       ' Civic and Social Organizations', ' E-Learning Providers',
       ' Research', ' Professional Training and Coaching',
       ' Writing and Editing', ' Investment Advice',
       ' Appliances, Electrical, and Electronics Manufacturing',
       ' Internet Publishing', ' Primary and Secondary Education',
       ' Civil Engineering', ' Investment Management', ' Mining',
       ' Wellness and Fitness Services', ' Retail Office Equipment',
       ' Construction', ' Music',
       ' Electric Power Transmission, Control, and Distribution',
       ' Textile Manufacturing', ' Wholesale Import and Export',
       ' Environmental Services', ' Maritime Transportation',
       ' Retail Furniture and Home Furnishings', ' Computer Games'],
      dtype=object)

In [106]:
len(df['Comp_Industry'].unique())

112

In [107]:
df['Comp_Industry'].value_counts()

Comp_Industry
Not specified                                6346
 IT Services and IT Consulting               1758
 Software Development                         612
 Telecommunications                           310
 Real Estate                                  290
                                             ...
 Renewable Energy Equipment Manufacturing       1
 Writing and Editing                            1
 Furniture                                      1
 Research                                       1
 Retail Luxury Goods and Jewelry                1
Name: count, Length: 112, dtype: int64

In [108]:
df.columns

Index(['Job Title', 'Job Info', 'Job Type', 'Job Link_x', 'employees',
       'Job ID', 'Job Link_y', 'Job Desception', 'Company Info', 'company',
       'location_1', 'location_2', 'Remote/Onsite', 'n_applicant',
       'job posting time', 'Job Type nElements', 'Job-Type',
       'Experience Level', 'Comp_N_Employees', 'Comp_Industry'],
      dtype='object')

### saving File

In [109]:
len(df)

11737

In [110]:
len(df.columns)

20

In [111]:
folder_name='Feature Eng processed Files/'

In [112]:
File_name='Linkedin_Job_Details_and_Descriptions_26-Sep-2023-to-26-Nov-2023'+f'{len(df)}-jobs_{len(df.columns)}-features_685-pages_Feature-Eng-processed_v5.csv'
File_name

'Linkedin_Job_Details_and_Descriptions_26-Sep-2023-to-26-Nov-202311737-jobs_20-features_685-pages_Feature-Eng-processed_v5.csv'

In [113]:
saving_path=folder_name+File_name

In [114]:
# df.to_csv(saving_path,index=False)