In [2]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [3]:
path='Weekly Files Concatenated/Linkedin_Job_Details_26-Sep-2023-to-09-Oct-2023_4214-jobs_181-pages.csv'

In [4]:
df=pd.read_csv(path)

In [5]:
df

,Job Title,Job Info,Job Type,Job Link,employees
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job
...,...,...,...,...,...
4209,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees"
4210,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development"
4211,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting
4212,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ..."
4213,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting

### checking duplicates

In [6]:
len(df)

4214

In [7]:
df['Job ID']=df['Job Link'].apply(lambda x:int(x.split('/')[5]))

In [8]:
len(df['Job ID'].unique())

3623

In [9]:
len(df)-len(df['Job ID'].unique())

591

In [10]:
df['Job ID'].value_counts()

Job ID
3720211981    9
3723015510    7
3723013969    6
3723015541    6
3723016496    6
             ..
3727586074    1
3725569364    1
3727905143    1
3708061712    1
3731006178    1
Name: count, Length: 3623, dtype: int64

In [11]:
df['Job ID'].value_counts().unique()

array([9, 7, 6, 5, 4, 3, 2, 1], dtype=int64)

In [12]:
duplicates_count=df.duplicated(subset=['Job ID']).sum()
duplicates_count

591

In [13]:
duplicates = df['Job ID'].duplicated()
df[duplicates]

,Job Title,Job Info,Job Type,Job Link,employees,Job ID
603,Odoo Developer,"AKSiQ · Karachi Division, Sindh, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3727054738,11-50 employees,3727054738
781,Assistant Manager Sales/Sales Executive,"Eastern Housing Pakistan · Multan, Punjab, Pak...",Full-time,https://www.linkedin.com/jobs/view/3727057147,201-500 employees,3727057147
834,Back-End Network Engineer,Turing · Pakistan (Remote) Reposted \n2 weeks...,Full-time · Entry level,https://www.linkedin.com/jobs/view/3726337380,"1,001-5,000 employees · IT Services and IT Con...",3726337380
840,Release Management Engineer,"AIIT Solutions · Rawalpindi, Punjab, Pakistan ...",Full-time,https://www.linkedin.com/jobs/view/3727054443,11-50 employees,3727054443
842,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3727051751,NaN,3727051751
...,...,...,...,...,...,...
4170,"Software Engineer with AI Tooling Expertise, S...","Crossover · Islamabad, Islāmābād, Pakistan Re...",Remote\n\n \nFull-time\n\n \nDirector,https://www.linkedin.com/jobs/view/3727370490,"5,001-10,000 employees · IT Services and IT Co...",3727370490
4180,"Software Engineer with AI Tooling Expertise, S...","Crossover · Karāchi, Sindh, Pakistan Reposted...",Remote\n\n \nFull-time\n\n \nDirector,https://www.linkedin.com/jobs/view/3727370416,"5,001-10,000 employees · IT Services and IT Co...",3727370416
4181,"Technical Team Lead, Trilogy (Remote) - $100,0...","Crossover · Rawalpindi, Punjab, Pakistan Repo...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3727367888,"5,001-10,000 employees · IT Services and IT Co...",3727367888
4204,"Principal Software Engineer, GFI Software (Rem...","Crossover · Rawalpindi, Punjab, Pakistan Repo...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3723017385,"5,001-10,000 employees · IT Services and IT Co...",3723017385
4205,"Senior Software Architect, Trilogy (Remote) - ...","Crossover · Rakhni, Baluchistan, Pakistan Rep...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3723021010,"5,001-10,000 employees · IT Services and IT Co...",3723021010

### drop duplicates

In [14]:
df = df.drop_duplicates(subset=['Job ID'])

In [15]:
df.shape

(3623, 6)

In [16]:
4214-591

3623

### checking null values

In [17]:
df.isnull().sum()

Job Title    52
Job Info     52
Job Type     52
Job Link      0
employees    52
Job ID        0
dtype: int64

In [18]:
null_rows = df[df.isnull().any(axis=1)]
null_rows

,Job Title,Job Info,Job Type,Job Link,employees,Job ID
110,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3716079439,NaN,3716079439
125,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728144603,NaN,3728144603
417,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728021212/...,NaN,3728021212
420,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3727051751/...,NaN,3727051751
456,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3726689376/...,NaN,3726689376
874,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3727538965,NaN,3727538965
981,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728223830,NaN,3728223830
1140,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728228637,NaN,3728228637
1187,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728222119,NaN,3728222119
1251,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728820515,NaN,3728820515
1257,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728821371,NaN,3728821371
1290,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728816833,NaN,3728816833
1401,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728018841,NaN,3728018841
1545,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3723011891,NaN,3723011891
1672,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3731105173,NaN,3731105173
1678,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3724947099,NaN,3724947099
1696,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3731102765,NaN,3731102765
1697,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3730132625,NaN,3730132625
1703,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3731101706,NaN,3731101706
1721,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3731104986,NaN,3731104986
1793,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3730337976,NaN,3730337976
1798,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3730339864,NaN,3730339864
1809,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3726984475,NaN,3726984475
1942,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3726945051,NaN,3726945051
2426,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3683628387,NaN,3683628387
2492,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3731974280,NaN,3731974280
2520,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3731987286,NaN,3731987286
2651,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/2871701449,NaN,2871701449
2785,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3732201419,NaN,3732201419
2847,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3732828395,NaN,3732828395
3198,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3729313927,NaN,3729313927
3204,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3729313975,NaN,3729313975
3279,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3729314954,NaN,3729314954
3367,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3729365255,NaN,3729365255
3514,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3734009882,NaN,3734009882
3543,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3734000582,NaN,3734000582
3635,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3729346118,NaN,3729346118
3638,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3734015220,NaN,3734015220
3661,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3734828531,NaN,3734828531
3762,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3733823415,NaN,3733823415
3771,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3734237826,NaN,3734237826
3821,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3730520661,NaN,3730520661
3844,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3735709645,NaN,3735709645
3896,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3734527500,NaN,3734527500
3899,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3734510079,NaN,3734510079
3909,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3734523909,NaN,3734523909
3921,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3734528250,NaN,3734528250
4015,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3735940215,NaN,3735940215
4179,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3735938582,NaN,3735938582
4188,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3735942025,NaN,3735942025
4190,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3735939231,NaN,3735939231
4196,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3735939239,NaN,3735939239

In [19]:
len(null_rows)

52

### dealing Null values

In [20]:
# df.dropna(inplace=True)
# df.loc[:].dropna(inplace=True)
# df.loc[:,:].dropna(inplace=True)
# df.loc[:,].dropna(inplace=True)
# df.loc[:, :] = df.dropna()
# df

***non rows not dropped***

In [21]:
df= df.dropna()
df

,Job Title,Job Info,Job Type,Job Link,employees,Job ID
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696
...,...,...,...,...,...,...
4209,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227
4210,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639
4211,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750
4212,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533
4213,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178

In [22]:
3623-52

3571

### exploring values in features

In [23]:
df['Job Title'].unique()

array(['LinkedIn Data Extractor', 'It Management Intern',
       'SQL Database Developer', ...,
       'Engineer, Service-to-Service Fabric',
       'Technical Product Manager (OTE $80,000/year USD), Sparkrock',
       'Senior IOS Developer'], dtype=object)

In [24]:
len(df['Job Title'].unique())

2341

In [25]:
df['Job Title'].value_counts()[:30]

Job Title
Business Development Executive     47
Sales Executive                    46
Software Engineer                  28
Educational Counselor              28
Business Development Manager       23
Sales Specialist                   21
Senior Software Engineer           20
Business Development Specialist    16
Graphic Designer                   16
International Sales Executive      14
Business Development Officer       14
Dotnet Developer                   14
Salesperson                        13
Full Stack Engineer                13
Wordpress Developer                13
DevOps Engineer                    13
Digital Marketing Specialist       12
Admissions Officer                 12
Back End Developer                 12
Customer Service Representative    12
PHP Developer                      12
Social Media Manager               12
Sales And Marketing Specialist     12
Angular Developer                  11
Android Developer                  10
Content Writer                     10
Upwork Bidder                       9
Unity Developer                     9
Animator                            9
Senior Graphic Designer             9
Name: count, dtype: int64

In [26]:
df['Job Info'].unique()

array(['EcomFleet · Pakistan (Remote)  \n1 week ago',
       'Digicon Valley · Lahore, Punjab, Pakistan (On-site)  \n2 weeks ago',
       'Murkez Technologies · Lahore, Punjab, Pakistan (On-site)  \n1 week ago',
       ..., 'Sparkrock · South Asia  \n4 days ago\n\n · 144 applicants',
       'ekar · Pakistan  \n4 days ago\n\n · 223 applicants',
       'Sparkrock · South Asia  \n4 days ago\n\n · 137 applicants'],
      dtype=object)

In [27]:
len(df['Job Info'].unique())

3173

In [28]:
df['Job Type'].unique()

array(['Full-time', 'Full-time · Mid-Senior level',
       'Internship · Internship', 'Full-time · Associate', 'Internship',
       'Full-time · Entry level', 'Part-time', 'Full-time · Internship',
       'Contract · Mid-Senior level', 'Contract', 'Contract · Associate',
       '$150/month - $300/month · Full-time', 'Full-time · Director',
       'Part-time · Associate', 'Mr Ahsan is hiring for this job',
       'Part-time · Executive', 'Contract · Executive',
       'Part-time · Mid-Senior level', 'Contract · Entry level',
       'Temporary · Mid-Senior level', 'Executive',
       'Full-time · Executive', 'Sean Sato is hiring for this job',
       'Part-time · Internship', 'Internship · Mid-Senior level',
       '$12,000/yr - $15,000/yr · Full-time · Mid-Senior level',
       '$200,000/yr · Full-time', 'Part-time · Entry level',
       'dr.ry. L. is hiring for this job',
       '10,001+ employees · Tobacco Manufacturing', 'Volunteer',
       'On-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nFull-time\n\n \nMid-Senior level',
       'Remote\n\n \nFull-time\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nFull-time',
       'Hybrid\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nDirector', 'Remote\n\n \nFull-time',
       'On-site\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nAssociate',
       'Full-time\n\n \nMid-Senior level', 'On-site\n\n \nPart-time',
       'Hybrid\n\n \nFull-time',
       'Remote\n\n \nContract\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nExecutive',
       'Remote\n\n \nFull-time\n\n \nEntry level'], dtype=object)

In [29]:
len(df['Job Type'].unique())

48

In [30]:
df['employees']

0                                         11-50 employees
1                                         11-50 employees
2                                        51-200 employees
3                                         11-50 employees
4                     Mobeen Naqvi is hiring for this job
                              ...
4209                                  501-1,000 employees
4210        5,001-10,000 employees · Software Development
4211     51-200 employees · IT Services and IT Consulting
4212    51-200 employees · Transportation, Logistics, ...
4213     51-200 employees · IT Services and IT Consulting
Name: employees, Length: 3571, dtype: object

In [31]:
df['employees'].unique()[:10]

array(['11-50 employees', '51-200 employees',
       'Mobeen Naqvi is hiring for this job',
       '1,001-5,000 employees · Software Development',
       '501-1,000 employees · IT Services and IT Consulting',
       '501-1,000 employees · Telecommunications',
       '1,001-5,000 employees · Banking', '201-500 employees',
       '10,001+ employees', '51-200 employees · Human Resources Services'],
      dtype=object)

In [32]:
len(df['employees'].unique())

382

### extracting company feature

In [33]:
# df'[company']=df['Job Info'].apply(lambda x:x.split('·')[0])
df.loc[:,'company']=df['Job Info'].apply(lambda x:x.split('·')[0])

In [34]:
df['company'].unique()

array(['EcomFleet ', 'Digicon Valley ', 'Murkez Technologies ', ...,
       'Sparkrock ', 'AdMaxim Inc. ', 'ekar '], dtype=object)

In [35]:
len(df['company'].unique())

1866

In [36]:
df['company'].value_counts()

company
Crossover                        149
Turing                            55
Zameen.com                        50
Zones IT Solutions                48
Times Consultant (Pvt.) Ltd.      44
                                ...
Beanbend                           1
SOFIT Consultancy                  1
4D Magic Software Pvt. Ltd         1
Techanah                           1
ekar                               1
Name: count, Length: 1866, dtype: int64

In [37]:
df['company'].value_counts()[:30]

company
Crossover                                   149
Turing                                       55
Zameen.com                                   50
Zones IT Solutions                           48
Times Consultant (Pvt.) Ltd.                 44
HR Ways - Hiring Tech Talent                 34
Jazz                                         28
Afiniti                                      27
Sui Southern Gas Company Limited             26
BAT                                          24
CrecenTech Systems Private Limited           24
Motive                                       23
Kamayi                                       23
Telenor                                      21
Dubizzle Labs                                21
CureMD                                       20
S&P Global                                   19
TCP Software                                 19
Four Elements Landscaping                    19
The Indus Hospital                           16
Talent Pal                                   16
People (Professional Employers Pvt Ltd)      15
foodpanda                                    14
Fulcrum Pvt. Limited                         14
Daraz                                        13
Tree Top Staffing LLC                        13
Siemens                                      13
DMK Consultancy                              12
Zong CMPak Ltd                               12
GfK - An NIQ Company                         11
Name: count, dtype: int64

### extracting location

In [38]:
df.loc[:,'location']=df['Job Info'].apply(lambda x:x.split('·')[1].split()[0].strip(','))

In [39]:
df['location']

0        Pakistan
1          Lahore
2          Lahore
3       Islamabad
4          Lahore
          ...
4209       Lahore
4210         APAC
4211        South
4212     Pakistan
4213        South
Name: location, Length: 3571, dtype: object

In [40]:
df['location'].unique()

array(['Pakistan', 'Lahore', 'Islamabad', 'Karāchi', 'Peshawar',
       'Islāmābād', 'Rawalpindi', 'Multan', 'Karachi', 'Hyderabad',
       'Mirpur', 'Kharian', 'Sindh', 'Faisalabad', 'Jhelum', 'Gujrāt',
       'Korangi', 'Bahawalpur', 'Gulshan', 'Gujranwala', 'Sukkur',
       'Punjab', 'Shekhūpura', 'Sargodha', 'Wazirabad', 'Mānsehra',
       'Sialkot', 'Chakwāl', 'Muzaffargarh', 'Nawabshah', 'Mardān',
       'Gujrat', 'Dera', 'Sāhīwāl', 'Jhang', 'Sahiwal', 'Quetta',
       'Vienna', 'Rahimyar', 'Milan', 'Lodhran', 'South', 'Zhob',
       'Jamshoro', 'Khyber', 'New', 'Rakhni', 'Taxila', 'APAC', 'Azad',
       'Toba', 'Thatta', 'Jarānwāla', 'Mīrpur', 'Larkana', 'Pasrur',
       'Sarai', 'Panjgur', 'Baloch', 'Attock', 'Rahim', 'Ratodero', 'APJ',
       'Chakwal', 'İzmir', 'Miān', 'Battagram', 'Harīpur', 'Naushahro',
       'Khuzdar', 'Kasur', 'Abbottabad', 'Malir', 'Vehari', 'Kahuta',
       'Badin', 'Thal', 'Landhi', 'Shikarpur', 'Bhakkar', 'Bahrain',
       'Metro', 'Kohāt', 'Okāra', 'Bahawalnagar'], dtype=object)

In [41]:
len(df['location'].unique())

85

In [42]:
df['location'].value_counts()

location
Lahore          1222
Karāchi          665
Islamabad        540
Karachi          272
Pakistan         247
                ...
Larkana            1
Sarai              1
Panjgur            1
Baloch             1
Bahawalnagar       1
Name: count, Length: 85, dtype: int64

In [43]:
df['location'].value_counts()[:30]

location
Lahore          1222
Karāchi          665
Islamabad        540
Karachi          272
Pakistan         247
Rawalpindi       135
Islāmābād         94
Faisalabad        57
Multan            37
Peshawar          29
Punjab            24
Sialkot           22
APAC              18
Gujranwala        16
Hyderabad         16
APJ               14
South             13
Muzaffargarh      11
New               11
Sindh              8
Jhelum             7
Bahawalpur         6
Sargodha           5
Korangi            5
Mirpur             5
Quetta             5
Sukkur             4
Jamshoro           4
Gujrāt             4
Sahiwal            4
Name: count, dtype: int64

In [44]:
df.loc[:,'location']=df['Job Info'].apply(lambda x:x.split('·')[1].split('(')[0])

In [45]:
df['location']

0                                     Pakistan
1                     Lahore, Punjab, Pakistan
2                     Lahore, Punjab, Pakistan
3               Islamabad, Islāmābād, Pakistan
4                     Lahore, Punjab, Pakistan
                         ...
4209     Lahore, Punjab, Pakistan  \n4 days ago
4210           APAC Reposted  \n3 days ago\n\n
4211              South Asia  \n4 days ago\n\n
4212                Pakistan  \n4 days ago\n\n
4213              South Asia  \n4 days ago\n\n
Name: location, Length: 3571, dtype: object

In [46]:
df['location'].unique()

array([' Pakistan ', ' Lahore, Punjab, Pakistan ',
       ' Islamabad, Islāmābād, Pakistan ', ' Karāchi, Sindh, Pakistan ',
       ' Peshawar, Khyber Pakhtunkhwa, Pakistan ',
       ' Islāmābād, Pakistan ', ' Rawalpindi, Punjab, Pakistan ',
       ' Multan, Punjab, Pakistan ',
       ' Karachi Division, Sindh, Pakistan ',
       ' Hyderabad, Sindh, Pakistan ',
       ' Lahore District, Punjab, Pakistan ',
       ' Mirpur, Azad Kashmir, Pakistan ', ' Kharian, Punjab, Pakistan ',
       ' Sindh, Pakistan ',
       ' Lahore, Punjab, Pakistan  \n2 weeks ago\n\n ',
       ' Faisalabad, Punjab, Pakistan ',
       ' Lahore District, Punjab, Pakistan  \n1 week ago',
       ' Islamabad, Islāmābād, Pakistan Reposted  \n1 week ago',
       ' Jhelum, Punjab, Pakistan  \n2 weeks ago\n\n ',
       ' Gujrāt, Punjab, Pakistan ',
       ' Korangi District, Sindh, Pakistan ',
       ' Bahawalpur, Punjab, Pakistan ',
       ' Gulshan Town, Sindh, Pakistan ',
       ' Gujranwala, Punjab, Pakistan ', ' Sukkur, Sindh, Pakistan ',
       ' Faisalabad, Punjab, Pakistan  \n1 week ago\n\n ',
       ' Punjab, Pakistan ',
       ' Lahore, Punjab, Pakistan  \n1 week ago\n\n ',
       ' Shekhūpura, Punjab, Pakistan ', ' Sargodha, Punjab, Pakistan ',
       ' Jhelum, Punjab, Pakistan ', ' Wazirabad, Punjab, Pakistan ',
       ' Mānsehra, Khyber Pakhtunkhwa, Pakistan ',
       ' Sialkot, Punjab, Pakistan ', ' Chakwāl, Punjab, Pakistan ',
       ' Muzaffargarh, Punjab, Pakistan ', ' Nawabshah, Sindh, Pakistan ',
       ' Muzaffargarh District, Punjab, Pakistan ',
       ' Peshawar, Khyber Pakhtunkhwa, Pakistan Reposted  \n1 week ago',
       ' Mardān, Khyber Pakhtunkhwa, Pakistan ',
       ' Gujrat District, Punjab, Pakistan ',
       ' Dera Ghazi Khan, Punjab, Pakistan ',
       ' Jhelum, Punjab, Pakistan Reposted  \n1 week ago\n\n ',
       ' Sāhīwāl, Punjab, Pakistan ',
       ' Rawalpindi District, Punjab, Pakistan ',
       ' Jhang, Punjab, Pakistan ',
       ' Punjab, Pakistan Reposted  \n6 days ago\n\n ',
       ' Sahiwal District, Punjab, Pakistan ',
       ' Quetta, Baluchistan, Pakistan ',
       ' Karāchi, Sindh, Pakistan  \n2 weeks ago\n\n ',
       ' Vienna, Austria ',
       ' Lahore, Punjab, Pakistan Reposted  \n1 week ago\n\n ',
       ' Lahore, Punjab, Pakistan Reposted  \n5 hours ago\n\n ',
       ' Islamabad, Islāmābād, Pakistan Reposted  \n4 days ago\n\n ',
       ' Karāchi, Sindh, Pakistan Reposted  \n1 week ago',
       ' Rahimyar Khan, Punjab, Pakistan ', ' Milan, Lombardy, Italy ',
       ' Lodhran Tehsil, Punjab, Pakistan ',
       ' Mirpur Khas District, Sindh, Pakistan ',
       ' Pakistan  \n1 week ago\n\n ',
       ' Karāchi, Sindh, Pakistan  \n1 week ago\n\n ', ' South Asia ',
       ' Zhob, Baluchistan, Pakistan ', ' Jamshoro, Sindh, Pakistan ',
       ' Lahore, Punjab, Pakistan Reposted  \n5 days ago\n\n ',
       ' Khyber Pakhtunkhwa, Pakistan ',
       ' New Karachi Town, Sindh, Pakistan ',
       ' Rakhni, Baluchistan, Pakistan ',
       ' Karāchi, Sindh, Pakistan Reposted  \n1 week ago\n\n ',
       ' Taxila, Punjab, Pakistan ', ' APAC ',
       ' Islamabad, Islāmābād, Pakistan Reposted  \n1 week ago\n\n ',
       ' Karachi Division, Sindh, Pakistan Reposted  \n1 week ago\n\n ',
       ' Azad Kashmir, Pakistan ',
       ' Faisalabad, Punjab, Pakistan Reposted  \n1 week ago\n\n ',
       ' Islamabad, Islāmābād, Pakistan Reposted  \n6 days ago',
       ' Toba Tek Singh, Punjab, Pakistan ', ' Thatta, Sindh, Pakistan ',
       ' Jarānwāla, Punjab, Pakistan Reposted  \n1 week ago\n\n ',
       ' Mīrpur Khās, Sindh, Pakistan ',
       ' Larkana District, Sindh, Pakistan ',
       ' Pasrur, Punjab, Pakistan ',
       ' Sarai Alamgir Tehsil, Punjab, Pakistan ',
       ' Sahiwal Division, Punjab, Pakistan ',
       ' Panjgur, Baluchistan, Pakistan ',
       ' Hyderabad District, Sindh, Pakistan ',
       ' Baloch Colony, Pakistan ',
       ' Attock, Punjab, Pakistan Reposted  \n1 week ago\n\n ',
       ' Rahim Yar Khan District, Punjab, Pakistan  \n1 week ago\n\n ',
       ' Ratodero, Sindh, Pakistan ', ' APJ ',
       ' Chakwal District, Punjab, Pakistan ',
       ' Islamabad, Punjab, Pakistan ',
       ' İzmir, İzmir, Turkey  \n1 week ago\n\n ',
       ' Miān Channūn, Punjab, Pakistan ',
       ' Battagram, Khyber Pakhtunkhwa, Pakistan ',
       ' Harīpur, Khyber Pakhtunkhwa, Pakistan ',
       ' Jamshoro, Sindh, Pakistan Reposted  \n1 hour ago\n\n ',
       ' Lahore, Punjab, Pakistan Reposted  \n2 hours ago\n\n ',
       ' Gujranwala District, Punjab, Pakistan ',
       ' Lahore Division, Punjab, Pakistan ',
       ' Naushahro Feroze District, Sindh, Pakistan ',
       ' Islamabad, Islāmābād, Pakistan Reposted  \n5 days ago\n\n ',
       ' Islamabad, Islāmābād, Pakistan  \n1 week ago\n\n ',
       ' Khuzdar, Baluchistan, Pakistan ',
       ' Karāchi, Sindh, Pakistan  \n6 days ago\n\n ',
       ' Kasur District, Punjab, Pakistan ',
       ' Sukkur District, Sindh, Pakistan ',
       ' Abbottabad District, Khyber Pakhtunkhwa, Pakistan ',
       ' Islamabad, Islāmābād, Pakistan Reposted  \n5 hours ago\n\n ',
       ' Malir District, Sindh, Pakistan ', ' Vehari, Punjab, Pakistan ',
       ' Kahuta, Punjab, Pakistan ', ' Badin, Sindh, Pakistan ',
       ' Karāchi, Sindh, Pakistan Reposted  \n6 days ago\n\n ',
       ' Karāchi, Sindh, Pakistan Reposted  \n3 days ago\n\n ',
       ' Sahiwal, Punjab, Pakistan ',
       ' Islamabad, Islāmābād, Pakistan  \n6 days ago\n\n ',
       ' Lahore, Punjab, Pakistan Reposted  \n6 days ago\n\n ',
       ' Lahore, Punjab, Pakistan  \n6 days ago\n\n ',
       ' Thal, Khyber Pakhtunkhwa, Pakistan ',
       ' Landhi, Sindh, Pakistan ', ' Shikarpur, Sindh, Pakistan ',
       ' Faisalabad District, Punjab, Pakistan ',
       ' Karāchi, Sindh, Pakistan Reposted  \n4 days ago\n\n ',
       ' Islamabad, Islāmābād, Pakistan Reposted  \n1 day ago\n\n ',
       ' Bhakkar, Punjab, Pakistan ',
       ' Karāchi, Sindh, Pakistan Reposted  \n2 days ago\n\n ',
       ' Karāchi, Sindh, Pakistan Reposted  \n1 day ago\n\n ',
       ' Lahore, Punjab, Pakistan Reposted  \n2 days ago\n\n ',
       ' Lahore, Punjab, Pakistan Reposted  \n1 day ago\n\n ',
       ' Karāchi, Sindh, Pakistan  \n5 days ago\n\n ',
       ' Karāchi, Sindh, Pakistan Reposted  \n5 days ago\n\n ',
       ' Rahim Yar Khan District, Punjab, Pakistan ',
       ' Bahrain, Khyber Pakhtunkhwa, Pakistan ', ' Metro Manila ',
       ' Lahore, Punjab, Pakistan Reposted  \n4 days ago\n\n ',
       ' Jarānwāla, Punjab, Pakistan Reposted  \n1 day ago\n\n ',
       ' Kohāt, Khyber Pakhtunkhwa, Pakistan ',
       ' Lahore, Punjab, Pakistan Reposted  \n3 days ago\n\n ',
       ' Karāchi, Sindh, Pakistan  \n4 days ago\n\n ',
       ' Okāra, Punjab, Pakistan ',
       ' Islamabad, Islāmābād, Pakistan Reposted  \n3 days ago\n\n ',
       ' Islamabad, Islāmābād, Pakistan  \n4 days ago\n\n ',
       ' Islāmābād, Pakistan  \n4 days ago\n\n ',
       ' Karachi Division, Sindh, Pakistan  \n4 days ago\n\n ',
       ' Pakistan Reposted  \n4 days ago\n\n ',
       ' Lahore, Punjab, Pakistan  \n4 days ago\n\n ',
       ' Karachi Division, Sindh, Pakistan Reposted  \n4 days ago',
       ' Karachi Division, Sindh, Pakistan Reposted  \n4 days ago\n\n ',
       ' Islāmābād, Pakistan Reposted  \n4 days ago\n\n ',
       ' Lahore, Punjab, Pakistan  \n4 days ago',
       ' Islāmābād, Pakistan  \n4 days ago',
       ' Karachi Division, Sindh, Pakistan  \n4 days ago',
       ' Sindh, Pakistan  \n4 days ago\n\n ',
       ' Punjab, Pakistan  \n4 days ago',
       ' Sindh, Pakistan  \n4 days ago',
       ' Sialkot, Punjab, Pakistan  \n4 days ago\n\n ',
       ' APJ  \n4 days ago', ' Pakistan  \n4 days ago',
       ' Pakistan  \n4 days ago\n\n ',
       ' Karāchi, Sindh, Pakistan  \n4 days ago',
       ' Nawabshah, Sindh, Pakistan  \n4 days ago\n\n ',
       ' Gujranwala District, Punjab, Pakistan  \n4 days ago',
       ' Bahawalnagar District, Punjab, Pakistan  \n4 days ago\n\n ',
       ' Muzaffargarh, Punjab, Pakistan  \n4 days ago\n\n ',
       ' Lahore, Punjab, Pakistan Reposted  \n7 hours ago\n\n ',
       ' New Karachi Town, Sindh, Pakistan Reposted  \n3 days ago\n\n ',
       ' Lahore, Punjab, Pakistan Reposted  \n4 days ago',
       ' APAC  \n4 days ago',
       ' Rawalpindi, Punjab, Pakistan Reposted  \n3 days ago\n\n ',
       ' Rawalpindi, Punjab, Pakistan  \n4 days ago',
       ' Multan, Punjab, Pakistan  \n4 days ago\n\n ',
       ' Rawalpindi, Punjab, Pakistan Reposted  \n8 hours ago\n\n ',
       ' Quetta, Baluchistan, Pakistan  \n4 days ago\n\n ',
       ' APAC  \n4 days ago\n\n ',
       ' Badin, Sindh, Pakistan  \n4 days ago\n\n ',
       ' South Asia  \n4 days ago\n\n ',
       ' APAC Reposted  \n3 days ago\n\n '], dtype=object)

In [47]:
len(df['location'].unique())

179

In [48]:
df['location'].value_counts()

location
 Lahore, Punjab, Pakistan                   1052
 Karāchi, Sindh, Pakistan                    624
 Islamabad, Islāmābād, Pakistan              518
 Karachi Division, Sindh, Pakistan           242
 Pakistan                                    236
                                            ...
 Panjgur, Baluchistan, Pakistan                1
 Sahiwal Division, Punjab, Pakistan            1
 Sarai Alamgir Tehsil, Punjab, Pakistan        1
 Larkana District, Sindh, Pakistan             1
 APAC Reposted  \n3 days ago\n\n               1
Name: count, Length: 179, dtype: int64

In [49]:
df['location'].value_counts()[:30]

location
 Lahore, Punjab, Pakistan                                1052
 Karāchi, Sindh, Pakistan                                 624
 Islamabad, Islāmābād, Pakistan                           518
 Karachi Division, Sindh, Pakistan                        242
 Pakistan                                                 236
 Rawalpindi, Punjab, Pakistan                             127
 Islāmābād, Pakistan                                       90
 Lahore District, Punjab, Pakistan                         83
 Faisalabad, Punjab, Pakistan                              52
 Multan, Punjab, Pakistan                                  36
 Peshawar, Khyber Pakhtunkhwa, Pakistan                    28
 Lahore, Punjab, Pakistan Reposted  \n1 week ago\n\n       23
 Punjab, Pakistan                                          22
 Karachi Division, Sindh, Pakistan  \n4 days ago\n\n       20
 Sialkot, Punjab, Pakistan                                 19
 APAC                                                      15
 Lahore, Punjab, Pakistan  \n4 days ago                    15
 Lahore, Punjab, Pakistan  \n4 days ago\n\n                15
 Gujranwala, Punjab, Pakistan                              14
 Karāchi, Sindh, Pakistan  \n4 days ago\n\n                14
 APJ                                                       12
 Hyderabad, Sindh, Pakistan                                11
 New Karachi Town, Sindh, Pakistan                         10
 South Asia                                                10
 Islamabad, Islāmābād, Pakistan  \n4 days ago\n\n           9
 Muzaffargarh, Punjab, Pakistan                             8
 Lahore, Punjab, Pakistan Reposted  \n5 days ago\n\n        7
 Karachi Division, Sindh, Pakistan  \n4 days ago            7
 Sindh, Pakistan                                            6
 Bahawalpur, Punjab, Pakistan                               6
Name: count, dtype: int64

### extracting remote/onsite

In [50]:
remote_onsite_list=[]
for info in df['Job Info']:
    try:
        remote_onsite_list.append(info.split('·')[1].split('(')[1].split(')')[0])
    except IndexError:
        remote_onsite_list.append('Not specified')

In [51]:
# remote_onsite_list

In [52]:
len(remote_onsite_list)

3571

In [53]:
df.loc[:,'Remote/Onsite']=remote_onsite_list

In [54]:
df['Remote/Onsite']

0              Remote
1             On-site
2             On-site
3              Hybrid
4             On-site
            ...
4209    Not specified
4210    Not specified
4211    Not specified
4212    Not specified
4213    Not specified
Name: Remote/Onsite, Length: 3571, dtype: object

In [55]:
df['Remote/Onsite'].unique()

array(['Remote', 'On-site', 'Hybrid', 'Not specified'], dtype=object)

In [56]:
df['Remote/Onsite'].value_counts()

Remote/Onsite
On-site          2616
Remote            525
Not specified     230
Hybrid            200
Name: count, dtype: int64

### extarctig number of applicants feature

In [57]:
n_applicant_list=[]
for info in df['Job Info']:
    try:
        n_applicant_list.append(info.split('·')[2].strip(' applicants'))
    except IndexError:
        n_applicant_list.append(np.nan)

In [58]:
n_applicant_list[:10]

[nan, nan, nan, '51', '51', nan, nan, nan, '312', '2,048']

In [59]:
df.loc[:,'n_applicant']=n_applicant_list

In [60]:
df['n_applicant'].unique()

array([nan, '51', '312', '2,048', '30', '3,159', '41', '3,008', '120',
       '685', '50', '28', '24', '734', '9', '112', '42', '10', '89', '48',
       '19', '732', '338', '18', '154', '472', '110', '32', '16', '448',
       '239', '933', '255', '15', '177', '33', '323', '207', '22', '21',
       '49', '591', '45', '29', '231', '337', '249', '123', '40', '192',
       '157', '1,386', '36', '1,186', '17', '76', '61', '38', '20', '12',
       '115', '73', '46', '315', '90', '67', '27', '23', '13', '172',
       '778', '96', '58', '216', '43', '204', '247', '380', '39', '1,768',
       '11', '310', '34', '108', '162', '853', '986', '215', '14', '94',
       '92', '168', '911', '53', '420', '31', '72', '44', '59', '132',
       '289', '35', '52', '1,379', '158', '260', '54', '250', '332',
       '649', '1,385', '153', '37', '83', '370', '287', '57', '339', '47',
       '208', '121', '56', '98', '68', '254', '259', '138', '305', '186',
       '197', '84', '795', '63', '79', '757', '166', '662', '100', '109',
       '285', '60', '127', '364', '74', '199', '198', '212', '328', '122',
       '252', '264', '502', '237', '376', '903', '146', '298', '505',
       '985', '342', '516', '1,213', '362', '1,344', '256', '189', '143',
       '88', '131', '531', '25', '149', '26', '316', '141', '99', '184',
       '113', '97', '170', '6', '480', '133', '309', '77', '429', '62',
       '4', '55', '202', '521', '925', '135', '304', '164', '1,391',
       '862', '229', '628', '200', '151', '176', '468', '71', '66',
       '1,650', '394', '1,015', '458', '181', '611', '749', '335', '904',
       '377', '3,400', '604', '372', '180', '693', '1,577', '144', '171',
       '926', '1,968', '834', '104', '69', '148', '479', '293', '95',
       '1,159', '190', '1,034', '75', '86', '898', '130', '270', '852',
       '136', '432', '441', '402', '2,420', '346', '827', '438', '134',
       '1,319', '495', '396', '560', '114', '81', '283', '804', '185',
       '253', '117', '344', '295', '1,296', '557', '175', '242', '811',
       '868', '880', '822', '526', '214', '532', '681', '2,142', '87',
       '535', '744', '371', '413', '928', '573', '187', '201', '322',
       '244', '78', '409', '307', '227', '424', '213', '930', '225',
       '2,943', '399', '245', '830', '267', '1,708', '779', '165', '291',
       '65', '2,701', '496', '105', '358', '793', '137', '106', '246',
       '467', '243', '1,415', '248', '7', '389', '541', '351', '345',
       '507', '107', '347', '336', '369', '561', '475', '326', '640',
       '174', '536', '860', '139', '821', '682', '545', '85', '465',
       '803', '203', '455', '268', '265', '217', '8', '1,574', '542',
       '1,704', '513', '1,177', '452', '1,750', '577', '147', '428',
       '1,649', '152', '469', '427', '837', '592', '522', '191', '464',
       '80', '159', '233', '430', '103', '142', '5,401', '664', '1,167',
       '182', '3', '400', '70', '773', '284', '124', '205', '64', '262',
       '263', '555', '1,857', '266', '321', '597', '318', '221', '195',
       '288', '1,674', '93', '223', '481', '408', '1,132', '363', '477',
       '854', '419', '240', '129', '552', '921', '723', '5,203', '145',
       '666', '116', '194', '711', '589', '118', '546', '258', '188',
       '679', '303', '387', '125', '218', '102', '651', '82', '1,064',
       '431', '406', '425', '234', '1,632', '381', '294', '721', '155',
       '638', '220', '391', '126', '156', '1,657', '998', '1,195', '478',
       '319', '257', '403', '224', '357', '119', '942', '5', '167', '379',
       '111', '740', '330', '2,895', '210', '463', '281', '1,023', '301',
       '1,381', '1,148', '661', '617', '1,556', '286', '603', '850',
       '1,080', '1,356', '196', '992', '1,457', '1,917', '361', '1,514',
       '667', '206', '529', '558', '91', '101', '163', '588', '1,450',
       '1,588', '140', '609', '500', '1', '193', '1,042', '275', '768',
       '128', '395', '1,013', '340', '474', '423', '551', '484', '490',
       '367', '272', '290', '278', '366', '671', '791', '375', '2', '235',
       '1,882'], dtype=object)

In [61]:
len(df['n_applicant'].unique())

521

In [62]:
df['n_applicant'].value_counts()[:30]

n_applicant
51    152
11     56
18     40
13     34
16     34
21     33
14     32
17     31
19     30
12     30
22     29
15     29
10     29
24     26
20     25
23     24
32     22
26     21
28     18
30     18
33     18
38     17
50     16
34     16
27     15
36     15
31     15
43     15
35     14
29     14
Name: count, dtype: int64

### Extracting job posting time feature

In [63]:
df.loc[:,'job posting time']=df['Job Info'].apply(lambda x:x.split('\n')[1])
df['job posting time']

0        1 week ago
1       2 weeks ago
2        1 week ago
3        1 week ago
4        1 week ago
           ...
4209     4 days ago
4210     3 days ago
4211     4 days ago
4212     4 days ago
4213     4 days ago
Name: job posting time, Length: 3571, dtype: object

In [64]:
df['job posting time'].unique()

array(['1 week ago', '2 weeks ago', '1 day ago', '6 days ago',
       '5 days ago', '11 hours ago', '3 days ago', '3 hours ago',
       '4 days ago', '13 minutes ago', '14 minutes ago', '5 hours ago',
       '10 hours ago', '9 hours ago', '2 days ago', '13 hours ago',
       '18 hours ago', '7 hours ago', '4 hours ago', '3 weeks ago',
       '2 hours ago', '12 hours ago', '6 hours ago', '14 hours ago',
       '1 hour ago', '22 hours ago', '8 hours ago', '23 hours ago',
       '15 hours ago', '20 hours ago', '19 hours ago', '16 hours ago'],
      dtype=object)

In [65]:
df['job posting time'].value_counts()[:10]

job posting time
1 week ago      1948
2 weeks ago      452
6 days ago       353
5 days ago       335
4 days ago       239
1 day ago         77
3 days ago        62
23 hours ago      25
2 days ago        25
2 hours ago       14
Name: count, dtype: int64

### Feature Eng on Job Type feature

In [66]:
df['Job Type'].unique()

array(['Full-time', 'Full-time · Mid-Senior level',
       'Internship · Internship', 'Full-time · Associate', 'Internship',
       'Full-time · Entry level', 'Part-time', 'Full-time · Internship',
       'Contract · Mid-Senior level', 'Contract', 'Contract · Associate',
       '$150/month - $300/month · Full-time', 'Full-time · Director',
       'Part-time · Associate', 'Mr Ahsan is hiring for this job',
       'Part-time · Executive', 'Contract · Executive',
       'Part-time · Mid-Senior level', 'Contract · Entry level',
       'Temporary · Mid-Senior level', 'Executive',
       'Full-time · Executive', 'Sean Sato is hiring for this job',
       'Part-time · Internship', 'Internship · Mid-Senior level',
       '$12,000/yr - $15,000/yr · Full-time · Mid-Senior level',
       '$200,000/yr · Full-time', 'Part-time · Entry level',
       'dr.ry. L. is hiring for this job',
       '10,001+ employees · Tobacco Manufacturing', 'Volunteer',
       'On-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nFull-time\n\n \nMid-Senior level',
       'Remote\n\n \nFull-time\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nFull-time',
       'Hybrid\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nDirector', 'Remote\n\n \nFull-time',
       'On-site\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nAssociate',
       'Full-time\n\n \nMid-Senior level', 'On-site\n\n \nPart-time',
       'Hybrid\n\n \nFull-time',
       'Remote\n\n \nContract\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nExecutive',
       'Remote\n\n \nFull-time\n\n \nEntry level'], dtype=object)

In [67]:
len(df['Job Type'].unique())

48

## understanding options according to linkedin
****

### These are job Job type options on linkedin:
Full-time,
Part-time,
Contract,
Temporary,
Volunteer,
Internship,
Other
### These are Experience level options on linkedin:
Internship,
Entry level,
Associate,
Mid-Senior level,
Director,
Executive
### These are On-site/remote options on linkedin:
On-site,
Remote,
Hybrid

***

### counting number of elements in job type column

In [68]:
Job_Type_nElements=[]
for cell in df['Job Type']:
    if '·' in cell:
        nElements=len(cell.split('·'))
        Job_Type_nElements.append(nElements)
    elif '\n\n \n' in cell:
        nElements=len(cell.split('\n\n \n'))
        Job_Type_nElements.append(nElements)
    else:
        nElements=len(cell.split())
        Job_Type_nElements.append(nElements)

In [69]:
df.loc[:,'Job Type nElements']=Job_Type_nElements

In [111]:
df['Job Type nElements'].unique()

array([1, 2, 7, 3], dtype=int64)

In [71]:
df['Job Type nElements'].value_counts()

Job Type nElements
1    2355
2    1125
3      88
7       3
Name: count, dtype: int64

### extarcting Job type

In [72]:
inconsistant_Job_Type_Elements_1=['Executive']
inconsistant_Job_Type_Elements_1

['Executive']

In [73]:
inconsistant_Job_Type_Elements_2=['$150/month - $300/month · Full-time','$200,000/yr · Full-time','10,001+ employees · Tobacco Manufacturing','Full-time\n\n \nMid-Senior level']
inconsistant_Job_Type_Elements_2

['$150/month - $300/month · Full-time',
 '$200,000/yr · Full-time',
 '10,001+ employees · Tobacco Manufacturing',
 'Full-time\n\n \nMid-Senior level']

In [74]:
inconsistant_Job_Type_Elements_3=['$12,000/yr - $15,000/yr · Full-time · Mid-Senior level']
inconsistant_Job_Type_Elements_3

['$12,000/yr - $15,000/yr · Full-time · Mid-Senior level']

In [75]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt not in inconsistant_Job_Type_Elements_1:
            Job_Type_list.append(elmnt)
        else:
            Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '·' in elmnt:
                Job_Type_list.append(elmnt.split('·')[0])
            elif '\n\n \n' in elmnt:
                Job_Type_list.append(elmnt.split('\n\n \n')[1])
            else:
                Job_Type_list.append('Not specified')
        else:
            if 'Full-time' in elmnt:
                Job_Type_list.append('Full-time')
            else:
                Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[1])
        else:
            if 'Full-time' in elmnt:
                Job_Type_list.append('Full-time')
            else:
                Job_Type_list.append('Not specified')
    if len(elmnt.split())==7:
        Job_Type_list.append('Not specified')

In [76]:
len(Job_Type_list)

3571

In [77]:
df.loc[:,'Job-Type']=Job_Type_list

In [78]:
df['Job-Type'].unique()

array(['Full-time', 'Full-time ', 'Internship ', 'Internship',
       'Part-time', 'Contract ', 'Contract', 'Part-time ',
       'Not specified', 'Temporary ', 'Volunteer'], dtype=object)

In [79]:
df.loc[:,'Job-Type'] = df['Job-Type'].replace(['Full-time ','Internship ','Part-time ','Contract '],['Full-time','Internship','Part-time','Contract'])

In [80]:
df['Job-Type'].unique()
# len(df['Job-Type'].unique())

array(['Full-time', 'Internship', 'Part-time', 'Contract',
       'Not specified', 'Temporary ', 'Volunteer'], dtype=object)

In [81]:
Job_type_options=['Full-time','Part-time','Contract','Temporary','Volunteer','Internship','Other']
Job_type_options
# len(Job_type_options)

['Full-time',
 'Part-time',
 'Contract',
 'Temporary',
 'Volunteer',
 'Internship',
 'Other']

In [82]:
df['Job-Type'].value_counts()

Job-Type
Full-time        3366
Contract           96
Part-time          62
Internship         40
Not specified       5
Temporary           1
Volunteer           1
Name: count, dtype: int64

### extarcting Experience level from df['Job Type']

In [83]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt in inconsistant_Job_Type_Elements_1:
            if elmnt=='Executive':
                Job_Type_list.append(elmnt)
        else:
            Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '·' in elmnt:
                Job_Type_list.append(elmnt.split('·')[1])
            # elif '\n\n \n' in elmnt:
            #     Job_Type_list.append(elmnt.split('\n\n \n')[2])
            else:
                Job_Type_list.append('Not specified')
        else:
            if 'Mid-Senior level' in elmnt:
                Job_Type_list.append('Mid-Senior level')
            else:
                Job_Type_list.append('Not specified')
                
    if len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[2])
        else:
            # if 'Mid-Senior level' in inconsistant_Job: due to this problem not sepecified is in list 
            if 'Mid-Senior level' in elmnt:  
                Job_Type_list.append('Mid-Senior level')
            else:
                Job_Type_list.append('Not specified')
    if len(elmnt.split())==7:
        Job_Type_list.append('Not specified')

In [84]:
len(Job_Type_list)

3571

In [85]:
set(Job_Type_list)

{' Associate',
 ' Director',
 ' Entry level',
 ' Executive',
 ' Internship',
 ' Mid-Senior level',
 'Associate',
 'Director',
 'Entry level',
 'Executive',
 'Mid-Senior level',
 'Not specified'}

In [86]:
df.loc[:,'Experience Level']=Job_Type_list

In [87]:
df.loc[:,'Experience Level'] = df['Experience Level'].replace([' Mid-Senior level',' Associate',' Entry level',' Director',' Executive',' Internship'],['Mid-Senior level','Associate','Entry level','Director','Executive','Internship'])

In [88]:
df['Experience Level'].unique()
# len(df['Experience Level'].unique())

array(['Not specified', 'Mid-Senior level', 'Internship', 'Associate',
       'Entry level', 'Director', 'Executive'], dtype=object)

In [89]:
Experience_level_options=['Internship','Entry level','Associate','Mid-Senior level','Director','Executive']
Experience_level_options
# len(Experience_level_options)

['Internship',
 'Entry level',
 'Associate',
 'Mid-Senior level',
 'Director',
 'Executive']

In [90]:
df['Experience Level'].value_counts()

Experience Level
Not specified       2405
Mid-Senior level     681
Entry level          248
Associate            144
Director              51
Internship            23
Executive             19
Name: count, dtype: int64

### extracting On-site/remote from Job Type feature

In [91]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt not in inconsistant_Job_Type_Elements_1:
            Job_Type_list.append('Not specified')
        else:
            Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '·' in elmnt:
                Job_Type_list.append('Not specified')
            elif '\n\n \n' in elmnt:
                Job_Type_list.append(elmnt.split('\n\n \n')[0])
            else:
                Job_Type_list.append('Not specified')
        else:
            Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[0])
        else:
            Job_Type_list.append('Not specified')
    if len(elmnt.split())==7:
        Job_Type_list.append('Not specified')

In [92]:
len(Job_Type_list)

3571

In [93]:
df.loc[:,'Remote/Onsite-2']=Job_Type_list

In [94]:
df['Remote/Onsite-2'].unique()
# len(df['Remote/Onsite-2'].unique())

array(['Not specified', 'On-site', 'Hybrid', 'Remote'], dtype=object)

In [95]:
On_site_remote_options=['On-site','Remote','Hybrid']
On_site_remote_options
# len(On_site_remote_options)

['On-site', 'Remote', 'Hybrid']

In [96]:
df['Remote/Onsite-2'].value_counts()

Remote/Onsite-2
Not specified    3439
On-site            86
Remote             29
Hybrid             17
Name: count, dtype: int64

#### how many are specified

In [97]:
df['Remote/Onsite-2'].value_counts()[1:].sum()

132

#### working on employees feature , Extracting no of employees and industry feature from employees feature

In [98]:
df['employees'].unique()[:10]

array(['11-50 employees', '51-200 employees',
       'Mobeen Naqvi is hiring for this job',
       '1,001-5,000 employees · Software Development',
       '501-1,000 employees · IT Services and IT Consulting',
       '501-1,000 employees · Telecommunications',
       '1,001-5,000 employees · Banking', '201-500 employees',
       '10,001+ employees', '51-200 employees · Human Resources Services'],
      dtype=object)

In [99]:
inconsistent_values_in_employees_feature = ['is hiring for this job', 
                                            'See how you compare', 
                                            'Job poster joined LinkedIn',
                                           'school alum works here',
                                            'alumni work here',
                                            'See recent hiring trends'
                                           ]

In [100]:
L1=[] #for employees 
L2=[] #for industry
for feature_element in df['employees'].iloc[:]:
    flag=0
    for value in inconsistent_values_in_employees_feature:
        if value in feature_element:
            flag=1
            
    if flag==1:
        L1.append('Not specified')
        L2.append('Not specified')
    else:
        if len(feature_element.split('·'))==1:
            L1.append(feature_element)
            L2.append('Not specified')
        elif len(feature_element.split('·'))==2:
            L1.append(feature_element.split('·')[0])
            L2.append(feature_element.split('·')[1])
        else:
            L1.append('Other')
            L2.append('Other')

In [101]:
df.loc[:,'Comp_N_Employees']=L1

In [102]:
df.loc[:,'Comp_Industry']=L2

In [103]:
df['Comp_N_Employees'].unique()

array(['11-50 employees', '51-200 employees', 'Not specified',
       '1,001-5,000 employees ', '501-1,000 employees ',
       '201-500 employees', '10,001+ employees', '51-200 employees ',
       '501-1,000 employees', '1,001-5,000 employees', '1-10 employees ',
       '10,001+ employees ', '1-10 employees', '5,001-10,000 employees',
       '201-500 employees ', '5,001-10,000 employees ',
       '11-50 employees '], dtype=object)

In [104]:
len(df['Comp_N_Employees'].unique())

17

In [105]:
df['Comp_N_Employees'].value_counts()

Comp_N_Employees
11-50 employees            830
51-200 employees           533
1,001-5,000 employees      297
5,001-10,000 employees     290
10,001+ employees          274
201-500 employees          262
Not specified              245
1-10 employees             224
501-1,000 employees        123
51-200 employees           119
501-1,000 employees         79
201-500 employees           72
11-50 employees             70
1,001-5,000 employees       69
1-10 employees              38
5,001-10,000 employees      26
10,001+ employees           20
Name: count, dtype: int64

In [106]:
df['Comp_Industry'].unique()

array(['Not specified', ' Software Development',
       ' IT Services and IT Consulting', ' Telecommunications',
       ' Banking', ' Human Resources Services',
       ' Technology, Information and Internet',
       ' Retail Apparel and Fashion', ' International Affairs',
       ' Higher Education', ' Information Technology & Services',
       ' Financial Services', ' Packaging and Containers Manufacturing',
       ' Executive Offices', ' Food and Beverage Manufacturing',
       ' Food and Beverage Services', ' Tobacco Manufacturing',
       ' Business Consulting and Services', ' Entertainment Providers',
       ' Wholesale Building Materials',
       ' Outsourcing and Offshoring Consulting',
       ' Pharmaceutical Manufacturing', ' Motor Vehicle Manufacturing',
       ' Non-profit Organizations', ' Research Services',
       ' Advertising Services', ' Beverage Manufacturing',
       ' Outsourcing/Offshoring', ' Hospitals and Health Care',
       ' Farming', ' Oil and Gas', ' Real Estate',
       ' Professional Services', ' Automation Machinery Manufacturing',
       ' Book and Periodical Publishing',
       ' Computer and Network Security', ' Information Services',
       ' Education', ' International Trade and Development',
       ' Staffing and Recruiting',
       ' Transportation, Logistics, Supply Chain and Storage',
       ' Human Resources', ' Medical Practices', ' Manufacturing',
       ' Paper and Forest Product Manufacturing',
       ' Non-profit Organization Management',
       ' Internet Marketplace Platforms',
       ' Personal Care Product Manufacturing', ' Retail',
       ' Biotechnology Research', ' Consumer Services', ' Consumer Goods',
       ' Media Production', ' Accounting',
       ' Translation and Localization', ' Events Services',
       ' Retail Luxury Goods and Jewelry', ' Apparel & Fashion',
       ' Automotive', ' Chemical Manufacturing', ' Think Tanks',
       ' Public Safety', ' IT System Custom Software Development',
       ' Food Production', ' Strategic Management Services',
       ' Airlines and Aviation', ' Holding Companies',
       ' Facilities Services', ' Leisure, Travel & Tourism',
       ' Design Services', ' Education Administration Programs',
       ' Blockchain Services',
       ' Renewable Energy Semiconductor Manufacturing',
       ' Marketing Services', ' Electric Power Generation',
       ' Aviation and Aerospace Component Manufacturing',
       ' Renewable Energy Equipment Manufacturing',
       ' Education Management', ' Wholesale', ' Utilities'], dtype=object)

In [107]:
len(df['Comp_Industry'].unique())

80

In [108]:
df['Comp_Industry'].value_counts()

Comp_Industry
Not specified                              2288
 IT Services and IT Consulting              391
 Software Development                       160
 Telecommunications                          81
 Real Estate                                 58
                                           ...
 Paper and Forest Product Manufacturing       1
 Medical Practices                            1
 Education                                    1
 Motor Vehicle Manufacturing                  1
 Non-profit Organization Management           1
Name: count, Length: 80, dtype: int64

In [109]:
df.columns

Index(['Job Title', 'Job Info', 'Job Type', 'Job Link', 'employees', 'Job ID',
       'company', 'location', 'Remote/Onsite', 'n_applicant',
       'job posting time', 'Job Type nElements', 'Job-Type',
       'Experience Level', 'Remote/Onsite-2', 'Comp_N_Employees',
       'Comp_Industry'],
      dtype='object')

In [110]:
len(df.columns)

17