In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Files used in current analysis/Linkedin_Job_Details_26-Sep-2023-to-09-Oct-2023_4214-jobs_181-pages.csv')
df

,Job Title,Job Info,Job Type,Job Link,employees
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job
...,...,...,...,...,...
4209,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees"
4210,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development"
4211,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting
4212,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ..."
4213,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting

In [3]:
df_=pd.read_csv('Files used in current analysis/Linkedin_Job-Descriptions-company_details_26-Sep-2023-to-26-Nov-2023_15947-jobs_685-pages.csv')
df_

,Job Link,Job Desception,Company Info
0,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...
15942,https://www.linkedin.com/jobs/view/3767355025,About the job\n \n \nThis role is p...,NaN
15943,https://www.linkedin.com/jobs/view/3766809535,About the job\n \n \nA U.S.-based c...,IT Services and IT Consulting\n \n ...
15944,https://www.linkedin.com/jobs/view/3772530977,About the job,NaN
15945,https://www.linkedin.com/jobs/view/3771943212,About the job,NaN
15946,https://www.linkedin.com/jobs/view/3767944844,About the job,NaN

In [4]:
df_1=pd.read_csv('Files used in current analysis/Linkedin_Job_Details_26-Sep-2023-to-26-Nov-2023_15875-jobs_685-pages.csv')
df_1

,Job Title,Job Info,Job Type,Job Link,employees
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job
...,...,...,...,...,...
15870,Manager – Growth Chat & SMS (Digital Marketing),"Bank Alfalah Limited · Karāchi, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767355025,"5,001-10,000 employees · Banking"
15871,Release Support Engineer,Turing · Pakistan Reposted \n1 week ago,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3766809535,"1,001-5,000 employees · IT Services and IT Con..."
15872,Information Security Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n1 week...",On-site\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3772530977,51-200 employees · IT Services and IT Consulting
15873,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,"Level 3 BOS · Karachi Division, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771943212,201-500 employees · Outsourcing and Offshoring...
15874,Community Associate,"The Hive · Karachi Division, Sindh, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767944844,11-50 employees

In [5]:
df['Job ID']=df['Job Link'].apply(lambda x:int(x.split('/')[5]))
df_['Job ID']=df_['Job Link'].apply(lambda x:int(x.split('/')[5]))
df_1['Job ID']=df_1['Job Link'].apply(lambda x:int(x.split('/')[5]))

In [6]:
df_2=df_[df_['Job ID'].isin(df['Job ID'])]
df_2

,Job Link,Job Desception,Company Info,Job ID
0,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...,3727054368
1,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...,3723395858
2,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...,3727034665
3,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...,3727029273
4,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN,3727034696
...,...,...,...,...
15679,https://www.linkedin.com/jobs/view/3729723124,About the job\n \n \nJob Responsibi...,Software Development\n \n ...,3729723124
15681,https://www.linkedin.com/jobs/view/3537348803,About the job\n \n \nLOCATION: Jara...,NaN,3537348803
15766,https://www.linkedin.com/jobs/view/3661745501,About the job\n \n \nAbout Us:CureM...,Software Development\n \n ...,3661745501
15776,https://www.linkedin.com/jobs/view/3728757956,About the job\n \n \nAbout the role...,Book and Periodical Publishing\n \n...,3728757956
15915,https://www.linkedin.com/jobs/view/3734537706,About the job\n \n \nPosition Title...,Internet Marketplace Platforms\n \n...,3734537706

In [7]:
df_3=pd.merge(df,df_,on='Job ID',how='inner')
df_3

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7270,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

In [8]:
# why df3 have 7272 rows

In [9]:
# df3=df[df['Job ID']==df_['Job ID']]
# df3
# ValueError: Can only compare identically-labeled Series objects

In [10]:
df_2.drop_duplicates(subset=['Job ID']).shape

(3623, 4)

In [11]:
df.drop_duplicates(subset=['Job ID']).shape

(3623, 6)

In [12]:
df_3.drop_duplicates(subset=['Job ID']).shape

(3623, 9)

In [13]:
df.isnull().sum()

Job Title    54
Job Info     54
Job Type     54
Job Link      0
employees    54
Job ID        0
dtype: int64

In [14]:
df_3.isnull().sum()

Job Title          67
Job Info           67
Job Type           67
Job Link_x          0
employees          67
Job ID              0
Job Link_y          0
Job Desception    104
Company Info      915
dtype: int64

In [15]:
df_3.columns

Index(['Job Title', 'Job Info', 'Job Type', 'Job Link_x', 'employees',
       'Job ID', 'Job Link_y', 'Job Desception', 'Company Info'],
      dtype='object')

In [16]:
df.dropna(inplace=True)
df_1.dropna(inplace=True)
df_3.dropna(subset=['Job Title','Job Info','Job Type','employees'],inplace=True) # i want to delete specific columns

In [17]:
# df['Job ID']=df['Job Link'].apply(lambda x:int(x.split('/')[5]))

In [18]:
df = df.drop_duplicates(subset=['Job ID'])
df_1=df_1.drop_duplicates(subset=['Job ID'])
df_2=df_2.drop_duplicates(subset=['Job ID'])
df_3=df_3.drop_duplicates(subset=['Job ID'])

In [19]:
df.shape,df_1.shape,df_2.shape,df_3.shape

((3573, 6), (11744, 6), (3623, 4), (3573, 9))

In [20]:
df_2

,Job Link,Job Desception,Company Info,Job ID
0,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...,3727054368
1,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...,3723395858
2,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...,3727034665
3,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...,3727029273
4,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN,3727034696
...,...,...,...,...
4210,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...,3734517227
4211,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...,3730554639
4212,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...,3731001750
4213,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St...",3736179533
4214,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...,3731006178

In [21]:
df_3

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
7266,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

In [22]:
df_4=df_4=df_3.dropna(subset=['Job Desception'])
df_4

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
7266,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

In [23]:
df_4.shape

(3542, 9)

In [24]:
df_4_uncomplete_desc_IDs=[]
for i in range(0,len(df_4.iloc[:])):
    if len(df_4.iloc[i]['Job Desception'])<20:
        df_4_uncomplete_desc_IDs.append(df_4.iloc[i]['Job ID'])

In [25]:
df_4_uncomplete_desc_IDs
len(df_4_uncomplete_desc_IDs)

66

In [26]:
df_4_uncomp_desc=df_4[df_4['Job ID'].isin(df_4_uncomplete_desc_IDs)]
df_4_uncomp_desc

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
93,Digital Marketing Strategist and Planner,Prime Human Resource Services (Pvt) Ltd · Karā...,Full-time,https://www.linkedin.com/jobs/view/3727011545,"10,001+ employees",3727011545,https://www.linkedin.com/jobs/view/3727011545,About the job,NaN
265,Software Engineer-Integration,People (Professional Employers Pvt Ltd) · Isla...,Full-time,https://www.linkedin.com/jobs/view/3727002795,"5,001-10,000 employees",3727002795,https://www.linkedin.com/jobs/view/3727002795,About the job,NaN
651,DevOps Engineer,"TecBrix · Lahore, Punjab, Pakistan (Remote) \...",Full-time,https://www.linkedin.com/jobs/view/3727012776/...,11-50 employees,3727012776,https://www.linkedin.com/jobs/view/3727012776,About the job,NaN
692,Real Estate Sales Agent,"Fajar Real Estate · Lahore, Punjab, Pakistan (...",Full-time,https://www.linkedin.com/jobs/view/3727005694/...,11-50 employees,3727005694,https://www.linkedin.com/jobs/view/3727005694,About the job,NaN
699,Google Ads Specialist,"RT WEB Solutions · Lahore District, Punjab, Pa...",Full-time,https://www.linkedin.com/jobs/view/3727058923/...,11-50 employees,3727058923,https://www.linkedin.com/jobs/view/3727058923,About the job,NaN
...,...,...,...,...,...,...,...,...,...
6375,Junior PR Specialist (Remote Internship – Publ...,"TalentKompass Deutschland · Islamabad, Islāmāb...",Full-time,https://www.linkedin.com/jobs/view/3729322244,1-10 employees · Human Resources Services,3729322244,https://www.linkedin.com/jobs/view/3729322244,About the job,NaN
6729,React Native Developer,FabLearner · Pakistan (Remote) \n4 days ago,Full-time,https://www.linkedin.com/jobs/view/3734243297,11-50 employees,3734243297,https://www.linkedin.com/jobs/view/3734243297,About the job,NaN
6733,Finance Manager,"Four Elements Landscaping · Islamabad, Islāmāb...",Full-time,https://www.linkedin.com/jobs/view/3734234918,See how you compare to 305 applicants. Reactiv...,3734234918,https://www.linkedin.com/jobs/view/3734234918,About the job,NaN
6960,IT Project Manager,"S&P Global · Islamabad, Islāmābād, Pakistan (O...",Full-time,https://www.linkedin.com/jobs/view/3736407961,"10,001+ employees · Financial Services",3736407961,https://www.linkedin.com/jobs/view/3736407961,About the job,NaN
7169,Talent Acquisition Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n4 days...",Hybrid\n\n \nFull-time\n\n \nAssociate,https://www.linkedin.com/jobs/view/3736472247,51-200 employees · IT Services and IT Consulting,3736472247,https://www.linkedin.com/jobs/view/3736472247,About the job,NaN

In [27]:
df_5=df_4.drop(df_4_uncomp_desc.index)
df_5

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
7266,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

In [28]:
3542-66

3476

#### using commen keywords used in IT and Tech

In [29]:
# it_tech_pattern='Software|Computer|Digital|Programming|Data|Freelance|Web|Cloud|Graphic|Game|Information technology|Mobile|Email|Virtual|video|technology|ecommerce|network'
# case=False
# filtered_df = df_5[df_5['Job Desception'].str.contains(it_tech_pattern, case)]
# filtered_df
it_tech_keywords= ['Software', 'Computer', 'Digital', 'Programming', 
                   'Data', 'Freelance', 'Web', 'Cloud', 'Graphic', 
                   'Game', 'Information technology', 'Mobile', 'Email', 
                   'Virtual', 'video', 'technology', 'ecommerce', 'network']
it_tech_keywords
len(it_tech_keywords)

filtered_df_5_desc = df_5[df_5['Job Desception'].apply(lambda desc: any(keyword.lower() in desc.lower() for keyword in it_tech_keywords))]
filtered_df_5_desc

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
7266,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

In [30]:
filtered_df_5_desc['Job Title'].unique()

array(['LinkedIn Data Extractor', 'It Management Intern',
       'SQL Database Developer', ...,
       'Engineer, Service-to-Service Fabric',
       'Technical Product Manager (OTE $80,000/year USD), Sparkrock',
       'Senior IOS Developer'], dtype=object)

In [31]:
len(filtered_df_5_desc['Job Title'].unique()),len(df_3['Job Title'].unique())

(1912, 2343)

### dealing Job titles where jobs desc is abnormal

In [32]:
len(df_3)-len(df_5) # there are 97 rows where Jobs desc= abnormal

97

##### approach:1

In [33]:
df_3.drop(df_5.index)

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
93,Digital Marketing Strategist and Planner,Prime Human Resource Services (Pvt) Ltd · Karā...,Full-time,https://www.linkedin.com/jobs/view/3727011545,"10,001+ employees",3727011545,https://www.linkedin.com/jobs/view/3727011545,About the job,NaN
121,Research Analyst,"Indian School of Business · Hyderabad, Sindh, ...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3723336007,"501-1,000 employees · Higher Education",3723336007,https://www.linkedin.com/jobs/view/3723336007,NaN,NaN
265,Software Engineer-Integration,People (Professional Employers Pvt Ltd) · Isla...,Full-time,https://www.linkedin.com/jobs/view/3727002795,"5,001-10,000 employees",3727002795,https://www.linkedin.com/jobs/view/3727002795,About the job,NaN
651,DevOps Engineer,"TecBrix · Lahore, Punjab, Pakistan (Remote) \...",Full-time,https://www.linkedin.com/jobs/view/3727012776/...,11-50 employees,3727012776,https://www.linkedin.com/jobs/view/3727012776,About the job,NaN
692,Real Estate Sales Agent,"Fajar Real Estate · Lahore, Punjab, Pakistan (...",Full-time,https://www.linkedin.com/jobs/view/3727005694/...,11-50 employees,3727005694,https://www.linkedin.com/jobs/view/3727005694,About the job,NaN
...,...,...,...,...,...,...,...,...,...
6729,React Native Developer,FabLearner · Pakistan (Remote) \n4 days ago,Full-time,https://www.linkedin.com/jobs/view/3734243297,11-50 employees,3734243297,https://www.linkedin.com/jobs/view/3734243297,About the job,NaN
6733,Finance Manager,"Four Elements Landscaping · Islamabad, Islāmāb...",Full-time,https://www.linkedin.com/jobs/view/3734234918,See how you compare to 305 applicants. Reactiv...,3734234918,https://www.linkedin.com/jobs/view/3734234918,About the job,NaN
6960,IT Project Manager,"S&P Global · Islamabad, Islāmābād, Pakistan (O...",Full-time,https://www.linkedin.com/jobs/view/3736407961,"10,001+ employees · Financial Services",3736407961,https://www.linkedin.com/jobs/view/3736407961,About the job,NaN
6968,Graphic Designer,"Voyagersol · Islamabad, Islāmābād, Pakistan (O...",Full-time,https://www.linkedin.com/jobs/view/3734595238,51-200 employees,3734595238,https://www.linkedin.com/jobs/view/3734595238,NaN,NaN
7169,Talent Acquisition Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n4 days...",Hybrid\n\n \nFull-time\n\n \nAssociate,https://www.linkedin.com/jobs/view/3736472247,51-200 employees · IT Services and IT Consulting,3736472247,https://www.linkedin.com/jobs/view/3736472247,About the job,NaN

##### Approach:2

In [34]:
# FUTURE TASK
# df_3[df_3['Job ID'].isin(df_4_uncomplete_desc_IDs+null_desc_iDS)]

#### getting df_3_abnormal

In [35]:
df_3_abnormal=df_3.drop(df_5.index)
df_3_abnormal

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
93,Digital Marketing Strategist and Planner,Prime Human Resource Services (Pvt) Ltd · Karā...,Full-time,https://www.linkedin.com/jobs/view/3727011545,"10,001+ employees",3727011545,https://www.linkedin.com/jobs/view/3727011545,About the job,NaN
121,Research Analyst,"Indian School of Business · Hyderabad, Sindh, ...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3723336007,"501-1,000 employees · Higher Education",3723336007,https://www.linkedin.com/jobs/view/3723336007,NaN,NaN
265,Software Engineer-Integration,People (Professional Employers Pvt Ltd) · Isla...,Full-time,https://www.linkedin.com/jobs/view/3727002795,"5,001-10,000 employees",3727002795,https://www.linkedin.com/jobs/view/3727002795,About the job,NaN
651,DevOps Engineer,"TecBrix · Lahore, Punjab, Pakistan (Remote) \...",Full-time,https://www.linkedin.com/jobs/view/3727012776/...,11-50 employees,3727012776,https://www.linkedin.com/jobs/view/3727012776,About the job,NaN
692,Real Estate Sales Agent,"Fajar Real Estate · Lahore, Punjab, Pakistan (...",Full-time,https://www.linkedin.com/jobs/view/3727005694/...,11-50 employees,3727005694,https://www.linkedin.com/jobs/view/3727005694,About the job,NaN
...,...,...,...,...,...,...,...,...,...
6729,React Native Developer,FabLearner · Pakistan (Remote) \n4 days ago,Full-time,https://www.linkedin.com/jobs/view/3734243297,11-50 employees,3734243297,https://www.linkedin.com/jobs/view/3734243297,About the job,NaN
6733,Finance Manager,"Four Elements Landscaping · Islamabad, Islāmāb...",Full-time,https://www.linkedin.com/jobs/view/3734234918,See how you compare to 305 applicants. Reactiv...,3734234918,https://www.linkedin.com/jobs/view/3734234918,About the job,NaN
6960,IT Project Manager,"S&P Global · Islamabad, Islāmābād, Pakistan (O...",Full-time,https://www.linkedin.com/jobs/view/3736407961,"10,001+ employees · Financial Services",3736407961,https://www.linkedin.com/jobs/view/3736407961,About the job,NaN
6968,Graphic Designer,"Voyagersol · Islamabad, Islāmābād, Pakistan (O...",Full-time,https://www.linkedin.com/jobs/view/3734595238,51-200 employees,3734595238,https://www.linkedin.com/jobs/view/3734595238,NaN,NaN
7169,Talent Acquisition Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n4 days...",Hybrid\n\n \nFull-time\n\n \nAssociate,https://www.linkedin.com/jobs/view/3736472247,51-200 employees · IT Services and IT Consulting,3736472247,https://www.linkedin.com/jobs/view/3736472247,About the job,NaN

In [36]:
df_3_abnormal['Job Title']

93      Digital Marketing Strategist and Planner
121                             Research Analyst
265                Software Engineer-Integration
651                              DevOps Engineer
692                      Real Estate Sales Agent
                          ...
6729                      React Native Developer
6733                             Finance Manager
6960                          IT Project Manager
6968                            Graphic Designer
7169               Talent Acquisition Specialist
Name: Job Title, Length: 97, dtype: object

In [37]:
df_3_abnormal['Job Title'].unique()

array(['Digital Marketing Strategist and Planner', 'Research Analyst',
       'Software Engineer-Integration', 'DevOps Engineer',
       'Real Estate Sales Agent', 'Software Quality Assurance Analyst',
       'Google Ads Specialist', 'Android Developer',
       'EY Ford Rhodes: Indirect & Direct Tax Compliance & Reporting Lead',
       'Senior Asset Integrity Engineer',
       'Senior .net core API developer', 'Senior MERN Stack Developer',
       '2D Animators', 'Mechanical/Lifting Equipment Inspector',
       'Unity  Android Mobile Game Developer', 'Junior iOS Developer',
       'Executive Chef', 'Senior Angular Developer', 'QHSE Analyst',
       'Digital Marketing Executive (Internship leading to permanent job)',
       'Tax Intern', 'Business Development training program',
       'Finance & Accounts Executive - R2R',
       'Business Development Consultant',
       'Associate, Customer Success (Sales)', 'Treasury Analyst',
       'Admissions Officer', 'Internal Auditor',
       'Call Center Representative', 'Business Development',
       'Upwork and Fiverr Business Development Specialist',
       'Graphic Designer',
       'AI-Augmented Software Developer, Skyvera (Remote) - $200,000/year USD',
       'Business Development Specialist', 'Game Planner', 'Operator',
       'Sales Executive', 'Principal Software Engineer (khi/lhr/Isl)',
       'Sales Business Development', 'Digital Marketing Manager',
       'Search Engine Optimization Team Lead', 'HARO Link Builder',
       'Driller', 'Territory Sales Manager', 'Project Manager',
       'Front-End Developer', 'CGI /Character Artist',
       'Creative Designer', 'PHP Developer',
       'Back End Developer, Trilogy (Remote) - $100,000/year USD',
       'Business Operations Manager', 'Ai Video Generator',
       'Civil Engineers (Roads, QA/QC) QS', 'Field Supervisor',
       'Marketing Associate', 'Bussiness Development Intern',
       'Business Development Executive', 'Creative Marketing Specialist',
       'Embedded System Engineer',
       'Enterprise Resources Planning Developer',
       'HR Site Lead (Jamshoro)', 'Senior React Native Developer',
       'Web Developer - WordPress',
       'Virtual Customer Experience Internship',
       'Assistant Relationship Manager - Direct Sales',
       'Manager Compliance- Investigation',
       'Principal Software Engineer, GFI Software (Remote) - $100,000/year USD',
       'Senior Care Quality Assurance Associate', 'Account Executive',
       'Senior Web Developer', 'Bid Manager', 'Legal CSR',
       'Business Development Manager', 'IT Sales Executive', 'Artist',
       'Backend Developer (Custom WordPress and Laravel)',
       'Senior Full-stack Java / Angular Developer - +10 years of IT experience - Full remote - Contractor in USD',
       'Google Ads Manager', 'Creative Unity Developer',
       'Sales Specialist', 'Recovery Officer',
       'Application Support Engineer', 'Chief Technology Officer',
       'System SupportAnalyst (Finacle)', 'B2B Account Executive (Sales)',
       'Student Counselor',
       'Technical Associate Program 2023 - Excellent Opportunity for Fresh Graduates in Pakistan',
       'Junior Market Analyst (Remote Internship – Market Research)',
       'Accountant',
       'Junior PR Specialist (Remote Internship – Public Relations)',
       'Technical Content Writer', 'React Native Developer',
       'Finance Manager', 'IT Project Manager',
       'Talent Acquisition Specialist'], dtype=object)

Tech keywords in df_3_abnormal:

Digital
software
Analyst
DevOps
Google
Android
2D
Developer
Development
Graphic
Game
Search Engine Optimization
Creative
Video
Virtual
IT Sales
Application
Technical Content Writer
IT Project

some keywords where I have confusion:


'Senior Asset Integrity Engineer'
'Business Development training program'
'HARO Link Builder'
'Project Manager'
'CGI /Character Artist'
'Creative Marketing Specialist'
'Embedded System Engineer'
'Enterprise Resources Planning Developer'
'HR Site Lead (Jamshoro)'
'Senior Care Quality Assurance Associate'
'Bid Manager'
'Chief Technology Officer'
'B2B Account Executive (Sales)'
'Technical Associate Program 2023 - Excellent Opportunity for Fresh Graduates in Pakistan'

In [38]:
conf_titles=['Senior Asset Integrity Engineer','Business Development training program','HARO Link Builder',
             'Project Manager','CGI /Character Artist','Creative Marketing Specialist','Embedded System Engineer',
             'Enterprise Resources Planning Developer','HR Site Lead (Jamshoro)','Senior Care Quality Assurance Associate',
             'Bid Manager','Chief Technology Officer','B2B Account Executive (Sales)',
             'Technical Associate Program 2023 - Excellent Opportunity for Fresh Graduates in Pakistan']

In [39]:
# i am looking at Industry and company
df_3_abnormal[df_3_abnormal['Job Title'].isin(conf_titles)]

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
814,Senior Asset Integrity Engineer,"Abyss Solutions Ltd · Islamabad, Islāmābād, Pa...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3727033391/...,51-200 employees · Automation Machinery Manufa...,3727033391,https://www.linkedin.com/jobs/view/3727033391,About the job,NaN
884,Business Development training program,"Tech BPO (Private) Limited · Lahore, Punjab, P...",Full-time,https://www.linkedin.com/jobs/view/3727542089,51-200 employees,3727542089,https://www.linkedin.com/jobs/view/3727542089,About the job,NaN
1106,HARO Link Builder,"HiredSupport · Lahore, Punjab, Pakistan (On-si...",Full-time,https://www.linkedin.com/jobs/view/3727396682,51-200 employees,3727396682,https://www.linkedin.com/jobs/view/3727396682,About the job,NaN
1285,Project Manager,"Raccoon Tech · Islamabad, Islāmābād, Pakistan ...",Full-time,https://www.linkedin.com/jobs/view/3727544104,11-50 employees,3727544104,https://www.linkedin.com/jobs/view/3727544104,About the job,NaN
1288,CGI /Character Artist,"Marketing Services · Islamabad, Islāmābād, Pak...",Full-time,https://www.linkedin.com/jobs/view/3727520388,11-50 employees,3727520388,https://www.linkedin.com/jobs/view/3727520388,About the job,NaN
1914,Creative Marketing Specialist,"Rici Melion · Lahore, Punjab, Pakistan (On-sit...",Full-time,https://www.linkedin.com/jobs/view/3728221292,"501-1,000 employees",3728221292,https://www.linkedin.com/jobs/view/3728221292,About the job,NaN
2044,Embedded System Engineer,"Jaffer Business Systems · Karāchi, Sindh, Paki...",Full-time,https://www.linkedin.com/jobs/view/3728221394,201-500 employees,3728221394,https://www.linkedin.com/jobs/view/3728221394,About the job,NaN
2061,Enterprise Resources Planning Developer,"Beanbend · Rawalpindi, Punjab, Pakistan (Hybri...",Full-time,https://www.linkedin.com/jobs/view/3728213358,Irtaza B. Raja is hiring for this job,3728213358,https://www.linkedin.com/jobs/view/3728213358,NaN,NaN
2271,HR Site Lead (Jamshoro),"Haleon · Jamshoro, Sindh, Pakistan (On-site) R...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3708206982,"10,001+ employees · Consumer Services",3708206982,https://www.linkedin.com/jobs/view/3708206982,NaN,NaN
3182,Senior Care Quality Assurance Associate,"Careem · Karāchi, Sindh, Pakistan Reposted \n...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3709948393,"1,001-5,000 employees · IT Services and IT Con...",3709948393,https://www.linkedin.com/jobs/view/3709948393,NaN,NaN
3736,Bid Manager,"Humantek · Karāchi, Sindh, Pakistan (On-site) ...",Full-time,https://www.linkedin.com/jobs/view/3729936548,201-500 employees,3729936548,https://www.linkedin.com/jobs/view/3729936548,NaN,NaN
5142,Chief Technology Officer,"Giftkarte · Karāchi, Sindh, Pakistan (On-site)...",Full-time,https://www.linkedin.com/jobs/view/3732206096,11-50 employees,3732206096,https://www.linkedin.com/jobs/view/3732206096,About the job,NaN
5737,B2B Account Executive (Sales),"ontoedge · Rawalpindi, Punjab, Pakistan (On-si...",Full-time,https://www.linkedin.com/jobs/view/3732810459,11-50 employees,3732810459,https://www.linkedin.com/jobs/view/3732810459,NaN,NaN
6075,Technical Associate Program 2023 - Excellent O...,"Siemens · Karāchi, Sindh, Pakistan (Hybrid) \...",Full-time · Entry level,https://www.linkedin.com/jobs/view/3729082995,"10,001+ employees · Automation Machinery Manuf...",3729082995,https://www.linkedin.com/jobs/view/3729082995,NaN,NaN

IT keywords in conf_titles:

Quality Assurance
Project

#### developing IT tech pattern for Filtering job titles in df_3_abnormal:

In [40]:
# it_tech_pattern1='Digital|software|Analyst|DevOps|Google|Android|2D|Developer|Development|Graphic|Game'
# it_tech_pattern2='|Search Engine Optimization|Creative|Video|Virtual|IT Sales|Application|Technical Content Writer'
# it_tech_pattern3='|IT Project|Quality Assurance|Project'

# it_tech_pattern=it_tech_pattern1+it_tech_pattern2+it_tech_pattern3
# it_tech_pattern

# case=False
# filtered_df = df_3_abnormal[df_3_abnormal['Job Title'].str.contains(it_tech_pattern, case)]
# filtered_df
# len(filtered_df)

it_tech_pattern1 = ['Digital', 'software', 'Analyst', 'DevOps', 'Google', 'Android', '2D', 'Developer', 'Development', 'Graphic', 'Game']
it_tech_pattern2 = ['Search Engine Optimization', 'Creative', 'Video', 'Virtual', 'IT Sales', 'Application', 'Technical Content Writer']
it_tech_pattern3 = ['IT Project', 'Quality Assurance', 'Project']

it_tech_keywords = it_tech_pattern1 + it_tech_pattern2 + it_tech_pattern3
it_tech_keywords
len(it_tech_keywords)

# it_tech_keywords = ['Digital', 'software', 'Analyst', 'DevOps', 'Google', 'Android', '2D', 'Developer', 'Development', 'Graphic', 'Game',
#                     'Search Engine Optimization', 'Creative', 'Video', 'Virtual', 'IT Sales', 'Application', 'Technical Content Writer',
#                     'IT Project', 'Quality Assurance', 'Project']
# it_tech_keywords
# len(it_tech_keywords)

filtered_df = df_3_abnormal[df_3_abnormal['Job Title'].apply(lambda title: any(keyword.lower() in title.lower() for keyword in it_tech_keywords))]
filtered_df
len(filtered_df)

57

#### Filtering Tech job titles in df_3_abnormal:

In [41]:
it_tech_keywords = ['Digital', 'software', 'Analyst', 'DevOps', 'Google', 'Android', '2D', 'Developer', 'Development', 'Graphic', 'Game',
                    'Search Engine Optimization', 'Creative', 'Video', 'Virtual', 'IT Sales', 'Application', 'Technical Content Writer',
                    'IT Project', 'Quality Assurance', 'Project']
it_tech_keywords
len(it_tech_keywords)

filtered_df_3_abnormal = df_3_abnormal[df_3_abnormal['Job Title'].apply(lambda title: any(keyword.lower() in title.lower() for keyword in it_tech_keywords))]
filtered_df_3_abnormal
# len(ffiltered_df_3_abnormal)

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
93,Digital Marketing Strategist and Planner,Prime Human Resource Services (Pvt) Ltd · Karā...,Full-time,https://www.linkedin.com/jobs/view/3727011545,"10,001+ employees",3727011545,https://www.linkedin.com/jobs/view/3727011545,About the job,NaN
121,Research Analyst,"Indian School of Business · Hyderabad, Sindh, ...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3723336007,"501-1,000 employees · Higher Education",3723336007,https://www.linkedin.com/jobs/view/3723336007,NaN,NaN
265,Software Engineer-Integration,People (Professional Employers Pvt Ltd) · Isla...,Full-time,https://www.linkedin.com/jobs/view/3727002795,"5,001-10,000 employees",3727002795,https://www.linkedin.com/jobs/view/3727002795,About the job,NaN
651,DevOps Engineer,"TecBrix · Lahore, Punjab, Pakistan (Remote) \...",Full-time,https://www.linkedin.com/jobs/view/3727012776/...,11-50 employees,3727012776,https://www.linkedin.com/jobs/view/3727012776,About the job,NaN
694,Software Quality Assurance Analyst,"Stewart Pakistan Private Limited · Lahore, Pun...",Full-time,https://www.linkedin.com/jobs/view/3603557857/...,"501-1,000 employees",3603557857,https://www.linkedin.com/jobs/view/3603557857,NaN,NaN
699,Google Ads Specialist,"RT WEB Solutions · Lahore District, Punjab, Pa...",Full-time,https://www.linkedin.com/jobs/view/3727058923/...,11-50 employees,3727058923,https://www.linkedin.com/jobs/view/3727058923,About the job,NaN
703,Android Developer,"MWAN Mobile · Islāmābād, Pakistan (On-site) \...",Full-time,https://www.linkedin.com/jobs/view/3727010740/...,11-50 employees,3727010740,https://www.linkedin.com/jobs/view/3727010740,NaN,NaN
815,Senior .net core API developer,"MaxRemind Inc · Islamabad, Islāmābād, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727009877/...,51-200 employees,3727009877,https://www.linkedin.com/jobs/view/3727009877,About the job,NaN
816,Senior MERN Stack Developer,"HR Ways - Hiring Tech Talent · Lahore, Punjab,...",Full-time,https://www.linkedin.com/jobs/view/3727008291/...,11-50 employees,3727008291,https://www.linkedin.com/jobs/view/3727008291,About the job,NaN
819,2D Animators,"Rex Technologies · Lahore District, Punjab, Pa...",Full-time,https://www.linkedin.com/jobs/view/3727001215/...,51-200 employees,3727001215,https://www.linkedin.com/jobs/view/3727001215,About the job,NaN
821,Unity Android Mobile Game Developer,"Techndevs · Lahore, Punjab, Pakistan (On-site)...",Full-time,https://www.linkedin.com/jobs/view/3727037544/...,11-50 employees,3727037544,https://www.linkedin.com/jobs/view/3727037544,About the job,NaN
822,Junior iOS Developer,"Coder Crew · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727037542/...,11-50 employees,3727037542,https://www.linkedin.com/jobs/view/3727037542,About the job,NaN
864,Senior Angular Developer,"Ideal innovative Solutions · Islāmābād, Pakist...",Full-time,https://www.linkedin.com/jobs/view/3727031145/...,11-50 employees,3727031145,https://www.linkedin.com/jobs/view/3727031145,About the job,NaN
880,QHSE Analyst,"Ultra Pack (Private) Limited · Lahore, Punjab,...",Full-time,https://www.linkedin.com/jobs/view/3515858032,51-200 employees,3515858032,https://www.linkedin.com/jobs/view/3515858032,About the job,NaN
881,Digital Marketing Executive (Internship leadin...,"Mobaso · Lahore, Punjab, Pakistan (On-site) \...",Full-time,https://www.linkedin.com/jobs/view/3727392067,11-50 employees,3727392067,https://www.linkedin.com/jobs/view/3727392067,About the job,NaN
884,Business Development training program,"Tech BPO (Private) Limited · Lahore, Punjab, P...",Full-time,https://www.linkedin.com/jobs/view/3727542089,51-200 employees,3727542089,https://www.linkedin.com/jobs/view/3727542089,About the job,NaN
893,Business Development Consultant,"CONNEXATE · Lahore, Punjab, Pakistan (On-site)...",Full-time,https://www.linkedin.com/jobs/view/3727397588,11-50 employees,3727397588,https://www.linkedin.com/jobs/view/3727397588,About the job,NaN
914,Treasury Analyst,"HR Business Solutions · Islamabad, Islāmābād, ...",Full-time,https://www.linkedin.com/jobs/view/3727542938,51-200 employees,3727542938,https://www.linkedin.com/jobs/view/3727542938,About the job,NaN
922,Business Development,"Triaxo Solutions · Lahore, Punjab, Pakistan (O...",Full-time,https://www.linkedin.com/jobs/view/3727545291,11-50 employees,3727545291,https://www.linkedin.com/jobs/view/3727545291,About the job,NaN
928,Upwork and Fiverr Business Development Specialist,VASL · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727533187,11-50 employees,3727533187,https://www.linkedin.com/jobs/view/3727533187,About the job,NaN
931,Graphic Designer,"ABC Marketing (PVT) LTD. · Islamabad, Islāmābā...",Full-time,https://www.linkedin.com/jobs/view/3727558349,201-500 employees,3727558349,https://www.linkedin.com/jobs/view/3727558349,About the job,NaN
936,"AI-Augmented Software Developer, Skyvera (Remo...","Crossover · Islamabad, Islāmābād, Pakistan (R...",Full-time · Director,https://www.linkedin.com/jobs/view/3727369778,"5,001-10,000 employees · IT Services and IT Co...",3727369778,https://www.linkedin.com/jobs/view/3727369778,About the job,NaN
942,Business Development Specialist,"Teamseven Solutions · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727512346,11-50 employees,3727512346,https://www.linkedin.com/jobs/view/3727512346,About the job,NaN
1021,Game Planner,"Apex Logics · Islamabad, Islāmābād, Pakistan (...",Full-time,https://www.linkedin.com/jobs/view/3727394952,11-50 employees,3727394952,https://www.linkedin.com/jobs/view/3727394952,About the job,NaN
1089,Principal Software Engineer (khi/lhr/Isl),"Telenor Microfinance Bank Limited · Islamabad,...",Full-time,https://www.linkedin.com/jobs/view/3709965100,"1,001-5,000 employees",3709965100,https://www.linkedin.com/jobs/view/3709965100,About the job,NaN
1090,Sales Business Development,Trojan | The Global Tyre Co. · Karachi Divisio...,Full-time,https://www.linkedin.com/jobs/view/3727544288,51-200 employees,3727544288,https://www.linkedin.com/jobs/view/3727544288,NaN,NaN
1091,Digital Marketing Manager,"Nayyartech.ai · Lahore, Punjab, Pakistan (On-s...",Full-time,https://www.linkedin.com/jobs/view/3725529281,Shahid Aziz is hiring for this job,3725529281,https://www.linkedin.com/jobs/view/3725529281,NaN,NaN
1092,Search Engine Optimization Team Lead,"Centric · Karāchi, Sindh, Pakistan (On-site) ...",Full-time,https://www.linkedin.com/jobs/view/3727537990,51-200 employees,3727537990,https://www.linkedin.com/jobs/view/3727537990,NaN,NaN
1285,Project Manager,"Raccoon Tech · Islamabad, Islāmābād, Pakistan ...",Full-time,https://www.linkedin.com/jobs/view/3727544104,11-50 employees,3727544104,https://www.linkedin.com/jobs/view/3727544104,About the job,NaN
1286,Front-End Developer,Turing · Pakistan (Remote) Reposted \n1 week ...,Full-time · Entry level,https://www.linkedin.com/jobs/view/3727534873,"1,001-5,000 employees · IT Services and IT Con...",3727534873,https://www.linkedin.com/jobs/view/3727534873,About the job,NaN
1291,Creative Designer,"SocialBu · Lahore, Punjab, Pakistan (On-site) ...",Full-time,https://www.linkedin.com/jobs/view/3727547219,11-50 employees,3727547219,https://www.linkedin.com/jobs/view/3727547219,About the job,NaN
1293,PHP Developer,"Zactra Inc · Faisalabad, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3727508902,11-50 employees,3727508902,https://www.linkedin.com/jobs/view/3727508902,About the job,NaN
1296,"Back End Developer, Trilogy (Remote) - $100,00...","Crossover · Karāchi, Sindh, Pakistan (Remote)...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3727371393,"5,001-10,000 employees · IT Services and IT Co...",3727371393,https://www.linkedin.com/jobs/view/3727371393,About the job,NaN
1908,Ai Video Generator,"Kamayi · Lahore, Punjab, Pakistan (On-site) \...",Full-time,https://www.linkedin.com/jobs/view/3728202460,11-50 employees,3728202460,https://www.linkedin.com/jobs/view/3728202460,About the job,NaN
1912,Bussiness Development Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3728228589,11-50 employees,3728228589,https://www.linkedin.com/jobs/view/3728228589,About the job,NaN
1913,Business Development Executive,"Visiata · Lahore, Punjab, Pakistan (On-site) ...",Full-time,https://www.linkedin.com/jobs/view/3728208689,1-10 employees,3728208689,https://www.linkedin.com/jobs/view/3728208689,About the job,NaN
1914,Creative Marketing Specialist,"Rici Melion · Lahore, Punjab, Pakistan (On-sit...",Full-time,https://www.linkedin.com/jobs/view/3728221292,"501-1,000 employees",3728221292,https://www.linkedin.com/jobs/view/3728221292,About the job,NaN
2061,Enterprise Resources Planning Developer,"Beanbend · Rawalpindi, Punjab, Pakistan (Hybri...",Full-time,https://www.linkedin.com/jobs/view/3728213358,Irtaza B. Raja is hiring for this job,3728213358,https://www.linkedin.com/jobs/view/3728213358,NaN,NaN
2364,Senior React Native Developer,"Dubizzle Labs · Lahore, Punjab, Pakistan (On-s...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3697609561,201-500 employees · IT Services and IT Consulting,3697609561,https://www.linkedin.com/jobs/view/3697609561,About the job,NaN
2426,Web Developer - WordPress,"Nakisa · Lahore, Punjab, Pakistan (On-site) \...",Full-time · Entry level,https://www.linkedin.com/jobs/view/3714278061,201-500 employees · Software Development,3714278061,https://www.linkedin.com/jobs/view/3714278061,NaN,NaN
2640,Virtual Customer Experience Internship,"Talent Pal · Islamabad, Islāmābād, Pakistan (O...",Internship · Internship,https://www.linkedin.com/jobs/view/3730071079,11-50 employees · Staffing and Recruiting,3730071079,https://www.linkedin.com/jobs/view/3730071079,NaN,NaN
2993,"Principal Software Engineer, GFI Software (Rem...","Crossover · Rawalpindi, Punjab, Pakistan (Rem...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3723017385,"5,001-10,000 employees · IT Services and IT Co...",3723017385,https://www.linkedin.com/jobs/view/3723017385,NaN,NaN
3182,Senior Care Quality Assurance Associate,"Careem · Karāchi, Sindh, Pakistan Reposted \n...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3709948393,"1,001-5,000 employees · IT Services and IT Con...",3709948393,https://www.linkedin.com/jobs/view/3709948393,NaN,NaN
3534,Senior Web Developer,Lingopal · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3730745970,11-50 employees · Software Development,3730745970,https://www.linkedin.com/jobs/view/3730745970,NaN,NaN
4264,Business Development Manager,"Webrange Solutions · Islamabad, Islāmābād, Pak...",Full-time,https://www.linkedin.com/jobs/view/3699150344,11-50 employees,3699150344,https://www.linkedin.com/jobs/view/3699150344,About the job,NaN
4274,IT Sales Executive,"IT Consulting And Services (ITCS) · Lahore, Pu...",Full-time,https://www.linkedin.com/jobs/view/3730360359,11-50 employees,3730360359,https://www.linkedin.com/jobs/view/3730360359,NaN,NaN
4461,Backend Developer (Custom WordPress and Laravel),"RGS Digitals · Karāchi, Sindh, Pakistan (On-si...",Full-time,https://www.linkedin.com/jobs/view/3730673152,11-50 employees,3730673152,https://www.linkedin.com/jobs/view/3730673152,NaN,NaN
4486,Senior Full-stack Java / Angular Developer - +...,"All European Careers · Punjab, Pakistan (Remot...",Contract · Mid-Senior level,https://www.linkedin.com/jobs/view/3726999342,51-200 employees · IT Services and IT Consulting,3726999342,https://www.linkedin.com/jobs/view/3726999342,NaN,NaN
4660,Google Ads Manager,"DMK Consultancy · Karachi Division, Sindh, Pak...",Full-time,https://www.linkedin.com/jobs/view/3731267822,11-50 employees,3731267822,https://www.linkedin.com/jobs/view/3731267822,About the job,NaN
4715,Creative Unity Developer,"Sablo Studio · Lahore, Punjab, Pakistan (On-si...",Full-time,https://www.linkedin.com/jobs/view/3731274740,11-50 employees,3731274740,https://www.linkedin.com/jobs/view/3731274740,NaN,NaN
5140,Application Support Engineer,"Technupur · Faisalabad, Punjab, Pakistan (On-s...",Full-time,https://www.linkedin.com/jobs/view/3731994146,11-50 employees,3731994146,https://www.linkedin.com/jobs/view/3731994146,About the job,NaN
5308,System SupportAnalyst (Finacle),"Fulcrum Pvt. Limited · Karāchi, Sindh, Pakista...",Full-time,https://www.linkedin.com/jobs/view/3731989456,201-500 employees,3731989456,https://www.linkedin.com/jobs/view/3731989456,NaN,NaN
6087,Junior Market Analyst (Remote Internship – Mar...,"TalentKompass Deutschland · Lahore, Punjab, Pa...",Full-time,https://www.linkedin.com/jobs/view/3729320026,1-10 employees · Human Resources Services,3729320026,https://www.linkedin.com/jobs/view/3729320026,About the job,NaN
6598,Technical Content Writer,"Logico · Faisalabad District, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3733479114,11-50 employees,3733479114,https://www.linkedin.com/jobs/view/3733479114,NaN,NaN
6729,React Native Developer,FabLearner · Pakistan (Remote) \n4 days ago,Full-time,https://www.linkedin.com/jobs/view/3734243297,11-50 employees,3734243297,https://www.linkedin.com/jobs/view/3734243297,About the job,NaN
6960,IT Project Manager,"S&P Global · Islamabad, Islāmābād, Pakistan (O...",Full-time,https://www.linkedin.com/jobs/view/3736407961,"10,001+ employees · Financial Services",3736407961,https://www.linkedin.com/jobs/view/3736407961,About the job,NaN
6968,Graphic Designer,"Voyagersol · Islamabad, Islāmābād, Pakistan (O...",Full-time,https://www.linkedin.com/jobs/view/3734595238,51-200 employees,3734595238,https://www.linkedin.com/jobs/view/3734595238,NaN,NaN

### concatenating filtered_df_3_abnormal and filtered_df_5_desc:

In [42]:
filtered_df_3_Tech = pd.concat([filtered_df_5_desc,filtered_df_3_abnormal], ignore_index=True)
filtered_df_3_Tech

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
2892,Junior Market Analyst (Remote Internship – Mar...,"TalentKompass Deutschland · Lahore, Punjab, Pa...",Full-time,https://www.linkedin.com/jobs/view/3729320026,1-10 employees · Human Resources Services,3729320026,https://www.linkedin.com/jobs/view/3729320026,About the job,NaN
2893,Technical Content Writer,"Logico · Faisalabad District, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3733479114,11-50 employees,3733479114,https://www.linkedin.com/jobs/view/3733479114,NaN,NaN
2894,React Native Developer,FabLearner · Pakistan (Remote) \n4 days ago,Full-time,https://www.linkedin.com/jobs/view/3734243297,11-50 employees,3734243297,https://www.linkedin.com/jobs/view/3734243297,About the job,NaN
2895,IT Project Manager,"S&P Global · Islamabad, Islāmābād, Pakistan (O...",Full-time,https://www.linkedin.com/jobs/view/3736407961,"10,001+ employees · Financial Services",3736407961,https://www.linkedin.com/jobs/view/3736407961,About the job,NaN
2896,Graphic Designer,"Voyagersol · Islamabad, Islāmābād, Pakistan (O...",Full-time,https://www.linkedin.com/jobs/view/3734595238,51-200 employees,3734595238,https://www.linkedin.com/jobs/view/3734595238,NaN,NaN

In [43]:
2840+57

2897

### getting non_tech_df3

In [44]:
# df_3.drop(filtered_df_3_Tech.index)
# # KeyError

In [45]:
non_tech_df3=df_3[~df_3['Job ID'].isin(filtered_df_3_Tech['Job ID'])]
non_tech_df3

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
5,Research Analyst for Business Subjects (Office...,"TechoMatrix · Karāchi, Sindh, Pakistan (On-sit...",Full-time,https://www.linkedin.com/jobs/view/3727008042,11-50 employees,3727008042,https://www.linkedin.com/jobs/view/3727008042,About the job\n \n\n \nWe're Hiring...,NaN
6,Performance Marketing Intern,"8th Loop · Karāchi, Sindh, Pakistan (On-site) ...",Full-time,https://www.linkedin.com/jobs/view/3727056183,11-50 employees,3727056183,https://www.linkedin.com/jobs/view/3727056183,About the job\n \n\n \nJob Position...,Advertising Services\n \n ...
94,Search Engine Optimization Executive,"Brandix Soft · Lahore, Punjab, Pakistan (On-s...",Full-time,https://www.linkedin.com/jobs/view/3727025862,51-200 employees,3727025862,https://www.linkedin.com/jobs/view/3727025862,About the job\n \n\n \nResponsibili...,Advertising Services\n \n ...
96,Machine Learning Engineer,"Mexa Solutions · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3727037227,11-50 employees,3727037227,https://www.linkedin.com/jobs/view/3727037227,About the job\n \n\n \n- Have knowl...,Software Development\n \n ...
106,Human Resources Trainee,"TechSwivel (Private) Limited · Lahore, Punjab,...",Full-time,https://www.linkedin.com/jobs/view/3726899313,11-50 employees,3726899313,https://www.linkedin.com/jobs/view/3726899313,About the job\n \n\n \nUnpaid Inter...,Software Development\n \n ...
...,...,...,...,...,...,...,...,...,...
7244,Deputy Chief Engineer (Mechanical - Gas Engine),Sui Southern Gas Company Limited · Karachi Div...,On-site\n\n \nFull-time\n\n \nDirector,https://www.linkedin.com/jobs/view/3735935876,"5,001-10,000 employees · Utilities",3735935876,https://www.linkedin.com/jobs/view/3735935876,About the job\n \n\n \nB.S. / B.E. ...,"Utilities\n \n 5,001-1..."
7250,Deputy Chief Manager (Compliance),Sui Southern Gas Company Limited · Karachi Div...,Hybrid\n\n \nFull-time\n\n \nDirector,https://www.linkedin.com/jobs/view/3735942016,"5,001-10,000 employees · Utilities",3735942016,https://www.linkedin.com/jobs/view/3735942016,About the job\n \n\n \nCA / ACMA wi...,"Utilities\n \n 5,001-1..."
7254,Prosecutor,"Sui Southern Gas Company Limited · Quetta, Bal...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735937615,"5,001-10,000 employees · Utilities",3735937615,https://www.linkedin.com/jobs/view/3735937615,About the job\n \n\n \nBachelor’s d...,"Utilities\n \n 5,001-1..."
7258,Manager - Taxation,Sui Southern Gas Company Limited · Karachi Div...,Hybrid\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735942023,"5,001-10,000 employees · Utilities",3735942023,https://www.linkedin.com/jobs/view/3735942023,About the job\n \n\n \nMBA / ACCA w...,"Utilities\n \n 5,001-1..."
7262,Chief Manager (Board Secretariat),Sui Southern Gas Company Limited · Karachi Div...,Hybrid\n\n \nFull-time\n\n \nDirector,https://www.linkedin.com/jobs/view/3735942017,"5,001-10,000 employees · Utilities",3735942017,https://www.linkedin.com/jobs/view/3735942017,About the job\n \n\n \nCA / ACMA wi...,"Utilities\n \n 5,001-1..."

In [46]:
2897+676

3573

### analyzing filtered_df_3_Tech['Job Title'] and non_tech_df3['Job Title']

In [47]:
len(filtered_df_3_Tech['Job Title'].unique()),len(df_3['Job Title'].unique()),len(non_tech_df3['Job Title'].unique())

(1946, 2343, 505)

***why there are 505 unique job titles in non_tech_df3 it should be 397 so It may be unique titles in IT and non IT jobs(mixing)***

In [48]:
1946+505

2451

In [49]:
len(df_3['Job Title'].unique())-len(filtered_df_3_Tech['Job Title'].unique())

397

In [50]:
505-397
# 2451-2343

108

***108 job titles are mixed***

### finding commen job titles

In [51]:
# l1=['A','B','C','D']
# l2=['A','B','C']
# l2 in l1
# type(l1)

In [52]:
commen_job_titles=np.intersect1d(filtered_df_3_Tech['Job Title'].unique(),non_tech_df3['Job Title'].unique())
# type(commen_job_titles)
commen_job_titles
# len(commen_job_titles)

array(['Account Assistant', 'Account Executive', 'Accountant',
       'Admin Officer', 'Admissions Officer', 'Android Developer',
       'Angular Developer', 'Animator', 'Appointment Setter',
       'Assistant Manager', 'Assistant Manager Sales',
       'Assistant Sales Manager', 'Associate', 'Bid Manager',
       'Bid Specialist', 'Business Development Associate',
       'Business Development Executive', 'Business Development Manager',
       'Business Development Officer',
       'Business Development Representative',
       'Business Development Specialist', 'Call Center Representative',
       'Career Counseling Specialist', 'Chief Technology Officer',
       'Civil Engineer', 'Closer',
       'Computer Numerical Control Programmer', 'Content Writer',
       'Customer Sales Representative', 'Customer Service Officer',
       'Customer Service Representative',
       'Customer Support Representative', 'Digital Marketing Manager',
       'Digital Marketing Specialist', 'Educational Counselor',
       'Engineering Technician', 'FP&A Manager', 'Finance Manager',
       'Flutter Developer', 'Front Desk Officer',
       'Human Resources Manager', 'Human Resources Officer',
       'Human Resources Specialist', 'Inbound Sales Representative',
       'Inside Sales Specialist', 'Internal Auditor',
       'International Sales Executive',
       'International Sales Representative',
       'International Sales Specialist', 'Investment Advisor',
       'Machine Learning Engineer', 'Manager Project Acquisition',
       'Marketing Associate', 'Marketing Executive', 'Marketing Intern',
       'Marketing Manager', 'Marketing Officer', 'Operations Manager',
       'Personal Assistant', 'Production Officer',
       'Production Supervisor', 'Project Manager', 'Proofreader',
       'Property Consultant', 'Receptionist', 'Research Analyst',
       'Sales Agent', 'Sales And Marketing Intern',
       'Sales And Marketing Representative',
       'Sales And Marketing Specialist', 'Sales Associate',
       'Sales Business Development', 'Sales Consultant',
       'Sales Development Representative', 'Sales Engineer',
       'Sales Executive', 'Sales Manager', 'Sales Marketing Manager',
       'Sales Officer', 'Sales Representative', 'Sales Specialist',
       'Salesperson', 'Search Engine Optimization Executive',
       'Senior Asset Integrity Engineer',
       'Senior Business Development Manager', 'Senior Content Writer',
       'Senior Graphic Designer', 'Senior Sales Executive',
       'Senior Web Developer', 'Shopify Developer',
       'Social Media Manager', 'Sr. Angular Developer',
       'Student Counselor', 'Talent Acquisition Specialist',
       'Tax Officer', 'Teacher', 'Team Head', 'Technical Content Writer',
       'Technical Project Manager', 'Telesales Executive',
       'Telesales Representative', 'Territory Sales Manager',
       'Truck Dispatcher', 'UI/UX Designer', 'Upwork Bidder',
       'Virtual Customer Experience Internship', 'Wordpress Developer',
       'iOS Developer'], dtype=object)

***There are some Tech jobs in non_tech_df and non_tech_jobs in tech_df***

In [53]:
IT_titles_in_non_tech_df3=['Android Developer','Angular Developer','Animator','Bid Manager','Closer',
                           'Computer Numerical Control Programmer','Digital Marketing Manager',
                           'Digital Marketing Specialist','Flutter Developer','Machine Learning Engineer',
                           'Senior Web Developer','Shopify Developer','Social Media Manager','Sr. Angular Developer',
                           'Technical Content Writer','Technical Project Manager','UI/UX Designer','Upwork Bidder',
                           'Virtual Customer Experience Internship','Wordpress Developer','iOS Developer']
IT_titles_in_non_tech_df3

['Android Developer',
 'Angular Developer',
 'Animator',
 'Bid Manager',
 'Closer',
 'Computer Numerical Control Programmer',
 'Digital Marketing Manager',
 'Digital Marketing Specialist',
 'Flutter Developer',
 'Machine Learning Engineer',
 'Senior Web Developer',
 'Shopify Developer',
 'Social Media Manager',
 'Sr. Angular Developer',
 'Technical Content Writer',
 'Technical Project Manager',
 'UI/UX Designer',
 'Upwork Bidder',
 'Virtual Customer Experience Internship',
 'Wordpress Developer',
 'iOS Developer']

In [54]:
filtered_df_3_Tech['Job Title'].unique()[:100]

array(['LinkedIn Data Extractor', 'It Management Intern',
       'SQL Database Developer', 'Business Intelligence Developer',
       'Web Developer - Internship', 'Sr. SDET Engineer',
       'Associate Engineer', 'Fresh Graduate Engineers',
       'Fraud Monitoring Officer', 'Business System Analyst',
       'Research Analyst - Finance', 'HR Intern',
       'Alfa Origin is looking for sales and HR Intern',
       'Sales Operations Specialist', 'ASO Internee',
       'Trainee R&D Engineer', 'Dotnet+React Developer',
       'Business Development Executive (REMOTE) up to A$2,500/month',
       'Artificial Intelligence Developer', 'Web Designer',
       'Contact Centre Rep (REMOTE) up to A$ 2,000/month',
       'Software Engineer', 'SQL Database Engineer',
       'Junior Business Developer', 'Human Resources Intern',
       'Antifraud Specialist', 'Management Trainee Officer',
       'Jr Business Developer (Upwork)',
       'Software Engineer - Product Operation',
       'International Procurement/Sourcing Intern', 'Data Analyst',
       'Office Administrative Assistant', 'Staff Assistant',
       'Business Development Specialist', 'IT Jobs',
       'Technical Business Analyst',
       'Senior Business Intelligence Analyst', 'Finance Assitant (GF)',
       'junior application support engineer',
       'Business Development Officer', 'Full Stack Developer',
       'Database Operations and Administration Specialist',
       'Business Development Manager', 'Business Development Executive',
       'Python Developer with Data Science Focus',
       'E-Commerce and Digital marketing Expert', 'Budget Analyst',
       'HR Executive -Operations', 'Odoo Developer', 'iOS Intern',
       'Web Developer', 'Upwork Specialist', 'Freelance Bidder',
       'SOFTWARE DEVELOPER', 'ACE - Paid Internships Program',
       'Admissions Officer', 'Business Development Representative',
       'Customer Project Coordinator', 'Customer Experience Executive',
       'Assistant Manager Project Planning & Design',
       'SAP Business Intelligence Specialist',
       'Human Resources Assistant', 'Finance Asst/Officer',
       'Salesforce Developer', 'Customer Service Representative',
       'Operations Manager', 'Content Writer',
       'Customer Support Specialist', 'Resource Coordinator',
       'Audit Intern', 'Software Quality Assurance Engineer',
       'Specialist PO Fulfilment', 'Social Media Manager',
       'Senior Software Engineer', 'Junior Officer Agri Purchases',
       'Brand Champion', 'Host', 'SC Agro Officer',
       'Digital Marketing Specialist', 'Digital Marketing Executive',
       'Amazon Virtual Assistant', 'Educational Counselor',
       'SEO Developer', 'Process Lead', 'Google Ads Specialist',
       'Marketing Strategist', 'PHP & Mern Stack Trainee Program',
       'Senior Financial Operations Associate',
       'Human Resources Specialist',
       'Regional Talent Management Specialist (APAC & EMEA)',
       'Microsoft Dynamics Consultant',
       'Junior Broker/ Broking Support (Life)',
       'Senior Technical Support Engineer, Skyvera (Remote) - $30,000/year USD',
       'Client Account Manager', 'Merchandising & Marketing',
       'Operations Specialist - Renewals', 'Graphic Design Intern (Paid)',
       'SEO Content Writer', 'Proofreader', 'Support Executive'],
      dtype=object)

In [56]:
non_tech_df3['Job Title'].unique()[:100]

array(['Research Analyst for Business Subjects (Office Based + Night Shift)',
       'Performance Marketing Intern',
       'Search Engine Optimization Executive',
       'Machine Learning Engineer', 'Human Resources Trainee',
       'Business Development Executive',
       'Fintech B2B Marketing Executive',
       'Customer Support Representative', 'Ecommerce Manager',
       'Territory Incharge [Future roles - Multiple Locations',
       'Upwork Bidding Specialist', 'Upwork Bidder',
       'Student Leader - Chemistry', 'Customer Service Representative',
       'Business Development Specialist', 'Internal Auditor',
       'Business Development Representative-Australia region',
       'Marketing Executive', 'Business Development Representative',
       'Human Resources and Admin Executive', 'Tax Officer',
       'Sales Executive', 'Officer Sales Support - Sukkur',
       'Study Abroad Advisor', 'Customer Sales Representative',
       'Sales Officer', 'Export Operations Specialist',
       'Social Media Manager', 'Professional, QA',
       'Immigration Consultant', 'Amazon Growth Expert for our Brand',
       'International Sales Executive',
       'Sales And Marketing Representative',
       'Medical Billing Executive in Production Department',
       'Senior Customer Service Representative',
       'Senior Financial Analyst', 'Equity Trader',
       'Recruitment Executive', 'IELTS & PTE Trainer',
       'SALT Export Manager', 'Dispatcher', 'Accountant',
       'CSR ( For Truck Dispatch Campaign in US)', 'Subtitle Editor',
       'Team Lead', 'Assistant Professor',
       'Assistant Relationship Manager - Direct Sales',
       'Technical Project Manager', 'Territory Sales Manager Sargodha',
       'Front Sales & Support (Bark & PPC)', 'Salesperson',
       'MEDICARE Customer Service Representative',
       'Sales Executive - North Region (KPK)',
       'Sales And Marketing Specialist', 'Sales Representative',
       'AMG/ Manager People Operations', 'Legal Research Assistant',
       'UI/UX Designer', 'FDO - Front Desk Officer', 'upwork Bidder',
       'Real Estate Sales Agent', 'Claims Manager',
       'Sales Support Coordinator', 'Senior Officer',
       'Operations Trainer', 'Engineering Technician',
       'Telesales Representative - Appointment Setter', 'Architect',
       'Legal Assistant', 'Assistant Manager - Audit & Accounts',
       'Officer - Grants', 'Community Counselor',
       'Head of Compliance-Banking Industry', 'Property Consultant',
       'Autocad/Solidworks Professional',
       'EY Ford Rhodes: Indirect & Direct Tax Compliance & Reporting Lead',
       'Inside Sales Specialist', 'Sports Anchor', 'Angular Developer',
       'iOS Developer', 'Quantity Surveyor',
       'Senior Asset Integrity Engineer',
       'Mechanical/Lifting Equipment Inspector', 'Animator',
       'Architectural Drafter', 'German Content Writer - inhouse',
       'Executive Chef',
       'Business Development Interns(Leading To Permanent Job)',
       'Tax Intern', 'Finance & Accounts Executive - R2R',
       'Sales And Marketing Intern', 'Supply Chain Executive',
       'Associate, Customer Success (Sales)', 'Admissions Officer',
       'Call Center Representative', 'Front Desk Receptionist',
       'Assistant to Office Manager', 'Operator',
       'Technical Content Writer',
       'Consultant/Production Manager Detergent Manufacturing Unit'],
      dtype=object)

In [55]:
filtered_df_3_Tech['Job Title'].value_counts()[:50]

Job Title
Business Development Executive                                              34
Software Engineer                                                           28
Educational Counselor                                                       26
Sales Executive                                                             23
Senior Software Engineer                                                    20
Business Development Manager                                                16
Graphic Designer                                                            16
Dotnet Developer                                                            14
DevOps Engineer                                                             13
Full Stack Engineer                                                         13
Wordpress Developer                                                         12
Business Development Officer                                                12
PHP Developer                                                               12
Back End Developer                                                          12
Business Development Specialist                                             11
Social Media Manager                                                        11
Digital Marketing Specialist                                                11
Sales Specialist                                                            10
Angular Developer                                                           10
International Sales Executive                                               10
Admissions Officer                                                          10
Unity Developer                                                              9
Content Writer                                                               9
Android Developer                                                            9
Social Media Marketing Specialist                                            9
Lead Software Engineer, Trilogy (Remote) - $100,000/year USD                 8
Digital Marketing Manager                                                    8
Senior Dotnet Developer                                                      8
Senior Graphic Designer                                                      8
Full Stack Developer                                                         8
React Native Developer                                                       7
Sales Manager                                                                7
Animator                                                                     7
Video Editor                                                                 7
Area Sales Manager                                                           7
Upwork Bidder                                                                7
Full-Stack Developer                                                         7
Human Resources Executive                                                    7
Senior Sales Executive                                                       7
Senior DevOps Engineer                                                       7
iOS Developer                                                                6
Python Developer                                                             6
Technical Writer                                                             6
Search Engine Optimization Specialist                                        6
Senior Principal Software Engineer, Trilogy (Remote) - $100,000/year USD     6
Salesforce Developer                                                         6
Senior Software Engineer, Trilogy (Remote) - $100,000/year USD               6
Solutions Architect                                                          6
Senior Full Stack Engineer                                                   6
Marketing Executive                                                          6
Name: count, dtype: int64

##### investigating Educational Counselor job

In [148]:
# filtered_df_3_Tech[filtered_df_3_Tech['Job Title']=='Educational Counselor'].iloc[0]['Job Desception']
# 'software' in filtered_df_3_Tech[filtered_df_3_Tech['Job Title']=='Educational Counselor'].iloc[0]['Job Desception']
# filtered_df_3_Tech[filtered_df_3_Tech['Job Title']=='Educational Counselor'].iloc[0]['Job Info']
# # These are some technical education related jobs

In [57]:
non_tech_df3['Job Title'].value_counts()[:50]

Job Title
Sales Executive                                                     23
Business Development Executive                                      13
Sales Specialist                                                    11
Salesperson                                                          9
Business Development Manager                                         7
Sales And Marketing Specialist                                       7
Customer Service Representative                                      7
Carrier Onboarding / Sales Executive at a Truck Dispatching LLC!     6
Business Development Specialist                                      5
Proofreader                                                          5
Associate Project Sales                                              4
Assistant Manager Sales                                              4
Assistant Manager                                                    4
International Sales Executive                                        4
Customer Sales Representative                                        4
Real Estate Sales Agent                                              3
IELTS & PTE Trainer                                                  3
Call Center Representative                                           3
Assistant Professor                                                  3
Assistant Relationship Manager - Direct Sales                        3
Territory Sales Manager                                              3
Assistant Sales Manager                                              3
Property Consultant                                                  3
Affiliate Sales (Indirect)                                           3
Telesales Representative - Appointment Setter                        2
Student Counselor                                                    2
Production Manager                                                   2
Senior Sales Executive                                               2
Retail Store Manager                                                 2
MEDICARE Customer Service Representative                             2
Inside Sales Specialist                                              2
Car Financing (Sales)                                                2
Admissions Officer                                                   2
Sales Engineer                                                       2
AM Real Estate Sales                                                 2
Virtual Data Analytics Internship - Customer Retention               2
Virtual Data Engineering Internship - Payment Capabilities           2
Medical Science Liaison (MSL)                                        2
Territory Manager                                                    2
Educational Counselor                                                2
Operations Manager                                                   2
Virtual B2B Sales Internship                                         2
Business Development Associate                                       2
Senior Officer                                                       2
Project Manager                                                      2
Virtual Data Engineering Internship - Cloud Based Storage System     2
Accounting Manager                                                   2
Closer                                                               2
Animator                                                             2
Technical Project Manager                                            2
Name: count, dtype: int64

import pandas as pd

# Assuming your DataFrame is named 'df' and the job titles are in a column 'job_title'
it_tech_pattern = 'IT|Tech'
filtered_df = df[df['job_title'].str.contains(it_tech_pattern, case=False)]

import pandas as pd

it_tech_keywords = ['IT', 'Tech', 'Information Technology', 'Developer', 'Software Engineer', 'Data Scientist', ...]

# Assuming your DataFrame is named 'df' and the job titles are in a column 'job_title'
filtered_df = df[df['job_title'].apply(lambda title: any(keyword in title for keyword in it_tech_keywords))]