In [2]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [3]:
path='Filltered_Files-concatenated/IT_roles_Linkedin_Job_Details_and_Job_Descriptions_26-sep-to-26-nov_3734-jobs_1856-titles_20-features_Not-duplicated_v5_Feature_Eng_Processed.csv'

In [4]:
df=pd.read_csv(path)

In [5]:
df

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info,company,location_1,location_2,Remote/Onsite,n_applicant,job posting time,Job Type nElements,Job-Type,Experience Level,Comp_N_Employees,Comp_Industry
0,iOS Intern,AusSource Enterprises (SMC-PRIVATE) LIMITED · ...,Full-time,https://www.linkedin.com/jobs/view/3727017016,11-50 employees,3727017016,https://www.linkedin.com/jobs/view/3727017016,About the job\n \n\n \n#hiringalert...,IT Services and IT Consulting\n \n ...,AusSource Enterprises (SMC-PRIVATE) LIMITED,Islamabad,"Islamabad, Islāmābād, Pakistan",On-site,NaN,2 weeks ago,1,Full-time,Not specified,11-50 employees,Not specified
1,Trainee iOS Developer,"TechSwivel (Private) Limited · Lahore, Punjab,...",Full-time,https://www.linkedin.com/jobs/view/3726895494/...,11-50 employees,3726895494,https://www.linkedin.com/jobs/view/3726895494,About the job\n \n\n \nUnpaid Inter...,Software Development\n \n ...,TechSwivel (Private) Limited,Lahore,"Lahore, Punjab, Pakistan",On-site,NaN,2 weeks ago,1,Full-time,Not specified,11-50 employees,Not specified
2,Android Developer,"MWAN Mobile · Islāmābād, Pakistan (On-site) \...",Full-time,https://www.linkedin.com/jobs/view/3727010740/...,11-50 employees,3727010740,https://www.linkedin.com/jobs/view/3727010740,NaN,NaN,MWAN Mobile,Islāmābād,"Islāmābād, Pakistan",On-site,NaN,2 weeks ago,1,Full-time,Not specified,11-50 employees,Not specified
3,MERN and React Native Developer,"TecStik · Karāchi, Sindh, Pakistan (On-site) ...",Full-time,https://www.linkedin.com/jobs/view/3727013349/...,1-10 employees,3727013349,https://www.linkedin.com/jobs/view/3727013349,About the job\n \n\n \nThe ideal ca...,"Technology, Information and Media\n ...",TecStik,Karāchi,"Karāchi, Sindh, Pakistan",On-site,51,2 weeks ago,1,Full-time,Not specified,1-10 employees,Not specified
4,Mobile Application Developer,"Analytica · Lahore, Punjab, Pakistan (On-site)...",Full-time,https://www.linkedin.com/jobs/view/3727010108/...,51-200 employees,3727010108,https://www.linkedin.com/jobs/view/3727010108,About the job\n \n\n \nWe are looki...,Software Development\n \n ...,Analytica,Lahore,"Lahore, Punjab, Pakistan",On-site,51,2 weeks ago,1,Full-time,Not specified,51-200 employees,Not specified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3729,Pre-Sales Software,"Grewals Tech Solutions · Lahore, Punjab, Paki...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3768502364,11-50 employees,3768502364,https://www.linkedin.com/jobs/view/3768502364,About the job\n \n \nAs a Pre-Sales...,"Technology, Information and Media\n ...",Grewals Tech Solutions,Lahore,"Lahore, Punjab, Pakistan \n1 week ago\n\n",On-site,8,1 week ago,2,Full-time,Not specified,11-50 employees,Not specified
3730,"Lead Software Engineer, Trilogy (Remote) - $10...","Crossover · Lahore, Punjab, Pakistan Reposted...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3766612589,"5,001-10,000 employees · IT Services and IT Co...",3766612589,https://www.linkedin.com/jobs/view/3766612589,About the job\n \n \nCrossover is t...,IT Services and IT Consulting\n \n ...,Crossover,Lahore,"Lahore, Punjab, Pakistan Reposted \n6 days a...",Remote,19,6 days ago,3,Full-time,Mid-Senior level,"5,001-10,000 employees",IT Services and IT Consulting
3731,QA Engineer,"NewRich Network · Lahore, Punjab, Pakistan \n...",Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3772083919,11-50 employees · Online Audio and Video Media,3772083919,https://www.linkedin.com/jobs/view/3772083919,About the job\n \n \nWe are a compa...,Online Audio and Video Media\n \n ...,NewRich Network,Lahore,"Lahore, Punjab, Pakistan \n1 week ago",Remote,NaN,1 week ago,3,Full-time,Entry level,11-50 employees,Online Audio and Video Media
3732,"Principal Software Engineer, IgniteTech (Remot...","Crossover · Karāchi, Sindh, Pakistan Reposted...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3766351795,"5,001-10,000 employees · IT Services and IT Co...",3766351795,https://www.linkedin.com/jobs/view/3766351795,About the job\n \n \nCrossover is t...,IT Services and IT Consulting\n \n ...,Crossover,Karāchi,"Karāchi, Sindh, Pakistan Reposted \n6 days a...",Remote,19,6 days ago,3,Full-time,Mid-Senior level,"5,001-10,000 employees",IT Services and IT Consulting
3733,Software Development Support Engineer (L2 & L3),"the ENTERTAINER · Lahore, Punjab, Pakistan \n...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3763867444,201-500 employees · Software Development,3763867444,https://www.linkedin.com/jobs/view/3763867444,About the job,NaN,the ENTERTAINER,Lahore,"Lahore, Punjab, Pakistan \n1 week ago\n\n",On-site,25,1 week ago,3,Full-time,Mid-Senior level,201-500 employees,Software Development

In [6]:
df.shape

(3734, 20)

In [7]:
df.isnull().sum()

Job Title                0
Job Info                 0
Job Type                 0
Job Link_x               0
employees                0
Job ID                   0
Job Link_y               0
Job Desception          11
Company Info           787
company                  0
location_1               0
location_2               0
Remote/Onsite            0
n_applicant           1489
job posting time         0
Job Type nElements       0
Job-Type                 0
Experience Level         0
Comp_N_Employees         0
Comp_Industry            0
dtype: int64

### exploring features ony by one

In [8]:
df['Job Title'].unique()

array(['iOS Intern', 'Trainee iOS Developer', 'Android Developer', ...,
       'Senior Software Engineer - SharePoint', 'Pre-Sales Software',
       'Software Development Support Engineer (L2 & L3)'], dtype=object)

In [9]:
len(df['Job Title'].unique())

1856

In [10]:
df['Job Title'].value_counts()[:30]

Job Title
Web Back-End Developer                                            57
Software Engineer                                                 56
Full Stack Engineer                                               47
Senior Software Engineer                                          45
Wordpress Developer                                               38
PHP Developer                                                     36
Dotnet Developer                                                  33
Back End Developer                                                27
Shopify Developer                                                 27
Lead Software Engineer, Trilogy (Remote) - $100,000/year USD      26
Android Developer                                                 25
Senior Software Engineer, Trilogy (Remote) - $100,000/year USD    25
DevOps Engineer                                                   25
Unity Developer                                                   23
Senior Dotnet Developer                                           23
Web Backend Developer                                             22
Web Developer                                                     21
Data Analyst                                                      20
Full Stack Developer                                              20
Python Developer                                                  19
iOS Developer                                                     18
Senior AI Engineer, Trilogy (Remote) - $200,000/year USD          18
UI/UX Designer                                                    17
React Native Developer                                            16
Full-Stack Developer                                              16
Laravel Developer                                                 16
Senior DevOps Engineer                                            16
Data Scientist II                                                 16
Full Stack Developer, Trilogy (Remote) - $100,000/year USD        15
Data Engineer                                                     15
Name: count, dtype: int64

In [11]:
df['company']

0       AusSource Enterprises (SMC-PRIVATE) LIMITED
1                      TechSwivel (Private) Limited
2                                       MWAN Mobile
3                                           TecStik
4                                         Analytica
                            ...
3729                        Grewals Tech Solutions
3730                                     Crossover
3731                                NewRich Network
3732                                     Crossover
3733                                the ENTERTAINER
Name: company, Length: 3734, dtype: object

In [12]:
df['company'].unique()

array(['AusSource Enterprises (SMC-PRIVATE) LIMITED ',
       'TechSwivel (Private) Limited ', 'MWAN Mobile ', ...,
       'WebTech.dev ', 'Hello World Technologies ',
       'Grewals Tech Solutions  '], dtype=object)

In [13]:
len(df['company'].unique())

1420

In [14]:
df['company'].value_counts()

company
Crossover                        506
Turing                           215
Afiniti                           74
HR Ways - Hiring Tech Talent      39
Dubizzle Labs                     35
                                ...
Vizz Web Solutions Pvt. Ltd        1
Techlogix                          1
Khired Networks                    1
WorldCall Telecom Limited          1
Grewals Tech Solutions             1
Name: count, Length: 1420, dtype: int64

In [16]:
df['company'].value_counts()[:40]

company
Crossover                                   506
Turing                                      215
Afiniti                                      74
HR Ways - Hiring Tech Talent                 39
Dubizzle Labs                                35
Zones IT Solutions                           31
Motive                                       31
TCP Software                                 27
Gelato                                       27
CureMD                                       26
Teradata                                     26
S&P Global                                   23
Contour Software                             23
GfK - An NIQ Company                         23
IBM                                          22
Deriv                                        22
Daraz                                        21
ibex                                         19
360 TECHNOLOGIES                             19
Jazz                                         17
Talent Pal                                   16
All European Careers                         15
Careem                                       15
Telenor                                      15
People (Professional Employers Pvt Ltd)      15
Kamayi                                       14
yieldWerx Semiconductor                      14
IKONIC                                       14
Tree Top Staffing LLC                        14
CrecenTech Systems Private Limited           12
Hitachi Digital Services                     12
Gaditek                                      12
BAT                                          11
Melior ITS                                   11
Lucidspire                                   11
Zactra Inc                                   10
eSpark Consulting Group                      10
Arbisoft                                     10
Nisum                                        10
Orcalo Holdings                               9
Name: count, dtype: int64

In [17]:
df['location_1']

0       Islamabad
1          Lahore
2       Islāmābād
3         Karāchi
4          Lahore
          ...
3729       Lahore
3730       Lahore
3731       Lahore
3732      Karāchi
3733       Lahore
Name: location_1, Length: 3734, dtype: object

In [18]:
df['location_1'].unique()

array(['Islamabad', 'Lahore', 'Islāmābād', 'Karāchi', 'Pakistan',
       'Rawalpindi', 'Karachi', 'Multan', 'Faisalabad', 'Bahawalpur',
       'Peshawar', 'Punjab', 'Jhelum', 'MENA', 'Sindh', 'APAC',
       'Hyderabad', 'South', 'Gujranwala', 'Khyber', 'New', 'Gurugram',
       'APJ', 'Jamshoro', 'Quetta', 'Okāra', 'Chaman', 'Kampala',
       'Mardan', 'Korangi', 'Sialkot', 'Abbottabad', 'Sāhīwāl', 'India',
       'Jhang', 'Rahim', 'Sukkur', 'Kharian', 'Banda', 'Sargodha',
       'Johar', 'Rakhni', 'Khuzdar', 'Gilgit-Baltistan', 'Lodhran',
       'Gujrāt', 'Malir', 'Muzaffargarh', 'Vehari', 'Turkey', 'Pindi',
       'Abbottābād', 'Chakwāl', 'Gulshan', 'Shekhūpura', 'Vienna',
       'Haroonabad'], dtype=object)

In [19]:
len(df['location_1'].unique()) # incorrect

57

In [20]:
df['location_1'].value_counts()

location_1
Lahore              1198
Islamabad            617
Karāchi              601
Pakistan             486
Karachi              235
Rawalpindi           187
Islāmābād            103
Faisalabad            57
Peshawar              46
Punjab                35
Multan                23
Hyderabad             21
New                   18
APJ                   15
Bahawalpur             8
APAC                   8
Gujranwala             7
Rakhni                 6
South                  6
Khyber                 4
Sialkot                4
Sindh                  4
Quetta                 3
Jhelum                 3
Rahim                  2
Jamshoro               2
Okāra                  2
Sāhīwāl                2
India                  2
Vehari                 2
Gilgit-Baltistan       1
Lodhran                1
Gujrāt                 1
Malir                  1
Muzaffargarh           1
Pindi                  1
Turkey                 1
Vienna                 1
Abbottābād             1
Chakwāl                1
Gulshan                1
Shekhūpura             1
Mardan                 1
Khuzdar                1
Johar                  1
Sargodha               1
Banda                  1
Kharian                1
Sukkur                 1
Jhang                  1
Abbottabad             1
Korangi                1
Kampala                1
Chaman                 1
Gurugram               1
MENA                   1
Haroonabad             1
Name: count, dtype: int64

In [22]:
df['Remote/Onsite']

0       On-site
1       On-site
2       On-site
3       On-site
4       On-site
         ...
3729    On-site
3730     Remote
3731     Remote
3732     Remote
3733    On-site
Name: Remote/Onsite, Length: 3734, dtype: object

In [23]:
df['Remote/Onsite'].unique()

array(['On-site', 'Remote', 'Hybrid', 'Not specified'], dtype=object)

In [24]:
df['Remote/Onsite'].value_counts()

Remote/Onsite
On-site          2184
Remote           1179
Hybrid            273
Not specified      98
Name: count, dtype: int64

In [25]:
df['Job-Type']

0       Full-time
1       Full-time
2       Full-time
3       Full-time
4       Full-time
          ...
3729    Full-time
3730    Full-time
3731    Full-time
3732    Full-time
3733    Full-time
Name: Job-Type, Length: 3734, dtype: object

In [26]:
df['Job-Type'].unique()

array(['Full-time', 'Contract', 'Part-time', 'Internship',
       'Not specified', 'Temporary'], dtype=object)

In [27]:
len(df['Job-Type'].unique())

6

In [28]:
df['Job-Type'].value_counts()

Job-Type
Full-time        3577
Contract           88
Part-time          35
Internship         31
Not specified       2
Temporary           1
Name: count, dtype: int64

In [29]:
df['Experience Level']

0          Not specified
1          Not specified
2          Not specified
3          Not specified
4          Not specified
              ...
3729       Not specified
3730    Mid-Senior level
3731         Entry level
3732    Mid-Senior level
3733    Mid-Senior level
Name: Experience Level, Length: 3734, dtype: object

In [30]:
df['Experience Level'].unique()

array(['Not specified', 'Mid-Senior level', 'Entry level', 'Associate',
       'Director', 'Executive', 'Internship'], dtype=object)

In [31]:
len(df['Experience Level'].unique())

7

In [33]:
df['Experience Level'].value_counts()

Experience Level
Not specified       1919
Mid-Senior level    1089
Entry level          443
Associate            160
Director              61
Internship            33
Executive             29
Name: count, dtype: int64

In [34]:
df['Comp_N_Employees']

0               11-50 employees
1               11-50 employees
2               11-50 employees
3                1-10 employees
4              51-200 employees
                 ...
3729            11-50 employees
3730    5,001-10,000 employees
3731           11-50 employees
3732    5,001-10,000 employees
3733         201-500 employees
Name: Comp_N_Employees, Length: 3734, dtype: object

In [35]:
df['Comp_N_Employees'].unique()

array(['11-50 employees', '1-10 employees', '51-200 employees',
       '201-500 employees', '5,001-10,000 employees ',
       '1,001-5,000 employees ', '201-500 employees ',
       '51-200 employees ', '1-10 employees ', '11-50 employees ',
       '1,001-5,000 employees', '501-1,000 employees ', 'Not specified',
       '10,001+ employees ', '501-1,000 employees', '10,001+ employees',
       '5,001-10,000 employees'], dtype=object)

In [36]:
len(df['Comp_N_Employees'].unique())

17

In [37]:
df['Comp_N_Employees'].value_counts()

Comp_N_Employees
11-50 employees            777
5,001-10,000 employees     598
1,001-5,000 employees      527
51-200 employees           448
1-10 employees             212
10,001+ employees          208
51-200 employees           177
201-500 employees          167
201-500 employees          148
501-1,000 employees        119
Not specified              116
11-50 employees             98
1,001-5,000 employees       47
1-10 employees              38
501-1,000 employees         35
5,001-10,000 employees      10
10,001+ employees            9
Name: count, dtype: int64

In [38]:
df['Comp_Industry']

0                        Not specified
1                        Not specified
2                        Not specified
3                        Not specified
4                        Not specified
                     ...
3729                     Not specified
3730     IT Services and IT Consulting
3731      Online Audio and Video Media
3732     IT Services and IT Consulting
3733              Software Development
Name: Comp_Industry, Length: 3734, dtype: object

In [39]:
df['Comp_Industry'].unique()

array(['Not specified', ' IT Services and IT Consulting',
       ' Software Development', ' IT System Custom Software Development',
       ' Financial Services', ' Human Resources Services',
       ' Technology, Information and Internet',
       ' Transportation, Logistics, Supply Chain and Storage',
       ' Information Technology & Services',
       ' Renewable Energy Semiconductor Manufacturing',
       ' Telecommunications', ' Leisure, Travel & Tourism',
       ' Outsourcing/Offshoring', ' Banking', ' Blockchain Services',
       ' Computer and Network Security', ' Biotechnology Research',
       ' Utilities', ' Translation and Localization',
       ' Automation Machinery Manufacturing',
       ' Pharmaceutical Manufacturing', ' International Affairs',
       ' Tobacco Manufacturing', ' Strategic Management Services',
       ' Media Production', ' Real Estate', ' Hospitals and Health Care',
       ' Staffing and Recruiting',
       ' Outsourcing and Offshoring Consulting', ' Professional Services',
       ' Information Services', ' Wellness and Fitness Services',
       ' Retail Apparel and Fashion', ' Higher Education',
       ' Book and Periodical Publishing',
       ' Internet Marketplace Platforms',
       ' Food and Beverage Manufacturing', ' Manufacturing',
       ' Advertising Services', ' Public Safety', ' Retail',
       ' Engineering Services', ' Oil and Gas', ' Design Services',
       ' Consumer Services', ' Accounting', ' Internet Publishing',
       ' Technology, Information and Media', ' Investment Advice',
       ' Non-profit Organizations', ' Human Resources',
       ' Beverage Manufacturing', ' Marketing Services', ' Think Tanks',
       ' Semiconductor Manufacturing',
       ' Business Consulting and Services',
       ' Online Audio and Video Media', ' Food and Beverage Services',
       ' International Trade and Development', ' Apparel & Fashion',
       ' Entertainment Providers', ' Industrial Machinery Manufacturing'],
      dtype=object)

In [40]:
len(df['Comp_Industry'].unique())

62

In [41]:
df['Comp_Industry'].value_counts()

Comp_Industry
Not specified                                    1802
 IT Services and IT Consulting                   1072
 Software Development                             307
 Financial Services                                69
 Telecommunications                                58
                                                 ...
 Media Production                                   1
 International Trade and Development                1
 Translation and Localization                       1
 Renewable Energy Semiconductor Manufacturing       1
 Industrial Machinery Manufacturing                 1
Name: count, Length: 62, dtype: int64

In [42]:
df.columns

Index(['Job Title', 'Job Info', 'Job Type', 'Job Link_x', 'employees',
       'Job ID', 'Job Link_y', 'Job Desception', 'Company Info', 'company',
       'location_1', 'location_2', 'Remote/Onsite', 'n_applicant',
       'job posting time', 'Job Type nElements', 'Job-Type',
       'Experience Level', 'Comp_N_Employees', 'Comp_Industry'],
      dtype='object')

### saving File

In [105]:
len(df)

11737

In [106]:
len(df.columns)

16

In [107]:
folder_name='Feature Eng processed Files/'

In [108]:
File_name=path.split('/')[-1].split('2023_')[0]+'2023_'+f'{len(df)}-jobs_{len(df.columns)}-features_685-pages_Feature-Eng-processed_v4.csv'
File_name

'Linkedin_Job_Details_26-Sep-2023-to-26-Nov-2023_11737-jobs_16-features_685-pages_Feature-Eng-processed_v4.csv'

In [109]:
saving_path=folder_name+File_name

In [110]:
# df.to_csv(saving_path,index=False)