In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [2]:
path='Weekly Files Concatenated/Linkedin_Job_Details_26-Sep-2023-to-09-Oct-2023_4214-jobs_181-pages.csv'

In [3]:
df=pd.read_csv(path)

In [4]:
df

,Job Title,Job Info,Job Type,Job Link,employees
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job
...,...,...,...,...,...
4209,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees"
4210,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development"
4211,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting
4212,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ..."
4213,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting

In [5]:
df.isnull().sum()

Job Title    54
Job Info     54
Job Type     54
Job Link      0
employees    54
dtype: int64

In [6]:
df[df['Job Title'].isnull()]

,Job Title,Job Info,Job Type,Job Link,employees
110,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3716079439,NaN
125,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728144603,NaN
417,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728021212/...,NaN
420,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3727051751/...,NaN
456,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3726689376/...,NaN
842,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3727051751,NaN
874,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3727538965,NaN
981,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728223830,NaN
1140,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728228637,NaN
1187,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728222119,NaN
1251,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728820515,NaN
1257,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728821371,NaN
1290,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728816833,NaN
1401,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728018841,NaN
1545,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3723011891,NaN
1672,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3731105173,NaN
1678,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3724947099,NaN
1696,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3731102765,NaN
1697,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3730132625,NaN
1703,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3731101706,NaN
1721,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3731104986,NaN
1793,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3730337976,NaN
1798,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3730339864,NaN
1809,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3726984475,NaN
1942,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3726945051,NaN
2200,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3726984475,NaN
2426,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3683628387,NaN
2492,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3731974280,NaN
2520,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3731987286,NaN
2651,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/2871701449,NaN
2785,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3732201419,NaN
2847,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3732828395,NaN
3198,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3729313927,NaN
3204,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3729313975,NaN
3279,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3729314954,NaN
3367,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3729365255,NaN
3514,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3734009882,NaN
3543,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3734000582,NaN
3635,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3729346118,NaN
3638,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3734015220,NaN
3661,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3734828531,NaN
3762,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3733823415,NaN
3771,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3734237826,NaN
3821,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3730520661,NaN
3844,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3735709645,NaN
3896,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3734527500,NaN
3899,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3734510079,NaN
3909,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3734523909,NaN
3921,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3734528250,NaN
4015,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3735940215,NaN
4179,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3735938582,NaN
4188,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3735942025,NaN
4190,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3735939231,NaN
4196,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3735939239,NaN

In [7]:
df.iloc[420]['Job Link']

'https://www.linkedin.com/jobs/view/3727051751/?eBP=JOB_SEARCH_ORGANIC&refId=n1BxF49FoRzpjWVR5WqmKw%3D%3D&trackingId=hKWx7Lut7Q2%2FUF%2B%2BmKHgGw%3D%3D&trk=flagship3_search_srp_jobs'

In [8]:
df[df['Job Title'].isnull()]['Job Link']

110         https://www.linkedin.com/jobs/view/3716079439
125         https://www.linkedin.com/jobs/view/3728144603
417     https://www.linkedin.com/jobs/view/3728021212/...
420     https://www.linkedin.com/jobs/view/3727051751/...
456     https://www.linkedin.com/jobs/view/3726689376/...
842         https://www.linkedin.com/jobs/view/3727051751
874         https://www.linkedin.com/jobs/view/3727538965
981         https://www.linkedin.com/jobs/view/3728223830
1140        https://www.linkedin.com/jobs/view/3728228637
1187        https://www.linkedin.com/jobs/view/3728222119
1251        https://www.linkedin.com/jobs/view/3728820515
1257        https://www.linkedin.com/jobs/view/3728821371
1290        https://www.linkedin.com/jobs/view/3728816833
1401        https://www.linkedin.com/jobs/view/3728018841
1545        https://www.linkedin.com/jobs/view/3723011891
1672        https://www.linkedin.com/jobs/view/3731105173
1678        https://www.linkedin.com/jobs/view/3724947099
1696        https://www.linkedin.com/jobs/view/3731102765
1697        https://www.linkedin.com/jobs/view/3730132625
1703        https://www.linkedin.com/jobs/view/3731101706
1721        https://www.linkedin.com/jobs/view/3731104986
1793        https://www.linkedin.com/jobs/view/3730337976
1798        https://www.linkedin.com/jobs/view/3730339864
1809        https://www.linkedin.com/jobs/view/3726984475
1942        https://www.linkedin.com/jobs/view/3726945051
2200        https://www.linkedin.com/jobs/view/3726984475
2426        https://www.linkedin.com/jobs/view/3683628387
2492        https://www.linkedin.com/jobs/view/3731974280
2520        https://www.linkedin.com/jobs/view/3731987286
2651        https://www.linkedin.com/jobs/view/2871701449
2785        https://www.linkedin.com/jobs/view/3732201419
2847        https://www.linkedin.com/jobs/view/3732828395
3198        https://www.linkedin.com/jobs/view/3729313927
3204        https://www.linkedin.com/jobs/view/3729313975
3279        https://www.linkedin.com/jobs/view/3729314954
3367        https://www.linkedin.com/jobs/view/3729365255
3514        https://www.linkedin.com/jobs/view/3734009882
3543        https://www.linkedin.com/jobs/view/3734000582
3635        https://www.linkedin.com/jobs/view/3729346118
3638        https://www.linkedin.com/jobs/view/3734015220
3661        https://www.linkedin.com/jobs/view/3734828531
3762        https://www.linkedin.com/jobs/view/3733823415
3771        https://www.linkedin.com/jobs/view/3734237826
3821        https://www.linkedin.com/jobs/view/3730520661
3844        https://www.linkedin.com/jobs/view/3735709645
3896        https://www.linkedin.com/jobs/view/3734527500
3899        https://www.linkedin.com/jobs/view/3734510079
3909        https://www.linkedin.com/jobs/view/3734523909
3921        https://www.linkedin.com/jobs/view/3734528250
4015        https://www.linkedin.com/jobs/view/3735940215
4179        https://www.linkedin.com/jobs/view/3735938582
4188        https://www.linkedin.com/jobs/view/3735942025
4190        https://www.linkedin.com/jobs/view/3735939231
4196        https://www.linkedin.com/jobs/view/3735939239
Name: Job Link, dtype: object

### checking duplicates

In [9]:
len(df)

4214

In [10]:
df['Job ID']=df['Job Link'].apply(lambda x:int(x.split('/')[5]))

In [11]:
len(df['Job ID'].unique())

3623

In [12]:
len(df)-len(df['Job ID'].unique())

591

In [13]:
df['Job ID'].value_counts()

Job ID
3720211981    9
3723015510    7
3723013969    6
3723015541    6
3723016496    6
             ..
3727586074    1
3725569364    1
3727905143    1
3708061712    1
3731006178    1
Name: count, Length: 3623, dtype: int64

In [14]:
df['Job ID'].value_counts().unique()

array([9, 7, 6, 5, 4, 3, 2, 1], dtype=int64)

In [15]:
duplicates_count=df.duplicated(subset=['Job ID']).sum()
duplicates_count

591

In [16]:
duplicates = df['Job ID'].duplicated()
df[duplicates]

,Job Title,Job Info,Job Type,Job Link,employees,Job ID
603,Odoo Developer,"AKSiQ · Karachi Division, Sindh, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3727054738,11-50 employees,3727054738
781,Assistant Manager Sales/Sales Executive,"Eastern Housing Pakistan · Multan, Punjab, Pak...",Full-time,https://www.linkedin.com/jobs/view/3727057147,201-500 employees,3727057147
834,Back-End Network Engineer,Turing · Pakistan (Remote) Reposted \n2 weeks...,Full-time · Entry level,https://www.linkedin.com/jobs/view/3726337380,"1,001-5,000 employees · IT Services and IT Con...",3726337380
840,Release Management Engineer,"AIIT Solutions · Rawalpindi, Punjab, Pakistan ...",Full-time,https://www.linkedin.com/jobs/view/3727054443,11-50 employees,3727054443
842,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3727051751,NaN,3727051751
...,...,...,...,...,...,...
4170,"Software Engineer with AI Tooling Expertise, S...","Crossover · Islamabad, Islāmābād, Pakistan Re...",Remote\n\n \nFull-time\n\n \nDirector,https://www.linkedin.com/jobs/view/3727370490,"5,001-10,000 employees · IT Services and IT Co...",3727370490
4180,"Software Engineer with AI Tooling Expertise, S...","Crossover · Karāchi, Sindh, Pakistan Reposted...",Remote\n\n \nFull-time\n\n \nDirector,https://www.linkedin.com/jobs/view/3727370416,"5,001-10,000 employees · IT Services and IT Co...",3727370416
4181,"Technical Team Lead, Trilogy (Remote) - $100,0...","Crossover · Rawalpindi, Punjab, Pakistan Repo...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3727367888,"5,001-10,000 employees · IT Services and IT Co...",3727367888
4204,"Principal Software Engineer, GFI Software (Rem...","Crossover · Rawalpindi, Punjab, Pakistan Repo...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3723017385,"5,001-10,000 employees · IT Services and IT Co...",3723017385
4205,"Senior Software Architect, Trilogy (Remote) - ...","Crossover · Rakhni, Baluchistan, Pakistan Rep...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3723021010,"5,001-10,000 employees · IT Services and IT Co...",3723021010

In [17]:
df = df.drop_duplicates(subset=['Job ID'])

In [18]:
df.shape

(3623, 6)

In [19]:
4214-591

3623

### checking null values

In [20]:
df.isnull().sum()

Job Title    52
Job Info     52
Job Type     52
Job Link      0
employees    52
Job ID        0
dtype: int64

In [21]:
df['Job Title'].unique()

array(['LinkedIn Data Extractor', 'It Management Intern',
       'SQL Database Developer', ...,
       'Engineer, Service-to-Service Fabric',
       'Technical Product Manager (OTE $80,000/year USD), Sparkrock',
       'Senior IOS Developer'], dtype=object)

In [22]:
len(df['Job Title'].unique())

2342

In [23]:
df['Job Type'].unique()

array(['Full-time', 'Full-time · Mid-Senior level',
       'Internship · Internship', 'Full-time · Associate', 'Internship',
       'Full-time · Entry level', 'Part-time', 'Full-time · Internship',
       nan, 'Contract · Mid-Senior level', 'Contract',
       'Contract · Associate', '$150/month - $300/month · Full-time',
       'Full-time · Director', 'Part-time · Associate',
       'Mr Ahsan is hiring for this job', 'Part-time · Executive',
       'Contract · Executive', 'Part-time · Mid-Senior level',
       'Contract · Entry level', 'Temporary · Mid-Senior level',
       'Executive', 'Full-time · Executive',
       'Sean Sato is hiring for this job', 'Part-time · Internship',
       'Internship · Mid-Senior level',
       '$12,000/yr - $15,000/yr · Full-time · Mid-Senior level',
       '$200,000/yr · Full-time', 'Part-time · Entry level',
       'dr.ry. L. is hiring for this job',
       '10,001+ employees · Tobacco Manufacturing', 'Volunteer',
       'On-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nFull-time\n\n \nMid-Senior level',
       'Remote\n\n \nFull-time\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nFull-time',
       'Hybrid\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nDirector', 'Remote\n\n \nFull-time',
       'On-site\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nAssociate',
       'Full-time\n\n \nMid-Senior level', 'On-site\n\n \nPart-time',
       'Hybrid\n\n \nFull-time',
       'Remote\n\n \nContract\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nExecutive',
       'Remote\n\n \nFull-time\n\n \nEntry level'], dtype=object)

In [24]:
len(df['Job Type'].unique())

49

In [25]:
df['Job Info'].unique()

array(['EcomFleet · Pakistan (Remote)  \n1 week ago',
       'Digicon Valley · Lahore, Punjab, Pakistan (On-site)  \n2 weeks ago',
       'Murkez Technologies · Lahore, Punjab, Pakistan (On-site)  \n1 week ago',
       ..., 'Sparkrock · South Asia  \n4 days ago\n\n · 144 applicants',
       'ekar · Pakistan  \n4 days ago\n\n · 223 applicants',
       'Sparkrock · South Asia  \n4 days ago\n\n · 137 applicants'],
      dtype=object)

In [26]:
len(df['Job Info'].unique())

3174

In [27]:
df['employees'].unique()

array(['11-50 employees', '51-200 employees',
       'Mobeen Naqvi is hiring for this job',
       '1,001-5,000 employees · Software Development',
       '501-1,000 employees · IT Services and IT Consulting',
       '501-1,000 employees · Telecommunications',
       '1,001-5,000 employees · Banking', '201-500 employees',
       '10,001+ employees', '51-200 employees · Human Resources Services',
       '501-1,000 employees',
       '1,001-5,000 employees · Technology, Information and Internet',
       '1,001-5,000 employees',
       '1-10 employees · Retail Apparel and Fashion',
       'Muhammad akram is hiring for this job',
       '10,001+ employees · International Affairs',
       '501-1,000 employees · Higher Education', '1-10 employees',
       '10,001+ employees · Software Development',
       '1,001-5,000 employees · Information Technology & Services',
       '5,001-10,000 employees', 'TARIQ KHAN is hiring for this job',
       '201-500 employees · Financial Services',
       '10,001+ employees · Telecommunications',
       '5,001-10,000 employees · Packaging and Containers Manufacturing',
       '1,001-5,000 employees · IT Services and IT Consulting',
       '1,001-5,000 employees · Executive Offices',
       '1,001-5,000 employees · Telecommunications',
       '1,001-5,000 employees · Food and Beverage Manufacturing',
       '10,001+ employees · Food and Beverage Services', nan,
       '10,001+ employees · Tobacco Manufacturing',
       '51-200 employees · Software Development',
       '5,001-10,000 employees · IT Services and IT Consulting',
       'Sufian Mian Akhtar is hiring for this job',
       'Danish Khan is hiring for this job',
       '51-200 employees · Business Consulting and Services',
       '51-200 employees · Entertainment Providers',
       '11-50 employees · Human Resources Services',
       'Wajahat Ahmed is hiring for this job',
       '11-50 employees · IT Services and IT Consulting',
       '1,001-5,000 employees · Wholesale Building Materials',
       '51-200 employees · IT Services and IT Consulting',
       '1,001-5,000 employees · Outsourcing and Offshoring Consulting',
       '10,001+ employees · Pharmaceutical Manufacturing',
       'See how you compare to 272 applicants. Reactivate Premium',
       '501-1,000 employees · Motor Vehicle Manufacturing',
       'See how you compare to 118 applicants. Reactivate Premium',
       '10,001+ employees · Non-profit Organizations',
       'Adnan Dogar is hiring for this job',
       'Zuhad khan is hiring for this job',
       'Ali Raza is hiring for this job',
       '51-200 employees · Research Services',
       '51-200 employees · Higher Education',
       '5,001-10,000 employees · Advertising Services',
       'See how you compare to 36 applicants. Reactivate Premium',
       'See how you compare to 9 applicants. Reactivate Premium',
       'online earning is hiring for this job',
       'Ishook Ram is hiring for this job',
       '10,001+ employees · Beverage Manufacturing',
       'See how you compare to 19 applicants. Reactivate Premium',
       'Immad Langah is hiring for this job',
       '11-50 employees · Outsourcing and Offshoring Consulting',
       'Rehan Sheikh is hiring for this job',
       'See recent hiring trends for Tubitech Srl. Reactivate Premium',
       'ASG SYSTEMS PAKISTAN is hiring for this job',
       '10,001+ employees · Outsourcing/Offshoring',
       '11-50 employees · Financial Services',
       'ayesha shz is hiring for this job',
       '10,001+ employees · Hospitals and Health Care',
       '10,001+ employees · Farming',
       'Afraz Begum Sial is hiring for this job',
       'See how you compare to 53 applicants. Reactivate Premium',
       'See how you compare to 10 applicants. Reactivate Premium',
       'Sanaullah Aman is hiring for this job',
       'See how you compare to 15 applicants. Reactivate Premium',
       'See how you compare to 7 applicants. Reactivate Premium',
       '1,001-5,000 employees · Oil and Gas',
       '51-200 employees · Information Technology & Services',
       'Nam C. is hiring for this job',
       '5,001-10,000 employees · Real Estate',
       '10,001+ employees · Professional Services',
       'Tahir Islam is hiring for this job',
       '51-200 employees · Technology, Information and Internet',
       'See how you compare to 23 applicants. Reactivate Premium',
       'Zulqarnain Khan is hiring for this job',
       'AWAIS AHMAD is hiring for this job',
       'Hassan Raza Khalid is hiring for this job',
       'See how you compare to 51 applicants. Reactivate Premium',
       '501-1,000 employees · Software Development',
       'SHAKIR NAWAB is hiring for this job',
       '51-200 employees · Automation Machinery Manufacturing',
       'See how you compare to 34 applicants. Reactivate Premium',
       'Jawad Arshad is hiring for this job',
       '5,001-10,000 employees · Book and Periodical Publishing',
       'Salman Tariq is hiring for this job',
       '201-500 employees · Computer and Network Security',
       'Umar Siddiqui is hiring for this job',
       'See how you compare to 20 applicants. Reactivate Premium',
       '10,001+ employees · Information Services',
       'See how you compare to 21 applicants. Reactivate Premium',
       '1,001-5,000 employees · International Affairs',
       'Muhammad Haris is hiring for this job',
       'Adnan Qureshi is hiring for this job',
       'muhammad sharjeel is hiring for this job',
       'Shahid Aziz is hiring for this job',
       'Yasir Khubaib is hiring for this job',
       '11-50 employees · Technology, Information and Internet',
       'Anas Abdul Aziz Fayyaz Ehsan is hiring for this job',
       '11-50 employees · Education', 'Manas Khan is hiring for this job',
       'muhammad imran is hiring for this job',
       '51-200 employees · International Trade and Development',
       'Ali Malik, CCXP is hiring for this job',
       '51-200 employees · Staffing and Recruiting',
       '11-50 employees · Higher Education',
       '11-50 employees · Transportation, Logistics, Supply Chain and Storage',
       '1-10 employees · Human Resources Services',
       '1,001-5,000 employees · Higher Education',
       '51-200 employees · Human Resources',
       '201-500 employees · Software Development',
       '201-500 employees · Medical Practices',
       'Huma Khan is hiring for this job',
       '1,001-5,000 employees · Manufacturing',
       '51-200 employees · Paper and Forest Product Manufacturing',
       'Muhammad Asif is hiring for this job',
       '10,001+ employees · Technology, Information and Internet',
       '5,001-10,000 employees · Non-profit Organization Management',
       'Talha Shah is hiring for this job',
       'Mirza Sajid Mahmood is hiring for this job',
       '5,001-10,000 employees · International Affairs',
       '201-500 employees · Internet Marketplace Platforms',
       '201-500 employees · IT Services and IT Consulting',
       '10,001+ employees · Financial Services',
       '10,001+ employees · Automation Machinery Manufacturing',
       '5,001-10,000 employees · Internet Marketplace Platforms',
       '10,001+ employees · IT Services and IT Consulting',
       '10,001+ employees · Personal Care Product Manufacturing',
       '10,001+ employees · Banking',
       'See how you compare to 256 applicants. Reactivate Premium',
       '1,001-5,000 employees · Advertising Services',
       '201-500 employees · Technology, Information and Internet',
       '10,001+ employees · Food and Beverage Manufacturing',
       '10,001+ employees · Retail', 'Awais Javed is hiring for this job',
       'Dn Ch Moiz Gujjar is hiring for this job',
       '10,001+ employees · International Trade and Development',
       '10,001+ employees · Biotechnology Research',
       'Mian Khuram Ali is hiring for this job',
       'Irtaza B. Raja is hiring for this job',
       'See how you compare to 32 applicants. Reactivate Premium',
       '51-200 employees · Information Services',
       'Abdul Rauf is hiring for this job',
       'See how you compare to 6 applicants. Reactivate Premium',
       'Dr Farrukh Aslam khan is hiring for this job',
       'See how you compare to 62 applicants. Reactivate Premium',
       'See how you compare to 13 applicants. Reactivate Premium',
       '1-10 employees · Outsourcing and Offshoring Consulting',
       'The Motor Crew is hiring for this job',
       'See how you compare to 17 applicants. Reactivate Premium',
       'See how you compare to 69 applicants. Reactivate Premium',
       '501-1,000 employees · Hospitals and Health Care',
       '10,001+ employees · Consumer Services',
       '5,001-10,000 employees · Consumer Goods',
       'fahad khan is hiring for this job',
       '10,001+ employees · Manufacturing',
       '11-50 employees · Staffing and Recruiting',
       'Sharjeel Arif is hiring for this job',
       'Shafeeque Ahmed is hiring for this job',
       'Uzair Khan is hiring for this job',
       'See how you compare to 18 applicants. Reactivate Premium',
       'See how you compare to 73 applicants. Reactivate Premium',
       '5,001-10,000 employees · Non-profit Organizations',
       'Usman Majeed is hiring for this job',
       'See how you compare to 86 applicants. Reactivate Premium',
       'See how you compare to 12 applicants. Reactivate Premium',
       'See how you compare to 11 applicants. Reactivate Premium',
       '51-200 employees · Media Production',
       'Choudhry Azizuddin is hiring for this job',
       'See how you compare to 58 applicants. Reactivate Premium',
       '501-1,000 employees · Food and Beverage Services',
       '51-200 employees · Accounting',
       '11-50 employees · Software Development',
       'Faisal Raza is hiring for this job',
       'See how you compare to 283 applicants. Reactivate Premium',
       '1,001-5,000 employees · Human Resources Services',
       'yasir khalid is hiring for this job',
       '11-50 employees · Outsourcing/Offshoring',
       'Hira Benish, Ph.D. is hiring for this job',
       '5,001-10,000 employees · Translation and Localization',
       'Raja Mahmood Subhani is hiring for this job',
       'See how you compare to 92 applicants. Reactivate Premium',
       'Muhammad Ukasha Noman is hiring for this job',
       'Job poster joined LinkedIn in 2021',
       'See how you compare to 14 applicants. Reactivate Premium',
       '1-10 employees · Human Resources',
       'Ali Ather is hiring for this job',
       'Nauman Khan is hiring for this job',
       'Irfan Chughtai is hiring for this job',
       '10,001+ employees · Oil and Gas',
       '201-500 employees · Real Estate',
       'See how you compare to 52 applicants. Reactivate Premium',
       '10,001+ employees · Transportation, Logistics, Supply Chain and Storage',
       '1,001-5,000 employees · Events Services',
       'See how you compare to 119 applicants. Reactivate Premium',
       '11-50 employees · Information Technology & Services',
       'Haris Arain is hiring for this job',
       'Sami ur rehman rehman is hiring for this job',
       '51-200 employees · Retail Luxury Goods and Jewelry',
       'Muhammad Attique is hiring for this job',
       'Awais Ashraf is hiring for this job',
       'innocent Angel is hiring for this job',
       'iqra batool is hiring for this job',
       'Laraib Hussain is hiring for this job',
       'Mona Farooq is hiring for this job',
       '51-200 employees · Apparel & Fashion',
       'jai kumar is hiring for this job',
       'Javed Ramzan Ali is hiring for this job',
       'Aneel Kumar is hiring for this job',
       '10,001+ employees · Packaging and Containers Manufacturing',
       'Sherjeel Ali Chaudary is hiring for this job',
       'Syed Saboor Pasha is hiring for this job',
       '1,001-5,000 employees · Automotive',
       'Love Suther is hiring for this job',
       '501-1,000 employees · Real Estate',
       'Amjad Mehmood is hiring for this job',
       '10,001+ employees · Chemical Manufacturing',
       '51-200 employees · Think Tanks', '501-1,000 employees · Retail',
       '1-10 employees · Staffing and Recruiting',
       'Salman Ahmed Hashmi is hiring for this job',
       'See how you compare to 37 applicants. Reactivate Premium',
       'Zeeshan Yaqoob is hiring for this job',
       '11-50 employees · Public Safety',
       'Usama Tariq is hiring for this job',
       'See how you compare to 153 applicants. Reactivate Premium',
       '201-500 employees · Information Technology & Services',
       'HAIDER SAEED MUGHAL is hiring for this job',
       '5,001-10,000 employees · Human Resources Services',
       'Abubaker Kareem is hiring for this job',
       'See how you compare to 85 applicants. Reactivate Premium',
       'mohammad ashraf memon is hiring for this job',
       'Malik Mirza FCA, FCCA (UK), MBA is hiring for this job',
       '10,001+ employees · Higher Education',
       'See how you compare to 22 applicants. Reactivate Premium',
       'Muhammad Shahzaib is hiring for this job',
       'See how you compare to 4 applicants. Reactivate Premium',
       'Qasim Awan is hiring for this job',
       'See how you compare to 3 applicants. Reactivate Premium',
       '5,001-10,000 employees · Software Development',
       '51-200 employees · International Affairs',
       '201-500 employees · IT System Custom Software Development',
       '1,001-5,000 employees · Food Production',
       '51-200 employees · Advertising Services',
       '1,001-5,000 employees · Real Estate',
       '51-200 employees · Strategic Management Services',
       '1,001-5,000 employees · Financial Services',
       'Ume Rubab is hiring for this job',
       'See how you compare to 308 applicants. Reactivate Premium',
       'Anas Nadeem is hiring for this job',
       'PROTRIP CONSULTANCY is hiring for this job',
       '51-200 employees · Financial Services',
       '201-500 employees · Transportation, Logistics, Supply Chain and Storage',
       'Ghulam Asghar is hiring for this job',
       'See how you compare to 64 applicants. Reactivate Premium',
       'Raaheen Alikhan is hiring for this job',
       'Kashif Awan is hiring for this job',
       '10,001+ employees · Information Technology & Services',
       'See how you compare to 47 applicants. Reactivate Premium',
       'See how you compare to 27 applicants. Reactivate Premium',
       'Muhammad Asim is hiring for this job',
       '201-500 employees · Telecommunications',
       '11-50 employees · Advertising Services',
       'Akhtar Abid Hussain is hiring for this job',
       'Ahmad Saleem is hiring for this job',
       'See how you compare to 5 applicants. Reactivate Premium',
       'Gamers Hype is hiring for this job',
       'Shafaqat Ali is hiring for this job',
       '5,001-10,000 employees · Biotechnology Research',
       '501-1,000 employees · Outsourcing and Offshoring Consulting',
       '10,001+ employees · Airlines and Aviation',
       '1,001-5,000 employees · Retail',
       '51-200 employees · Telecommunications',
       '1-10 employees · IT Services and IT Consulting',
       'See recent hiring trends for AA Joyland. Reactivate Premium',
       '11-50 employees · Holding Companies',
       'See how you compare to 125 applicants. Reactivate Premium',
       '10,001+ employees · Facilities Services',
       'See how you compare to 24 applicants. Reactivate Premium',
       'Ambrose Emmanuel is hiring for this job',
       'Saad Malik is hiring for this job',
       '201-500 employees · Leisure, Travel & Tourism',
       'Hotel Deluxe Lahore is hiring for this job',
       'Hamza Raza is hiring for this job',
       '51-200 employees · Design Services',
       'syed Khalid is hiring for this job',
       'Zain Bukhari is hiring for this job',
       '5,001-10,000 employees · Education Administration Programs',
       '201-500 employees · Automation Machinery Manufacturing',
       'Muhammad Usman is hiring for this job',
       'Zaheer Ahmad is hiring for this job',
       'Muhammad Hamdan is hiring for this job',
       'See how you compare to 145 applicants. Reactivate Premium',
       'See how you compare to 33 applicants. Reactivate Premium',
       'mohammed ishtiaq is hiring for this job',
       '6 company alumni work here · 4 school alumni work here',
       '1-10 employees · Blockchain Services',
       'Saqib Idrees is hiring for this job',
       '501-1,000 employees · Technology, Information and Internet',
       '7 school alumni work here',
       '201-500 employees · Food and Beverage Manufacturing',
       '10,001+ employees · Renewable Energy Semiconductor Manufacturing',
       '10,001+ employees · Outsourcing and Offshoring Consulting',
       'Ahmad awan is hiring for this job',
       'Zulfiqar Rana is hiring for this job',
       '11-50 employees · Marketing Services',
       '501-1,000 employees · Electric Power Generation',
       'Bilal S. is hiring for this job',
       '1-10 employees · Software Development',
       '201-500 employees · Pharmaceutical Manufacturing',
       '10,001+ employees · Aviation and Aerospace Component Manufacturing',
       '1,001-5,000 employees · Airlines and Aviation',
       'Arhum Ahmad is hiring for this job',
       'Muhammad Anas Farooqi is hiring for this job',
       '5,001-10,000 employees · Manufacturing',
       'See how you compare to 83 applicants. Reactivate Premium',
       'See how you compare to 16 applicants. Reactivate Premium',
       'Iqra Amjad is hiring for this job',
       '11-50 employees · Real Estate',
       'Safia Naz is hiring for this job',
       'Zaman Ashraf is hiring for this job',
       'Faizan Kamran is hiring for this job',
       'Hassan mehdi is hiring for this job',
       'Syed Zulfiqar Ali is hiring for this job',
       'Iqbal Shehzada is hiring for this job',
       '10,001+ employees · Advertising Services',
       'See how you compare to 167 applicants. Reactivate Premium',
       'See how you compare to 200 applicants. Reactivate Premium',
       'Rafay Z. is hiring for this job',
       'See how you compare to 231 applicants. Reactivate Premium',
       'See how you compare to 305 applicants. Reactivate Premium',
       'See how you compare to 99 applicants. Reactivate Premium',
       'See how you compare to 68 applicants. Reactivate Premium',
       'See how you compare to 255 applicants. Reactivate Premium',
       'See how you compare to 90 applicants. Reactivate Premium',
       'S Hidayat Waris, SI (M) is hiring for this job',
       '1,001-5,000 employees · Renewable Energy Equipment Manufacturing',
       'See how you compare to 163 applicants. Reactivate Premium',
       'See how you compare to 435 applicants. Reactivate Premium',
       'See how you compare to 276 applicants. Reactivate Premium',
       'ZENITH INTERNATIONAL is hiring for this job',
       'Umair Shahzad-SAP is hiring for this job',
       'See how you compare to 76 applicants. Reactivate Premium',
       'See how you compare to 107 applicants. Reactivate Premium',
       'Sufian Nazir is hiring for this job',
       'See how you compare to 350 applicants. Reactivate Premium',
       'AKHMAD KHUSHAL is hiring for this job',
       'Waqar Ur Rehman is hiring for this job',
       'See how you compare to 54 applicants. Reactivate Premium',
       'See how you compare to 41 applicants. Reactivate Premium',
       '1 school alum works here',
       'Muhammad Yasir Gujjar is hiring for this job',
       'See how you compare to 266 applicants. Reactivate Premium',
       'See how you compare to 229 applicants. Reactivate Premium',
       'amir mughal is hiring for this job',
       '51-200 employees · Education Management',
       '51-200 employees · Real Estate',
       'Razia Faiz is hiring for this job',
       'Mahnoor Waseem is hiring for this job',
       '1,001-5,000 employees · Wholesale',

In [28]:
len(df['employees'].unique())

383

# 18 oct 2023

In [29]:
df.columns

Index(['Job Title', 'Job Info', 'Job Type', 'Job Link', 'employees', 'Job ID'], dtype='object')

In [30]:
df['Job Title'].value_counts()[:30]

Job Title
Business Development Executive     47
Sales Executive                    46
Software Engineer                  28
Educational Counselor              28
Business Development Manager       23
Sales Specialist                   21
Senior Software Engineer           20
Business Development Specialist    16
Graphic Designer                   16
International Sales Executive      14
Business Development Officer       14
Dotnet Developer                   14
Salesperson                        13
Full Stack Engineer                13
Wordpress Developer                13
DevOps Engineer                    13
Digital Marketing Specialist       12
Admissions Officer                 12
Back End Developer                 12
Customer Service Representative    12
PHP Developer                      12
Social Media Manager               12
Sales And Marketing Specialist     12
Angular Developer                  11
Android Developer                  10
Content Writer                     10
Upwork Bidder                       9
Unity Developer                     9
Animator                            9
Senior Graphic Designer             9
Name: count, dtype: int64

In [31]:
df['Job Info'].iloc[1].split('·')[0]

'Digicon Valley '

In [32]:
df['Job Info']

0             EcomFleet · Pakistan (Remote)  \n1 week ago
1       Digicon Valley · Lahore, Punjab, Pakistan (On-...
2       Murkez Technologies · Lahore, Punjab, Pakistan...
3       DevNatives · Islamabad, Islāmābād, Pakistan (H...
4       ItCreaters · Lahore, Punjab, Pakistan (On-site...
                              ...
4209    Rozee.pk · Lahore, Punjab, Pakistan  \n4 days ago
4210    Atlassian · APAC Reposted  \n3 days ago\n\n · ...
4211    Sparkrock · South Asia  \n4 days ago\n\n · 144...
4212    ekar · Pakistan  \n4 days ago\n\n · 223 applic...
4213    Sparkrock · South Asia  \n4 days ago\n\n · 137...
Name: Job Info, Length: 3623, dtype: object

In [33]:
# df['company']=df['Job Info'].apply(lambda x:x.split('·')[0])
# # AttributeError: 'float' object has no attribute 'split'

In [34]:
# i=0
# for info in df['Job Info']:
#     print(info.split('·')[0])
#     i=i+1
#     # print(info)
# # AttributeError: 'float' object has no attribute 'split'

In [35]:
# i

In [36]:
df['Job Info'].iloc[110]

nan

In [37]:
df['Job Info'].iloc[3]

'DevNatives · Islamabad, Islāmābād, Pakistan (Hybrid)  \n1 week ago\n\n · 51 applicants'

In [38]:
df['Job Info'].iloc[3].split('·')

['DevNatives ',
 ' Islamabad, Islāmābād, Pakistan (Hybrid)  \n1 week ago\n\n ',
 ' 51 applicants']

In [39]:
df.isnull().sum()

Job Title    52
Job Info     52
Job Type     52
Job Link      0
employees    52
Job ID        0
dtype: int64

In [40]:
df.dropna()

,Job Title,Job Info,Job Type,Job Link,employees,Job ID
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696
...,...,...,...,...,...,...
4209,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227
4210,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639
4211,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750
4212,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533
4213,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178

In [41]:
len(df)-52

3571

In [42]:
# df.dropna(subset = ['Job Title'], inplace=True)
#or
df.dropna(inplace=True)

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_12756\3641532845.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [43]:
df

,Job Title,Job Info,Job Type,Job Link,employees,Job ID
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696
...,...,...,...,...,...,...
4209,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227
4210,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639
4211,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750
4212,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533
4213,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178

In [44]:
3623-52

3571

In [45]:
df.isnull().sum()

Job Title    0
Job Info     0
Job Type     0
Job Link     0
employees    0
Job ID       0
dtype: int64

In [46]:
df['company']=df['Job Info'].apply(lambda x:x.split('·')[0])

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_12756\4282166980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['company']=df['Job Info'].apply(lambda x:x.split('·')[0])

In [47]:
df['company'].unique()

array(['EcomFleet ', 'Digicon Valley ', 'Murkez Technologies ', ...,
       'Sparkrock ', 'AdMaxim Inc. ', 'ekar '], dtype=object)

In [48]:
len(df['company'].unique())

1866

In [49]:
df['company'].value_counts()

company
Crossover                        149
Turing                            55
Zameen.com                        50
Zones IT Solutions                48
Times Consultant (Pvt.) Ltd.      44
                                ...
Beanbend                           1
SOFIT Consultancy                  1
4D Magic Software Pvt. Ltd         1
Techanah                           1
ekar                               1
Name: count, Length: 1866, dtype: int64

In [50]:
df['company'].value_counts()[:30]

company
Crossover                                   149
Turing                                       55
Zameen.com                                   50
Zones IT Solutions                           48
Times Consultant (Pvt.) Ltd.                 44
HR Ways - Hiring Tech Talent                 34
Jazz                                         28
Afiniti                                      27
Sui Southern Gas Company Limited             26
BAT                                          24
CrecenTech Systems Private Limited           24
Motive                                       23
Kamayi                                       23
Telenor                                      21
Dubizzle Labs                                21
CureMD                                       20
S&P Global                                   19
TCP Software                                 19
Four Elements Landscaping                    19
The Indus Hospital                           16
Talent Pal                                   16
People (Professional Employers Pvt Ltd)      15
foodpanda                                    14
Fulcrum Pvt. Limited                         14
Daraz                                        13
Tree Top Staffing LLC                        13
Siemens                                      13
DMK Consultancy                              12
Zong CMPak Ltd                               12
GfK - An NIQ Company                         11
Name: count, dtype: int64

In [51]:
df['Job Info'].iloc[3].split('·')[1]

' Islamabad, Islāmābād, Pakistan (Hybrid)  \n1 week ago\n\n '

In [52]:
df['Job Info'].iloc[3].split('·')[1].split()[0]

'Islamabad,'

In [53]:
df['Job Info'].iloc[3].split('·')[1].split()[0].strip(',')

'Islamabad'

In [54]:
df['location']=df['Job Info'].apply(lambda x:x.split('·')[1].split()[0].strip(','))

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_12756\4167284413.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['location']=df['Job Info'].apply(lambda x:x.split('·')[1].split()[0].strip(','))

In [55]:
df['location']

0        Pakistan
1          Lahore
2          Lahore
3       Islamabad
4          Lahore
          ...
4209       Lahore
4210         APAC
4211        South
4212     Pakistan
4213        South
Name: location, Length: 3571, dtype: object

In [56]:
df['location'].unique()

array(['Pakistan', 'Lahore', 'Islamabad', 'Karāchi', 'Peshawar',
       'Islāmābād', 'Rawalpindi', 'Multan', 'Karachi', 'Hyderabad',
       'Mirpur', 'Kharian', 'Sindh', 'Faisalabad', 'Jhelum', 'Gujrāt',
       'Korangi', 'Bahawalpur', 'Gulshan', 'Gujranwala', 'Sukkur',
       'Punjab', 'Shekhūpura', 'Sargodha', 'Wazirabad', 'Mānsehra',
       'Sialkot', 'Chakwāl', 'Muzaffargarh', 'Nawabshah', 'Mardān',
       'Gujrat', 'Dera', 'Sāhīwāl', 'Jhang', 'Sahiwal', 'Quetta',
       'Vienna', 'Rahimyar', 'Milan', 'Lodhran', 'South', 'Zhob',
       'Jamshoro', 'Khyber', 'New', 'Rakhni', 'Taxila', 'APAC', 'Azad',
       'Toba', 'Thatta', 'Jarānwāla', 'Mīrpur', 'Larkana', 'Pasrur',
       'Sarai', 'Panjgur', 'Baloch', 'Attock', 'Rahim', 'Ratodero', 'APJ',
       'Chakwal', 'İzmir', 'Miān', 'Battagram', 'Harīpur', 'Naushahro',
       'Khuzdar', 'Kasur', 'Abbottabad', 'Malir', 'Vehari', 'Kahuta',
       'Badin', 'Thal', 'Landhi', 'Shikarpur', 'Bhakkar', 'Bahrain',
       'Metro', 'Kohāt', 'Okāra', 'Bahawalnagar'], dtype=object)

In [57]:
len(df['location'].unique())

85

In [58]:
df[df['location']=='Mānsehra']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location
278,Sales Officer,"Innovative Biscuits (Pvt.) Ltd · Mānsehra, Khy...",Full-time,https://www.linkedin.com/jobs/view/3727033027/...,"501-1,000 employees",3727033027,Innovative Biscuits (Pvt.) Ltd,Mānsehra

In [59]:
df['location'].value_counts()

location
Lahore          1222
Karāchi          665
Islamabad        540
Karachi          272
Pakistan         247
                ...
Larkana            1
Sarai              1
Panjgur            1
Baloch             1
Bahawalnagar       1
Name: count, Length: 85, dtype: int64

In [60]:
df['location'].value_counts()[:30]

location
Lahore          1222
Karāchi          665
Islamabad        540
Karachi          272
Pakistan         247
Rawalpindi       135
Islāmābād         94
Faisalabad        57
Multan            37
Peshawar          29
Punjab            24
Sialkot           22
APAC              18
Gujranwala        16
Hyderabad         16
APJ               14
South             13
Muzaffargarh      11
New               11
Sindh              8
Jhelum             7
Bahawalpur         6
Sargodha           5
Korangi            5
Mirpur             5
Quetta             5
Sukkur             4
Jamshoro           4
Gujrāt             4
Sahiwal            4
Name: count, dtype: int64

In [61]:
df[df['location']=='New']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location
1372,"C++ Developer, Trilogy (Remote) - $200,000/yea...","Crossover · New Karachi Town, Sindh, Pakistan...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3715437982,"5,001-10,000 employees · IT Services and IT Co...",3715437982,Crossover,New
1391,"Senior Software Engineer, Trilogy (Remote) - $...","Crossover · New Karachi Town, Sindh, Pakistan...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3715442480,"5,001-10,000 employees · IT Services and IT Co...",3715442480,Crossover,New
2623,"Development Team Lead, Trilogy (Remote) - $100...","Crossover · New Karachi Town, Sindh, Pakistan...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3731968673,"5,001-10,000 employees · IT Services and IT Co...",3731968673,Crossover,New
2624,"Copywriter, gt.school (Remote) - $100,000/year...","Crossover · New Karachi Town, Sindh, Pakistan...",Full-time · Associate,https://www.linkedin.com/jobs/view/3731972088,"5,001-10,000 employees · IT Services and IT Co...",3731972088,Crossover,New
2625,"Content Writer, gt.school (Remote) - $100,000/...","Crossover · New Karachi Town, Sindh, Pakistan...",Full-time · Associate,https://www.linkedin.com/jobs/view/3731968656,"5,001-10,000 employees · IT Services and IT Co...",3731968656,Crossover,New
2646,"Senior Software Engineer, Trilogy (Remote) - $...","Crossover · New Karachi Town, Sindh, Pakistan...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3731975052,"5,001-10,000 employees · IT Services and IT Co...",3731975052,Crossover,New
2647,"Senior Principal Software Engineer, Trilogy (R...","Crossover · New Karachi Town, Sindh, Pakistan...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3731969505,"5,001-10,000 employees · IT Services and IT Co...",3731969505,Crossover,New
2658,"Full Stack Developer, Trilogy (Remote) - $100,...","Crossover · New Karachi Town, Sindh, Pakistan...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3731969280,"5,001-10,000 employees · IT Services and IT Co...",3731969280,Crossover,New
3128,Technical Writer,HR World International (Pvt. Ltd) - Global Tec...,Full-time,https://www.linkedin.com/jobs/view/3727571469,51-200 employees,3727571469,HR World International (Pvt. Ltd) - Global Tec...,New
3700,Chief Executive Officer,"IBRAHIM TEXTILE INDUSTRY · New Karachi Town, ...",Full-time,https://www.linkedin.com/jobs/view/3734016007,Zaman Ashraf is hiring for this job,3734016007,IBRAHIM TEXTILE INDUSTRY,New
4123,"Senior Software Architect, Trilogy (Remote) - ...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3731971268,"5,001-10,000 employees · IT Services and IT Co...",3731971268,Crossover,New

In [62]:
df['Job Info']

0             EcomFleet · Pakistan (Remote)  \n1 week ago
1       Digicon Valley · Lahore, Punjab, Pakistan (On-...
2       Murkez Technologies · Lahore, Punjab, Pakistan...
3       DevNatives · Islamabad, Islāmābād, Pakistan (H...
4       ItCreaters · Lahore, Punjab, Pakistan (On-site...
                              ...
4209    Rozee.pk · Lahore, Punjab, Pakistan  \n4 days ago
4210    Atlassian · APAC Reposted  \n3 days ago\n\n · ...
4211    Sparkrock · South Asia  \n4 days ago\n\n · 144...
4212    ekar · Pakistan  \n4 days ago\n\n · 223 applic...
4213    Sparkrock · South Asia  \n4 days ago\n\n · 137...
Name: Job Info, Length: 3571, dtype: object

In [63]:
df['Job Info'].iloc[3]

'DevNatives · Islamabad, Islāmābād, Pakistan (Hybrid)  \n1 week ago\n\n · 51 applicants'

In [64]:
df['Job Info'].iloc[3].split('·')

['DevNatives ',
 ' Islamabad, Islāmābād, Pakistan (Hybrid)  \n1 week ago\n\n ',
 ' 51 applicants']

In [65]:
df['Job Info'].iloc[3].split('·')[1].split('(')

[' Islamabad, Islāmābād, Pakistan ', 'Hybrid)  \n1 week ago\n\n ']

In [66]:
df['Job Info'].iloc[3].split('·')[1].split('(')[0]

' Islamabad, Islāmābād, Pakistan '

In [67]:
df['location']=df['Job Info'].apply(lambda x:x.split('·')[1].split('(')[0])

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_12756\1119720299.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['location']=df['Job Info'].apply(lambda x:x.split('·')[1].split('(')[0])

In [68]:
df['location']

0                                     Pakistan
1                     Lahore, Punjab, Pakistan
2                     Lahore, Punjab, Pakistan
3               Islamabad, Islāmābād, Pakistan
4                     Lahore, Punjab, Pakistan
                         ...
4209     Lahore, Punjab, Pakistan  \n4 days ago
4210           APAC Reposted  \n3 days ago\n\n
4211              South Asia  \n4 days ago\n\n
4212                Pakistan  \n4 days ago\n\n
4213              South Asia  \n4 days ago\n\n
Name: location, Length: 3571, dtype: object

In [69]:
df['location'].unique()

array([' Pakistan ', ' Lahore, Punjab, Pakistan ',
       ' Islamabad, Islāmābād, Pakistan ', ' Karāchi, Sindh, Pakistan ',
       ' Peshawar, Khyber Pakhtunkhwa, Pakistan ',
       ' Islāmābād, Pakistan ', ' Rawalpindi, Punjab, Pakistan ',
       ' Multan, Punjab, Pakistan ',
       ' Karachi Division, Sindh, Pakistan ',
       ' Hyderabad, Sindh, Pakistan ',
       ' Lahore District, Punjab, Pakistan ',
       ' Mirpur, Azad Kashmir, Pakistan ', ' Kharian, Punjab, Pakistan ',
       ' Sindh, Pakistan ',
       ' Lahore, Punjab, Pakistan  \n2 weeks ago\n\n ',
       ' Faisalabad, Punjab, Pakistan ',
       ' Lahore District, Punjab, Pakistan  \n1 week ago',
       ' Islamabad, Islāmābād, Pakistan Reposted  \n1 week ago',
       ' Jhelum, Punjab, Pakistan  \n2 weeks ago\n\n ',
       ' Gujrāt, Punjab, Pakistan ',
       ' Korangi District, Sindh, Pakistan ',
       ' Bahawalpur, Punjab, Pakistan ',
       ' Gulshan Town, Sindh, Pakistan ',
       ' Gujranwala, Punjab, Pakistan ', ' Sukkur, Sindh, Pakistan ',
       ' Faisalabad, Punjab, Pakistan  \n1 week ago\n\n ',
       ' Punjab, Pakistan ',
       ' Lahore, Punjab, Pakistan  \n1 week ago\n\n ',
       ' Shekhūpura, Punjab, Pakistan ', ' Sargodha, Punjab, Pakistan ',
       ' Jhelum, Punjab, Pakistan ', ' Wazirabad, Punjab, Pakistan ',
       ' Mānsehra, Khyber Pakhtunkhwa, Pakistan ',
       ' Sialkot, Punjab, Pakistan ', ' Chakwāl, Punjab, Pakistan ',
       ' Muzaffargarh, Punjab, Pakistan ', ' Nawabshah, Sindh, Pakistan ',
       ' Muzaffargarh District, Punjab, Pakistan ',
       ' Peshawar, Khyber Pakhtunkhwa, Pakistan Reposted  \n1 week ago',
       ' Mardān, Khyber Pakhtunkhwa, Pakistan ',
       ' Gujrat District, Punjab, Pakistan ',
       ' Dera Ghazi Khan, Punjab, Pakistan ',
       ' Jhelum, Punjab, Pakistan Reposted  \n1 week ago\n\n ',
       ' Sāhīwāl, Punjab, Pakistan ',
       ' Rawalpindi District, Punjab, Pakistan ',
       ' Jhang, Punjab, Pakistan ',
       ' Punjab, Pakistan Reposted  \n6 days ago\n\n ',
       ' Sahiwal District, Punjab, Pakistan ',
       ' Quetta, Baluchistan, Pakistan ',
       ' Karāchi, Sindh, Pakistan  \n2 weeks ago\n\n ',
       ' Vienna, Austria ',
       ' Lahore, Punjab, Pakistan Reposted  \n1 week ago\n\n ',
       ' Lahore, Punjab, Pakistan Reposted  \n5 hours ago\n\n ',
       ' Islamabad, Islāmābād, Pakistan Reposted  \n4 days ago\n\n ',
       ' Karāchi, Sindh, Pakistan Reposted  \n1 week ago',
       ' Rahimyar Khan, Punjab, Pakistan ', ' Milan, Lombardy, Italy ',
       ' Lodhran Tehsil, Punjab, Pakistan ',
       ' Mirpur Khas District, Sindh, Pakistan ',
       ' Pakistan  \n1 week ago\n\n ',
       ' Karāchi, Sindh, Pakistan  \n1 week ago\n\n ', ' South Asia ',
       ' Zhob, Baluchistan, Pakistan ', ' Jamshoro, Sindh, Pakistan ',
       ' Lahore, Punjab, Pakistan Reposted  \n5 days ago\n\n ',
       ' Khyber Pakhtunkhwa, Pakistan ',
       ' New Karachi Town, Sindh, Pakistan ',
       ' Rakhni, Baluchistan, Pakistan ',
       ' Karāchi, Sindh, Pakistan Reposted  \n1 week ago\n\n ',
       ' Taxila, Punjab, Pakistan ', ' APAC ',
       ' Islamabad, Islāmābād, Pakistan Reposted  \n1 week ago\n\n ',
       ' Karachi Division, Sindh, Pakistan Reposted  \n1 week ago\n\n ',
       ' Azad Kashmir, Pakistan ',
       ' Faisalabad, Punjab, Pakistan Reposted  \n1 week ago\n\n ',
       ' Islamabad, Islāmābād, Pakistan Reposted  \n6 days ago',
       ' Toba Tek Singh, Punjab, Pakistan ', ' Thatta, Sindh, Pakistan ',
       ' Jarānwāla, Punjab, Pakistan Reposted  \n1 week ago\n\n ',
       ' Mīrpur Khās, Sindh, Pakistan ',
       ' Larkana District, Sindh, Pakistan ',
       ' Pasrur, Punjab, Pakistan ',
       ' Sarai Alamgir Tehsil, Punjab, Pakistan ',
       ' Sahiwal Division, Punjab, Pakistan ',
       ' Panjgur, Baluchistan, Pakistan ',
       ' Hyderabad District, Sindh, Pakistan ',
       ' Baloch Colony, Pakistan ',
       ' Attock, Punjab, Pakistan Reposted  \n1 week ago\n\n ',
       ' Rahim Yar Khan District, Punjab, Pakistan  \n1 week ago\n\n ',
       ' Ratodero, Sindh, Pakistan ', ' APJ ',
       ' Chakwal District, Punjab, Pakistan ',
       ' Islamabad, Punjab, Pakistan ',
       ' İzmir, İzmir, Turkey  \n1 week ago\n\n ',
       ' Miān Channūn, Punjab, Pakistan ',
       ' Battagram, Khyber Pakhtunkhwa, Pakistan ',
       ' Harīpur, Khyber Pakhtunkhwa, Pakistan ',
       ' Jamshoro, Sindh, Pakistan Reposted  \n1 hour ago\n\n ',
       ' Lahore, Punjab, Pakistan Reposted  \n2 hours ago\n\n ',
       ' Gujranwala District, Punjab, Pakistan ',
       ' Lahore Division, Punjab, Pakistan ',
       ' Naushahro Feroze District, Sindh, Pakistan ',
       ' Islamabad, Islāmābād, Pakistan Reposted  \n5 days ago\n\n ',
       ' Islamabad, Islāmābād, Pakistan  \n1 week ago\n\n ',
       ' Khuzdar, Baluchistan, Pakistan ',
       ' Karāchi, Sindh, Pakistan  \n6 days ago\n\n ',
       ' Kasur District, Punjab, Pakistan ',
       ' Sukkur District, Sindh, Pakistan ',
       ' Abbottabad District, Khyber Pakhtunkhwa, Pakistan ',
       ' Islamabad, Islāmābād, Pakistan Reposted  \n5 hours ago\n\n ',
       ' Malir District, Sindh, Pakistan ', ' Vehari, Punjab, Pakistan ',
       ' Kahuta, Punjab, Pakistan ', ' Badin, Sindh, Pakistan ',
       ' Karāchi, Sindh, Pakistan Reposted  \n6 days ago\n\n ',
       ' Karāchi, Sindh, Pakistan Reposted  \n3 days ago\n\n ',
       ' Sahiwal, Punjab, Pakistan ',
       ' Islamabad, Islāmābād, Pakistan  \n6 days ago\n\n ',
       ' Lahore, Punjab, Pakistan Reposted  \n6 days ago\n\n ',
       ' Lahore, Punjab, Pakistan  \n6 days ago\n\n ',
       ' Thal, Khyber Pakhtunkhwa, Pakistan ',
       ' Landhi, Sindh, Pakistan ', ' Shikarpur, Sindh, Pakistan ',
       ' Faisalabad District, Punjab, Pakistan ',
       ' Karāchi, Sindh, Pakistan Reposted  \n4 days ago\n\n ',
       ' Islamabad, Islāmābād, Pakistan Reposted  \n1 day ago\n\n ',
       ' Bhakkar, Punjab, Pakistan ',
       ' Karāchi, Sindh, Pakistan Reposted  \n2 days ago\n\n ',
       ' Karāchi, Sindh, Pakistan Reposted  \n1 day ago\n\n ',
       ' Lahore, Punjab, Pakistan Reposted  \n2 days ago\n\n ',
       ' Lahore, Punjab, Pakistan Reposted  \n1 day ago\n\n ',
       ' Karāchi, Sindh, Pakistan  \n5 days ago\n\n ',
       ' Karāchi, Sindh, Pakistan Reposted  \n5 days ago\n\n ',
       ' Rahim Yar Khan District, Punjab, Pakistan ',
       ' Bahrain, Khyber Pakhtunkhwa, Pakistan ', ' Metro Manila ',
       ' Lahore, Punjab, Pakistan Reposted  \n4 days ago\n\n ',
       ' Jarānwāla, Punjab, Pakistan Reposted  \n1 day ago\n\n ',
       ' Kohāt, Khyber Pakhtunkhwa, Pakistan ',
       ' Lahore, Punjab, Pakistan Reposted  \n3 days ago\n\n ',
       ' Karāchi, Sindh, Pakistan  \n4 days ago\n\n ',
       ' Okāra, Punjab, Pakistan ',
       ' Islamabad, Islāmābād, Pakistan Reposted  \n3 days ago\n\n ',
       ' Islamabad, Islāmābād, Pakistan  \n4 days ago\n\n ',
       ' Islāmābād, Pakistan  \n4 days ago\n\n ',
       ' Karachi Division, Sindh, Pakistan  \n4 days ago\n\n ',
       ' Pakistan Reposted  \n4 days ago\n\n ',
       ' Lahore, Punjab, Pakistan  \n4 days ago\n\n ',
       ' Karachi Division, Sindh, Pakistan Reposted  \n4 days ago',
       ' Karachi Division, Sindh, Pakistan Reposted  \n4 days ago\n\n ',
       ' Islāmābād, Pakistan Reposted  \n4 days ago\n\n ',
       ' Lahore, Punjab, Pakistan  \n4 days ago',
       ' Islāmābād, Pakistan  \n4 days ago',
       ' Karachi Division, Sindh, Pakistan  \n4 days ago',
       ' Sindh, Pakistan  \n4 days ago\n\n ',
       ' Punjab, Pakistan  \n4 days ago',
       ' Sindh, Pakistan  \n4 days ago',
       ' Sialkot, Punjab, Pakistan  \n4 days ago\n\n ',
       ' APJ  \n4 days ago', ' Pakistan  \n4 days ago',
       ' Pakistan  \n4 days ago\n\n ',
       ' Karāchi, Sindh, Pakistan  \n4 days ago',
       ' Nawabshah, Sindh, Pakistan  \n4 days ago\n\n ',
       ' Gujranwala District, Punjab, Pakistan  \n4 days ago',
       ' Bahawalnagar District, Punjab, Pakistan  \n4 days ago\n\n ',
       ' Muzaffargarh, Punjab, Pakistan  \n4 days ago\n\n ',
       ' Lahore, Punjab, Pakistan Reposted  \n7 hours ago\n\n ',
       ' New Karachi Town, Sindh, Pakistan Reposted  \n3 days ago\n\n ',
       ' Lahore, Punjab, Pakistan Reposted  \n4 days ago',
       ' APAC  \n4 days ago',
       ' Rawalpindi, Punjab, Pakistan Reposted  \n3 days ago\n\n ',
       ' Rawalpindi, Punjab, Pakistan  \n4 days ago',
       ' Multan, Punjab, Pakistan  \n4 days ago\n\n ',
       ' Rawalpindi, Punjab, Pakistan Reposted  \n8 hours ago\n\n ',
       ' Quetta, Baluchistan, Pakistan  \n4 days ago\n\n ',
       ' APAC  \n4 days ago\n\n ',
       ' Badin, Sindh, Pakistan  \n4 days ago\n\n ',
       ' South Asia  \n4 days ago\n\n ',
       ' APAC Reposted  \n3 days ago\n\n '], dtype=object)

In [70]:
len(df['location'].unique())

179

In [71]:
df['location'].value_counts()

location
 Lahore, Punjab, Pakistan                   1052
 Karāchi, Sindh, Pakistan                    624
 Islamabad, Islāmābād, Pakistan              518
 Karachi Division, Sindh, Pakistan           242
 Pakistan                                    236
                                            ...
 Panjgur, Baluchistan, Pakistan                1
 Sahiwal Division, Punjab, Pakistan            1
 Sarai Alamgir Tehsil, Punjab, Pakistan        1
 Larkana District, Sindh, Pakistan             1
 APAC Reposted  \n3 days ago\n\n               1
Name: count, Length: 179, dtype: int64

In [72]:
df['location'].value_counts()[:30]

location
 Lahore, Punjab, Pakistan                                1052
 Karāchi, Sindh, Pakistan                                 624
 Islamabad, Islāmābād, Pakistan                           518
 Karachi Division, Sindh, Pakistan                        242
 Pakistan                                                 236
 Rawalpindi, Punjab, Pakistan                             127
 Islāmābād, Pakistan                                       90
 Lahore District, Punjab, Pakistan                         83
 Faisalabad, Punjab, Pakistan                              52
 Multan, Punjab, Pakistan                                  36
 Peshawar, Khyber Pakhtunkhwa, Pakistan                    28
 Lahore, Punjab, Pakistan Reposted  \n1 week ago\n\n       23
 Punjab, Pakistan                                          22
 Karachi Division, Sindh, Pakistan  \n4 days ago\n\n       20
 Sialkot, Punjab, Pakistan                                 19
 APAC                                                      15
 Lahore, Punjab, Pakistan  \n4 days ago                    15
 Lahore, Punjab, Pakistan  \n4 days ago\n\n                15
 Gujranwala, Punjab, Pakistan                              14
 Karāchi, Sindh, Pakistan  \n4 days ago\n\n                14
 APJ                                                       12
 Hyderabad, Sindh, Pakistan                                11
 New Karachi Town, Sindh, Pakistan                         10
 South Asia                                                10
 Islamabad, Islāmābād, Pakistan  \n4 days ago\n\n           9
 Muzaffargarh, Punjab, Pakistan                             8
 Lahore, Punjab, Pakistan Reposted  \n5 days ago\n\n        7
 Karachi Division, Sindh, Pakistan  \n4 days ago            7
 Sindh, Pakistan                                            6
 Bahawalpur, Punjab, Pakistan                               6
Name: count, dtype: int64

In [73]:
# df_concat['Lahore, Punjab, Pakistan  \n1 week ago\n\n' in df_concat['Job Info']]

In [74]:
df[df['location']==' Lahore District, Punjab, Pakistan  \n1 week ago']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location
94,Social Media Manager,"siyaahat.pk · Lahore District, Punjab, Pakista...",Full-time,https://www.linkedin.com/jobs/view/525119752,1-10 employees,525119752,siyaahat.pk,"Lahore District, Punjab, Pakistan \n1 week ago"

In [75]:
print(df[df['location']==' Lahore District, Punjab, Pakistan  \n1 week ago']['Job Info'])

94    siyaahat.pk · Lahore District, Punjab, Pakista...
Name: Job Info, dtype: object

In [76]:
df.iloc[94]['Job Info']

'siyaahat.pk · Lahore District, Punjab, Pakistan  \n1 week ago'

In [77]:
df.iloc[94]['Job Info'].strip('\n')

'siyaahat.pk · Lahore District, Punjab, Pakistan  \n1 week ago'

In [78]:
'siyaahat.pk · Lahore District, Punjab, Pakistan  \n1 week ago'.strip('\n')

'siyaahat.pk · Lahore District, Punjab, Pakistan  \n1 week ago'

In [79]:
'siyaahat.pk · Lahore District, Punjab, Pakistan  \n1 week ago'.strip('\n1 week ago')

'siyaahat.pk · Lahore District, Punjab, Pakistan'

In [80]:
'siyaahat.pk · Lahore District, Punjab, Pakistan  \n1 week ago'.strip('\n2 week ago\n1 week ago')

'siyaahat.pk · Lahore District, Punjab, Pakistan'

In [81]:
'siyaahat.pk · Lahore District, Punjab, Pakistan  \n1 week ago'.strip('\n2 week ago')

'siyaahat.pk · Lahore District, Punjab, Pakistan  \n1'

In [82]:
df.iloc[94]['Job Type']

'Full-time'

In [83]:
df['location']=df['Job Info'].apply(lambda x:x.split('·')[1].split('(')[0].strip('\n2 week ago\n1 week ago'))
#not correctly remove \n2 weeks

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_12756\1454157284.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['location']=df['Job Info'].apply(lambda x:x.split('·')[1].split('(')[0].strip('\n2 week ago\n1 week ago'))

In [84]:
df['location']

0                                 Pakistan
1                 Lahore, Punjab, Pakistan
2                 Lahore, Punjab, Pakistan
3           Islamabad, Islāmābād, Pakistan
4                 Lahore, Punjab, Pakistan
                       ...
4209    Lahore, Punjab, Pakistan  \n4 days
4210               APAC Reposted  \n3 days
4211                  South Asia  \n4 days
4212                    Pakistan  \n4 days
4213                  South Asia  \n4 days
Name: location, Length: 3571, dtype: object

In [85]:
df['location'].unique()

array(['Pakistan', 'Lahore, Punjab, Pakistan',
       'Islamabad, Islāmābād, Pakistan', 'Karāchi, Sindh, Pakistan',
       'Peshawar, Khyber Pakhtunkhwa, Pakistan', 'Islāmābād, Pakistan',
       'Rawalpindi, Punjab, Pakistan', 'Multan, Punjab, Pakistan',
       'Karachi Division, Sindh, Pakistan', 'Hyderabad, Sindh, Pakistan',
       'Lahore District, Punjab, Pakistan',
       'Mirpur, Azad Kashmir, Pakistan', 'Kharian, Punjab, Pakistan',
       'Sindh, Pakistan', 'Lahore, Punjab, Pakistan  \n2 weeks',
       'Faisalabad, Punjab, Pakistan',
       'Islamabad, Islāmābād, Pakistan Reposted',
       'Jhelum, Punjab, Pakistan  \n2 weeks', 'Gujrāt, Punjab, Pakistan',
       'Korangi District, Sindh, Pakistan',
       'Bahawalpur, Punjab, Pakistan', 'Gulshan Town, Sindh, Pakistan',
       'Gujranwala, Punjab, Pakistan', 'Sukkur, Sindh, Pakistan',
       'Punjab, Pakistan', 'Shekhūpura, Punjab, Pakistan',
       'Sargodha, Punjab, Pakistan', 'Jhelum, Punjab, Pakistan',
       'Wazirabad, Punjab, Pakistan',
       'Mānsehra, Khyber Pakhtunkhwa, Pakistan',
       'Sialkot, Punjab, Pakistan', 'Chakwāl, Punjab, Pakistan',
       'Muzaffargarh, Punjab, Pakistan', 'Nawabshah, Sindh, Pakistan',
       'Muzaffargarh District, Punjab, Pakistan',
       'Peshawar, Khyber Pakhtunkhwa, Pakistan Reposted',
       'Mardān, Khyber Pakhtunkhwa, Pakistan',
       'Gujrat District, Punjab, Pakistan',
       'Dera Ghazi Khan, Punjab, Pakistan',
       'Jhelum, Punjab, Pakistan Reposted', 'Sāhīwāl, Punjab, Pakistan',
       'Rawalpindi District, Punjab, Pakistan', 'Jhang, Punjab, Pakistan',
       'Punjab, Pakistan Reposted  \n6 days',
       'Sahiwal District, Punjab, Pakistan',
       'Quetta, Baluchistan, Pakistan',
       'Karāchi, Sindh, Pakistan  \n2 weeks', 'Vienna, Austri',
       'Lahore, Punjab, Pakistan Reposted',
       'Lahore, Punjab, Pakistan Reposted  \n5 hours',
       'Islamabad, Islāmābād, Pakistan Reposted  \n4 days',
       'Karāchi, Sindh, Pakistan Reposted',
       'Rahimyar Khan, Punjab, Pakistan', 'Milan, Lombardy, Italy',
       'Lodhran Tehsil, Punjab, Pakistan',
       'Mirpur Khas District, Sindh, Pakistan', 'South Asi',
       'Zhob, Baluchistan, Pakistan', 'Jamshoro, Sindh, Pakistan',
       'Lahore, Punjab, Pakistan Reposted  \n5 days',
       'Khyber Pakhtunkhwa, Pakistan',
       'New Karachi Town, Sindh, Pakistan',
       'Rakhni, Baluchistan, Pakistan', 'Taxila, Punjab, Pakistan',
       'APAC', 'Karachi Division, Sindh, Pakistan Reposted',
       'Azad Kashmir, Pakistan', 'Faisalabad, Punjab, Pakistan Reposted',
       'Islamabad, Islāmābād, Pakistan Reposted  \n6 days',
       'Toba Tek Singh, Punjab, Pakistan', 'Thatta, Sindh, Pakistan',
       'Jarānwāla, Punjab, Pakistan Reposted',
       'Mīrpur Khās, Sindh, Pakistan',
       'Larkana District, Sindh, Pakistan', 'Pasrur, Punjab, Pakistan',
       'Sarai Alamgir Tehsil, Punjab, Pakistan',
       'Sahiwal Division, Punjab, Pakistan',
       'Panjgur, Baluchistan, Pakistan',
       'Hyderabad District, Sindh, Pakistan', 'Baloch Colony, Pakistan',
       'Attock, Punjab, Pakistan Reposted',
       'Rahim Yar Khan District, Punjab, Pakistan',
       'Ratodero, Sindh, Pakistan', 'APJ',
       'Chakwal District, Punjab, Pakistan',
       'Islamabad, Punjab, Pakistan', 'İzmir, İzmir, Turkey',
       'Miān Channūn, Punjab, Pakistan',
       'Battagram, Khyber Pakhtunkhwa, Pakistan',
       'Harīpur, Khyber Pakhtunkhwa, Pakistan',
       'Jamshoro, Sindh, Pakistan Reposted  \n1 hour',
       'Lahore, Punjab, Pakistan Reposted  \n2 hours',
       'Gujranwala District, Punjab, Pakistan',
       'Lahore Division, Punjab, Pakistan',
       'Naushahro Feroze District, Sindh, Pakistan',
       'Islamabad, Islāmābād, Pakistan Reposted  \n5 days',
       'Khuzdar, Baluchistan, Pakistan',
       'Karāchi, Sindh, Pakistan  \n6 days',
       'Kasur District, Punjab, Pakistan',
       'Sukkur District, Sindh, Pakistan',
       'Abbottabad District, Khyber Pakhtunkhwa, Pakistan',
       'Islamabad, Islāmābād, Pakistan Reposted  \n5 hours',
       'Malir District, Sindh, Pakistan', 'Vehari, Punjab, Pakistan',
       'Kahuta, Punjab, Pakistan', 'Badin, Sindh, Pakistan',
       'Karāchi, Sindh, Pakistan Reposted  \n6 days',
       'Karāchi, Sindh, Pakistan Reposted  \n3 days',
       'Sahiwal, Punjab, Pakistan',
       'Islamabad, Islāmābād, Pakistan  \n6 days',
       'Lahore, Punjab, Pakistan Reposted  \n6 days',
       'Lahore, Punjab, Pakistan  \n6 days',
       'Thal, Khyber Pakhtunkhwa, Pakistan', 'Landhi, Sindh, Pakistan',
       'Shikarpur, Sindh, Pakistan',
       'Faisalabad District, Punjab, Pakistan',
       'Karāchi, Sindh, Pakistan Reposted  \n4 days',
       'Islamabad, Islāmābād, Pakistan Reposted  \n1 day',
       'Bhakkar, Punjab, Pakistan',
       'Karāchi, Sindh, Pakistan Reposted  \n2 days',
       'Karāchi, Sindh, Pakistan Reposted  \n1 day',
       'Lahore, Punjab, Pakistan Reposted  \n2 days',
       'Lahore, Punjab, Pakistan Reposted  \n1 day',
       'Karāchi, Sindh, Pakistan  \n5 days',
       'Karāchi, Sindh, Pakistan Reposted  \n5 days',
       'Bahrain, Khyber Pakhtunkhwa, Pakistan', 'Metro Manil',
       'Lahore, Punjab, Pakistan Reposted  \n4 days',
       'Jarānwāla, Punjab, Pakistan Reposted  \n1 day',
       'Kohāt, Khyber Pakhtunkhwa, Pakistan',
       'Lahore, Punjab, Pakistan Reposted  \n3 days',
       'Karāchi, Sindh, Pakistan  \n4 days', 'Okāra, Punjab, Pakistan',
       'Islamabad, Islāmābād, Pakistan Reposted  \n3 days',
       'Islamabad, Islāmābād, Pakistan  \n4 days',
       'Islāmābād, Pakistan  \n4 days',
       'Karachi Division, Sindh, Pakistan  \n4 days',
       'Pakistan Reposted  \n4 days',
       'Lahore, Punjab, Pakistan  \n4 days',
       'Karachi Division, Sindh, Pakistan Reposted  \n4 days',
       'Islāmābād, Pakistan Reposted  \n4 days',
       'Sindh, Pakistan  \n4 days', 'Punjab, Pakistan  \n4 days',
       'Sialkot, Punjab, Pakistan  \n4 days', 'APJ  \n4 days',
       'Pakistan  \n4 days', 'Nawabshah, Sindh, Pakistan  \n4 days',
       'Gujranwala District, Punjab, Pakistan  \n4 days',
       'Bahawalnagar District, Punjab, Pakistan  \n4 days',
       'Muzaffargarh, Punjab, Pakistan  \n4 days',
       'Lahore, Punjab, Pakistan Reposted  \n7 hours',
       'New Karachi Town, Sindh, Pakistan Reposted  \n3 days',
       'APAC  \n4 days',
       'Rawalpindi, Punjab, Pakistan Reposted  \n3 days',
       'Rawalpindi, Punjab, Pakistan  \n4 days',
       'Multan, Punjab, Pakistan  \n4 days',
       'Rawalpindi, Punjab, Pakistan Reposted  \n8 hours',
       'Quetta, Baluchistan, Pakistan  \n4 days',
       'Badin, Sindh, Pakistan  \n4 days', 'South Asia  \n4 days',
       'APAC Reposted  \n3 days'], dtype=object)

In [86]:
len(df['location'].unique())

161

# 19 oct 2023

In [87]:
df['Job Info'].iloc[3]

'DevNatives · Islamabad, Islāmābād, Pakistan (Hybrid)  \n1 week ago\n\n · 51 applicants'

In [88]:
df['Job Info'].iloc[3].split('(')

['DevNatives · Islamabad, Islāmābād, Pakistan ',
 'Hybrid)  \n1 week ago\n\n · 51 applicants']

In [89]:
df['Job Info'].iloc[3].split('(')[1].split(')')

['Hybrid', '  \n1 week ago\n\n · 51 applicants']

In [90]:
df['Job Info'].iloc[3].split('(')[1].split(')')[0]

'Hybrid'

In [91]:
# df['Remote/Onsite']=df['Job Info'].apply(lambda x:x.split('(')[1].split(')')[0])
# # IndexError: list index out of range

In [92]:
# i=0
# for info in df['Job Info']:
#     print(info.split('(')[1].split(')')[0])
#     i=i+1
#     print(info)
# # IndexError: list index out of range

In [93]:
# i

In [94]:
df.iloc[87]['Job Info']

'Contour Software · Lahore, Punjab, Pakistan  \n2 weeks ago\n\n · 154 applicants'

In [95]:
# i=0
# for info in df['Job Info']:
#     try:
#         print(info.split('(')[1].split(')')[0])
#     except IndexError:
#         print('Not specified')
#     i=i+1
#     print(i)

In [96]:
# pvt value observed

In [97]:
# for couting how many pvt values
# i=0
# for info in df['Job Info']:
#     try:
#         a=info.split('(')[1].split(')')[0])
#     except IndexError:
#         a='Not specified'
#     i=i+1
#     if a=='Pvt':
#         print(i)
# # SyntaxError: unmatched ')'

In [98]:
df.iloc[11]['Job Info']

'ArhamSoft (Pvt) Ltd · Lahore, Punjab, Pakistan (On-site)  \n1 week ago'

In [99]:
df.iloc[11]['Job Info'].split('·')[1].split('(')[1].split(')')[0]

'On-site'

In [100]:
remote_onsite_list=[]
for info in df['Job Info']:
    try:
        remote_onsite_list.append(info.split('·')[1].split('(')[1].split(')')[0])
    except IndexError:
        remote_onsite_list.append('Not specified')

In [101]:
# remote_onsite_list

In [102]:
len(remote_onsite_list)

3571

In [103]:
df['Remote/Onsite']=remote_onsite_list
# df['Remote/Onsite']=pd.Series(remote_onsite_list)

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_12756\3071556669.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Remote/Onsite']=remote_onsite_list

In [104]:
df['Remote/Onsite']

0              Remote
1             On-site
2             On-site
3              Hybrid
4             On-site
            ...
4209    Not specified
4210    Not specified
4211    Not specified
4212    Not specified
4213    Not specified
Name: Remote/Onsite, Length: 3571, dtype: object

In [105]:
df['Remote/Onsite'].unique()

array(['Remote', 'On-site', 'Hybrid', 'Not specified'], dtype=object)

In [106]:
df['Remote/Onsite'].value_counts()

Remote/Onsite
On-site          2616
Remote            525
Not specified     230
Hybrid            200
Name: count, dtype: int64

In [107]:
df['Job Info'].iloc[3]

'DevNatives · Islamabad, Islāmābād, Pakistan (Hybrid)  \n1 week ago\n\n · 51 applicants'

In [108]:
df['Job Info'].iloc[3].split('·')[2]

' 51 applicants'

In [109]:
# df['n-applicants']=df['Job Info'].apply(lambda x:x.split('·')[2])
# # IndexError: list index out of range

In [110]:
# i=0
# for info in df['Job Info']:
#     print(info.split('·')[2])
#     i=i+1
#     print(info)
# # IndexError: list index out of range

In [111]:
# i

In [112]:
df.iloc[0]['Job Info']

'EcomFleet · Pakistan (Remote)  \n1 week ago'

#application not given

In [113]:
df['Job Info'].iloc[3].split('·')[2].strip(' applicants')

'51'

# 20 oct 2023

In [114]:
# n_applicant_list=[]
# for info in df['Job Info']:
#     try:
#         n_applicant_list.append(int(info.split('·')[2].strip(' applicants')))
#     except IndexError:
#         n_applicant_list.append(np.nan)
# # ValueError: invalid literal for int() with base 10: '2,048'

In [115]:
n_applicant_list=[]
for info in df['Job Info']:
    try:
        n_applicant_list.append(info.split('·')[2].strip(' applicants'))
    except IndexError:
        n_applicant_list.append(np.nan)

In [116]:
n_applicant_list[:10]

[nan, nan, nan, '51', '51', nan, nan, nan, '312', '2,048']

In [117]:
df['n_applicant']=n_applicant_list

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_12756\1363075266.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['n_applicant']=n_applicant_list

In [118]:
df['n_applicant'].dtype

dtype('O')

In [119]:
# df['n_applicant'] = df['n_applicant'].astype(int)
# # ValueError: cannot convert float NaN to integer

In [120]:
df['n_applicant'].unique()

array([nan, '51', '312', '2,048', '30', '3,159', '41', '3,008', '120',
       '685', '50', '28', '24', '734', '9', '112', '42', '10', '89', '48',
       '19', '732', '338', '18', '154', '472', '110', '32', '16', '448',
       '239', '933', '255', '15', '177', '33', '323', '207', '22', '21',
       '49', '591', '45', '29', '231', '337', '249', '123', '40', '192',
       '157', '1,386', '36', '1,186', '17', '76', '61', '38', '20', '12',
       '115', '73', '46', '315', '90', '67', '27', '23', '13', '172',
       '778', '96', '58', '216', '43', '204', '247', '380', '39', '1,768',
       '11', '310', '34', '108', '162', '853', '986', '215', '14', '94',
       '92', '168', '911', '53', '420', '31', '72', '44', '59', '132',
       '289', '35', '52', '1,379', '158', '260', '54', '250', '332',
       '649', '1,385', '153', '37', '83', '370', '287', '57', '339', '47',
       '208', '121', '56', '98', '68', '254', '259', '138', '305', '186',
       '197', '84', '795', '63', '79', '757', '166', '662', '100', '109',
       '285', '60', '127', '364', '74', '199', '198', '212', '328', '122',
       '252', '264', '502', '237', '376', '903', '146', '298', '505',
       '985', '342', '516', '1,213', '362', '1,344', '256', '189', '143',
       '88', '131', '531', '25', '149', '26', '316', '141', '99', '184',
       '113', '97', '170', '6', '480', '133', '309', '77', '429', '62',
       '4', '55', '202', '521', '925', '135', '304', '164', '1,391',
       '862', '229', '628', '200', '151', '176', '468', '71', '66',
       '1,650', '394', '1,015', '458', '181', '611', '749', '335', '904',
       '377', '3,400', '604', '372', '180', '693', '1,577', '144', '171',
       '926', '1,968', '834', '104', '69', '148', '479', '293', '95',
       '1,159', '190', '1,034', '75', '86', '898', '130', '270', '852',
       '136', '432', '441', '402', '2,420', '346', '827', '438', '134',
       '1,319', '495', '396', '560', '114', '81', '283', '804', '185',
       '253', '117', '344', '295', '1,296', '557', '175', '242', '811',
       '868', '880', '822', '526', '214', '532', '681', '2,142', '87',
       '535', '744', '371', '413', '928', '573', '187', '201', '322',
       '244', '78', '409', '307', '227', '424', '213', '930', '225',
       '2,943', '399', '245', '830', '267', '1,708', '779', '165', '291',
       '65', '2,701', '496', '105', '358', '793', '137', '106', '246',
       '467', '243', '1,415', '248', '7', '389', '541', '351', '345',
       '507', '107', '347', '336', '369', '561', '475', '326', '640',
       '174', '536', '860', '139', '821', '682', '545', '85', '465',
       '803', '203', '455', '268', '265', '217', '8', '1,574', '542',
       '1,704', '513', '1,177', '452', '1,750', '577', '147', '428',
       '1,649', '152', '469', '427', '837', '592', '522', '191', '464',
       '80', '159', '233', '430', '103', '142', '5,401', '664', '1,167',
       '182', '3', '400', '70', '773', '284', '124', '205', '64', '262',
       '263', '555', '1,857', '266', '321', '597', '318', '221', '195',
       '288', '1,674', '93', '223', '481', '408', '1,132', '363', '477',
       '854', '419', '240', '129', '552', '921', '723', '5,203', '145',
       '666', '116', '194', '711', '589', '118', '546', '258', '188',
       '679', '303', '387', '125', '218', '102', '651', '82', '1,064',
       '431', '406', '425', '234', '1,632', '381', '294', '721', '155',
       '638', '220', '391', '126', '156', '1,657', '998', '1,195', '478',
       '319', '257', '403', '224', '357', '119', '942', '5', '167', '379',
       '111', '740', '330', '2,895', '210', '463', '281', '1,023', '301',
       '1,381', '1,148', '661', '617', '1,556', '286', '603', '850',
       '1,080', '1,356', '196', '992', '1,457', '1,917', '361', '1,514',
       '667', '206', '529', '558', '91', '101', '163', '588', '1,450',
       '1,588', '140', '609', '500', '1', '193', '1,042', '275', '768',
       '128', '395', '1,013', '340', '474', '423', '551', '484', '490',
       '367', '272', '290', '278', '366', '671', '791', '375', '2', '235',
       '1,882'], dtype=object)

In [121]:
len(df['n_applicant'].unique())

521

In [122]:
df['n_applicant'].value_counts()[:30]

n_applicant
51    152
11     56
18     40
13     34
16     34
21     33
14     32
17     31
19     30
12     30
22     29
15     29
10     29
24     26
20     25
23     24
32     22
26     21
28     18
30     18
33     18
38     17
50     16
34     16
27     15
36     15
31     15
43     15
35     14
29     14
Name: count, dtype: int64

# 21 oct 2023

In [123]:
df['Job Info'].iloc[3]

'DevNatives · Islamabad, Islāmābād, Pakistan (Hybrid)  \n1 week ago\n\n · 51 applicants'

In [124]:
df['Job Info'].iloc[3].split('\n')[1]

'1 week ago'

In [125]:
df['job posting time']=df['Job Info'].apply(lambda x:x.split('\n')[1])
df['job posting time']

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_12756\1476465958.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job posting time']=df['Job Info'].apply(lambda x:x.split('\n')[1])

0        1 week ago
1       2 weeks ago
2        1 week ago
3        1 week ago
4        1 week ago
           ...
4209     4 days ago
4210     3 days ago
4211     4 days ago
4212     4 days ago
4213     4 days ago
Name: job posting time, Length: 3571, dtype: object

In [126]:
df['job posting time'].unique()

array(['1 week ago', '2 weeks ago', '1 day ago', '6 days ago',
       '5 days ago', '11 hours ago', '3 days ago', '3 hours ago',
       '4 days ago', '13 minutes ago', '14 minutes ago', '5 hours ago',
       '10 hours ago', '9 hours ago', '2 days ago', '13 hours ago',
       '18 hours ago', '7 hours ago', '4 hours ago', '3 weeks ago',
       '2 hours ago', '12 hours ago', '6 hours ago', '14 hours ago',
       '1 hour ago', '22 hours ago', '8 hours ago', '23 hours ago',
       '15 hours ago', '20 hours ago', '19 hours ago', '16 hours ago'],
      dtype=object)

In [127]:
df['job posting time'].value_counts()

job posting time
1 week ago        1948
2 weeks ago        452
6 days ago         353
5 days ago         335
4 days ago         239
1 day ago           77
3 days ago          62
23 hours ago        25
2 days ago          25
2 hours ago         14
5 hours ago          4
4 hours ago          4
7 hours ago          3
13 minutes ago       3
8 hours ago          3
20 hours ago         2
3 weeks ago          2
18 hours ago         2
13 hours ago         2
10 hours ago         2
3 hours ago          2
11 hours ago         2
9 hours ago          1
12 hours ago         1
6 hours ago          1
14 hours ago         1
1 hour ago           1
22 hours ago         1
14 minutes ago       1
15 hours ago         1
19 hours ago         1
16 hours ago         1
Name: count, dtype: int64

In [128]:
df['Job Type'].unique()

array(['Full-time', 'Full-time · Mid-Senior level',
       'Internship · Internship', 'Full-time · Associate', 'Internship',
       'Full-time · Entry level', 'Part-time', 'Full-time · Internship',
       'Contract · Mid-Senior level', 'Contract', 'Contract · Associate',
       '$150/month - $300/month · Full-time', 'Full-time · Director',
       'Part-time · Associate', 'Mr Ahsan is hiring for this job',
       'Part-time · Executive', 'Contract · Executive',
       'Part-time · Mid-Senior level', 'Contract · Entry level',
       'Temporary · Mid-Senior level', 'Executive',
       'Full-time · Executive', 'Sean Sato is hiring for this job',
       'Part-time · Internship', 'Internship · Mid-Senior level',
       '$12,000/yr - $15,000/yr · Full-time · Mid-Senior level',
       '$200,000/yr · Full-time', 'Part-time · Entry level',
       'dr.ry. L. is hiring for this job',
       '10,001+ employees · Tobacco Manufacturing', 'Volunteer',
       'On-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nFull-time\n\n \nMid-Senior level',
       'Remote\n\n \nFull-time\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nFull-time',
       'Hybrid\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nDirector', 'Remote\n\n \nFull-time',
       'On-site\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nAssociate',
       'Full-time\n\n \nMid-Senior level', 'On-site\n\n \nPart-time',
       'Hybrid\n\n \nFull-time',
       'Remote\n\n \nContract\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nExecutive',
       'Remote\n\n \nFull-time\n\n \nEntry level'], dtype=object)

In [129]:
len(df['Job Type'].unique())

48

In [130]:
df[df['Job Type']=='Full-time']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,EcomFleet,Pakistan,Remote,NaN,1 week ago
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,Digicon Valley,"Lahore, Punjab, Pakistan",On-site,NaN,2 weeks ago
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,Murkez Technologies,"Lahore, Punjab, Pakistan",On-site,NaN,1 week ago
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,DevNatives,"Islamabad, Islāmābād, Pakistan",Hybrid,51,1 week ago
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,ItCreaters,"Lahore, Punjab, Pakistan",On-site,51,1 week ago
...,...,...,...,...,...,...,...,...,...,...,...
3971,Assistant,"Self-employed · Okāra, Punjab, Pakistan (On-si...",Full-time,https://www.linkedin.com/jobs/view/3735949092,Mahnoor Waseem is hiring for this job,3735949092,Self-employed,"Okāra, Punjab, Pakistan",On-site,10,3 days ago
3980,Senior WordPress Developer,Webfume · Pakistan (Remote) \n4 days ago\n\n ...,Full-time,https://www.linkedin.com/jobs/view/3734509343,51-200 employees,3734509343,Webfume,Pakistan,Remote,551,4 days ago
3985,Full Stack Developer,"Zones IT Solutions · Islamabad, Islāmābād, Pak...",Full-time,https://www.linkedin.com/jobs/view/3684736399,"501-1,000 employees · IT Services and IT Consu...",3684736399,Zones IT Solutions,"Islamabad, Islāmābād, Pakistan",On-site,484,4 days ago
3988,CDU MPBN Integration Engineer,"Ericsson · Islamabad, Islāmābād, Pakistan Repo...",Full-time,https://www.linkedin.com/jobs/view/3730584395,"10,001+ employees · IT Services and IT Consulting",3730584395,Ericsson,"Islamabad, Islāmābād, Pakistan Reposted \n3 days",Not specified,16,3 days ago
3996,Receptionist (Night Shift) in Rawalpindi,"NSOL BPO Services · Rawalpindi, Punjab, Pakist...",Full-time,https://www.linkedin.com/jobs/view/3734762745,201-500 employees,3734762745,NSOL BPO Services,"Rawalpindi, Punjab, Pakistan",On-site,NaN,3 days ago

In [131]:
len(df[df['Job Type']=='Full-time'])

2235

In [132]:
df[df['Job Type']=='Internship · Internship']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time
9,Fresh Graduate Engineers,"HUAWEI Pakistan · Islāmābād, Pakistan (On-site...",Internship · Internship,https://www.linkedin.com/jobs/view/3723394654,"501-1,000 employees · Telecommunications",3723394654,HUAWEI Pakistan,"Islāmābād, Pakistan",On-site,"2,048",2 weeks ago
91,Audit Intern,"Confiz · Lahore, Punjab, Pakistan (On-site) \...",Internship · Internship,https://www.linkedin.com/jobs/view/3727032054,"501-1,000 employees · IT Services and IT Consu...",3727032054,Confiz,"Lahore, Punjab, Pakistan",On-site,NaN,2 weeks ago
1276,Virtual Data Analytics Internship - Customer I...,"Talent Pal · Karāchi, Sindh, Pakistan (On-site...",Internship · Internship,https://www.linkedin.com/jobs/view/3730068355,11-50 employees · Staffing and Recruiting,3730068355,Talent Pal,"Karāchi, Sindh, Pakistan",On-site,377,1 week ago
1301,Virtual Data Engineering Internship - Performa...,"Talent Pal · Islamabad, Islāmābād, Pakistan (O...",Internship · Internship,https://www.linkedin.com/jobs/view/3730064938,11-50 employees · Staffing and Recruiting,3730064938,Talent Pal,"Islamabad, Islāmābād, Pakistan",On-site,38,1 week ago
1308,Virtual Data Analytics Internship - Customer R...,"Talent Pal · Karāchi, Sindh, Pakistan (On-site...",Internship · Internship,https://www.linkedin.com/jobs/view/3730069358,11-50 employees · Staffing and Recruiting,3730069358,Talent Pal,"Karāchi, Sindh, Pakistan",On-site,51,1 week ago
1311,Virtual Data Analytics Internship - Customer R...,"Talent Pal · Islamabad, Islāmābād, Pakistan (O...",Internship · Internship,https://www.linkedin.com/jobs/view/3730065593,11-50 employees · Staffing and Recruiting,3730065593,Talent Pal,"Islamabad, Islāmābād, Pakistan",On-site,38,1 week ago
1321,Virtual Project Management Internship,"Talent Pal · Karāchi, Sindh, Pakistan (On-site...",Internship · Internship,https://www.linkedin.com/jobs/view/3730069362,11-50 employees · Staffing and Recruiting,3730069362,Talent Pal,"Karāchi, Sindh, Pakistan",On-site,69,1 week ago
1326,Virtual Data Engineering Internship - Cloud Ba...,"Talent Pal · Islamabad, Islāmābād, Pakistan (O...",Internship · Internship,https://www.linkedin.com/jobs/view/3730067572,11-50 employees · Staffing and Recruiting,3730067572,Talent Pal,"Islamabad, Islāmābād, Pakistan",On-site,57,1 week ago
1330,Virtual Data Engineering Internship - Cloud Ba...,"Talent Pal · Karāchi, Sindh, Pakistan (On-site...",Internship · Internship,https://www.linkedin.com/jobs/view/3730071088,11-50 employees · Staffing and Recruiting,3730071088,Talent Pal,"Karāchi, Sindh, Pakistan",On-site,57,1 week ago
1333,Virtual Data Engineering Internship - Payment ...,"Talent Pal · Islamabad, Islāmābād, Pakistan (O...",Internship · Internship,https://www.linkedin.com/jobs/view/3730064941,11-50 employees · Staffing and Recruiting,3730064941,Talent Pal,"Islamabad, Islāmābād, Pakistan",On-site,20,1 week ago
1334,Virtual Data Engineering Internship - Payment ...,"Talent Pal · Karāchi, Sindh, Pakistan (On-site...",Internship · Internship,https://www.linkedin.com/jobs/view/3730071065,11-50 employees · Staffing and Recruiting,3730071065,Talent Pal,"Karāchi, Sindh, Pakistan",On-site,NaN,1 week ago
1336,Virtual B2B Sales Internship,"Talent Pal · Karāchi, Sindh, Pakistan (On-site...",Internship · Internship,https://www.linkedin.com/jobs/view/3730064909,11-50 employees · Staffing and Recruiting,3730064909,Talent Pal,"Karāchi, Sindh, Pakistan",On-site,NaN,1 week ago
1339,Virtual Customer Experience Internship,"Talent Pal · Islamabad, Islāmābād, Pakistan (O...",Internship · Internship,https://www.linkedin.com/jobs/view/3730071079,11-50 employees · Staffing and Recruiting,3730071079,Talent Pal,"Islamabad, Islāmābād, Pakistan",On-site,38,1 week ago
1351,Virtual B2B Sales Internship,"Talent Pal · Islamabad, Islāmābād, Pakistan (O...",Internship · Internship,https://www.linkedin.com/jobs/view/3730068298,11-50 employees · Staffing and Recruiting,3730068298,Talent Pal,"Islamabad, Islāmābād, Pakistan",On-site,21,1 week ago
1353,Virtual Customer Experience Internship,"Talent Pal · Karāchi, Sindh, Pakistan (On-site...",Internship · Internship,https://www.linkedin.com/jobs/view/3730065606,11-50 employees · Staffing and Recruiting,3730065606,Talent Pal,"Karāchi, Sindh, Pakistan",On-site,28,1 week ago
1364,Virtual Operations Management Internship,"Talent Pal · Islamabad, Islāmābād, Pakistan (O...",Internship · Internship,https://www.linkedin.com/jobs/view/3730068321,11-50 employees · Staffing and Recruiting,3730068321,Talent Pal,"Islamabad, Islāmābād, Pakistan",On-site,38,1 week ago
1394,Virtual Product Management Internship,"Talent Pal · Karāchi, Sindh, Pakistan (On-site...",Internship · Internship,https://www.linkedin.com/jobs/view/3730068331,11-50 employees · Staffing and Recruiting,3730068331,Talent Pal,"Karāchi, Sindh, Pakistan",On-site,NaN,1 week ago
1395,Virtual Product Management Internship,"Talent Pal · Islamabad, Islāmābād, Pakistan (O...",Internship · Internship,https://www.linkedin.com/jobs/view/3730064948,11-50 employees · Staffing and Recruiting,3730064948,Talent Pal,"Islamabad, Islāmābād, Pakistan",On-site,24,1 week ago
1773,Live Ops Agent - Intern,"Careem · Lahore, Punjab, Pakistan (Remote) \n...",Internship · Internship,https://www.linkedin.com/jobs/view/3730366816,"1,001-5,000 employees · IT Services and IT Con...",3730366816,Careem,"Lahore, Punjab, Pakistan",Remote,307,1 week ago
3948,Employer Branding & Culture Intern,"Jazz · Islamabad, Islāmābād, Pakistan (On-site...",Internship · Internship,https://www.linkedin.com/jobs/view/3734535702,"1,001-5,000 employees · Telecommunications",3734535702,Jazz,"Islamabad, Islāmābād, Pakistan",On-site,NaN,4 days ago

In [133]:
len(df[df['Job Type']=='Internship · Internship'])

20

In [134]:
df[df['Job Type']=='Contract']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time
192,Content Writer,"Torque360 · Lahore, Punjab, Pakistan (On-site)...",Contract,https://www.linkedin.com/jobs/view/3727018176,11-50 employees,3727018176,Torque360,"Lahore, Punjab, Pakistan",On-site,NaN,2 weeks ago
282,Shopify App Developer,Shopify1 - A Shopify Agency · Pakistan (Remote...,Contract,https://www.linkedin.com/jobs/view/3727041074/...,11-50 employees,3727041074,Shopify1 - A Shopify Agency,Pakistan,Remote,46,1 week ago
428,Senior Software Development Project Manager,"Staffing Wise · Lahore, Punjab, Pakistan (Remo...",Contract,https://www.linkedin.com/jobs/view/3676168478/...,11-50 employees,3676168478,Staffing Wise,"Lahore, Punjab, Pakistan",Remote,46,2 weeks ago
429,Community Counselor,Humraz Male Health Society Nawabshah · Nawabsh...,Contract,https://www.linkedin.com/jobs/view/3727015123/...,See how you compare to 15 applicants. Reactiva...,3727015123,Humraz Male Health Society Nawabshah,"Nawabshah, Sindh, Pakistan",On-site,NaN,2 weeks ago
584,SOFTWARE DEVELOPER,"360 TECHNOLOGIES · Islamabad, Islāmābād, Pakis...",Contract,https://www.linkedin.com/jobs/view/3727513946,51-200 employees,3727513946,360 TECHNOLOGIES,"Islamabad, Islāmābād, Pakistan",Hybrid,NaN,1 week ago
590,SOFTWARE DEVELOPER,"360 TECHNOLOGIES · Islamabad, Islāmābād, Pakis...",Contract,https://www.linkedin.com/jobs/view/3727510836,51-200 employees,3727510836,360 TECHNOLOGIES,"Islamabad, Islāmābād, Pakistan",Hybrid,NaN,1 week ago
605,Social Media Manager,"US Trips n Tours · Punjab, Pakistan (Remote) R...",Contract,https://www.linkedin.com/jobs/view/3714484473,Umar Siddiqui is hiring for this job,3714484473,US Trips n Tours,"Punjab, Pakistan",Remote,685,1 week ago
694,Call Center Representative,"Logico info technology · Lahore, Punjab, Paki...",Contract,https://www.linkedin.com/jobs/view/3728711440,Yasir Khubaib is hiring for this job,3728711440,Logico info technology,"Lahore, Punjab, Pakistan",On-site,11,1 week ago
734,Field Research Interviewer,"Static-A (CX-CS Consulting Firm) · Lahore, Pun...",Contract,https://www.linkedin.com/jobs/view/3727085245,"Ali Malik, CCXP is hiring for this job",3727085245,Static-A (CX-CS Consulting Firm),"Lahore, Punjab, Pakistan",On-site,10,2 weeks ago
839,Voice User Interface (VUI) Designer,CRES Technology · Pakistan (Remote) \n1 week ago,Contract,https://www.linkedin.com/jobs/view/3727537108,11-50 employees,3727537108,CRES Technology,Pakistan,Remote,NaN,1 week ago
1082,Business Development Executive,"The Royal Advisor · Karachi Division, Sindh, P...",Contract,https://www.linkedin.com/jobs/view/3729118023,51-200 employees,3729118023,The Royal Advisor,"Karachi Division, Sindh, Pakistan",On-site,16,1 week ago
1088,Elementary School Teacher,Sayed Saeedullah Shah Rashadi Model School Tal...,Contract,https://www.linkedin.com/jobs/view/3727929128,11-50 employees,3727929128,Sayed Saeedullah Shah Rashadi Model School Tal...,"Mirpur Khas District, Sindh, Pakistan",On-site,14,1 week ago
1121,Webflow Developer and Graphic Designer,Prodcircle · Pakistan (Remote) \n1 week ago,Contract,https://www.linkedin.com/jobs/view/3728229216,1-10 employees,3728229216,Prodcircle,Pakistan,Remote,NaN,1 week ago
1167,Appointment Setter,HTSolutions · Pakistan (Remote) \n1 week ago,Contract,https://www.linkedin.com/jobs/view/3728252010,1-10 employees,3728252010,HTSolutions,Pakistan,Remote,NaN,1 week ago
1291,Lead Generation Specialist,"Humans Meta Tech · Lahore, Punjab, Pakistan (H...",Contract,https://www.linkedin.com/jobs/view/3726567599,11-50 employees,3726567599,Humans Meta Tech,"Lahore, Punjab, Pakistan",Hybrid,NaN,1 week ago
1458,Solar Installation Technician (Project Based),"IPS - Ideal Power Solutions · Karāchi, Sindh, ...",Contract,https://www.linkedin.com/jobs/view/3728515017,51-200 employees,3728515017,IPS - Ideal Power Solutions,"Karāchi, Sindh, Pakistan",On-site,NaN,1 week ago
1533,Social Media Agency,"Al Alwaan Food · Karāchi, Sindh, Pakistan (Hyb...",Contract,https://www.linkedin.com/jobs/view/3729941082,11-50 employees,3729941082,Al Alwaan Food,"Karāchi, Sindh, Pakistan",Hybrid,51,1 week ago
1551,Affiliate content writer,"Techticks · Bahawalpur, Punjab, Pakistan (On-s...",Contract,https://www.linkedin.com/jobs/view/3729944965,11-50 employees,3729944965,Techticks,"Bahawalpur, Punjab, Pakistan",On-site,24,1 week ago
1685,Educational Consultant,"One Path Migration · Islamabad, Islāmābād, Pak...",Contract,https://www.linkedin.com/jobs/view/3730122918,1-10 employees,3730122918,One Path Migration,"Islamabad, Islāmābād, Pakistan",On-site,37,1 week ago
1730,Senior Web Application Developer,Linkamber · Pakistan (Remote) \n1 week ago\n\...,Contract,https://www.linkedin.com/jobs/view/3730138495,11-50 employees,3730138495,Linkamber,Pakistan,Remote,48,1 week ago
1756,Digital Marketing Executive,COSMO · Pakistan (Remote) \n1 week ago,Contract,https://www.linkedin.com/jobs/view/3730677619,11-50 employees,3730677619,COSMO,Pakistan,Remote,NaN,1 week ago
1821,Web Developer,Thokmandee.com · Pakistan (Remote) \n1 week ago,Contract,https://www.linkedin.com/jobs/view/3730360128,11-50 employees,3730360128,Thokmandee.com,Pakistan,Remote,NaN,1 week ago
1830,Social Media Marketing Specialist,"Cross Sky Consultants · Peshawar, Khyber Pakht...",Contract,https://www.linkedin.com/jobs/view/3730383291,1-10 employees,3730383291,Cross Sky Consultants,"Peshawar, Khyber Pakhtunkhwa, Pakistan",Hybrid,NaN,1 week ago
1935,Sales Representative,"Kyrios Dev · Karāchi, Sindh, Pakistan (Remote)...",Contract,https://www.linkedin.com/jobs/view/3730397066,1-10 employees,3730397066,Kyrios Dev,"Karāchi, Sindh, Pakistan",Remote,NaN,1 week ago
1997,Freelance Video Editor,"Axial Consulting Pvt Ltd · Lahore, Punjab, Pak...",Contract,https://www.linkedin.com/jobs/view/3730352375,1-10 employees,3730352375,Axial Consulting Pvt Ltd,"Lahore, Punjab, Pakistan",Hybrid,162,1 week ago
2270,Salesperson,Webmicron · Pakistan (Remote) \n1 week ago,Contract,https://www.linkedin.com/jobs/view/3731280300,11-50 employees,3731280300,Webmicron,Pakistan,Remote,NaN,1 week ago
2333,Associate Content Writer,"Torque360 · Lahore, Punjab, Pakistan (On-site)...",Contract,https://www.linkedin.com/jobs/view/3731298011,11-50 employees,3731298011,Torque360,"Lahore, Punjab, Pakistan",On-site,NaN,1 week ago
2688,Power Market and Financials Sr Associate,"Planetive · Islāmābād, Pakistan (On-site) \n1...",Contract,https://www.linkedin.com/jobs/view/3731607788,11-50 employees,3731607788,Planetive,"Islāmābād, Pakistan",On-site,NaN,1 week ago
2705,Microsoft Dynamics 365 CE/CRM functional consu...,Tech Infiniti · Pakistan (Remote) \n1 week ag...,Contract,https://www.linkedin.com/jobs/view/3700625619,1-10 employees,3700625619,Tech Infiniti,Pakistan,Remote,34,1 week ago
2720,Blockchain Expert,"Cathect Sdn Bhd · Islamabad, Islāmābād, Pakist...",Contract,https://www.linkedin.com/jobs/view/3731686008,11-50 employees,3731686008,Cathect Sdn Bhd,"Islamabad, Islāmābād, Pakistan",Hybrid,12,1 week ago
2770,Senior Business Development Consultant,"VACON.AI · Lahore Division, Punjab, Pakistan (...",Contract,https://www.linkedin.com/jobs/view/3731642783,1-10 employees,3731642783,VACON.AI,"Lahore Division, Punjab, Pakistan",Hybrid,NaN,1 week ago
2833,PHP AND LARAVEL DEVELOPER,"SAAMH TECH · Multan, Punjab, Pakistan (On-site...",Contract,https://www.linkedin.com/jobs/view/3732435425,Ahmad Saleem is hiring for this job,3732435425,SAAMH TECH,"Multan, Punjab, Pakistan",On-site,15,1 week ago
2970,Marketing Automation Specialist,Meraki Partners · Pakistan (Remote) \n1 week ago,Contract,https://www.linkedin.com/jobs/view/3732689535,1-10 employees,3732689535,Meraki Partners,Pakistan,Remote,NaN,1 week ago
2984,Gynecologist,Bach Christian Hospital · Abbottabad District...,Contract,https://www.linkedin.com/jobs/view/3732824663,Ambrose Emmanuel is hiring for this job,3732824663,Bach Christian Hospital,"Abbottabad District, Khyber Pakhtunkhwa, Pakistan",On-site,4,6 days ago
2988,Word Press Developer,EPLsoft PVT LTD. · Pakistan (Remote) \n6 days...,Contract,https://www.linkedin.com/jobs/view/3732856079,Saad Malik is hiring for this job,3732856079,EPLsoft PVT LTD.,Pakistan,Remote,27,6 days ago
3000,Senior Devops Engineer,"Pan Asia Resources · Karāchi, Sindh, Pakistan ...",Contract,https://www.linkedin.com/jobs/view/3729036426,201-500 employees,3729036426,Pan Asia Resources,"Karāchi, Sindh, Pakistan",On-site,NaN,6 days ago
3003,QC Shift Analyst,"Alpha Container Industries · Karāchi, Sindh, P...",Contract,https://www.linkedin.com/jobs/view/3732690046,"501-1,000 employees",3732690046,Alpha Container Industries,"Karāchi, Sindh, Pakistan",On-site,26,1 week ago
3024,AWS Solutions Architect,"DOTIVATE · Lahore, Punjab, Pakistan (Hybrid) ...",Contract,https://www.linkedin.com/jobs/view/3732858036,11-50 employees,3732858036,DOTIVATE,"Lahore, Punjab, Pakistan",Hybrid,NaN,6 days ago
3054,Inside Sales Specialist,"BrinySoft Animation Studio Inc · Islāmābād, Pa...",Contract,https://www.linkedin.com/jobs/view/3729047773,11-50 employees,3729047773,BrinySoft Animation Studio Inc,"Islāmābād, Pakistan",Remote,NaN,6 days ago
3080,Mediální nákupčí,FusionAd Digital · Pakistan (Remote) \n6 days...,Contract,https://www.linkedin.com/jobs/view/3733673145,1-10 employees,3733673145,FusionAd Digital,Pakistan,Remote,NaN,6 days ago
3122,Off-Page SEO Strategist,"Virtue Xolutions · Karachi Division, Sindh, Pa...",Contract,https://www.linkedin.com/jobs/view/3723929582,201-500 employees,3723929582,Virtue Xolutions,"Karachi Division, Sindh, Pakistan",On-site,NaN,1 week ago
3298,Software Engineer,"360 TECHNOLOGIES · Islamabad, Islāmābād, Pakis...",Contract,https://www.linkedin.com/jobs/view/3733338358,51-200 employees,3733338358,360 TECHNOLOGIES,"Islamabad, Islāmābād, Pakistan",Hybrid,NaN,5 days ago
3478,SSRS Developer,Datawiz Corporation · Pakistan (Remote) \n6 d...,Contract,https://www.linkedin.com/jobs/view/3688127558,51-200 employees,3688127558,Datawiz Corporation,Pakistan,Remote,NaN,6 days ago
3774,Business growth strategist,Zulqarnain Writes Copy · Pakistan (Remote) \n...,Contract,https://www.linkedin.com/jobs/view/3734240700,1-10 employees,3734240700,Zulqarnain Writes Copy,Pakistan,Remote,51,4 days ago
3787,Python Developer,Hour Solution · Pakistan (Remote) \n5 days ago,Contract,https://www.linkedin.com/jobs/view/3734214535,11-50 employees,3734214535,Hour Solution,Pakistan,Remote,NaN,5 days ago
3793,Customer Service Representative,HRSG - Innovative Business Solutions · Karāchi...,Contract,https://www.linkedin.com/jobs/view/3734048168,"10,001+ employees",3734048168,HRSG - Innovative Business Solutions,"Karāchi, Sindh, Pakistan",On-site,41,5 days ago
3795,UI/UX Designer - Contract Based,Technifirm · Pakistan (Remote) \n4 days ago,Contract,https://www.linkedin.com/jobs/view/3734239574,1-10 employees,3734239574,Technifirm,Pakistan,Remote,NaN,4 days ago
3812,SAP Functional Consultant,"Sapience Consulting (Pvt) Ltd · Rawalpindi, Pu...",Contract,https://www.linkedin.com/jobs/view/3734210525,Umair Shahzad-SAP is hiring for this job,3734210525,Sapience Consulting (Pvt) Ltd,"Rawalpindi, Punjab, Pakistan",On-site,14,5 days ago
3816,Foreign Education Consultant,"DOTIVATE · Lahore, Punjab, Pakistan (On-site) ...",Contract,https://www.linkedin.com/jobs/view/3734218805,11-50 employees,3734218805,DOTIVATE,"Lahore, Punjab, Pakistan",On-site,25,5 days ago
3830,Power Platform Developer,MicroSysX · Pakistan (Remote) \n4 days ago\n\...,Contract,https://www.linkedin.com/jobs/view/3734237609,51-200 employees,3734237609,MicroSysX,Pakistan,Remote,71,4 days ago
3837,Business Feasibility & Projections Expert,BFT - Business Fitter Fintech · Pakistan (Rem...,Contract,https://www.linkedin.com/jobs/view/3734214292,11-50 employees,3734214292,BFT - Business Fitter Fintech,Pakistan,Remote,NaN,4 days ago

In [135]:
len(df[df['Job Type']=='Contract'])

51

In [136]:
df[df['Job Type']=='On-site\n\n \nFull-time\n\n \nMid-Senior level']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time
3997,Team Lead Performance Management,"Telenor Microfinance Bank Limited · Islamabad,...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3734530164,"1,001-5,000 employees · Banking",3734530164,Telenor Microfinance Bank Limited,"Islamabad, Islāmābād, Pakistan \n4 days",Not specified,490,4 days ago
3998,Solutions Architect,"SwipBox · Islāmābād, Pakistan \n4 days ago\n\...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735939988,"51-200 employees · Transportation, Logistics, ...",3735939988,SwipBox,"Islāmābād, Pakistan \n4 days",Not specified,37,4 days ago
3999,Customer Support Executive UAE,"Abacus Outsourcing · Lahore, Punjab, Pakistan ...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3734589987,"1,001-5,000 employees · Outsourcing and Offsho...",3734589987,Abacus Outsourcing,"Lahore, Punjab, Pakistan Reposted \n1 day",Not specified,367,1 day ago
4000,Cash Management Product Manager (Mashreq Globa...,"Mashreq · Karachi Division, Sindh, Pakistan \...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3734539790,"1,001-5,000 employees · Banking",3734539790,Mashreq,"Karachi Division, Sindh, Pakistan \n4 days",Not specified,237,4 days ago
4001,Senior Territory Manager,"foodpanda · Islamabad, Islāmābād, Pakistan \n...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3734537706,"5,001-10,000 employees · Internet Marketplace ...",3734537706,foodpanda,"Islamabad, Islāmābād, Pakistan \n4 days",Not specified,272,4 days ago
4007,Full Stack Engineer (Laravel + Angular),"Avrioc Technologies · Karachi Division, Sindh,...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3711641302,201-500 employees · IT System Custom Software ...,3711641302,Avrioc Technologies,"Karachi Division, Sindh, Pakistan Reposted \n...",Not specified,NaN,4 days ago
4009,Chemist (Third Party Contract),"Chevron · Lahore, Punjab, Pakistan \n4 days a...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3734774290,"10,001+ employees · Oil and Gas",3734774290,Chevron,"Lahore, Punjab, Pakistan \n4 days",Not specified,278,4 days ago
4012,Sr. SQA Automation Engineer,"SwipBox · Islāmābād, Pakistan Reposted \n4 da...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3691051668,"51-200 employees · Transportation, Logistics, ...",3691051668,SwipBox,"Islāmābād, Pakistan Reposted \n4 days",Not specified,366,4 days ago
4017,Assistant Manager Sales,"Zameen.com · Lahore, Punjab, Pakistan \n4 day...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3734598475,"5,001-10,000 employees · Real Estate",3734598475,Zameen.com,"Lahore, Punjab, Pakistan \n4 days",Not specified,NaN,4 days ago
4020,Senior Front-End Developer,"Deriv · Islāmābād, Pakistan \n4 days ago",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735963739,"1,001-5,000 employees · Financial Services",3735963739,Deriv,"Islāmābād, Pakistan \n4 days",Not specified,NaN,4 days ago
4023,Assistant Manager - Quality,A. F. Ferguson & Co. (a member firm of the PwC...,On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735895850,"1,001-5,000 employees · Accounting",3735895850,A. F. Ferguson & Co. (a member firm of the PwC...,"Karachi Division, Sindh, Pakistan \n4 days",Not specified,111,4 days ago
4025,Chemist (Third Party Contract),"Chevron · Karāchi, Sindh, Pakistan \n4 days a...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3734771757,"10,001+ employees · Oil and Gas",3734771757,Chevron,"Karāchi, Sindh, Pakistan \n4 days",Not specified,177,4 days ago
4028,Services Representative,"Schneider Electric · Karachi Division, Sindh, ...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3734515172,"10,001+ employees · Automation Machinery Manuf...",3734515172,Schneider Electric,"Karachi Division, Sindh, Pakistan \n4 days",Not specified,149,4 days ago
4033,Javascript/Angular Developer,"SwipBox · Islāmābād, Pakistan Reposted \n4 da...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3691054129,"51-200 employees · Transportation, Logistics, ...",3691054129,SwipBox,"Islāmābād, Pakistan Reposted \n4 days",Not specified,479,4 days ago
4036,Senior Business Development Manager,"Zameen.com · Lahore, Punjab, Pakistan \n4 day...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3734514130,"5,001-10,000 employees · Real Estate",3734514130,Zameen.com,"Lahore, Punjab, Pakistan \n4 days",Not specified,NaN,4 days ago
4037,Senior JavaScript Engineer (Karachi),"Systems Limited · Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735946679,"5,001-10,000 employees · IT Services and IT Co...",3735946679,Systems Limited,"Punjab, Pakistan \n4 days",Not specified,NaN,4 days ago
4038,Senior Front-End Developer,"Deriv · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735966481,"1,001-5,000 employees · Financial Services",3735966481,Deriv,"Lahore, Punjab, Pakistan \n4 days",Not specified,NaN,4 days ago
4039,"Head Nurse, Department of Surgery","Aga Khan University · Karāchi, Sindh, Pakistan...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3734559848,"10,001+ employees · Higher Education",3734559848,Aga Khan University,"Karāchi, Sindh, Pakistan \n4 days",Not specified,26,4 days ago
4044,DMD (Corporate Services),Sui Southern Gas Company Limited · Karachi Div...,On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735941065,"5,001-10,000 employees · Utilities",3735941065,Sui Southern Gas Company Limited,"Karachi Division, Sindh, Pakistan \n4 days",Not specified,NaN,4 days ago
4049,Manager ERP Functional,"US Group · Lahore, Punjab, Pakistan \n4 days ...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735001910,"10,001+ employees · Retail Apparel and Fashion",3735001910,US Group,"Lahore, Punjab, Pakistan \n4 days",Not specified,38,4 days ago
4066,Manager Project Sales,"Zameen.com · Lahore, Punjab, Pakistan \n4 day...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3734599452,"5,001-10,000 employees · Real Estate",3734599452,Zameen.com,"Lahore, Punjab, Pakistan \n4 days",Not specified,NaN,4 days ago
4068,Business Development Executive (SMB-Market),"Burq · Lahore, Punjab, Pakistan \n4 days ago\...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736463391,"11-50 employees · Technology, Information and ...",3736463391,Burq,"Lahore, Punjab, Pakistan \n4 days",Not specified,55,4 days ago
4073,Backend Developer,"CodeNinja Inc. · Lahore, Punjab, Pakistan \n4...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736175856,201-500 employees · IT Services and IT Consulting,3736175856,CodeNinja Inc.,"Lahore, Punjab, Pakistan \n4 days",Not specified,123,4 days ago
4079,Chief Engineer-UFG (Control/ Analysis),Sui Southern Gas Company Limited · Karachi Div...,On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735935884,"5,001-10,000 employees · Utilities",3735935884,Sui Southern Gas Company Limited,"Karachi Division, Sindh, Pakistan \n4 days",Not specified,29,4 days ago
4151,SQA Engineer,"TekRevol · Karāchi, Sindh, Pakistan \n4 days ...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735960168,201-500 employees · Software Development,3735960168,TekRevol,"Karāchi, Sindh, Pakistan \n4 days",Not specified,141,4 days ago
4171,Asset Integrity Senior Engineer,"Sui Southern Gas Company Limited · Quetta, Bal...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735939228,"5,001-10,000 employees · Utilities",3735939228,Sui Southern Gas Company Limited,"Quetta, Baluchistan, Pakistan \n4 days",Not specified,20,4 days ago
4175,Assistant Manager - Quality,"PwC · Karachi Division, Sindh, Pakistan \n4 d...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735942540,"10,001+ employees · Professional Services",3735942540,PwC,"Karachi Division, Sindh, Pakistan \n4 days",Not specified,52,4 days ago
4182,Full Stack Developer,"CodeNinja Inc. · Lahore, Punjab, Pakistan \n4...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735982085,201-500 employees · IT Services and IT Consulting,3735982085,CodeNinja Inc.,"Lahore, Punjab, Pakistan \n4 days",Not specified,60,4 days ago
4189,Senior Medical Officer,"The Indus Hospital · Lahore, Punjab, Pakistan ...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3731037638,"10,001+ employees · Hospitals and Health Care",3731037638,The Indus Hospital,"Lahore, Punjab, Pakistan \n4 days",Not specified,113,4 days ago
4191,Software Engineer .Net & iOS,"Tkxel · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735994551,"501-1,000 employees · IT Services and IT Consu...",3735994551,Tkxel,"Lahore, Punjab, Pakistan \n4 days",Not specified,NaN,4 days ago
4192,Accounting Manager,Sui Southern Gas Company Limited · Karachi Div...,On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735936735,"5,001-10,000 employees · Utilities",3735936735,Sui Southern Gas Company Limited,"Karachi Division, Sindh, Pakistan \n4 days",Not specified,310,4 days ago
4193,Medical Officer,"The Indus Hospital · Badin, Sindh, Pakistan \...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3731041050,"10,001+ employees · Hospitals and Health Care",3731041050,The Indus Hospital,"Badin, Sindh, Pakistan \n4 days",Not specified,27,4 days ago
4200,Prosecutor,"Sui Southern Gas Company Limited · Quetta, Bal...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735937615,"5,001-10,000 employees · Utilities",3735937615,Sui Southern Gas Company Limited,"Quetta, Baluchistan, Pakistan \n4 days",Not specified,57,4 days ago

In [137]:
len(df[df['Job Type']=='On-site\n\n \nFull-time\n\n \nMid-Senior level'])

33

In [138]:
df[df['Job Type']=='Mr Ahsan is hiring for this job']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time
515,Video Editor,"Digital A · Lahore, Punjab, Pakistan (Hybrid) ...",Mr Ahsan is hiring for this job,https://www.linkedin.com/jobs/view/3723343449/...,See how you compare to 51 applicants. Reactiva...,3723343449,Digital A,"Lahore, Punjab, Pakistan",Hybrid,51,2 weeks ago

In [139]:
df[df['Job Type']=='$12,000/yr - $15,000/yr · Full-time · Mid-Senior level']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time
1876,Operations & Logistics Project Manager,Ridge · Pakistan (Remote) \n1 week ago\n\n · ...,"$12,000/yr - $15,000/yr · Full-time · Mid-Seni...",https://www.linkedin.com/jobs/view/3730353203,51-200 employees · Retail Luxury Goods and Jew...,3730353203,Ridge,Pakistan,Remote,898,1 week ago

### counting number of elements in job type column

In [140]:
'Full-time · Entry level'.split()

['Full-time', '·', 'Entry', 'level']

In [141]:
a='Full-time · Entry level'.split()
a.remove('·')
a

['Full-time', 'Entry', 'level']

In [142]:
# a='Full-time · Entry level'.split('·')
# len(a)
len('Full-time · Entry level'.split('·'))

2

In [143]:
'On-site\n\n \nFull-time\n\n \nAssociate'.split()

['On-site', 'Full-time', 'Associate']

In [144]:
'On-site\n\n \nFull-time\n\n \nAssociate'.split('\n\n \n')

['On-site', 'Full-time', 'Associate']

In [145]:
'Part-time · Mid-Senior level'.split()

['Part-time', '·', 'Mid-Senior', 'level']

In [146]:
'·' in 'Part-time · Mid-Senior level'

True

In [147]:
'\n\n \n' in 'On-site\n\n \nFull-time\n\n \nAssociate'

True

In [148]:
Job_Type_nElements=[]
for cell in df['Job Type']:
    if '·' in cell:
        nElements=len(cell.split('·'))
        Job_Type_nElements.append(nElements)
    elif '\n\n \n' in cell:
        nElements=len(cell.split('\n\n \n'))
        Job_Type_nElements.append(nElements)
    else:
        nElements=len(cell.split())
        Job_Type_nElements.append(nElements)

In [149]:
Job_Type_nElements[:10]

[1, 1, 1, 1, 1, 1, 1, 2, 1, 2]

In [150]:
len(df['Job Type'])

3571

In [151]:
len(Job_Type_nElements)

3571

In [152]:
set(Job_Type_nElements)

{1, 2, 3, 7}

In [153]:
Job_Type_nElements.count(1)

2355

In [154]:
Job_Type_nElements.count(2)

1125

In [155]:
Job_Type_nElements.count(3)

88

In [156]:
Job_Type_nElements.count(7)

3

In [157]:
df['Job Type nElements']=Job_Type_nElements

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_12756\2089687400.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Job Type nElements']=Job_Type_nElements

In [158]:
df['Job Type nElements'].value_counts()

Job Type nElements
1    2355
2    1125
3      88
7       3
Name: count, dtype: int64

In [159]:
df[df['Job Type nElements']==7]

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time,Job Type nElements
515,Video Editor,"Digital A · Lahore, Punjab, Pakistan (Hybrid) ...",Mr Ahsan is hiring for this job,https://www.linkedin.com/jobs/view/3723343449/...,See how you compare to 51 applicants. Reactiva...,3723343449,Digital A,"Lahore, Punjab, Pakistan",Hybrid,51,2 weeks ago,7
1335,Sales Specialist(Outsourcing agent),"Shin-Ryu Co.,Ltd. · Karachi Division, Sindh, P...",Sean Sato is hiring for this job,https://www.linkedin.com/jobs/view/3726585044,See how you compare to 18 applicants. Reactiva...,3726585044,"Shin-Ryu Co.,Ltd.","Karachi Division, Sindh, Pakistan",Remote,18,1 week ago,7
2483,"Nutritionist, Child specialist","Dentistry Aesthetic clinics · Karāchi, Sindh, ...",dr.ry. L. is hiring for this job,https://www.linkedin.com/jobs/view/3731260106,See how you compare to 18 applicants. Reactiva...,3731260106,Dentistry Aesthetic clinics,"Karāchi, Sindh, Pakistan",On-site,18,1 week ago,7

In [160]:
df['Job Type'].unique()

array(['Full-time', 'Full-time · Mid-Senior level',
       'Internship · Internship', 'Full-time · Associate', 'Internship',
       'Full-time · Entry level', 'Part-time', 'Full-time · Internship',
       'Contract · Mid-Senior level', 'Contract', 'Contract · Associate',
       '$150/month - $300/month · Full-time', 'Full-time · Director',
       'Part-time · Associate', 'Mr Ahsan is hiring for this job',
       'Part-time · Executive', 'Contract · Executive',
       'Part-time · Mid-Senior level', 'Contract · Entry level',
       'Temporary · Mid-Senior level', 'Executive',
       'Full-time · Executive', 'Sean Sato is hiring for this job',
       'Part-time · Internship', 'Internship · Mid-Senior level',
       '$12,000/yr - $15,000/yr · Full-time · Mid-Senior level',
       '$200,000/yr · Full-time', 'Part-time · Entry level',
       'dr.ry. L. is hiring for this job',
       '10,001+ employees · Tobacco Manufacturing', 'Volunteer',
       'On-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nFull-time\n\n \nMid-Senior level',
       'Remote\n\n \nFull-time\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nFull-time',
       'Hybrid\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nDirector', 'Remote\n\n \nFull-time',
       'On-site\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nAssociate',
       'Full-time\n\n \nMid-Senior level', 'On-site\n\n \nPart-time',
       'Hybrid\n\n \nFull-time',
       'Remote\n\n \nContract\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nExecutive',
       'Remote\n\n \nFull-time\n\n \nEntry level'], dtype=object)

In [161]:
'Full-time · Mid-Senior level'.split('·')[0]

'Full-time '

In [162]:
df['Job-Type']=df['Job Type'].apply(lambda x:x.split('·')[0])
df['Job-Type']

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_12756\2876650013.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Job-Type']=df['Job Type'].apply(lambda x:x.split('·')[0])

0                                           Full-time
1                                           Full-time
2                                           Full-time
3                                           Full-time
4                                           Full-time
                            ...
4209                          On-site\n\n \nFull-time
4210    Remote\n\n \nFull-time\n\n \nMid-Senior level
4211         Remote\n\n \nFull-time\n\n \nEntry level
4212    Remote\n\n \nFull-time\n\n \nMid-Senior level
4213         Remote\n\n \nFull-time\n\n \nEntry level
Name: Job-Type, Length: 3571, dtype: object

In [163]:
df['Job-Type'].unique()

array(['Full-time', 'Full-time ', 'Internship ', 'Internship',
       'Part-time', 'Contract ', 'Contract', '$150/month - $300/month ',
       'Part-time ', 'Mr Ahsan is hiring for this job', 'Temporary ',
       'Executive', 'Sean Sato is hiring for this job',
       '$12,000/yr - $15,000/yr ', '$200,000/yr ',
       'dr.ry. L. is hiring for this job', '10,001+ employees ',
       'Volunteer', 'On-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nFull-time\n\n \nMid-Senior level',
       'Remote\n\n \nFull-time\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nFull-time',
       'Hybrid\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nDirector', 'Remote\n\n \nFull-time',
       'On-site\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nAssociate',
       'Full-time\n\n \nMid-Senior level', 'On-site\n\n \nPart-time',
       'Hybrid\n\n \nFull-time',
       'Remote\n\n \nContract\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nExecutive',
       'Remote\n\n \nFull-time\n\n \nEntry level'], dtype=object)

In [164]:
len(df['Job-Type'].unique())

35

##### len(df['Job-Type'].unique()) should be 7 instead of 35

In [165]:
len(df['Job Type'].unique())

48

In [166]:
print(f"There is difference of:{len(df['Job Type'].unique())-len(df['Job-Type'].unique())}")

There is difference of:13

In [167]:
df[df['Job Type nElements']==1]

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time,Job Type nElements,Job-Type
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,EcomFleet,Pakistan,Remote,NaN,1 week ago,1,Full-time
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,Digicon Valley,"Lahore, Punjab, Pakistan",On-site,NaN,2 weeks ago,1,Full-time
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,Murkez Technologies,"Lahore, Punjab, Pakistan",On-site,NaN,1 week ago,1,Full-time
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,DevNatives,"Islamabad, Islāmābād, Pakistan",Hybrid,51,1 week ago,1,Full-time
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,ItCreaters,"Lahore, Punjab, Pakistan",On-site,51,1 week ago,1,Full-time
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3971,Assistant,"Self-employed · Okāra, Punjab, Pakistan (On-si...",Full-time,https://www.linkedin.com/jobs/view/3735949092,Mahnoor Waseem is hiring for this job,3735949092,Self-employed,"Okāra, Punjab, Pakistan",On-site,10,3 days ago,1,Full-time
3980,Senior WordPress Developer,Webfume · Pakistan (Remote) \n4 days ago\n\n ...,Full-time,https://www.linkedin.com/jobs/view/3734509343,51-200 employees,3734509343,Webfume,Pakistan,Remote,551,4 days ago,1,Full-time
3985,Full Stack Developer,"Zones IT Solutions · Islamabad, Islāmābād, Pak...",Full-time,https://www.linkedin.com/jobs/view/3684736399,"501-1,000 employees · IT Services and IT Consu...",3684736399,Zones IT Solutions,"Islamabad, Islāmābād, Pakistan",On-site,484,4 days ago,1,Full-time
3988,CDU MPBN Integration Engineer,"Ericsson · Islamabad, Islāmābād, Pakistan Repo...",Full-time,https://www.linkedin.com/jobs/view/3730584395,"10,001+ employees · IT Services and IT Consulting",3730584395,Ericsson,"Islamabad, Islāmābād, Pakistan Reposted \n3 days",Not specified,16,3 days ago,1,Full-time
3996,Receptionist (Night Shift) in Rawalpindi,"NSOL BPO Services · Rawalpindi, Punjab, Pakist...",Full-time,https://www.linkedin.com/jobs/view/3734762745,201-500 employees,3734762745,NSOL BPO Services,"Rawalpindi, Punjab, Pakistan",On-site,NaN,3 days ago,1,Full-time

In [168]:
df[df['Job Type nElements']==1]['Job Type'].unique()

array(['Full-time', 'Internship', 'Part-time', 'Contract', 'Executive',
       'Volunteer'], dtype=object)

In [169]:
# Job_type_options

In [170]:
inconsistant_Job_Type_Elements_1=['Executive']
inconsistant_Job_Type_Elements_1

['Executive']

In [171]:
len(df[df['Job Type nElements']==1]['Job Type'].unique())

6

In [172]:
df[df['Job Type']=='Executive']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time,Job Type nElements,Job-Type
1184,AWS specialist for a Cloud migration from Huwa...,"CloudPSO · Islamabad, Islāmābād, Pakistan (Rem...",Executive,https://www.linkedin.com/jobs/view/3729427412,51-200 employees · IT Services and IT Consulting,3729427412,CloudPSO,"Islamabad, Islāmābād, Pakistan",Remote,20,1 week ago,1,Executive

In [173]:
df[df['Job Type nElements']==2]['Job Type'].unique()

array(['Full-time · Mid-Senior level', 'Internship · Internship',
       'Full-time · Associate', 'Full-time · Entry level',
       'Full-time · Internship', 'Contract · Mid-Senior level',
       'Contract · Associate', '$150/month - $300/month · Full-time',
       'Full-time · Director', 'Part-time · Associate',
       'Part-time · Executive', 'Contract · Executive',
       'Part-time · Mid-Senior level', 'Contract · Entry level',
       'Temporary · Mid-Senior level', 'Full-time · Executive',
       'Part-time · Internship', 'Internship · Mid-Senior level',
       '$200,000/yr · Full-time', 'Part-time · Entry level',
       '10,001+ employees · Tobacco Manufacturing',
       'On-site\n\n \nFull-time', 'Remote\n\n \nFull-time',
       'Full-time\n\n \nMid-Senior level', 'On-site\n\n \nPart-time',
       'Hybrid\n\n \nFull-time'], dtype=object)

In [174]:
inconsistant_Job_Type_Elements_2=['$150/month - $300/month · Full-time','$200,000/yr · Full-time','10,001+ employees · Tobacco Manufacturing','Full-time\n\n \nMid-Senior level']
inconsistant_Job_Type_Elements_2

['$150/month - $300/month · Full-time',
 '$200,000/yr · Full-time',
 '10,001+ employees · Tobacco Manufacturing',
 'Full-time\n\n \nMid-Senior level']

In [175]:
len(df[df['Job Type nElements']==2]['Job Type'].unique())

26

In [176]:
df[df['Job Type']=='Full-time\n\n \nMid-Senior level']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time,Job Type nElements,Job-Type
4035,Senior Medical Coder,"CureMD · Lahore, Punjab, Pakistan Reposted \n...",Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3734776775,"1,001-5,000 employees · Software Development",3734776775,CureMD,"Lahore, Punjab, Pakistan Reposted \n4 days",Not specified,57,4 days ago,2,Full-time\n\n \nMid-Senior level

In [177]:
df[df['Job Type']=='10,001+ employees · Tobacco Manufacturing']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time,Job Type nElements,Job-Type
3212,Line Lead,"Philip Morris International · Sahiwal, Punjab,...","10,001+ employees · Tobacco Manufacturing",https://www.linkedin.com/jobs/view/3734692138,7 school alumni work here,3734692138,Philip Morris International,"Sahiwal, Punjab, Pakistan",On-site,198,5 days ago,2,"10,001+ employees"

In [178]:
df[df['Job Type'].isin(inconsistant_Job_Type_Elements_2)]

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time,Job Type nElements,Job-Type
250,Wordpress Developer,NeuroCare.AI · Pakistan (Remote) \n2 weeks ago,$150/month - $300/month · Full-time,https://www.linkedin.com/jobs/view/3724308929/...,11-50 employees,3724308929,NeuroCare.AI,Pakistan,Remote,NaN,2 weeks ago,2,$150/month - $300/month
1894,Client Success Specialist,"Cedar Financial · Lahore, Punjab, Pakistan (On...","$200,000/yr · Full-time",https://www.linkedin.com/jobs/view/3730671133,51-200 employees,3730671133,Cedar Financial,"Lahore, Punjab, Pakistan",On-site,NaN,1 week ago,2,"$200,000/yr"
3212,Line Lead,"Philip Morris International · Sahiwal, Punjab,...","10,001+ employees · Tobacco Manufacturing",https://www.linkedin.com/jobs/view/3734692138,7 school alumni work here,3734692138,Philip Morris International,"Sahiwal, Punjab, Pakistan",On-site,198,5 days ago,2,"10,001+ employees"
4035,Senior Medical Coder,"CureMD · Lahore, Punjab, Pakistan Reposted \n...",Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3734776775,"1,001-5,000 employees · Software Development",3734776775,CureMD,"Lahore, Punjab, Pakistan Reposted \n4 days",Not specified,57,4 days ago,2,Full-time\n\n \nMid-Senior level

In [179]:
len(df[df['Job Type'].isin(inconsistant_Job_Type_Elements_2)])

4

In [180]:
df[df['Job Type nElements']==3]['Job Type'].unique()

array(['$12,000/yr - $15,000/yr · Full-time · Mid-Senior level',
       'On-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nFull-time\n\n \nMid-Senior level',
       'Remote\n\n \nFull-time\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nAssociate',
       'Hybrid\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nAssociate',
       'Remote\n\n \nContract\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nExecutive',
       'Remote\n\n \nFull-time\n\n \nEntry level'], dtype=object)

In [181]:
len(df[df['Job Type nElements']==3]['Job Type'].unique())

13

In [182]:
inconsistant_Job_Type_Elements_3=['$12,000/yr - $15,000/yr · Full-time · Mid-Senior level']
inconsistant_Job_Type_Elements_3

['$12,000/yr - $15,000/yr · Full-time · Mid-Senior level']

In [183]:
df[df['Job Type'].isin(inconsistant_Job_Type_Elements_3)]

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time,Job Type nElements,Job-Type
1876,Operations & Logistics Project Manager,Ridge · Pakistan (Remote) \n1 week ago\n\n · ...,"$12,000/yr - $15,000/yr · Full-time · Mid-Seni...",https://www.linkedin.com/jobs/view/3730353203,51-200 employees · Retail Luxury Goods and Jew...,3730353203,Ridge,Pakistan,Remote,898,1 week ago,3,"$12,000/yr - $15,000/yr"

In [184]:
len(df[df['Job Type'].isin(inconsistant_Job_Type_Elements_3)])

1

In [185]:
df[df['Job Type nElements']==7]['Job Type'].unique()

array(['Mr Ahsan is hiring for this job',
       'Sean Sato is hiring for this job',
       'dr.ry. L. is hiring for this job'], dtype=object)

In [186]:
len(df[df['Job Type nElements']==7]['Job Type'].unique())

3

In [187]:
'Executive' not in inconsistant_Job_Type_Elements_1

False

In [188]:
'·' in 'Full-time · Mid-Senior level'

True

In [189]:
'Full-time · Mid-Senior level'.split('·')[0]

'Full-time '

In [190]:
"On-site\n\n \nFull-time".split('\n\n \n')[1]

'Full-time'

In [191]:
i=0
for inconsistant_Job in inconsistant_Job_Type_Elements_2:
    if 'Full-time' in inconsistant_Job:
        i=i+1
i

3

In [192]:
'On-site\n\n \nFull-time\n\n \nMid-Senior level'.split('\n\n \n')[1]

'Full-time'

In [193]:
i=0
for inconsistant_Job in inconsistant_Job_Type_Elements_3:
    if 'Full-time' in inconsistant_Job:
        i=i+1
i

1

In [194]:
'On-site\n\n \nFull-time\n\n \nMid-Senior level'.split('\n\n \n')

['On-site', 'Full-time', 'Mid-Senior level']

In [195]:
# Job_Type_list=[]
# for elmnt in df['Job Type']:
#     if len(elmnt.split())==1:
#         if elmnt not in inconsistant_Job_Type_Elements_1:
#             Job_Type_list.append(elmnt)
#         else:
#             Job_Type_list.append('Not specified')
#     if len(elmnt.split())==2:
#         if elmnt not in inconsistant_Job_Type_Elements_2:
#             if '·' in elmnt:
#                 Job_Type_list.append(elmnt.split('·')[0])
#             elif '\n\n \n' in elmnt:
#                 Job_Type_list.append(elmnt.split('\n\n \n')[1])
#             else:
#                 Job_Type_list.append('Not specified')
#         else:
#             for inconsistant_Job in inconsistant_Job_Type_Elements_2:
#                 if 'Full-time' in inconsistant_Job:
#                     Job_Type_list.append('Full-time')
#                 else:
#                     Job_Type_list.append('Not specified')
#     if len(elmnt.split())==3:
#         if elmnt not in inconsistant_Job_Type_Elements_3:
#             Job_Type_list.append(elmnt.split('\n\n \n')[1])
#         else:
#             for inconsistant_Job in inconsistant_Job_Type_Elements_3:
#                 if 'Full-time' in inconsistant_Job:
#                     Job_Type_list.append('Full-time')
#                 else:
#                     Job_Type_list.append('Not specified')
#     if len(elmnt.split())==7:
#         Job_Type_list.append('Not specified')
# # IndexError: list index out of range

In [196]:
# Job_Type_list=[]
# i=0
# for elmnt in df['Job Type']:
#     if len(elmnt.split())==3:
#         if elmnt not in inconsistant_Job_Type_Elements_3:
#             # print(elmnt.split('\n\n \n')[1])
#             print(elmnt)
#     print(i)        
#     i=i+1
# i

In [197]:
# Job_Type_list=[]
# i=0
# for elmnt in df['Job Type']:
#     if len(elmnt.split())==2:
#         if elmnt not in inconsistant_Job_Type_Elements_2:
#             # print(elmnt.split('\n\n \n')[1])
#             print(elmnt)
#     i=i+1
# i

In [198]:
'Full-time · Mid-Senior level'.split()

['Full-time', '·', 'Mid-Senior', 'level']

In [199]:
len('Full-time · Mid-Senior level'.split())

4

In [200]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt not in inconsistant_Job_Type_Elements_1:
            Job_Type_list.append(elmnt)
        else:
            Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '·' in elmnt:
                Job_Type_list.append(elmnt.split('·')[0])
            elif '\n\n \n' in elmnt:
                Job_Type_list.append(elmnt.split('\n\n \n')[1])
            else:
                Job_Type_list.append('Not specified')
        else:
            for inconsistant_Job in inconsistant_Job_Type_Elements_2:
                if 'Full-time' in inconsistant_Job:
                    Job_Type_list.append('Full-time')
                else:
                    Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[1])
        else:
            for inconsistant_Job in inconsistant_Job_Type_Elements_3:
                if 'Full-time' in inconsistant_Job:
                    Job_Type_list.append('Full-time')
                else:
                    Job_Type_list.append('Not specified')
    if len(elmnt.split())==7:
        Job_Type_list.append('Not specified')

include all Job_type_options instaed 'Full-time'

In [201]:
Job_Type_list[:10]

['Full-time',
 'Full-time',
 'Full-time',
 'Full-time',
 'Full-time',
 'Full-time',
 'Full-time',
 'Full-time ',
 'Full-time',
 'Internship ']

In [202]:
len(Job_Type_list)

3583

In [203]:
len(df)

3571

In [204]:
len(Job_Type_list)-len(df)

12

In [205]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt not in inconsistant_Job_Type_Elements_1:
            Job_Type_list.append(elmnt)
        else:
            Job_Type_list.append('Not specified')

In [206]:
len(Job_Type_list)

2355

In [207]:
len(df[df['Job Type nElements']==1])

2355

In [208]:
Job_Type_list=[]
i=0
i_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '·' in elmnt:
                Job_Type_list.append(elmnt.split('·')[0])
                i_list.append(i)
            elif '\n\n \n' in elmnt:
                Job_Type_list.append(elmnt.split('\n\n \n')[1])
                i_list.append(i)
            else:
                Job_Type_list.append('Not specified')
                i_list.append(i)
        else:
            for inconsistant_Job in inconsistant_Job_Type_Elements_2:
                if 'Full-time' in inconsistant_Job:
                    Job_Type_list.append('Full-time')
                    i_list.append(i)
                else:
                    Job_Type_list.append('Not specified')
                    i_list.append(i)
    i=i+1
i

3571

In [209]:
len(i_list)

1137

In [210]:
i_list=pd.Series(i_list)

In [211]:
i_list.value_counts()[:10]

3470    4
1725    4
248     4
2810    4
2444    1
2451    1
2450    1
2448    1
2446    1
2445    1
Name: count, dtype: int64

In [212]:
df['Job Type'].iloc[3470]

'Full-time\n\n \nMid-Senior level'

In [213]:
df['Job Type'].iloc[3470].split('\n\n \n')

['Full-time', 'Mid-Senior level']

In [214]:
df['Job Type'].iloc[1725]

'$200,000/yr · Full-time'

In [215]:
df['Job Type'].iloc[2810]

'10,001+ employees · Tobacco Manufacturing'

In [216]:
inconsistant_Job_Type_Elements_2

['$150/month - $300/month · Full-time',
 '$200,000/yr · Full-time',
 '10,001+ employees · Tobacco Manufacturing',
 'Full-time\n\n \nMid-Senior level']

In [217]:
df[df['Job Type nElements']==2]['Job Type'].unique()

array(['Full-time · Mid-Senior level', 'Internship · Internship',
       'Full-time · Associate', 'Full-time · Entry level',
       'Full-time · Internship', 'Contract · Mid-Senior level',
       'Contract · Associate', '$150/month - $300/month · Full-time',
       'Full-time · Director', 'Part-time · Associate',
       'Part-time · Executive', 'Contract · Executive',
       'Part-time · Mid-Senior level', 'Contract · Entry level',
       'Temporary · Mid-Senior level', 'Full-time · Executive',
       'Part-time · Internship', 'Internship · Mid-Senior level',
       '$200,000/yr · Full-time', 'Part-time · Entry level',
       '10,001+ employees · Tobacco Manufacturing',
       'On-site\n\n \nFull-time', 'Remote\n\n \nFull-time',
       'Full-time\n\n \nMid-Senior level', 'On-site\n\n \nPart-time',
       'Hybrid\n\n \nFull-time'], dtype=object)

In [218]:
len(Job_Type_list)

1137

In [219]:
len(df[df['Job Type nElements']==2])

1125

In [220]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[1])
        else:
            for inconsistant_Job in inconsistant_Job_Type_Elements_3:
                if 'Full-time' in inconsistant_Job:
                    Job_Type_list.append('Full-time')
                else:
                    Job_Type_list.append('Not specified')

In [221]:
len(Job_Type_list)

88

In [222]:
len(df[df['Job Type nElements']==3])

88

In [223]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==7:
        Job_Type_list.append('Not specified')

In [224]:
len(Job_Type_list)

3

In [225]:
len(df[df['Job Type nElements']==7])

3

In [226]:
df['Job Type nElements'].value_counts()

Job Type nElements
1    2355
2    1125
3      88
7       3
Name: count, dtype: int64

In [227]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt not in inconsistant_Job_Type_Elements_1:
            Job_Type_list.append(elmnt)
        else:
            Job_Type_list.append('Not specified')
    elif len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '\n\n \n' in elmnt:
                Job_Type_list.append(elmnt.split('\n\n \n')[1])
            elif '·' in elmnt:
                Job_Type_list.append(elmnt.split('·')[0])
            else:
                Job_Type_list.append('Not specified')
        else:
            for inconsistant_Job in inconsistant_Job_Type_Elements_2:
                if 'Full-time' in inconsistant_Job:
                    Job_Type_list.append('Full-time')
                else:
                    Job_Type_list.append('Not specified')
    elif len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[1])
        else:
            for inconsistant_Job in inconsistant_Job_Type_Elements_3:
                if 'Full-time' in inconsistant_Job:
                    Job_Type_list.append('Full-time')
                else:
                    Job_Type_list.append('Not specified')
    elif len(elmnt.split())==7:
        Job_Type_list.append('Not specified')

In [228]:
len(Job_Type_list)

3583

In [229]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt not in inconsistant_Job_Type_Elements_1:
            Job_Type_list.append(elmnt)
        else:
            Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '·' in elmnt:
                Job_Type_list.append(elmnt.split('·')[0])
            elif '\n\n \n' in elmnt:
                Job_Type_list.append(elmnt.split('\n\n \n')[1])
            else:
                Job_Type_list.append('Not specified')
        else:
            if 'Full-time' in elmnt:
                Job_Type_list.append('Full-time')
            else:
                Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[1])
        else:
            if 'Full-time' in elmnt:
                Job_Type_list.append('Full-time')
            else:
                Job_Type_list.append('Not specified')
    if len(elmnt.split())==7:
        Job_Type_list.append('Not specified')

In [230]:
len(Job_Type_list)

3571

In [231]:
set(Job_Type_list)

{'Contract',
 'Contract ',
 'Full-time',
 'Full-time ',
 'Internship',
 'Internship ',
 'Not specified',
 'Part-time',
 'Part-time ',
 'Temporary ',
 'Volunteer'}

In [232]:
df['Job-Type']=Job_Type_list

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_12756\2308723589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Job-Type']=Job_Type_list

In [233]:
df['Job-Type'].unique()

array(['Full-time', 'Full-time ', 'Internship ', 'Internship',
       'Part-time', 'Contract ', 'Contract', 'Part-time ',
       'Not specified', 'Temporary ', 'Volunteer'], dtype=object)

In [234]:
# df[df['Job-Type']=='Full-time ']

In [235]:
df['Job-Type'].value_counts()

Job-Type
Full-time        2369
Full-time         997
Contract           52
Part-time          50
Contract           44
Internship         22
Internship         18
Part-time          12
Not specified       5
Temporary           1
Volunteer           1
Name: count, dtype: int64

In [236]:
df.columns

Index(['Job Title', 'Job Info', 'Job Type', 'Job Link', 'employees', 'Job ID',
       'company', 'location', 'Remote/Onsite', 'n_applicant',
       'job posting time', 'Job Type nElements', 'Job-Type'],
      dtype='object')

In [237]:
df['Job-Type'].value_counts()['Full-time']+df['Job-Type'].value_counts()['Full-time ']

3366

In [238]:
df['Job-Type'].value_counts()['Internship']+df['Job-Type'].value_counts()['Internship ']

40

In [239]:
df['Job-Type'].value_counts()['Part-time ']+df['Job-Type'].value_counts()['Part-time']

62

In [240]:
df['Job-Type'].value_counts()['Contract ']+df['Job-Type'].value_counts()['Contract']

96

In [241]:
df['Job-Type'] = df['Job-Type'].replace(['Full-time ','Internship ','Part-time ','Contract '],['Full-time','Internship','Part-time','Contract'])

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_12756\2507492308.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Job-Type'] = df['Job-Type'].replace(['Full-time ','Internship ','Part-time ','Contract '],['Full-time','Internship','Part-time','Contract'])

In [242]:
df['Job-Type'].unique()

array(['Full-time', 'Internship', 'Part-time', 'Contract',
       'Not specified', 'Temporary ', 'Volunteer'], dtype=object)

In [243]:
df['Job-Type'].value_counts()

Job-Type
Full-time        3366
Contract           96
Part-time          62
Internship         40
Not specified       5
Temporary           1
Volunteer           1
Name: count, dtype: int64

### 01 december 2023

## extarcting Experience level from df['Job Type']

In [244]:
df['Job Type']

0                                           Full-time
1                                           Full-time
2                                           Full-time
3                                           Full-time
4                                           Full-time
                            ...
4209                          On-site\n\n \nFull-time
4210    Remote\n\n \nFull-time\n\n \nMid-Senior level
4211         Remote\n\n \nFull-time\n\n \nEntry level
4212    Remote\n\n \nFull-time\n\n \nMid-Senior level
4213         Remote\n\n \nFull-time\n\n \nEntry level
Name: Job Type, Length: 3571, dtype: object

In [245]:
## it is observed that Experience level is at 2nd split ,3rd split nad 2nd split 
uniques=['Full-time · Mid-Senior level','On-site\n\n \nFull-time\n\n \nMid-Senior level','Full-time\n\n \nMid-Senior level']
uniques

['Full-time · Mid-Senior level',
 'On-site\n\n \nFull-time\n\n \nMid-Senior level',
 'Full-time\n\n \nMid-Senior level']

In [246]:
df[df['Job Type nElements']==1]['Job Type'].unique()

array(['Full-time', 'Internship', 'Part-time', 'Contract', 'Executive',
       'Volunteer'], dtype=object)

In [247]:
df[df['Job Type nElements']==1]['Job Type'].value_counts()

Job Type
Full-time     2235
Contract        51
Part-time       49
Internship      18
Executive        1
Volunteer        1
Name: count, dtype: int64

In [248]:
# inconsistant_Job_Type_Elements_1=['Executive']
inconsistant_Job_Type_Elements_1

['Executive']

In [249]:
# inconsistant_Job_Type_Elements_2=['$150/month - $300/month · Full-time','$200,000/yr · Full-time','10,001+ employees · Tobacco Manufacturing','Full-time\n\n \nMid-Senior level']
inconsistant_Job_Type_Elements_2

['$150/month - $300/month · Full-time',
 '$200,000/yr · Full-time',
 '10,001+ employees · Tobacco Manufacturing',
 'Full-time\n\n \nMid-Senior level']

In [250]:
inconsistant_Job_Type_Elements_3

['$12,000/yr - $15,000/yr · Full-time · Mid-Senior level']

### 07 december 2023

In [251]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt in inconsistant_Job_Type_Elements_1:
            if elmnt=='Executive':
                Job_Type_list.append(elmnt)
        else:
            Job_Type_list.append('Not specified')
    # if len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
    #     if elmnt not in inconsistant_Job_Type_Elements_2:
    #         if '·' in elmnt:
    #             Job_Type_list.append(elmnt.split('·')[0])
    #         elif '\n\n \n' in elmnt:
    #             Job_Type_list.append(elmnt.split('\n\n \n')[1])
    #         else:
    #             Job_Type_list.append('Not specified')
    #     else:
    #         if 'Full-time' in elmnt:
    #             Job_Type_list.append('Full-time')
    #         else:
    #             Job_Type_list.append('Not specified')
    # if len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
    #     if elmnt not in inconsistant_Job_Type_Elements_3:
    #         Job_Type_list.append(elmnt.split('\n\n \n')[1])
    #     else:
    #         if 'Full-time' in inconsistant_Job:
    #             Job_Type_list.append('Full-time')
    #         else:
    #             Job_Type_list.append('Not specified')
    # if len(elmnt.split())==7:
    #     Job_Type_list.append('Not specified')

In [252]:
set(Job_Type_list)

{'Executive', 'Not specified'}

In [253]:
len(Job_Type_list)

2355

In [254]:
inconsistant_Job_Type_Elements_2

['$150/month - $300/month · Full-time',
 '$200,000/yr · Full-time',
 '10,001+ employees · Tobacco Manufacturing',
 'Full-time\n\n \nMid-Senior level']

In [255]:
df[df['Job Type nElements']==2]['Job Type'].unique()

array(['Full-time · Mid-Senior level', 'Internship · Internship',
       'Full-time · Associate', 'Full-time · Entry level',
       'Full-time · Internship', 'Contract · Mid-Senior level',
       'Contract · Associate', '$150/month - $300/month · Full-time',
       'Full-time · Director', 'Part-time · Associate',
       'Part-time · Executive', 'Contract · Executive',
       'Part-time · Mid-Senior level', 'Contract · Entry level',
       'Temporary · Mid-Senior level', 'Full-time · Executive',
       'Part-time · Internship', 'Internship · Mid-Senior level',
       '$200,000/yr · Full-time', 'Part-time · Entry level',
       '10,001+ employees · Tobacco Manufacturing',
       'On-site\n\n \nFull-time', 'Remote\n\n \nFull-time',
       'Full-time\n\n \nMid-Senior level', 'On-site\n\n \nPart-time',
       'Hybrid\n\n \nFull-time'], dtype=object)

In [256]:
df['Job Type nElements'].value_counts()

Job Type nElements
1    2355
2    1125
3      88
7       3
Name: count, dtype: int64

In [257]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '·' in elmnt:
                Job_Type_list.append(elmnt.split('·')[1])
            # elif '\n\n \n' in elmnt:
            #     Job_Type_list.append(elmnt.split('\n\n \n')[2])
            else:
                Job_Type_list.append('Not specified')
        else:
            if 'Mid-Senior level' in elmnt:
                Job_Type_list.append('Mid-Senior level')
            else:
                Job_Type_list.append('Not specified')

In [258]:
len(Job_Type_list)

1125

In [259]:
set(Job_Type_list)

{' Associate',
 ' Director',
 ' Entry level',
 ' Executive',
 ' Internship',
 ' Mid-Senior level',
 'Mid-Senior level',
 'Not specified'}

In [260]:
inconsistant_Job_Type_Elements_3

['$12,000/yr - $15,000/yr · Full-time · Mid-Senior level']

In [261]:
df[df['Job Type nElements']==3]['Job Type'].unique()

array(['$12,000/yr - $15,000/yr · Full-time · Mid-Senior level',
       'On-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nFull-time\n\n \nMid-Senior level',
       'Remote\n\n \nFull-time\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nAssociate',
       'Hybrid\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nAssociate',
       'Remote\n\n \nContract\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nExecutive',
       'Remote\n\n \nFull-time\n\n \nEntry level'], dtype=object)

In [262]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[2])
        else:
            # if 'Mid-Senior level' in inconsistant_Job: due to this problem not sepecified is in list 
            if 'Mid-Senior level' in elmnt:  
                Job_Type_list.append('Mid-Senior level')
            else:
                Job_Type_list.append('Not specified')

In [263]:
# ' Mid-Senior level' in '$12,000/yr - $15,000/yr · Full-time · Mid-Senior level'

In [264]:
 # ' Mid-Senior level' in inconsistant_Job

In [265]:
len(Job_Type_list)

88

In [266]:
set(Job_Type_list)

{'Associate', 'Director', 'Entry level', 'Executive', 'Mid-Senior level'}

In [267]:
df[df['Job Type nElements']==7]['Job Type'].unique()

array(['Mr Ahsan is hiring for this job',
       'Sean Sato is hiring for this job',
       'dr.ry. L. is hiring for this job'], dtype=object)

In [268]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt in inconsistant_Job_Type_Elements_1:
            if elmnt=='Executive':
                Job_Type_list.append(elmnt)
        else:
            Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '·' in elmnt:
                Job_Type_list.append(elmnt.split('·')[1])
            # elif '\n\n \n' in elmnt:
            #     Job_Type_list.append(elmnt.split('\n\n \n')[2])
            else:
                Job_Type_list.append('Not specified')
        else:
            if 'Mid-Senior level' in elmnt:
                Job_Type_list.append('Mid-Senior level')
            else:
                Job_Type_list.append('Not specified')
                
    if len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[2])
        else:
            # if 'Mid-Senior level' in inconsistant_Job: due to this problem not sepecified is in list 
            if 'Mid-Senior level' in elmnt:  
                Job_Type_list.append('Mid-Senior level')
            else:
                Job_Type_list.append('Not specified')
    if len(elmnt.split())==7:
        Job_Type_list.append('Not specified')

In [269]:
len(Job_Type_list)

3571

In [270]:
set(Job_Type_list)

{' Associate',
 ' Director',
 ' Entry level',
 ' Executive',
 ' Internship',
 ' Mid-Senior level',
 'Associate',
 'Director',
 'Entry level',
 'Executive',
 'Mid-Senior level',
 'Not specified'}

In [271]:
df['Experience Level']=Job_Type_list

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_12756\242778254.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Experience Level']=Job_Type_list

In [272]:
df['Experience Level'].unique()

array(['Not specified', ' Mid-Senior level', ' Internship', ' Associate',
       ' Entry level', ' Director', ' Executive', 'Executive',
       'Mid-Senior level', 'Associate', 'Entry level', 'Director'],
      dtype=object)

In [273]:
df['Experience Level'].value_counts()

Experience Level
Not specified        2405
 Mid-Senior level     626
 Entry level          233
 Associate            135
Mid-Senior level       55
 Director              42
 Internship            23
 Executive             17
Entry level            15
Associate               9
Director                9
Executive               2
Name: count, dtype: int64

In [274]:
df['Experience Level'] = df['Experience Level'].replace([' Mid-Senior level',' Associate',' Entry level',' Director',' Executive',' Internship'],['Mid-Senior level','Associate','Entry level','Director','Executive','Internship'])

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_12756\1979670036.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Experience Level'] = df['Experience Level'].replace([' Mid-Senior level',' Associate',' Entry level',' Director',' Executive',' Internship'],['Mid-Senior level','Associate','Entry level','Director','Executive','Internship'])

In [275]:
df['Experience Level'].unique()

array(['Not specified', 'Mid-Senior level', 'Internship', 'Associate',
       'Entry level', 'Director', 'Executive'], dtype=object)

In [276]:
len(df['Experience Level'].unique())

7

In [277]:
# len(Experience_level_options)

In [278]:
df['Experience Level'].value_counts()

Experience Level
Not specified       2405
Mid-Senior level     681
Entry level          248
Associate            144
Director              51
Internship            23
Executive             19
Name: count, dtype: int64

### extracting On-site/remote from Job Type feature

##### as in nelement==1 not have remote/onsite

In [279]:
df[df['Job Type nElements']==2]['Job Type'].unique()

array(['Full-time · Mid-Senior level', 'Internship · Internship',
       'Full-time · Associate', 'Full-time · Entry level',
       'Full-time · Internship', 'Contract · Mid-Senior level',
       'Contract · Associate', '$150/month - $300/month · Full-time',
       'Full-time · Director', 'Part-time · Associate',
       'Part-time · Executive', 'Contract · Executive',
       'Part-time · Mid-Senior level', 'Contract · Entry level',
       'Temporary · Mid-Senior level', 'Full-time · Executive',
       'Part-time · Internship', 'Internship · Mid-Senior level',
       '$200,000/yr · Full-time', 'Part-time · Entry level',
       '10,001+ employees · Tobacco Manufacturing',
       'On-site\n\n \nFull-time', 'Remote\n\n \nFull-time',
       'Full-time\n\n \nMid-Senior level', 'On-site\n\n \nPart-time',
       'Hybrid\n\n \nFull-time'], dtype=object)

In [280]:
inconsistant_Job_Type_Elements_2

['$150/month - $300/month · Full-time',
 '$200,000/yr · Full-time',
 '10,001+ employees · Tobacco Manufacturing',
 'Full-time\n\n \nMid-Senior level']

In [281]:
inconsistant_Job_Type_Elements_3

['$12,000/yr - $15,000/yr · Full-time · Mid-Senior level']

In [282]:
jobconditionnElements2=['On-site\n\n \nFull-time', 'Remote\n\n \nFull-time','On-site\n\n \nPart-time','Hybrid\n\n \nFull-time']
jobconditionnElements2

['On-site\n\n \nFull-time',
 'Remote\n\n \nFull-time',
 'On-site\n\n \nPart-time',
 'Hybrid\n\n \nFull-time']

In [283]:
jobconditionnElements3=['On-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nFull-time\n\n \nMid-Senior level',
       'Remote\n\n \nFull-time\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nAssociate',
       'Hybrid\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nAssociate',
       'Remote\n\n \nContract\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nExecutive',
       'Remote\n\n \nFull-time\n\n \nEntry level']
jobconditionnElements3

['On-site\n\n \nFull-time\n\n \nMid-Senior level',
 'Hybrid\n\n \nFull-time\n\n \nMid-Senior level',
 'Remote\n\n \nFull-time\n\n \nMid-Senior level',
 'On-site\n\n \nFull-time\n\n \nAssociate',
 'Hybrid\n\n \nFull-time\n\n \nEntry level',
 'Hybrid\n\n \nFull-time\n\n \nDirector',
 'On-site\n\n \nFull-time\n\n \nEntry level',
 'Hybrid\n\n \nFull-time\n\n \nAssociate',
 'Remote\n\n \nContract\n\n \nMid-Senior level',
 'On-site\n\n \nFull-time\n\n \nDirector',
 'On-site\n\n \nFull-time\n\n \nExecutive',
 'Remote\n\n \nFull-time\n\n \nEntry level']

In [284]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt not in inconsistant_Job_Type_Elements_1:
            Job_Type_list.append('Not specified')
        else:
            Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '·' in elmnt:
                Job_Type_list.append('Not specified')
            elif '\n\n \n' in elmnt:
                Job_Type_list.append(elmnt.split('\n\n \n')[0])
            else:
                Job_Type_list.append('Not specified')
        else:
            Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[0])
        else:
            Job_Type_list.append('Not specified')
    if len(elmnt.split())==7:
        Job_Type_list.append('Not specified')

In [285]:
len(Job_Type_list)

3571

In [286]:
set(Job_Type_list)

{'Hybrid', 'Not specified', 'On-site', 'Remote'}

In [287]:
df['Remote/Onsite-2']=Job_Type_list

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_12756\1428454955.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Remote/Onsite-2']=Job_Type_list

In [288]:
df['Remote/Onsite-2'].unique()

array(['Not specified', 'On-site', 'Hybrid', 'Remote'], dtype=object)

In [289]:
df['Remote/Onsite-2'].value_counts()

Remote/Onsite-2
Not specified    3439
On-site            86
Remote             29
Hybrid             17
Name: count, dtype: int64

#### how many are specified

In [290]:
df['Remote/Onsite-2'].value_counts()[1:].sum()

132

In [291]:
df['Remote/Onsite'].value_counts()

Remote/Onsite
On-site          2616
Remote            525
Not specified     230
Hybrid            200
Name: count, dtype: int64

In [292]:
# actual Not specified values
230-132

98

but here not specified are 230 instead of 132 this means onsite remote may be null

now i have to mix two columns in such a way it fill Not specified values of Remote/Onsite with specified values of Remote/Onsite-2
I can also investigate a date from where onsite remote is in job type columns as now it is mostly in job feature not in job info

### locating index of change happend

In [293]:
# investigating by according to 9th oct file as change happened at 119th row 119-2=117
335-117

218

In [294]:
3571-218

3353

In [295]:
df['Remote/Onsite'].iloc[:]

0              Remote
1             On-site
2             On-site
3              Hybrid
4             On-site
            ...
4209    Not specified
4210    Not specified
4211    Not specified
4212    Not specified
4213    Not specified
Name: Remote/Onsite, Length: 3571, dtype: object

In [296]:
df['Remote/Onsite'].iloc[3353:]

3894          On-site
3897           Remote
3898          On-site
3900          On-site
3901          On-site
            ...
4209    Not specified
4210    Not specified
4211    Not specified
4212    Not specified
4213    Not specified
Name: Remote/Onsite, Length: 218, dtype: object

In [297]:
df['Remote/Onsite'].iloc[3400:]

3951          On-site
3952           Hybrid
3953           Remote
3954          On-site
3955          On-site
            ...
4209    Not specified
4210    Not specified
4211    Not specified
4212    Not specified
4213    Not specified
Name: Remote/Onsite, Length: 171, dtype: object

but this index not working to locate change

In [298]:
# 132 are specified values in 'Remote/Onsite-2'
3571-132

3439

In [299]:
df['Remote/Onsite'].iloc[3439:]

3998    Not specified
3999    Not specified
4000    Not specified
4001    Not specified
4002    Not specified
            ...
4209    Not specified
4210    Not specified
4211    Not specified
4212    Not specified
4213    Not specified
Name: Remote/Onsite, Length: 132, dtype: object

In [300]:
# moving 1 index backword
df['Remote/Onsite'].iloc[3438:]

3997    Not specified
3998    Not specified
3999    Not specified
4000    Not specified
4001    Not specified
            ...
4209    Not specified
4210    Not specified
4211    Not specified
4212    Not specified
4213    Not specified
Name: Remote/Onsite, Length: 133, dtype: object

it is investigated that change happend at 3438 loc == 3997 index of df

In [301]:
df['Remote/Onsite'].iloc[3438:].unique()

array(['Not specified'], dtype=object)

In [302]:
df['Remote/Onsite'].iloc[:3438].unique()

array(['Remote', 'On-site', 'Hybrid', 'Not specified'], dtype=object)

In [303]:
df['Remote/Onsite-2'].iloc[3438:]

3997    On-site
3998    On-site
3999    On-site
4000    On-site
4001    On-site
         ...
4209    On-site
4210     Remote
4211     Remote
4212     Remote
4213     Remote
Name: Remote/Onsite-2, Length: 133, dtype: object

In [304]:
df['Remote/Onsite-2'].iloc[3438:].unique()

array(['On-site', 'Hybrid', 'Remote', 'Not specified'], dtype=object)

In [305]:
df['Remote/Onsite-2'].iloc[:3438].unique()

array(['Not specified'], dtype=object)

so it clarified that 3438th loc=3997th index of dataframe is index of change happend

i have to 'Not specified' in df['Remote/Onsite-2'].iloc[3438:].unique()

ended 12:21 am 8 december
started 7:15 am 8 december

# 8 Dec 2023

#### working on employees feature , Extracting no of employees and industry feature from employees feature

In [306]:
df['employees'].unique()

array(['11-50 employees', '51-200 employees',
       'Mobeen Naqvi is hiring for this job',
       '1,001-5,000 employees · Software Development',
       '501-1,000 employees · IT Services and IT Consulting',
       '501-1,000 employees · Telecommunications',
       '1,001-5,000 employees · Banking', '201-500 employees',
       '10,001+ employees', '51-200 employees · Human Resources Services',
       '501-1,000 employees',
       '1,001-5,000 employees · Technology, Information and Internet',
       '1,001-5,000 employees',
       '1-10 employees · Retail Apparel and Fashion',
       'Muhammad akram is hiring for this job',
       '10,001+ employees · International Affairs',
       '501-1,000 employees · Higher Education', '1-10 employees',
       '10,001+ employees · Software Development',
       '1,001-5,000 employees · Information Technology & Services',
       '5,001-10,000 employees', 'TARIQ KHAN is hiring for this job',
       '201-500 employees · Financial Services',
       '10,001+ employees · Telecommunications',
       '5,001-10,000 employees · Packaging and Containers Manufacturing',
       '1,001-5,000 employees · IT Services and IT Consulting',
       '1,001-5,000 employees · Executive Offices',
       '1,001-5,000 employees · Telecommunications',
       '1,001-5,000 employees · Food and Beverage Manufacturing',
       '10,001+ employees · Food and Beverage Services',
       '10,001+ employees · Tobacco Manufacturing',
       '51-200 employees · Software Development',
       '5,001-10,000 employees · IT Services and IT Consulting',
       'Sufian Mian Akhtar is hiring for this job',
       'Danish Khan is hiring for this job',
       '51-200 employees · Business Consulting and Services',
       '51-200 employees · Entertainment Providers',
       '11-50 employees · Human Resources Services',
       'Wajahat Ahmed is hiring for this job',
       '11-50 employees · IT Services and IT Consulting',
       '1,001-5,000 employees · Wholesale Building Materials',
       '51-200 employees · IT Services and IT Consulting',
       '1,001-5,000 employees · Outsourcing and Offshoring Consulting',
       '10,001+ employees · Pharmaceutical Manufacturing',
       'See how you compare to 272 applicants. Reactivate Premium',
       '501-1,000 employees · Motor Vehicle Manufacturing',
       'See how you compare to 118 applicants. Reactivate Premium',
       '10,001+ employees · Non-profit Organizations',
       'Adnan Dogar is hiring for this job',
       'Zuhad khan is hiring for this job',
       'Ali Raza is hiring for this job',
       '51-200 employees · Research Services',
       '51-200 employees · Higher Education',
       '5,001-10,000 employees · Advertising Services',
       'See how you compare to 36 applicants. Reactivate Premium',
       'See how you compare to 9 applicants. Reactivate Premium',
       'online earning is hiring for this job',
       'Ishook Ram is hiring for this job',
       '10,001+ employees · Beverage Manufacturing',
       'See how you compare to 19 applicants. Reactivate Premium',
       'Immad Langah is hiring for this job',
       '11-50 employees · Outsourcing and Offshoring Consulting',
       'Rehan Sheikh is hiring for this job',
       'See recent hiring trends for Tubitech Srl. Reactivate Premium',
       'ASG SYSTEMS PAKISTAN is hiring for this job',
       '10,001+ employees · Outsourcing/Offshoring',
       '11-50 employees · Financial Services',
       'ayesha shz is hiring for this job',
       '10,001+ employees · Hospitals and Health Care',
       '10,001+ employees · Farming',
       'Afraz Begum Sial is hiring for this job',
       'See how you compare to 53 applicants. Reactivate Premium',
       'See how you compare to 10 applicants. Reactivate Premium',
       'Sanaullah Aman is hiring for this job',
       'See how you compare to 15 applicants. Reactivate Premium',
       'See how you compare to 7 applicants. Reactivate Premium',
       '1,001-5,000 employees · Oil and Gas',
       '51-200 employees · Information Technology & Services',
       'Nam C. is hiring for this job',
       '5,001-10,000 employees · Real Estate',
       '10,001+ employees · Professional Services',
       'Tahir Islam is hiring for this job',
       '51-200 employees · Technology, Information and Internet',
       'See how you compare to 23 applicants. Reactivate Premium',
       'Zulqarnain Khan is hiring for this job',
       'AWAIS AHMAD is hiring for this job',
       'Hassan Raza Khalid is hiring for this job',
       'See how you compare to 51 applicants. Reactivate Premium',
       '501-1,000 employees · Software Development',
       'SHAKIR NAWAB is hiring for this job',
       '51-200 employees · Automation Machinery Manufacturing',
       'See how you compare to 34 applicants. Reactivate Premium',
       'Jawad Arshad is hiring for this job',
       '5,001-10,000 employees · Book and Periodical Publishing',
       'Salman Tariq is hiring for this job',
       '201-500 employees · Computer and Network Security',
       'Umar Siddiqui is hiring for this job',
       'See how you compare to 20 applicants. Reactivate Premium',
       '10,001+ employees · Information Services',
       'See how you compare to 21 applicants. Reactivate Premium',
       '1,001-5,000 employees · International Affairs',
       'Muhammad Haris is hiring for this job',
       'Adnan Qureshi is hiring for this job',
       'muhammad sharjeel is hiring for this job',
       'Shahid Aziz is hiring for this job',
       'Yasir Khubaib is hiring for this job',
       '11-50 employees · Technology, Information and Internet',
       'Anas Abdul Aziz Fayyaz Ehsan is hiring for this job',
       '11-50 employees · Education', 'Manas Khan is hiring for this job',
       'muhammad imran is hiring for this job',
       '51-200 employees · International Trade and Development',
       'Ali Malik, CCXP is hiring for this job',
       '51-200 employees · Staffing and Recruiting',
       '11-50 employees · Higher Education',
       '11-50 employees · Transportation, Logistics, Supply Chain and Storage',
       '1-10 employees · Human Resources Services',
       '1,001-5,000 employees · Higher Education',
       '51-200 employees · Human Resources',
       '201-500 employees · Software Development',
       '201-500 employees · Medical Practices',
       'Huma Khan is hiring for this job',
       '1,001-5,000 employees · Manufacturing',
       '51-200 employees · Paper and Forest Product Manufacturing',
       'Muhammad Asif is hiring for this job',
       '10,001+ employees · Technology, Information and Internet',
       '5,001-10,000 employees · Non-profit Organization Management',
       'Talha Shah is hiring for this job',
       'Mirza Sajid Mahmood is hiring for this job',
       '5,001-10,000 employees · International Affairs',
       '201-500 employees · Internet Marketplace Platforms',
       '201-500 employees · IT Services and IT Consulting',
       '10,001+ employees · Financial Services',
       '10,001+ employees · Automation Machinery Manufacturing',
       '5,001-10,000 employees · Internet Marketplace Platforms',
       '10,001+ employees · IT Services and IT Consulting',
       '10,001+ employees · Personal Care Product Manufacturing',
       '10,001+ employees · Banking',
       'See how you compare to 256 applicants. Reactivate Premium',
       '1,001-5,000 employees · Advertising Services',
       '201-500 employees · Technology, Information and Internet',
       '10,001+ employees · Food and Beverage Manufacturing',
       '10,001+ employees · Retail', 'Awais Javed is hiring for this job',
       'Dn Ch Moiz Gujjar is hiring for this job',
       '10,001+ employees · International Trade and Development',
       '10,001+ employees · Biotechnology Research',
       'Mian Khuram Ali is hiring for this job',
       'Irtaza B. Raja is hiring for this job',
       'See how you compare to 32 applicants. Reactivate Premium',
       '51-200 employees · Information Services',
       'Abdul Rauf is hiring for this job',
       'See how you compare to 6 applicants. Reactivate Premium',
       'Dr Farrukh Aslam khan is hiring for this job',
       'See how you compare to 62 applicants. Reactivate Premium',
       'See how you compare to 13 applicants. Reactivate Premium',
       '1-10 employees · Outsourcing and Offshoring Consulting',
       'The Motor Crew is hiring for this job',
       'See how you compare to 17 applicants. Reactivate Premium',
       'See how you compare to 69 applicants. Reactivate Premium',
       '501-1,000 employees · Hospitals and Health Care',
       '10,001+ employees · Consumer Services',
       '5,001-10,000 employees · Consumer Goods',
       'fahad khan is hiring for this job',
       '10,001+ employees · Manufacturing',
       '11-50 employees · Staffing and Recruiting',
       'Sharjeel Arif is hiring for this job',
       'Shafeeque Ahmed is hiring for this job',
       'Uzair Khan is hiring for this job',
       'See how you compare to 18 applicants. Reactivate Premium',
       'See how you compare to 73 applicants. Reactivate Premium',
       '5,001-10,000 employees · Non-profit Organizations',
       'Usman Majeed is hiring for this job',
       'See how you compare to 86 applicants. Reactivate Premium',
       'See how you compare to 12 applicants. Reactivate Premium',
       'See how you compare to 11 applicants. Reactivate Premium',
       '51-200 employees · Media Production',
       'Choudhry Azizuddin is hiring for this job',
       'See how you compare to 58 applicants. Reactivate Premium',
       '501-1,000 employees · Food and Beverage Services',
       '51-200 employees · Accounting',
       '11-50 employees · Software Development',
       'Faisal Raza is hiring for this job',
       'See how you compare to 283 applicants. Reactivate Premium',
       '1,001-5,000 employees · Human Resources Services',
       'yasir khalid is hiring for this job',
       '11-50 employees · Outsourcing/Offshoring',
       'Hira Benish, Ph.D. is hiring for this job',
       '5,001-10,000 employees · Translation and Localization',
       'Raja Mahmood Subhani is hiring for this job',
       'See how you compare to 92 applicants. Reactivate Premium',
       'Muhammad Ukasha Noman is hiring for this job',
       'Job poster joined LinkedIn in 2021',
       'See how you compare to 14 applicants. Reactivate Premium',
       '1-10 employees · Human Resources',
       'Ali Ather is hiring for this job',
       'Nauman Khan is hiring for this job',
       'Irfan Chughtai is hiring for this job',
       '10,001+ employees · Oil and Gas',
       '201-500 employees · Real Estate',
       'See how you compare to 52 applicants. Reactivate Premium',
       '10,001+ employees · Transportation, Logistics, Supply Chain and Storage',
       '1,001-5,000 employees · Events Services',
       'See how you compare to 119 applicants. Reactivate Premium',
       '11-50 employees · Information Technology & Services',
       'Haris Arain is hiring for this job',
       'Sami ur rehman rehman is hiring for this job',
       '51-200 employees · Retail Luxury Goods and Jewelry',
       'Muhammad Attique is hiring for this job',
       'Awais Ashraf is hiring for this job',
       'innocent Angel is hiring for this job',
       'iqra batool is hiring for this job',
       'Laraib Hussain is hiring for this job',
       'Mona Farooq is hiring for this job',
       '51-200 employees · Apparel & Fashion',
       'jai kumar is hiring for this job',
       'Javed Ramzan Ali is hiring for this job',
       'Aneel Kumar is hiring for this job',
       '10,001+ employees · Packaging and Containers Manufacturing',
       'Sherjeel Ali Chaudary is hiring for this job',
       'Syed Saboor Pasha is hiring for this job',
       '1,001-5,000 employees · Automotive',
       'Love Suther is hiring for this job',
       '501-1,000 employees · Real Estate',
       'Amjad Mehmood is hiring for this job',
       '10,001+ employees · Chemical Manufacturing',
       '51-200 employees · Think Tanks', '501-1,000 employees · Retail',
       '1-10 employees · Staffing and Recruiting',
       'Salman Ahmed Hashmi is hiring for this job',
       'See how you compare to 37 applicants. Reactivate Premium',
       'Zeeshan Yaqoob is hiring for this job',
       '11-50 employees · Public Safety',
       'Usama Tariq is hiring for this job',
       'See how you compare to 153 applicants. Reactivate Premium',
       '201-500 employees · Information Technology & Services',
       'HAIDER SAEED MUGHAL is hiring for this job',
       '5,001-10,000 employees · Human Resources Services',
       'Abubaker Kareem is hiring for this job',
       'See how you compare to 85 applicants. Reactivate Premium',
       'mohammad ashraf memon is hiring for this job',
       'Malik Mirza FCA, FCCA (UK), MBA is hiring for this job',
       '10,001+ employees · Higher Education',
       'See how you compare to 22 applicants. Reactivate Premium',
       'Muhammad Shahzaib is hiring for this job',
       'See how you compare to 4 applicants. Reactivate Premium',
       'Qasim Awan is hiring for this job',
       'See how you compare to 3 applicants. Reactivate Premium',
       '5,001-10,000 employees · Software Development',
       '51-200 employees · International Affairs',
       '201-500 employees · IT System Custom Software Development',
       '1,001-5,000 employees · Food Production',
       '51-200 employees · Advertising Services',
       '1,001-5,000 employees · Real Estate',
       '51-200 employees · Strategic Management Services',
       '1,001-5,000 employees · Financial Services',
       'Ume Rubab is hiring for this job',
       'See how you compare to 308 applicants. Reactivate Premium',
       'Anas Nadeem is hiring for this job',
       'PROTRIP CONSULTANCY is hiring for this job',
       '51-200 employees · Financial Services',
       '201-500 employees · Transportation, Logistics, Supply Chain and Storage',
       'Ghulam Asghar is hiring for this job',
       'See how you compare to 64 applicants. Reactivate Premium',
       'Raaheen Alikhan is hiring for this job',
       'Kashif Awan is hiring for this job',
       '10,001+ employees · Information Technology & Services',
       'See how you compare to 47 applicants. Reactivate Premium',
       'See how you compare to 27 applicants. Reactivate Premium',
       'Muhammad Asim is hiring for this job',
       '201-500 employees · Telecommunications',
       '11-50 employees · Advertising Services',
       'Akhtar Abid Hussain is hiring for this job',
       'Ahmad Saleem is hiring for this job',
       'See how you compare to 5 applicants. Reactivate Premium',
       'Gamers Hype is hiring for this job',
       'Shafaqat Ali is hiring for this job',
       '5,001-10,000 employees · Biotechnology Research',
       '501-1,000 employees · Outsourcing and Offshoring Consulting',
       '10,001+ employees · Airlines and Aviation',
       '1,001-5,000 employees · Retail',
       '51-200 employees · Telecommunications',
       '1-10 employees · IT Services and IT Consulting',
       'See recent hiring trends for AA Joyland. Reactivate Premium',
       '11-50 employees · Holding Companies',
       'See how you compare to 125 applicants. Reactivate Premium',
       '10,001+ employees · Facilities Services',
       'See how you compare to 24 applicants. Reactivate Premium',
       'Ambrose Emmanuel is hiring for this job',
       'Saad Malik is hiring for this job',
       '201-500 employees · Leisure, Travel & Tourism',
       'Hotel Deluxe Lahore is hiring for this job',
       'Hamza Raza is hiring for this job',
       '51-200 employees · Design Services',
       'syed Khalid is hiring for this job',
       'Zain Bukhari is hiring for this job',
       '5,001-10,000 employees · Education Administration Programs',
       '201-500 employees · Automation Machinery Manufacturing',
       'Muhammad Usman is hiring for this job',
       'Zaheer Ahmad is hiring for this job',
       'Muhammad Hamdan is hiring for this job',
       'See how you compare to 145 applicants. Reactivate Premium',
       'See how you compare to 33 applicants. Reactivate Premium',
       'mohammed ishtiaq is hiring for this job',
       '6 company alumni work here · 4 school alumni work here',
       '1-10 employees · Blockchain Services',
       'Saqib Idrees is hiring for this job',
       '501-1,000 employees · Technology, Information and Internet',
       '7 school alumni work here',
       '201-500 employees · Food and Beverage Manufacturing',
       '10,001+ employees · Renewable Energy Semiconductor Manufacturing',
       '10,001+ employees · Outsourcing and Offshoring Consulting',
       'Ahmad awan is hiring for this job',
       'Zulfiqar Rana is hiring for this job',
       '11-50 employees · Marketing Services',
       '501-1,000 employees · Electric Power Generation',
       'Bilal S. is hiring for this job',
       '1-10 employees · Software Development',
       '201-500 employees · Pharmaceutical Manufacturing',
       '10,001+ employees · Aviation and Aerospace Component Manufacturing',
       '1,001-5,000 employees · Airlines and Aviation',
       'Arhum Ahmad is hiring for this job',
       'Muhammad Anas Farooqi is hiring for this job',
       '5,001-10,000 employees · Manufacturing',
       'See how you compare to 83 applicants. Reactivate Premium',
       'See how you compare to 16 applicants. Reactivate Premium',
       'Iqra Amjad is hiring for this job',
       '11-50 employees · Real Estate',
       'Safia Naz is hiring for this job',
       'Zaman Ashraf is hiring for this job',
       'Faizan Kamran is hiring for this job',
       'Hassan mehdi is hiring for this job',
       'Syed Zulfiqar Ali is hiring for this job',
       'Iqbal Shehzada is hiring for this job',
       '10,001+ employees · Advertising Services',
       'See how you compare to 167 applicants. Reactivate Premium',
       'See how you compare to 200 applicants. Reactivate Premium',
       'Rafay Z. is hiring for this job',
       'See how you compare to 231 applicants. Reactivate Premium',
       'See how you compare to 305 applicants. Reactivate Premium',
       'See how you compare to 99 applicants. Reactivate Premium',
       'See how you compare to 68 applicants. Reactivate Premium',
       'See how you compare to 255 applicants. Reactivate Premium',
       'See how you compare to 90 applicants. Reactivate Premium',
       'S Hidayat Waris, SI (M) is hiring for this job',
       '1,001-5,000 employees · Renewable Energy Equipment Manufacturing',
       'See how you compare to 163 applicants. Reactivate Premium',
       'See how you compare to 435 applicants. Reactivate Premium',
       'See how you compare to 276 applicants. Reactivate Premium',
       'ZENITH INTERNATIONAL is hiring for this job',
       'Umair Shahzad-SAP is hiring for this job',
       'See how you compare to 76 applicants. Reactivate Premium',
       'See how you compare to 107 applicants. Reactivate Premium',
       'Sufian Nazir is hiring for this job',
       'See how you compare to 350 applicants. Reactivate Premium',
       'AKHMAD KHUSHAL is hiring for this job',
       'Waqar Ur Rehman is hiring for this job',
       'See how you compare to 54 applicants. Reactivate Premium',
       'See how you compare to 41 applicants. Reactivate Premium',
       '1 school alum works here',
       'Muhammad Yasir Gujjar is hiring for this job',
       'See how you compare to 266 applicants. Reactivate Premium',
       'See how you compare to 229 applicants. Reactivate Premium',
       'amir mughal is hiring for this job',
       '51-200 employees · Education Management',
       '51-200 employees · Real Estate',
       'Razia Faiz is hiring for this job',
       'Mahnoor Waseem is hiring for this job',
       '1,001-5,000 employees · Wholesale',

In [307]:
len(df['employees'].unique())

382

In [308]:
df['employees'].value_counts()

employees
11-50 employees                                              830
51-200 employees                                             533
201-500 employees                                            262
1-10 employees                                               224
5,001-10,000 employees · IT Services and IT Consulting       163
                                                            ...
Irfan Chughtai is hiring for this job                          1
See how you compare to 52 applicants. Reactivate Premium       1
1,001-5,000 employees · Events Services                        1
See how you compare to 119 applicants. Reactivate Premium      1
501-1,000 employees · Staffing and Recruiting                  1
Name: count, Length: 382, dtype: int64

It is noted that there are also single element :employees also two elements :employees and industry which is seperated by .
It is always employees is first element and industry is 2nd element

there are so many inconsistant values commen words are:
is hiring for this job
See how you compare
Job poster joined LinkedIn

In [309]:
in_consistant_values_in_employees_feature=['is hiring for this job','See how you compare','Job poster joined LinkedIn']
in_consistant_values_in_employees_feature

['is hiring for this job', 'See how you compare', 'Job poster joined LinkedIn']

In [310]:
'is hiring for this job' in 'Arooba Aslam is hiring for this job'

True

In [311]:
feature_element = 'Arooba Aslam is hiring for this job'
inconsistent_values_in_employees_feature = ['is hiring for this job', 'See how you compare', 'Job poster joined LinkedIn']

for value in inconsistent_values_in_employees_feature:
    if value in feature_element:
        print(f"The string '{value}' is present in the feature element.")
    else:
        print(f"The string '{value}' is not present in the feature element.")

The string 'is hiring for this job' is present in the feature element.
The string 'See how you compare' is not present in the feature element.
The string 'Job poster joined LinkedIn' is not present in the feature element.

In [312]:
'11-50 employees'.split('.')

['11-50 employees']

In [313]:
len('11-50 employees'.split('.'))

1

In [314]:
'1,001-5,000 employees · International Trade and Development'.split('·')

['1,001-5,000 employees ', ' International Trade and Development']

In [315]:
'1,001-5,000 employees · International Trade and Development'.split('·')[0]

'1,001-5,000 employees '

In [316]:
'1,001-5,000 employees · International Trade and Development'.split('·')[1]

' International Trade and Development'

In [317]:
len('1,001-5,000 employees · International Trade and Development'.split('·'))

2

In [318]:
L1=[] #for employees 
L2=[] #for industry
for feature_element in df['employees'].iloc[:10]:
    flag=0
    for value in inconsistent_values_in_employees_feature:
        if value in feature_element:
            flag=1
            
    if flag==1:
        L1.append('Not specified')
        L2.append('Not specified')
    else:
        if len(feature_element.split('·'))==1:
            L1.append(feature_element)
            L2.append('Not specified')
        elif len(feature_element.split('·'))==2:
            L1.append(feature_element.split('·')[0])
            L2.append(feature_element.split('·')[1])
        else:
            L1.append('Other')
            L2.append('Other')

In [319]:
L1

['11-50 employees',
 '11-50 employees',
 '51-200 employees',
 '11-50 employees',
 'Not specified',
 '11-50 employees',
 '11-50 employees',
 '1,001-5,000 employees ',
 '501-1,000 employees ',
 '501-1,000 employees ']

In [320]:
L2

['Not specified',
 'Not specified',
 'Not specified',
 'Not specified',
 'Not specified',
 'Not specified',
 'Not specified',
 ' Software Development',
 ' IT Services and IT Consulting',
 ' Telecommunications']

In [321]:
df['employees'].iloc[:10]

0                                      11-50 employees
1                                      11-50 employees
2                                     51-200 employees
3                                      11-50 employees
4                  Mobeen Naqvi is hiring for this job
5                                      11-50 employees
6                                      11-50 employees
7         1,001-5,000 employees · Software Development
8    501-1,000 employees · IT Services and IT Consu...
9             501-1,000 employees · Telecommunications
Name: employees, dtype: object

In [322]:
L1=[] #for employees 
L2=[] #for industry
for feature_element in df['employees'].iloc[:]:
    flag=0
    for value in inconsistent_values_in_employees_feature:
        if value in feature_element:
            flag=1
            
    if flag==1:
        L1.append('Not specified')
        L2.append('Not specified')
    else:
        if len(feature_element.split('·'))==1:
            L1.append(feature_element)
            L2.append('Not specified')
        elif len(feature_element.split('·'))==2:
            L1.append(feature_element.split('·')[0])
            L2.append(feature_element.split('·')[1])
        else:
            L1.append('Other')
            L2.append('Other')

In [323]:
len(L1)

3571

In [324]:
set(L1)

{'1 school alum works here',
 '1,001-5,000 employees',
 '1,001-5,000 employees ',
 '1-10 employees',
 '1-10 employees ',
 '10,001+ employees',
 '10,001+ employees ',
 '11-50 employees',
 '11-50 employees ',
 '201-500 employees',
 '201-500 employees ',
 '5,001-10,000 employees',
 '5,001-10,000 employees ',
 '501-1,000 employees',
 '501-1,000 employees ',
 '51-200 employees',
 '51-200 employees ',
 '6 company alumni work here ',
 '7 school alumni work here',
 'Not specified',
 'See recent hiring trends for AA Joyland. Reactivate Premium',
 'See recent hiring trends for Tubitech Srl. Reactivate Premium'}

'school alum works here' ,'alumni work here' and 'See recent hiring trends' are still inconsistant values

In [325]:
inconsistent_values_in_employees_feature

['is hiring for this job', 'See how you compare', 'Job poster joined LinkedIn']

In [326]:
len(L2)

3571

In [327]:
set(L2)

{' 4 school alumni work here',
 ' Accounting',
 ' Advertising Services',
 ' Airlines and Aviation',
 ' Apparel & Fashion',
 ' Automation Machinery Manufacturing',
 ' Automotive',
 ' Aviation and Aerospace Component Manufacturing',
 ' Banking',
 ' Beverage Manufacturing',
 ' Biotechnology Research',
 ' Blockchain Services',
 ' Book and Periodical Publishing',
 ' Business Consulting and Services',
 ' Chemical Manufacturing',
 ' Computer and Network Security',
 ' Consumer Goods',
 ' Consumer Services',
 ' Design Services',
 ' Education',
 ' Education Administration Programs',
 ' Education Management',
 ' Electric Power Generation',
 ' Entertainment Providers',
 ' Events Services',
 ' Executive Offices',
 ' Facilities Services',
 ' Farming',
 ' Financial Services',
 ' Food Production',
 ' Food and Beverage Manufacturing',
 ' Food and Beverage Services',
 ' Higher Education',
 ' Holding Companies',
 ' Hospitals and Health Care',
 ' Human Resources',
 ' Human Resources Services',
 ' IT Services and IT Consulting',
 ' IT System Custom Software Development',
 ' Information Services',
 ' Information Technology & Services',
 ' International Affairs',
 ' International Trade and Development',
 ' Internet Marketplace Platforms',
 ' Leisure, Travel & Tourism',
 ' Manufacturing',
 ' Marketing Services',
 ' Media Production',
 ' Medical Practices',
 ' Motor Vehicle Manufacturing',
 ' Non-profit Organization Management',
 ' Non-profit Organizations',
 ' Oil and Gas',
 ' Outsourcing and Offshoring Consulting',
 ' Outsourcing/Offshoring',
 ' Packaging and Containers Manufacturing',
 ' Paper and Forest Product Manufacturing',
 ' Personal Care Product Manufacturing',
 ' Pharmaceutical Manufacturing',
 ' Professional Services',
 ' Public Safety',
 ' Real Estate',
 ' Renewable Energy Equipment Manufacturing',
 ' Renewable Energy Semiconductor Manufacturing',
 ' Research Services',
 ' Retail',
 ' Retail Apparel and Fashion',
 ' Retail Luxury Goods and Jewelry',
 ' Software Development',
 ' Staffing and Recruiting',
 ' Strategic Management Services',
 ' Technology, Information and Internet',
 ' Telecommunications',
 ' Think Tanks',
 ' Tobacco Manufacturing',
 ' Translation and Localization',
 ' Transportation, Logistics, Supply Chain and Storage',
 ' Utilities',
 ' Wholesale',
 ' Wholesale Building Materials',
 'Not specified'}

here in L2 there is only one inconsistant value which is 4 school alumni work here as this is 2nd element so i have to investigate it

In [328]:
for feature_element in df['employees'].iloc[:]:
    if '4 school alumni work here' in feature_element:
        print(feature_element)

6 company alumni work here · 4 school alumni work here

'6 company alumni work here · 4 school alumni work here' full element is inconsistant

In [329]:
inconsistent_values_in_employees_feature = ['is hiring for this job', 
                                            'See how you compare', 
                                            'Job poster joined LinkedIn',
                                           'school alum works here',
                                            'alumni work here',
                                            'See recent hiring trends'
                                           ]

In [330]:
L1=[] #for employees 
L2=[] #for industry
for feature_element in df['employees'].iloc[:]:
    flag=0
    for value in inconsistent_values_in_employees_feature:
        if value in feature_element:
            flag=1
            
    if flag==1:
        L1.append('Not specified')
        L2.append('Not specified')
    else:
        if len(feature_element.split('·'))==1:
            L1.append(feature_element)
            L2.append('Not specified')
        elif len(feature_element.split('·'))==2:
            L1.append(feature_element.split('·')[0])
            L2.append(feature_element.split('·')[1])
        else:
            L1.append('Other')
            L2.append('Other')

In [331]:
len(L1)

3571

In [332]:
len(L2)

3571

In [333]:
set(L1)

{'1,001-5,000 employees',
 '1,001-5,000 employees ',
 '1-10 employees',
 '1-10 employees ',
 '10,001+ employees',
 '10,001+ employees ',
 '11-50 employees',
 '11-50 employees ',
 '201-500 employees',
 '201-500 employees ',
 '5,001-10,000 employees',
 '5,001-10,000 employees ',
 '501-1,000 employees',
 '501-1,000 employees ',
 '51-200 employees',
 '51-200 employees ',
 'Not specified'}

In [334]:
set(L2)

{' Accounting',
 ' Advertising Services',
 ' Airlines and Aviation',
 ' Apparel & Fashion',
 ' Automation Machinery Manufacturing',
 ' Automotive',
 ' Aviation and Aerospace Component Manufacturing',
 ' Banking',
 ' Beverage Manufacturing',
 ' Biotechnology Research',
 ' Blockchain Services',
 ' Book and Periodical Publishing',
 ' Business Consulting and Services',
 ' Chemical Manufacturing',
 ' Computer and Network Security',
 ' Consumer Goods',
 ' Consumer Services',
 ' Design Services',
 ' Education',
 ' Education Administration Programs',
 ' Education Management',
 ' Electric Power Generation',
 ' Entertainment Providers',
 ' Events Services',
 ' Executive Offices',
 ' Facilities Services',
 ' Farming',
 ' Financial Services',
 ' Food Production',
 ' Food and Beverage Manufacturing',
 ' Food and Beverage Services',
 ' Higher Education',
 ' Holding Companies',
 ' Hospitals and Health Care',
 ' Human Resources',
 ' Human Resources Services',
 ' IT Services and IT Consulting',
 ' IT System Custom Software Development',
 ' Information Services',
 ' Information Technology & Services',
 ' International Affairs',
 ' International Trade and Development',
 ' Internet Marketplace Platforms',
 ' Leisure, Travel & Tourism',
 ' Manufacturing',
 ' Marketing Services',
 ' Media Production',
 ' Medical Practices',
 ' Motor Vehicle Manufacturing',
 ' Non-profit Organization Management',
 ' Non-profit Organizations',
 ' Oil and Gas',
 ' Outsourcing and Offshoring Consulting',
 ' Outsourcing/Offshoring',
 ' Packaging and Containers Manufacturing',
 ' Paper and Forest Product Manufacturing',
 ' Personal Care Product Manufacturing',
 ' Pharmaceutical Manufacturing',
 ' Professional Services',
 ' Public Safety',
 ' Real Estate',
 ' Renewable Energy Equipment Manufacturing',
 ' Renewable Energy Semiconductor Manufacturing',
 ' Research Services',
 ' Retail',
 ' Retail Apparel and Fashion',
 ' Retail Luxury Goods and Jewelry',
 ' Software Development',
 ' Staffing and Recruiting',
 ' Strategic Management Services',
 ' Technology, Information and Internet',
 ' Telecommunications',
 ' Think Tanks',
 ' Tobacco Manufacturing',
 ' Translation and Localization',
 ' Transportation, Logistics, Supply Chain and Storage',
 ' Utilities',
 ' Wholesale',
 ' Wholesale Building Materials',
 'Not specified'}

In [335]:
df['Comp_N_Employees']=L1

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_12756\1827750204.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Comp_N_Employees']=L1

In [336]:
df['Comp_Industry']=L2

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_12756\3881281891.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Comp_Industry']=L2

In [337]:
df['Comp_N_Employees'].unique()

array(['11-50 employees', '51-200 employees', 'Not specified',
       '1,001-5,000 employees ', '501-1,000 employees ',
       '201-500 employees', '10,001+ employees', '51-200 employees ',
       '501-1,000 employees', '1,001-5,000 employees', '1-10 employees ',
       '10,001+ employees ', '1-10 employees', '5,001-10,000 employees',
       '201-500 employees ', '5,001-10,000 employees ',
       '11-50 employees '], dtype=object)

In [338]:
len(df['Comp_N_Employees'].unique())

17

In [339]:
df['Comp_N_Employees'].value_counts()

Comp_N_Employees
11-50 employees            830
51-200 employees           533
1,001-5,000 employees      297
5,001-10,000 employees     290
10,001+ employees          274
201-500 employees          262
Not specified              245
1-10 employees             224
501-1,000 employees        123
51-200 employees           119
501-1,000 employees         79
201-500 employees           72
11-50 employees             70
1,001-5,000 employees       69
1-10 employees              38
5,001-10,000 employees      26
10,001+ employees           20
Name: count, dtype: int64

In [340]:
df['Comp_Industry'].unique()

array(['Not specified', ' Software Development',
       ' IT Services and IT Consulting', ' Telecommunications',
       ' Banking', ' Human Resources Services',
       ' Technology, Information and Internet',
       ' Retail Apparel and Fashion', ' International Affairs',
       ' Higher Education', ' Information Technology & Services',
       ' Financial Services', ' Packaging and Containers Manufacturing',
       ' Executive Offices', ' Food and Beverage Manufacturing',
       ' Food and Beverage Services', ' Tobacco Manufacturing',
       ' Business Consulting and Services', ' Entertainment Providers',
       ' Wholesale Building Materials',
       ' Outsourcing and Offshoring Consulting',
       ' Pharmaceutical Manufacturing', ' Motor Vehicle Manufacturing',
       ' Non-profit Organizations', ' Research Services',
       ' Advertising Services', ' Beverage Manufacturing',
       ' Outsourcing/Offshoring', ' Hospitals and Health Care',
       ' Farming', ' Oil and Gas', ' Real Estate',
       ' Professional Services', ' Automation Machinery Manufacturing',
       ' Book and Periodical Publishing',
       ' Computer and Network Security', ' Information Services',
       ' Education', ' International Trade and Development',
       ' Staffing and Recruiting',
       ' Transportation, Logistics, Supply Chain and Storage',
       ' Human Resources', ' Medical Practices', ' Manufacturing',
       ' Paper and Forest Product Manufacturing',
       ' Non-profit Organization Management',
       ' Internet Marketplace Platforms',
       ' Personal Care Product Manufacturing', ' Retail',
       ' Biotechnology Research', ' Consumer Services', ' Consumer Goods',
       ' Media Production', ' Accounting',
       ' Translation and Localization', ' Events Services',
       ' Retail Luxury Goods and Jewelry', ' Apparel & Fashion',
       ' Automotive', ' Chemical Manufacturing', ' Think Tanks',
       ' Public Safety', ' IT System Custom Software Development',
       ' Food Production', ' Strategic Management Services',
       ' Airlines and Aviation', ' Holding Companies',
       ' Facilities Services', ' Leisure, Travel & Tourism',
       ' Design Services', ' Education Administration Programs',
       ' Blockchain Services',
       ' Renewable Energy Semiconductor Manufacturing',
       ' Marketing Services', ' Electric Power Generation',
       ' Aviation and Aerospace Component Manufacturing',
       ' Renewable Energy Equipment Manufacturing',
       ' Education Management', ' Wholesale', ' Utilities'], dtype=object)

In [341]:
len(df['Comp_Industry'].unique())

80

In [342]:
df['Comp_Industry'].value_counts()

Comp_Industry
Not specified                              2288
 IT Services and IT Consulting              391
 Software Development                       160
 Telecommunications                          81
 Real Estate                                 58
                                           ...
 Paper and Forest Product Manufacturing       1
 Medical Practices                            1
 Education                                    1
 Motor Vehicle Manufacturing                  1
 Non-profit Organization Management           1
Name: count, Length: 80, dtype: int64

### These are job Job type options on linkedin:
Full-time,
Part-time,
Contract,
Temporary,
Volunteer,
Internship,
Other
### These are Experience level options on linkedin:
Internship,
Entry level,
Associate,
Mid-Senior level,
Director,
Executive
### These are On-site/remote options on linkedin:
On-site,
Remote,
Hybrid

In [343]:
Job_type_options=['Full-time','Part-time','Contract','Temporary','Volunteer','Internship','Other']
Job_type_options

['Full-time',
 'Part-time',
 'Contract',
 'Temporary',
 'Volunteer',
 'Internship',
 'Other']

In [344]:
Experience_level_options=['Internship','Entry level','Associate','Mid-Senior level','Director','Executive']
Experience_level_options

['Internship',
 'Entry level',
 'Associate',
 'Mid-Senior level',
 'Director',
 'Executive']

In [345]:
On_site_remote_options=['On-site','Remote','Hybrid']
On_site_remote_options

['On-site', 'Remote', 'Hybrid']

In [346]:
len(Job_type_options)

7

In [347]:
len(Experience_level_options)

6

In [350]:
df.columns

Index(['Job Title', 'Job Info', 'Job Type', 'Job Link', 'employees', 'Job ID',
       'company', 'location', 'Remote/Onsite', 'n_applicant',
       'job posting time', 'Job Type nElements', 'Job-Type',
       'Experience Level', 'Remote/Onsite-2', 'Comp_N_Employees',
       'Comp_Industry'],
      dtype='object')

In [351]:
len(df.columns)

17