In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [2]:
path='Files used in current analysis/Linkedin_Job_Details_26-Sep-2023-to-26-Nov-2023_15875-jobs_685-pages.csv'

In [3]:
df=pd.read_csv(path)

In [4]:
df

,Job Title,Job Info,Job Type,Job Link,employees
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job
...,...,...,...,...,...
15870,Manager – Growth Chat & SMS (Digital Marketing),"Bank Alfalah Limited · Karāchi, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767355025,"5,001-10,000 employees · Banking"
15871,Release Support Engineer,Turing · Pakistan Reposted \n1 week ago,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3766809535,"1,001-5,000 employees · IT Services and IT Con..."
15872,Information Security Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n1 week...",On-site\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3772530977,51-200 employees · IT Services and IT Consulting
15873,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,"Level 3 BOS · Karachi Division, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771943212,201-500 employees · Outsourcing and Offshoring...
15874,Community Associate,"The Hive · Karachi Division, Sindh, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767944844,11-50 employees

In [5]:
df.isnull().sum()

Job Title    288
Job Info     288
Job Type     302
Job Link       0
employees    303
dtype: int64

In [6]:
df[df['Job Title'].isnull()]

,Job Title,Job Info,Job Type,Job Link,employees
110,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3716079439,NaN
125,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728144603,NaN
417,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3728021212/...,NaN
420,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3727051751/...,NaN
456,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3726689376/...,NaN
...,...,...,...,...,...
15787,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3772859487,NaN
15789,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3766809507,NaN
15793,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3766806694,NaN
15797,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3770354315,NaN
15842,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3767390372,NaN

In [7]:
df.iloc[420]['Job Link']

'https://www.linkedin.com/jobs/view/3727051751/?eBP=JOB_SEARCH_ORGANIC&refId=n1BxF49FoRzpjWVR5WqmKw%3D%3D&trackingId=hKWx7Lut7Q2%2FUF%2B%2BmKHgGw%3D%3D&trk=flagship3_search_srp_jobs'

In [8]:
df[df['Job Title'].isnull()]['Job Link']

110          https://www.linkedin.com/jobs/view/3716079439
125          https://www.linkedin.com/jobs/view/3728144603
417      https://www.linkedin.com/jobs/view/3728021212/...
420      https://www.linkedin.com/jobs/view/3727051751/...
456      https://www.linkedin.com/jobs/view/3726689376/...
                               ...
15787        https://www.linkedin.com/jobs/view/3772859487
15789        https://www.linkedin.com/jobs/view/3766809507
15793        https://www.linkedin.com/jobs/view/3766806694
15797        https://www.linkedin.com/jobs/view/3770354315
15842        https://www.linkedin.com/jobs/view/3767390372
Name: Job Link, Length: 288, dtype: object

### checking duplicates

In [9]:
len(df)

15875

In [10]:
df['Job ID']=df['Job Link'].apply(lambda x:int(x.split('/')[5]))

In [11]:
len(df['Job ID'].unique())

12010

In [12]:
len(df)-len(df['Job ID'].unique())

3865

In [13]:
df['Job ID'].value_counts()

Job ID
3720211981    13
3707088816    11
3733022066    11
3733019363    11
3605634351    10
              ..
3736603529     1
3736386954     1
3736348678     1
3735669396     1
3767944844     1
Name: count, Length: 12010, dtype: int64

In [14]:
df['Job ID'].value_counts().unique()

array([13, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1], dtype=int64)

In [15]:
duplicates_count=df.duplicated(subset=['Job ID']).sum()
duplicates_count

3865

In [16]:
duplicates = df['Job ID'].duplicated()
df[duplicates]

,Job Title,Job Info,Job Type,Job Link,employees,Job ID
603,Odoo Developer,"AKSiQ · Karachi Division, Sindh, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3727054738,11-50 employees,3727054738
781,Assistant Manager Sales/Sales Executive,"Eastern Housing Pakistan · Multan, Punjab, Pak...",Full-time,https://www.linkedin.com/jobs/view/3727057147,201-500 employees,3727057147
834,Back-End Network Engineer,Turing · Pakistan (Remote) Reposted \n2 weeks...,Full-time · Entry level,https://www.linkedin.com/jobs/view/3726337380,"1,001-5,000 employees · IT Services and IT Con...",3726337380
840,Release Management Engineer,"AIIT Solutions · Rawalpindi, Punjab, Pakistan ...",Full-time,https://www.linkedin.com/jobs/view/3727054443,11-50 employees,3727054443
842,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3727051751,NaN,3727051751
...,...,...,...,...,...,...
15856,Assistant Manager Talent Acquisition,"Zameen.com · Lahore, Punjab, Pakistan \n2 wee...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3765449305,"5,001-10,000 employees · Real Estate",3765449305
15857,Software Engineer,"Arrivy · Lahore, Punjab, Pakistan \n1 week ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3765793064,51-200 employees,3765793064
15858,Web Backend Developer,Turing · Pakistan \n2 weeks ago\n\n · 11 appl...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3765780780,"1,001-5,000 employees · IT Services and IT Con...",3765780780
15860,Investment Advisor,"Opal smart · Islamabad, Islāmābād, Pakistan \...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3766397564,Areesha Rashid Qureshi is hiring for this job,3766397564
15871,Release Support Engineer,Turing · Pakistan Reposted \n1 week ago,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3766809535,"1,001-5,000 employees · IT Services and IT Con...",3766809535

In [17]:
df = df.drop_duplicates(subset=['Job ID'])

In [18]:
df.shape

(12010, 6)

In [19]:
4214-591

3623

### checking null values

In [20]:
df.isnull().sum()

Job Title    258
Job Info     258
Job Type     272
Job Link       0
employees    273
Job ID         0
dtype: int64

In [21]:
df['Job Title'].unique()

array(['LinkedIn Data Extractor', 'It Management Intern',
       'SQL Database Developer', ...,
       'Manager – Growth Chat & SMS (Digital Marketing)',
       'Information Security Specialist',
       'FUNCTIONAL CONSULTANT ORACLE FUSION - HCM'], dtype=object)

In [22]:
len(df['Job Title'].unique())

6445

In [23]:
df['Job Type'].unique()

array(['Full-time', 'Full-time · Mid-Senior level',
       'Internship · Internship', 'Full-time · Associate', 'Internship',
       'Full-time · Entry level', 'Part-time', 'Full-time · Internship',
       nan, 'Contract · Mid-Senior level', 'Contract',
       'Contract · Associate', '$150/month - $300/month · Full-time',
       'Full-time · Director', 'Part-time · Associate',
       'Mr Ahsan is hiring for this job', 'Part-time · Executive',
       'Contract · Executive', 'Part-time · Mid-Senior level',
       'Contract · Entry level', 'Temporary · Mid-Senior level',
       'Executive', 'Full-time · Executive',
       'Sean Sato is hiring for this job', 'Part-time · Internship',
       'Internship · Mid-Senior level',
       '$12,000/yr - $15,000/yr · Full-time · Mid-Senior level',
       '$200,000/yr · Full-time', 'Part-time · Entry level',
       'dr.ry. L. is hiring for this job',
       '10,001+ employees · Tobacco Manufacturing', 'Volunteer',
       'On-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nFull-time\n\n \nMid-Senior level',
       'Remote\n\n \nFull-time\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nFull-time',
       'Hybrid\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nDirector', 'Remote\n\n \nFull-time',
       'On-site\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nAssociate',
       'Full-time\n\n \nMid-Senior level', 'On-site\n\n \nPart-time',
       'Hybrid\n\n \nFull-time',
       'Remote\n\n \nContract\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nExecutive',
       'Remote\n\n \nFull-time\n\n \nEntry level',
       'Remote\n\n \nInternship', 'On-site\n\n \nInternship',
       'On-site\n\n \nContract\n\n \nMid-Senior level',
       'Remote\n\n \nContract', 'Remote\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nContract\n\n \nEntry level',
       'On-site\n\n \nFull-time\n\n \nInternship',
       'Remote\n\n \nPart-time\n\n \nAssociate', 'Remote\n\n \nPart-time',
       'Remote\n\n \nContract\n\n \nEntry level',
       'On-site\n\n \nContract\n\n \nAssociate',
       'Full-time\n\n \nEntry level', 'Hybrid\n\n \nContract',
       'Remote\n\n \nFull-time\n\n \nDirector', 'Hybrid\n\n \nPart-time',
       'On-site\n\n \nContract',
       'PKR600,000/yr - PKR660,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       'Remote', 'Contract\n\n \nMid-Senior level',
       'On-site\n\n \nContract\n\n \nInternship',
       'Full-time\n\n \nExecutive',
       'Remote\n\n \nInternship\n\n \nMid-Senior level',
       'Hybrid\n\n \nContract\n\n \nMid-Senior level',
       'Remote\n\n \nPart-time\n\n \nEntry level',
       'Hybrid\n\n \nTemporary', 'Remote\n\n \nPart-time\n\n \nExecutive',
       'On-site\n\n \nInternship\n\n \nEntry level',
       'On-site\n\n \nVolunteer',
       'Remote\n\n \nFull-time\n\n \nExecutive',
       'On-site\n\n \nInternship\n\n \nInternship',
       'Remote\n\n \nVolunteer',
       'On-site\n\n \nPart-time\n\n \nEntry level', 'On-site',
       'Hybrid\n\n \nInternship',
       'Hybrid\n\n \nContract\n\n \nEntry level',
       'Full-time\n\n \nInternship',
       '$180/month - $250/month\n\n \nRemote\n\n \nFull-time', 'Hybrid',
       'Remote\n\n \nContract\n\n \nAssociate',
       'Remote\n\n \nTemporary\n\n \nEntry level',
       'On-site\n\n \nTemporary', 'Remote\n\n \nTemporary',
       'Full-time\n\n \nAssociate',
       'PKR1,200,000/yr - PKR1,800,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       '5,001-10,000 employees · IT Services and IT Consulting',
       'PKR1,200,000/yr - PKR2,400,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       'On-site\n\n \nContract\n\n \nExecutive',
       'PKR1,800,000/yr - PKR3,600,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nMid-Senior level',
       'MYR57,000/yr - MYR108,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nEntry level',
       '$1,500/month - $1,800/month\n\n \nRemote\n\n \nFull-time',
       '11-50 employees',
       '10,001+ employees · Food and Beverage Manufacturing',
       'PHP360,000/yr - PHP720,000/yr\n\n \nRemote\n\n \nPart-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nVolunteer', 'Remote\n\n \nMid-Senior level',
       '$500/month - $1,000/month\n\n \nHybrid\n\n \nContract',
       'Remote\n\n \nPart-time\n\n \nMid-Senior level',
       'PKR960,000/yr - PKR1,200,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       '$20,000/yr - $25,000/yr\n\n \nRemote\n\n \nContract\n\n \nEntry level',
       '$30,000/month - $60,000/month\n\n \nHybrid\n\n \nFull-time',
       'Remote\n\n \nPart-time\n\n \nDirector',
       'PKR960,000/yr - PKR1,200,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nContract\n\n \nInternship',
       'On-site\n\n \nPart-time\n\n \nMid-Senior level',
       'On-site\n\n \nTemporary\n\n \nEntry level',
       'Full-time\n\n \nDirector',
       'Hybrid\n\n \nInternship\n\n \nInternship',
       'Remote\n\n \nInternship\n\n \nInternship',
       'On-site\n\n \nExecutive',
       '$1,000/month - $2,500/month\n\n \nOn-site\n\n \nFull-time',
       '$36,000/yr - $60,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nEntry level',
       '$50,000/month - $70,000/month + Commission\n\n \nOn-site\n\n \nFull-time',
       'On-site\n\n \nInternship\n\n \nDirector',
       'Hybrid\n\n \nFull-time\n\n \nExecutive',
       '₹180,000/yr - ₹360,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nEntry level',
       'On-site\n\n \nTemporary\n\n \nInternship',
       '$12,000/yr - $18,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nMid-Senior level',
       'Contract\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nInternship',
       'On-site\n\n \nTemporary\n\n \nMid-Senior level',
       'Hybrid\n\n \nInternship\n\n \nMid-Senior level'], dtype=object)

In [24]:
len(df['Job Type'].unique())

130

In [25]:
df['Job Info'].unique()

array(['EcomFleet · Pakistan (Remote)  \n1 week ago',
       'Digicon Valley · Lahore, Punjab, Pakistan (On-site)  \n2 weeks ago',
       'Murkez Technologies · Lahore, Punjab, Pakistan (On-site)  \n1 week ago',
       ...,
       'DPL · Islamabad, Islāmābād, Pakistan  \n1 week ago\n\n · 83 applicants',
       'Level 3 BOS · Karachi Division, Sindh, Pakistan  \n1 week ago\n\n · 19 applicants',
       'The Hive · Karachi Division, Sindh, Pakistan  \n1 week ago'],
      dtype=object)

In [26]:
len(df['Job Info'].unique())

10214

In [27]:
df['employees'].unique()

array(['11-50 employees', '51-200 employees',
       'Mobeen Naqvi is hiring for this job',
       '1,001-5,000 employees · Software Development',
       '501-1,000 employees · IT Services and IT Consulting',
       '501-1,000 employees · Telecommunications',
       '1,001-5,000 employees · Banking', '201-500 employees',
       '10,001+ employees', '51-200 employees · Human Resources Services',
       '501-1,000 employees',
       '1,001-5,000 employees · Technology, Information and Internet',
       '1,001-5,000 employees',
       '1-10 employees · Retail Apparel and Fashion',
       'Muhammad akram is hiring for this job',
       '10,001+ employees · International Affairs',
       '501-1,000 employees · Higher Education', '1-10 employees',
       '10,001+ employees · Software Development',
       '1,001-5,000 employees · Information Technology & Services',
       '5,001-10,000 employees', 'TARIQ KHAN is hiring for this job',
       '201-500 employees · Financial Services',
       '10,001+ employees · Telecommunications',
       '5,001-10,000 employees · Packaging and Containers Manufacturing',
       '1,001-5,000 employees · IT Services and IT Consulting',
       '1,001-5,000 employees · Executive Offices',
       '1,001-5,000 employees · Telecommunications',
       '1,001-5,000 employees · Food and Beverage Manufacturing',
       '10,001+ employees · Food and Beverage Services', nan,
       '10,001+ employees · Tobacco Manufacturing',
       '51-200 employees · Software Development',
       '5,001-10,000 employees · IT Services and IT Consulting',
       'Sufian Mian Akhtar is hiring for this job',
       'Danish Khan is hiring for this job',
       '51-200 employees · Business Consulting and Services',
       '51-200 employees · Entertainment Providers',
       '11-50 employees · Human Resources Services',
       'Wajahat Ahmed is hiring for this job',
       '11-50 employees · IT Services and IT Consulting',
       '1,001-5,000 employees · Wholesale Building Materials',
       '51-200 employees · IT Services and IT Consulting',
       '1,001-5,000 employees · Outsourcing and Offshoring Consulting',
       '10,001+ employees · Pharmaceutical Manufacturing',
       'See how you compare to 272 applicants. Reactivate Premium',
       '501-1,000 employees · Motor Vehicle Manufacturing',
       'See how you compare to 118 applicants. Reactivate Premium',
       '10,001+ employees · Non-profit Organizations',
       'Adnan Dogar is hiring for this job',
       'Zuhad khan is hiring for this job',
       'Ali Raza is hiring for this job',
       '51-200 employees · Research Services',
       '51-200 employees · Higher Education',
       '5,001-10,000 employees · Advertising Services',
       'See how you compare to 36 applicants. Reactivate Premium',
       'See how you compare to 9 applicants. Reactivate Premium',
       'online earning is hiring for this job',
       'Ishook Ram is hiring for this job',
       '10,001+ employees · Beverage Manufacturing',
       'See how you compare to 19 applicants. Reactivate Premium',
       'Immad Langah is hiring for this job',
       '11-50 employees · Outsourcing and Offshoring Consulting',
       'Rehan Sheikh is hiring for this job',
       'See recent hiring trends for Tubitech Srl. Reactivate Premium',
       'ASG SYSTEMS PAKISTAN is hiring for this job',
       '10,001+ employees · Outsourcing/Offshoring',
       '11-50 employees · Financial Services',
       'ayesha shz is hiring for this job',
       '10,001+ employees · Hospitals and Health Care',
       '10,001+ employees · Farming',
       'Afraz Begum Sial is hiring for this job',
       'See how you compare to 53 applicants. Reactivate Premium',
       'See how you compare to 10 applicants. Reactivate Premium',
       'Sanaullah Aman is hiring for this job',
       'See how you compare to 15 applicants. Reactivate Premium',
       'See how you compare to 7 applicants. Reactivate Premium',
       '1,001-5,000 employees · Oil and Gas',
       '51-200 employees · Information Technology & Services',
       'Nam C. is hiring for this job',
       '5,001-10,000 employees · Real Estate',
       '10,001+ employees · Professional Services',
       'Tahir Islam is hiring for this job',
       '51-200 employees · Technology, Information and Internet',
       'See how you compare to 23 applicants. Reactivate Premium',
       'Zulqarnain Khan is hiring for this job',
       'AWAIS AHMAD is hiring for this job',
       'Hassan Raza Khalid is hiring for this job',
       'See how you compare to 51 applicants. Reactivate Premium',
       '501-1,000 employees · Software Development',
       'SHAKIR NAWAB is hiring for this job',
       '51-200 employees · Automation Machinery Manufacturing',
       'See how you compare to 34 applicants. Reactivate Premium',
       'Jawad Arshad is hiring for this job',
       '5,001-10,000 employees · Book and Periodical Publishing',
       'Salman Tariq is hiring for this job',
       '201-500 employees · Computer and Network Security',
       'Umar Siddiqui is hiring for this job',
       'See how you compare to 20 applicants. Reactivate Premium',
       '10,001+ employees · Information Services',
       'See how you compare to 21 applicants. Reactivate Premium',
       '1,001-5,000 employees · International Affairs',
       'Muhammad Haris is hiring for this job',
       'Adnan Qureshi is hiring for this job',
       'muhammad sharjeel is hiring for this job',
       'Shahid Aziz is hiring for this job',
       'Yasir Khubaib is hiring for this job',
       '11-50 employees · Technology, Information and Internet',
       'Anas Abdul Aziz Fayyaz Ehsan is hiring for this job',
       '11-50 employees · Education', 'Manas Khan is hiring for this job',
       'muhammad imran is hiring for this job',
       '51-200 employees · International Trade and Development',
       'Ali Malik, CCXP is hiring for this job',
       '51-200 employees · Staffing and Recruiting',
       '11-50 employees · Higher Education',
       '11-50 employees · Transportation, Logistics, Supply Chain and Storage',
       '1-10 employees · Human Resources Services',
       '1,001-5,000 employees · Higher Education',
       '51-200 employees · Human Resources',
       '201-500 employees · Software Development',
       '201-500 employees · Medical Practices',
       'Huma Khan is hiring for this job',
       '1,001-5,000 employees · Manufacturing',
       '51-200 employees · Paper and Forest Product Manufacturing',
       'Muhammad Asif is hiring for this job',
       '10,001+ employees · Technology, Information and Internet',
       '5,001-10,000 employees · Non-profit Organization Management',
       'Talha Shah is hiring for this job',
       'Mirza Sajid Mahmood is hiring for this job',
       '5,001-10,000 employees · International Affairs',
       '201-500 employees · Internet Marketplace Platforms',
       '201-500 employees · IT Services and IT Consulting',
       '10,001+ employees · Financial Services',
       '10,001+ employees · Automation Machinery Manufacturing',
       '5,001-10,000 employees · Internet Marketplace Platforms',
       '10,001+ employees · IT Services and IT Consulting',
       '10,001+ employees · Personal Care Product Manufacturing',
       '10,001+ employees · Banking',
       'See how you compare to 256 applicants. Reactivate Premium',
       '1,001-5,000 employees · Advertising Services',
       '201-500 employees · Technology, Information and Internet',
       '10,001+ employees · Food and Beverage Manufacturing',
       '10,001+ employees · Retail', 'Awais Javed is hiring for this job',
       'Dn Ch Moiz Gujjar is hiring for this job',
       '10,001+ employees · International Trade and Development',
       '10,001+ employees · Biotechnology Research',
       'Mian Khuram Ali is hiring for this job',
       'Irtaza B. Raja is hiring for this job',
       'See how you compare to 32 applicants. Reactivate Premium',
       '51-200 employees · Information Services',
       'Abdul Rauf is hiring for this job',
       'See how you compare to 6 applicants. Reactivate Premium',
       'Dr Farrukh Aslam khan is hiring for this job',
       'See how you compare to 62 applicants. Reactivate Premium',
       'See how you compare to 13 applicants. Reactivate Premium',
       '1-10 employees · Outsourcing and Offshoring Consulting',
       'The Motor Crew is hiring for this job',
       'See how you compare to 17 applicants. Reactivate Premium',
       'See how you compare to 69 applicants. Reactivate Premium',
       '501-1,000 employees · Hospitals and Health Care',
       '10,001+ employees · Consumer Services',
       '5,001-10,000 employees · Consumer Goods',
       'fahad khan is hiring for this job',
       '10,001+ employees · Manufacturing',
       '11-50 employees · Staffing and Recruiting',
       'Sharjeel Arif is hiring for this job',
       'Shafeeque Ahmed is hiring for this job',
       'Uzair Khan is hiring for this job',
       'See how you compare to 18 applicants. Reactivate Premium',
       'See how you compare to 73 applicants. Reactivate Premium',
       '5,001-10,000 employees · Non-profit Organizations',
       'Usman Majeed is hiring for this job',
       'See how you compare to 86 applicants. Reactivate Premium',
       'See how you compare to 12 applicants. Reactivate Premium',
       'See how you compare to 11 applicants. Reactivate Premium',
       '51-200 employees · Media Production',
       'Choudhry Azizuddin is hiring for this job',
       'See how you compare to 58 applicants. Reactivate Premium',
       '501-1,000 employees · Food and Beverage Services',
       '51-200 employees · Accounting',
       '11-50 employees · Software Development',
       'Faisal Raza is hiring for this job',
       'See how you compare to 283 applicants. Reactivate Premium',
       '1,001-5,000 employees · Human Resources Services',
       'yasir khalid is hiring for this job',
       '11-50 employees · Outsourcing/Offshoring',
       'Hira Benish, Ph.D. is hiring for this job',
       '5,001-10,000 employees · Translation and Localization',
       'Raja Mahmood Subhani is hiring for this job',
       'See how you compare to 92 applicants. Reactivate Premium',
       'Muhammad Ukasha Noman is hiring for this job',
       'Job poster joined LinkedIn in 2021',
       'See how you compare to 14 applicants. Reactivate Premium',
       '1-10 employees · Human Resources',
       'Ali Ather is hiring for this job',
       'Nauman Khan is hiring for this job',
       'Irfan Chughtai is hiring for this job',
       '10,001+ employees · Oil and Gas',
       '201-500 employees · Real Estate',
       'See how you compare to 52 applicants. Reactivate Premium',
       '10,001+ employees · Transportation, Logistics, Supply Chain and Storage',
       '1,001-5,000 employees · Events Services',
       'See how you compare to 119 applicants. Reactivate Premium',
       '11-50 employees · Information Technology & Services',
       'Haris Arain is hiring for this job',
       'Sami ur rehman rehman is hiring for this job',
       '51-200 employees · Retail Luxury Goods and Jewelry',
       'Muhammad Attique is hiring for this job',
       'Awais Ashraf is hiring for this job',
       'innocent Angel is hiring for this job',
       'iqra batool is hiring for this job',
       'Laraib Hussain is hiring for this job',
       'Mona Farooq is hiring for this job',
       '51-200 employees · Apparel & Fashion',
       'jai kumar is hiring for this job',
       'Javed Ramzan Ali is hiring for this job',
       'Aneel Kumar is hiring for this job',
       '10,001+ employees · Packaging and Containers Manufacturing',
       'Sherjeel Ali Chaudary is hiring for this job',
       'Syed Saboor Pasha is hiring for this job',
       '1,001-5,000 employees · Automotive',
       'Love Suther is hiring for this job',
       '501-1,000 employees · Real Estate',
       'Amjad Mehmood is hiring for this job',
       '10,001+ employees · Chemical Manufacturing',
       '51-200 employees · Think Tanks', '501-1,000 employees · Retail',
       '1-10 employees · Staffing and Recruiting',
       'Salman Ahmed Hashmi is hiring for this job',
       'See how you compare to 37 applicants. Reactivate Premium',
       'Zeeshan Yaqoob is hiring for this job',
       '11-50 employees · Public Safety',
       'Usama Tariq is hiring for this job',
       'See how you compare to 153 applicants. Reactivate Premium',
       '201-500 employees · Information Technology & Services',
       'HAIDER SAEED MUGHAL is hiring for this job',
       '5,001-10,000 employees · Human Resources Services',
       'Abubaker Kareem is hiring for this job',
       'See how you compare to 85 applicants. Reactivate Premium',
       'mohammad ashraf memon is hiring for this job',
       'Malik Mirza FCA, FCCA (UK), MBA is hiring for this job',
       '10,001+ employees · Higher Education',
       'See how you compare to 22 applicants. Reactivate Premium',
       'Muhammad Shahzaib is hiring for this job',
       'See how you compare to 4 applicants. Reactivate Premium',
       'Qasim Awan is hiring for this job',
       'See how you compare to 3 applicants. Reactivate Premium',
       '5,001-10,000 employees · Software Development',
       '51-200 employees · International Affairs',
       '201-500 employees · IT System Custom Software Development',
       '1,001-5,000 employees · Food Production',
       '51-200 employees · Advertising Services',
       '1,001-5,000 employees · Real Estate',
       '51-200 employees · Strategic Management Services',
       '1,001-5,000 employees · Financial Services',
       'Ume Rubab is hiring for this job',
       'See how you compare to 308 applicants. Reactivate Premium',
       'Anas Nadeem is hiring for this job',
       'PROTRIP CONSULTANCY is hiring for this job',
       '51-200 employees · Financial Services',
       '201-500 employees · Transportation, Logistics, Supply Chain and Storage',
       'Ghulam Asghar is hiring for this job',
       'See how you compare to 64 applicants. Reactivate Premium',
       'Raaheen Alikhan is hiring for this job',
       'Kashif Awan is hiring for this job',
       '10,001+ employees · Information Technology & Services',
       'See how you compare to 47 applicants. Reactivate Premium',
       'See how you compare to 27 applicants. Reactivate Premium',
       'Muhammad Asim is hiring for this job',
       '201-500 employees · Telecommunications',
       '11-50 employees · Advertising Services',
       'Akhtar Abid Hussain is hiring for this job',
       'Ahmad Saleem is hiring for this job',
       'See how you compare to 5 applicants. Reactivate Premium',
       'Gamers Hype is hiring for this job',
       'Shafaqat Ali is hiring for this job',
       '5,001-10,000 employees · Biotechnology Research',
       '501-1,000 employees · Outsourcing and Offshoring Consulting',
       '10,001+ employees · Airlines and Aviation',
       '1,001-5,000 employees · Retail',
       '51-200 employees · Telecommunications',
       '1-10 employees · IT Services and IT Consulting',
       'See recent hiring trends for AA Joyland. Reactivate Premium',
       '11-50 employees · Holding Companies',
       'See how you compare to 125 applicants. Reactivate Premium',
       '10,001+ employees · Facilities Services',
       'See how you compare to 24 applicants. Reactivate Premium',
       'Ambrose Emmanuel is hiring for this job',
       'Saad Malik is hiring for this job',
       '201-500 employees · Leisure, Travel & Tourism',
       'Hotel Deluxe Lahore is hiring for this job',
       'Hamza Raza is hiring for this job',
       '51-200 employees · Design Services',
       'syed Khalid is hiring for this job',
       'Zain Bukhari is hiring for this job',
       '5,001-10,000 employees · Education Administration Programs',
       '201-500 employees · Automation Machinery Manufacturing',
       'Muhammad Usman is hiring for this job',
       'Zaheer Ahmad is hiring for this job',
       'Muhammad Hamdan is hiring for this job',
       'See how you compare to 145 applicants. Reactivate Premium',
       'See how you compare to 33 applicants. Reactivate Premium',
       'mohammed ishtiaq is hiring for this job',
       '6 company alumni work here · 4 school alumni work here',
       '1-10 employees · Blockchain Services',
       'Saqib Idrees is hiring for this job',
       '501-1,000 employees · Technology, Information and Internet',
       '7 school alumni work here',
       '201-500 employees · Food and Beverage Manufacturing',
       '10,001+ employees · Renewable Energy Semiconductor Manufacturing',
       '10,001+ employees · Outsourcing and Offshoring Consulting',
       'Ahmad awan is hiring for this job',
       'Zulfiqar Rana is hiring for this job',
       '11-50 employees · Marketing Services',
       '501-1,000 employees · Electric Power Generation',
       'Bilal S. is hiring for this job',
       '1-10 employees · Software Development',
       '201-500 employees · Pharmaceutical Manufacturing',
       '10,001+ employees · Aviation and Aerospace Component Manufacturing',
       '1,001-5,000 employees · Airlines and Aviation',
       'Arhum Ahmad is hiring for this job',
       'Muhammad Anas Farooqi is hiring for this job',
       '5,001-10,000 employees · Manufacturing',
       'See how you compare to 83 applicants. Reactivate Premium',
       'See how you compare to 16 applicants. Reactivate Premium',
       'Iqra Amjad is hiring for this job',
       '11-50 employees · Real Estate',
       'Safia Naz is hiring for this job',
       'Zaman Ashraf is hiring for this job',
       'Faizan Kamran is hiring for this job',
       'Hassan mehdi is hiring for this job',
       'Syed Zulfiqar Ali is hiring for this job',
       'Iqbal Shehzada is hiring for this job',
       '10,001+ employees · Advertising Services',
       'See how you compare to 167 applicants. Reactivate Premium',
       'See how you compare to 200 applicants. Reactivate Premium',
       'Rafay Z. is hiring for this job',
       'See how you compare to 231 applicants. Reactivate Premium',
       'See how you compare to 305 applicants. Reactivate Premium',
       'See how you compare to 99 applicants. Reactivate Premium',
       'See how you compare to 68 applicants. Reactivate Premium',
       'See how you compare to 255 applicants. Reactivate Premium',
       'See how you compare to 90 applicants. Reactivate Premium',
       'S Hidayat Waris, SI (M) is hiring for this job',
       '1,001-5,000 employees · Renewable Energy Equipment Manufacturing',
       'See how you compare to 163 applicants. Reactivate Premium',
       'See how you compare to 435 applicants. Reactivate Premium',
       'See how you compare to 276 applicants. Reactivate Premium',
       'ZENITH INTERNATIONAL is hiring for this job',
       'Umair Shahzad-SAP is hiring for this job',
       'See how you compare to 76 applicants. Reactivate Premium',
       'See how you compare to 107 applicants. Reactivate Premium',
       'Sufian Nazir is hiring for this job',
       'See how you compare to 350 applicants. Reactivate Premium',
       'AKHMAD KHUSHAL is hiring for this job',
       'Waqar Ur Rehman is hiring for this job',
       'See how you compare to 54 applicants. Reactivate Premium',
       'See how you compare to 41 applicants. Reactivate Premium',
       '1 school alum works here',
       'Muhammad Yasir Gujjar is hiring for this job',
       'See how you compare to 266 applicants. Reactivate Premium',
       'See how you compare to 229 applicants. Reactivate Premium',
       'amir mughal is hiring for this job',
       '51-200 employees · Education Management',
       '51-200 employees · Real Estate',
       'Razia Faiz is hiring for this job',
       'Mahnoor Waseem is hiring for this job',
       '1,001-5,000 employees · Wholesale',

In [28]:
len(df['employees'].unique())

976

# 18 oct 2023

In [29]:
df.columns

Index(['Job Title', 'Job Info', 'Job Type', 'Job Link', 'employees', 'Job ID'], dtype='object')

In [30]:
df['Job Title'].value_counts()[:30]

Job Title
Sales Executive                          142
Business Development Executive           135
Sales Specialist                          76
Business Development Manager              71
Business Development Specialist           63
Graphic Designer                          58
Web Back-End Developer                    57
Software Engineer                         56
Customer Service Representative           55
Salesperson                               50
Full Stack Engineer                       47
Senior Software Engineer                  45
Sales And Marketing Specialist            40
Wordpress Developer                       38
Call Center Representative                37
PHP Developer                             36
Sales Development Representative          35
Customer Sales Representative             35
Search Engine Optimization Specialist     33
Dotnet Developer                          33
Business Development Officer              32
Educational Counselor                     32
Digital Marketing Specialist              32
Video Editor                              31
International Sales Executive             30
Sales Manager                             28
Upwork Bidder                             28
Shopify Developer                         27
Back End Developer                        27
Social Media Manager                      27
Name: count, dtype: int64

In [31]:
df['Job Info'].iloc[1].split('·')[0]

'Digicon Valley '

In [32]:
df['Job Info']

0              EcomFleet · Pakistan (Remote)  \n1 week ago
1        Digicon Valley · Lahore, Punjab, Pakistan (On-...
2        Murkez Technologies · Lahore, Punjab, Pakistan...
3        DevNatives · Islamabad, Islāmābād, Pakistan (H...
4        ItCreaters · Lahore, Punjab, Pakistan (On-site...
                               ...
15869    Codiea.io · Bahawalpur, Punjab, Pakistan  \n1 ...
15870    Bank Alfalah Limited · Karāchi, Sindh, Pakista...
15872    DPL · Islamabad, Islāmābād, Pakistan  \n1 week...
15873    Level 3 BOS · Karachi Division, Sindh, Pakista...
15874    The Hive · Karachi Division, Sindh, Pakistan  ...
Name: Job Info, Length: 12010, dtype: object

In [33]:
# df['company']=df['Job Info'].apply(lambda x:x.split('·')[0])
# # AttributeError: 'float' object has no attribute 'split'

In [34]:
# i=0
# for info in df['Job Info']:
#     print(info.split('·')[0])
#     i=i+1
#     # print(info)
# # AttributeError: 'float' object has no attribute 'split'

In [35]:
# i

In [36]:
df['Job Info'].iloc[110]

nan

In [37]:
df['Job Info'].iloc[3]

'DevNatives · Islamabad, Islāmābād, Pakistan (Hybrid)  \n1 week ago\n\n · 51 applicants'

In [38]:
df['Job Info'].iloc[3].split('·')

['DevNatives ',
 ' Islamabad, Islāmābād, Pakistan (Hybrid)  \n1 week ago\n\n ',
 ' 51 applicants']

In [39]:
df.isnull().sum()

Job Title    258
Job Info     258
Job Type     272
Job Link       0
employees    273
Job ID         0
dtype: int64

In [40]:
df.dropna()

,Job Title,Job Info,Job Type,Job Link,employees,Job ID
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696
...,...,...,...,...,...,...
15869,Unity Developer,"Codiea.io · Bahawalpur, Punjab, Pakistan \n1 ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767951886,1-10 employees,3767951886
15870,Manager – Growth Chat & SMS (Digital Marketing),"Bank Alfalah Limited · Karāchi, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767355025,"5,001-10,000 employees · Banking",3767355025
15872,Information Security Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n1 week...",On-site\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3772530977,51-200 employees · IT Services and IT Consulting,3772530977
15873,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,"Level 3 BOS · Karachi Division, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771943212,201-500 employees · Outsourcing and Offshoring...,3771943212
15874,Community Associate,"The Hive · Karachi Division, Sindh, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767944844,11-50 employees,3767944844

In [41]:
len(df)-52

11958

In [42]:
# df.dropna(subset = ['Job Title'], inplace=True)
#or
df.dropna(inplace=True)

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_6020\3641532845.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [43]:
df

,Job Title,Job Info,Job Type,Job Link,employees,Job ID
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696
...,...,...,...,...,...,...
15869,Unity Developer,"Codiea.io · Bahawalpur, Punjab, Pakistan \n1 ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767951886,1-10 employees,3767951886
15870,Manager – Growth Chat & SMS (Digital Marketing),"Bank Alfalah Limited · Karāchi, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767355025,"5,001-10,000 employees · Banking",3767355025
15872,Information Security Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n1 week...",On-site\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3772530977,51-200 employees · IT Services and IT Consulting,3772530977
15873,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,"Level 3 BOS · Karachi Division, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771943212,201-500 employees · Outsourcing and Offshoring...,3771943212
15874,Community Associate,"The Hive · Karachi Division, Sindh, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767944844,11-50 employees,3767944844

In [44]:
3623-52

3571

In [45]:
df.isnull().sum()

Job Title    0
Job Info     0
Job Type     0
Job Link     0
employees    0
Job ID       0
dtype: int64

In [46]:
df['company']=df['Job Info'].apply(lambda x:x.split('·')[0])

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_6020\4282166980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['company']=df['Job Info'].apply(lambda x:x.split('·')[0])

In [47]:
df['company'].unique()

array(['EcomFleet ', 'Digicon Valley ', 'Murkez Technologies ', ...,
       'EComia Global ', 'BUZZMAX.CA ', 'Codiea.io '], dtype=object)

In [48]:
len(df['company'].unique())

4435

In [49]:
df['company'].value_counts()

company
Crossover                                   848
Zameen.com                                  252
Turing                                      223
People (Professional Employers Pvt Ltd)     143
Zones IT Solutions                          116
                                           ...
Smart IT Solutions                            1
Al Falah Chemicals                            1
Office Automation Group                       1
Jana.Pk - Travel & Tour Services              1
Codiea.io                                     1
Name: count, Length: 4435, dtype: int64

In [50]:
df['company'].value_counts()[:30]

company
Crossover                                         848
Zameen.com                                        252
Turing                                            223
People (Professional Employers Pvt Ltd)           143
Zones IT Solutions                                116
Afiniti                                           104
Jazz                                              101
Times Consultant (Pvt.) Ltd.                       88
Daraz                                              79
Telenor                                            70
HR Ways - Hiring Tech Talent                       67
The Indus Hospital                                 66
CureMD                                             66
Motive                                             65
PTCL.Official                                      59
Kamayi                                             57
BAT                                                56
K-Electric                                         49
Dubizzle Labs                                      47
EY                                                 46
GSK                                                44
S&P Global                                         43
TCP Software                                       42
Careem                                             42
Contour Software                                   40
Talent Pal                                         39
Sui Southern Gas Company Limited                   38
Teradata                                           37
Mashreq                                            37
Human Resource Solutions International - HRSI      35
Name: count, dtype: int64

In [51]:
df['Job Info'].iloc[3].split('·')[1]

' Islamabad, Islāmābād, Pakistan (Hybrid)  \n1 week ago\n\n '

In [52]:
df['Job Info'].iloc[3].split('·')[1].split()[0]

'Islamabad,'

In [53]:
df['Job Info'].iloc[3].split('·')[1].split()[0].strip(',')

'Islamabad'

In [54]:
df['location']=df['Job Info'].apply(lambda x:x.split('·')[1].split()[0].strip(','))

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_6020\4167284413.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['location']=df['Job Info'].apply(lambda x:x.split('·')[1].split()[0].strip(','))

In [55]:
df['location']

0          Pakistan
1            Lahore
2            Lahore
3         Islamabad
4            Lahore
            ...
15869    Bahawalpur
15870       Karāchi
15872     Islamabad
15873       Karachi
15874       Karachi
Name: location, Length: 11737, dtype: object

In [56]:
df['location'].unique()

array(['Pakistan', 'Lahore', 'Islamabad', 'Karāchi', 'Peshawar',
       'Islāmābād', 'Rawalpindi', 'Multan', 'Karachi', 'Hyderabad',
       'Mirpur', 'Kharian', 'Sindh', 'Faisalabad', 'Jhelum', 'Gujrāt',
       'Korangi', 'Bahawalpur', 'Gulshan', 'Gujranwala', 'Sukkur',
       'Punjab', 'Shekhūpura', 'Sargodha', 'Wazirabad', 'Mānsehra',
       'Sialkot', 'Chakwāl', 'Muzaffargarh', 'Nawabshah', 'Mardān',
       'Gujrat', 'Dera', 'Sāhīwāl', 'Jhang', 'Sahiwal', 'Quetta',
       'Vienna', 'Rahimyar', 'Milan', 'Lodhran', 'South', 'Zhob',
       'Jamshoro', 'Khyber', 'New', 'Rakhni', 'Taxila', 'APAC', 'Azad',
       'Toba', 'Thatta', 'Jarānwāla', 'Mīrpur', 'Larkana', 'Pasrur',
       'Sarai', 'Panjgur', 'Baloch', 'Attock', 'Rahim', 'Ratodero', 'APJ',
       'Chakwal', 'İzmir', 'Miān', 'Battagram', 'Harīpur', 'Naushahro',
       'Khuzdar', 'Kasur', 'Abbottabad', 'Malir', 'Vehari', 'Kahuta',
       'Badin', 'Thal', 'Landhi', 'Shikarpur', 'Bhakkar', 'Bahrain',
       'Metro', 'Kohāt', 'Okāra', 'Bahawalnagar', 'Shergarh', 'Chaman',
       'Bin', 'Sibi', 'Bagar', 'Kabirwala', 'Kasūr', 'Mehmood', 'Bahadar',
       'Fazilpur', 'Qasba', 'Mall', 'Kot', 'Haripur', 'Parkersburg',
       'Narowal', 'India', 'Ahmadpur', 'Naya', 'Muzaffarabad', 'Mandi',
       'Clifton', 'Okara', 'More', 'Dajal', 'Torwarsak', 'Jacobabad',
       'Haroonabad', 'Johar', 'Renala', 'Kampala', 'Mardan', 'Pakpattan',
       'Khānewāl', 'Pattoki', 'Khushāb', 'Mianwali', 'Hāsilpur',
       'Mingāora', 'Latifabad', 'MENA', 'Swabi', 'Gilgit-Baltistan',
       'Turkey', 'Dubai', 'Akora', 'Abbottābād', 'Hangu', 'Umarkot',
       'Khudian', 'Pak', 'Gurugram', 'Burewala', 'Banda', 'Skardu',
       'Kandhkot', 'Rajanpur', 'Tribal', 'Daharki', 'Talagang', 'Pindi',
       'Layyah', 'Sakrand', 'Sheikhupura'], dtype=object)

In [57]:
len(df['location'].unique())

149

In [58]:
df[df['location']=='Mānsehra']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location
278,Sales Officer,"Innovative Biscuits (Pvt.) Ltd · Mānsehra, Khy...",Full-time,https://www.linkedin.com/jobs/view/3727033027/...,"501-1,000 employees",3727033027,Innovative Biscuits (Pvt.) Ltd,Mānsehra
7217,Area Sales Manager,"Telenor · Mānsehra, Khyber Pakhtunkhwa, Pakist...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3743114731,"10,001+ employees · Telecommunications",3743114731,Telenor,Mānsehra
8227,Project Manager,"Zhijarat Group of Companies · Mānsehra, Khyber...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3744232064,Muhammad Baseer is hiring for this job,3744232064,Zhijarat Group of Companies,Mānsehra
9374,Human Resources Manager,CPEC Project with Chinese Companies. · Mānsehr...,On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3746854365,Syed Saqlain Raza Gilani is hiring for this job,3746854365,CPEC Project with Chinese Companies.,Mānsehra

In [59]:
df['location'].value_counts()

location
Lahore          3842
Karāchi         2274
Islamabad       1725
Pakistan         900
Karachi          790
                ...
Sibi               1
Bin                1
Shergarh           1
Bahawalnagar       1
Sheikhupura        1
Name: count, Length: 149, dtype: int64

In [60]:
df['location'].value_counts()[:30]

location
Lahore          3842
Karāchi         2274
Islamabad       1725
Pakistan         900
Karachi          790
Rawalpindi       551
Islāmābād        309
Faisalabad       202
Multan           124
Peshawar         105
Punjab            84
Hyderabad         69
Sialkot           60
APAC              51
Gujranwala        49
APJ               38
Quetta            37
New               34
Sindh             32
South             30
Bahawalpur        29
Muzaffargarh      28
Jhelum            22
Gujrāt            21
Sargodha          15
Sukkur            14
Rahim             13
Jamshoro          12
Umarkot           11
Sahiwal           11
Name: count, dtype: int64

In [61]:
df[df['location']=='New']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location
1372,"C++ Developer, Trilogy (Remote) - $200,000/yea...","Crossover · New Karachi Town, Sindh, Pakistan...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3715437982,"5,001-10,000 employees · IT Services and IT Co...",3715437982,Crossover,New
1391,"Senior Software Engineer, Trilogy (Remote) - $...","Crossover · New Karachi Town, Sindh, Pakistan...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3715442480,"5,001-10,000 employees · IT Services and IT Co...",3715442480,Crossover,New
2623,"Development Team Lead, Trilogy (Remote) - $100...","Crossover · New Karachi Town, Sindh, Pakistan...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3731968673,"5,001-10,000 employees · IT Services and IT Co...",3731968673,Crossover,New
2624,"Copywriter, gt.school (Remote) - $100,000/year...","Crossover · New Karachi Town, Sindh, Pakistan...",Full-time · Associate,https://www.linkedin.com/jobs/view/3731972088,"5,001-10,000 employees · IT Services and IT Co...",3731972088,Crossover,New
2625,"Content Writer, gt.school (Remote) - $100,000/...","Crossover · New Karachi Town, Sindh, Pakistan...",Full-time · Associate,https://www.linkedin.com/jobs/view/3731968656,"5,001-10,000 employees · IT Services and IT Co...",3731968656,Crossover,New
2646,"Senior Software Engineer, Trilogy (Remote) - $...","Crossover · New Karachi Town, Sindh, Pakistan...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3731975052,"5,001-10,000 employees · IT Services and IT Co...",3731975052,Crossover,New
2647,"Senior Principal Software Engineer, Trilogy (R...","Crossover · New Karachi Town, Sindh, Pakistan...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3731969505,"5,001-10,000 employees · IT Services and IT Co...",3731969505,Crossover,New
2658,"Full Stack Developer, Trilogy (Remote) - $100,...","Crossover · New Karachi Town, Sindh, Pakistan...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3731969280,"5,001-10,000 employees · IT Services and IT Co...",3731969280,Crossover,New
3128,Technical Writer,HR World International (Pvt. Ltd) - Global Tec...,Full-time,https://www.linkedin.com/jobs/view/3727571469,51-200 employees,3727571469,HR World International (Pvt. Ltd) - Global Tec...,New
3700,Chief Executive Officer,"IBRAHIM TEXTILE INDUSTRY · New Karachi Town, ...",Full-time,https://www.linkedin.com/jobs/view/3734016007,Zaman Ashraf is hiring for this job,3734016007,IBRAHIM TEXTILE INDUSTRY,New
4123,"Senior Software Architect, Trilogy (Remote) - ...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3731971268,"5,001-10,000 employees · IT Services and IT Co...",3731971268,Crossover,New
6816,"Head of Marketing, 2 Hour Learning (Remote) - ...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nDirector,https://www.linkedin.com/jobs/view/3741834601,"5,001-10,000 employees · IT Services and IT Co...",3741834601,Crossover,New
6836,"Senior Software Engineer, Trilogy (Remote) - $...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3741835367,"5,001-10,000 employees · IT Services and IT Co...",3741835367,Crossover,New
6843,"Vice President Product Marketing, 2 Hour Learn...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nDirector,https://www.linkedin.com/jobs/view/3741831795,"5,001-10,000 employees · IT Services and IT Co...",3741831795,Crossover,New
6864,"Lead Software Engineer, Trilogy (Remote) - $10...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3741834387,"5,001-10,000 employees · IT Services and IT Co...",3741834387,Crossover,New
6916,"Director of Product Marketing, 2 Hour Learning...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nDirector,https://www.linkedin.com/jobs/view/3741832504,"5,001-10,000 employees · IT Services and IT Co...",3741832504,Crossover,New
7006,Sales Executive,"Weblinx Solution · New Karachi Town, Sindh, Pa...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3740818571,11-50 employees,3740818571,Weblinx Solution,New
7039,"Senior Developer, Trilogy (Remote) - $100,000/...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3741836249,"5,001-10,000 employees · IT Services and IT Co...",3741836249,Crossover,New
8027,Front Sales,"The Digital Cubicle · New Karachi Town, Sindh,...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3740443848,1-10 employees,3740443848,The Digital Cubicle,New
9738,Telesales Representative,"The Digital Cubicle · New Karachi Town, Sindh,...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3747792629,1-10 employees,3747792629,The Digital Cubicle,New
11363,"AI Architect, Trilogy (Remote) - $200,000/year...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3751416271,"5,001-10,000 employees · IT Services and IT Co...",3751416271,Crossover,New
11373,"Senior AI Engineer, Trilogy (Remote) - $200,00...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3751409950,"5,001-10,000 employees · IT Services and IT Co...",3751409950,Crossover,New
11911,"Lead AI Engineer, Trilogy (Remote) - $200,000/...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3751417178,"5,001-10,000 employees · IT Services and IT Co...",3751417178,Crossover,New
12768,International Sales Executive,"Afridi Trading Japan · New Karachi Town, Sindh...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3731333411,Mariyam Ali is hiring for this job,3731333411,Afridi Trading Japan,New
13509,"AI Architect, Trilogy (Remote) - $200,000/year...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3758776080,"5,001-10,000 employees · IT Services and IT Co...",3758776080,Crossover,New
14847,"Senior Engineering Manager, Trilogy (Remote) -...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3766609609,"5,001-10,000 employees · IT Services and IT Co...",3766609609,Crossover,New
14884,"Staff Software Engineer, Trilogy (Remote) - $2...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3766358229,"5,001-10,000 employees · IT Services and IT Co...",3766358229,Crossover,New
15022,"Director of Financial Planning and Analysis, T...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nDirector,https://www.linkedin.com/jobs/view/3766355716,"5,001-10,000 employees · IT Services and IT Co...",3766355716,Crossover,New
15078,"Senior Software Architect, Trilogy (Remote) - ...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3766352920,"5,001-10,000 employees · IT Services and IT Co...",3766352920,Crossover,New
15101,"Lead Software Engineer, Trilogy (Remote) - $20...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3766355707,"5,001-10,000 employees · IT Services and IT Co...",3766355707,Crossover,New
15104,"Senior Software Engineering Manager, Trilogy (...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3766356438,"5,001-10,000 employees · IT Services and IT Co...",3766356438,Crossover,New
15107,"Vice President Finance, Trilogy (Remote) - $20...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nDirector,https://www.linkedin.com/jobs/view/3766359186,"5,001-10,000 employees · IT Services and IT Co...",3766359186,Crossover,New
15574,"Software Engineering Manager, Trilogy (Remote)...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3766356435,"5,001-10,000 employees · IT Services and IT Co...",3766356435,Crossover,New
15807,"Executive Director Finance, Trilogy (Remote) -...","Crossover · New Karachi Town, Sindh, Pakistan...",Remote\n\n \nFull-time\n\n \nDirector,https://www.linkedin.com/jobs/view/3766353927,"5,001-10,000 employees · IT Services and IT Co...",3766353927,Crossover,New

In [62]:
df['Job Info']

0              EcomFleet · Pakistan (Remote)  \n1 week ago
1        Digicon Valley · Lahore, Punjab, Pakistan (On-...
2        Murkez Technologies · Lahore, Punjab, Pakistan...
3        DevNatives · Islamabad, Islāmābād, Pakistan (H...
4        ItCreaters · Lahore, Punjab, Pakistan (On-site...
                               ...
15869    Codiea.io · Bahawalpur, Punjab, Pakistan  \n1 ...
15870    Bank Alfalah Limited · Karāchi, Sindh, Pakista...
15872    DPL · Islamabad, Islāmābād, Pakistan  \n1 week...
15873    Level 3 BOS · Karachi Division, Sindh, Pakista...
15874    The Hive · Karachi Division, Sindh, Pakistan  ...
Name: Job Info, Length: 11737, dtype: object

In [63]:
df['Job Info'].iloc[3]

'DevNatives · Islamabad, Islāmābād, Pakistan (Hybrid)  \n1 week ago\n\n · 51 applicants'

In [64]:
df['Job Info'].iloc[3].split('·')

['DevNatives ',
 ' Islamabad, Islāmābād, Pakistan (Hybrid)  \n1 week ago\n\n ',
 ' 51 applicants']

In [65]:
df['Job Info'].iloc[3].split('·')[1].split('(')

[' Islamabad, Islāmābād, Pakistan ', 'Hybrid)  \n1 week ago\n\n ']

In [66]:
df['Job Info'].iloc[3].split('·')[1].split('(')[0]

' Islamabad, Islāmābād, Pakistan '

In [67]:
df['location']=df['Job Info'].apply(lambda x:x.split('·')[1].split('(')[0])

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_6020\1119720299.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['location']=df['Job Info'].apply(lambda x:x.split('·')[1].split('(')[0])

In [68]:
df['location']

0                                                Pakistan
1                                Lahore, Punjab, Pakistan
2                                Lahore, Punjab, Pakistan
3                          Islamabad, Islāmābād, Pakistan
4                                Lahore, Punjab, Pakistan
                               ...
15869           Bahawalpur, Punjab, Pakistan  \n1 week ago
15870               Karāchi, Sindh, Pakistan  \n1 week ago
15872     Islamabad, Islāmābād, Pakistan  \n1 week ago\...
15873     Karachi Division, Sindh, Pakistan  \n1 week a...
15874      Karachi Division, Sindh, Pakistan  \n1 week ago
Name: location, Length: 11737, dtype: object

In [69]:
df['location'].unique()

array([' Pakistan ', ' Lahore, Punjab, Pakistan ',
       ' Islamabad, Islāmābād, Pakistan ', ...,
       ' Sakrand, Sindh, Pakistan  \n1 week ago\n\n ',
       ' Sheikhupura District, Punjab, Pakistan  \n1 week ago\n\n ',
       ' Islamabad, Punjab, Pakistan  \n2 weeks ago\n\n '], dtype=object)

In [70]:
len(df['location'].unique())

1163

In [71]:
df['location'].value_counts()

location
 Lahore, Punjab, Pakistan                                  1052
 Karāchi, Sindh, Pakistan                                   624
 Islamabad, Islāmābād, Pakistan                             518
 Lahore, Punjab, Pakistan  \n2 weeks ago                    326
 Karachi Division, Sindh, Pakistan                          242
                                                           ...
 Gulshan Town, Sindh, Pakistan  \n7 hours ago\n\n             1
 Korangi District, Sindh, Pakistan  \n10 hours ago\n\n        1
 Jhelum, Punjab, Pakistan  \n23 hours ago\n\n                 1
 Sāhīwāl, Punjab, Pakistan  \n9 hours ago\n\n                 1
 Islamabad, Punjab, Pakistan  \n2 weeks ago\n\n               1
Name: count, Length: 1163, dtype: int64

In [72]:
df['location'].value_counts()[:30]

location
 Lahore, Punjab, Pakistan                              1052
 Karāchi, Sindh, Pakistan                               624
 Islamabad, Islāmābād, Pakistan                         518
 Lahore, Punjab, Pakistan  \n2 weeks ago                326
 Karachi Division, Sindh, Pakistan                      242
 Pakistan                                               236
 Lahore, Punjab, Pakistan  \n2 weeks ago\n\n            199
 Lahore, Punjab, Pakistan  \n1 week ago                 194
 Lahore, Punjab, Pakistan  \n1 week ago\n\n             177
 Karāchi, Sindh, Pakistan  \n1 week ago\n\n             145
 Lahore, Punjab, Pakistan  \n1 month ago                138
 Karāchi, Sindh, Pakistan  \n2 weeks ago                138
 Rawalpindi, Punjab, Pakistan                           127
 Karāchi, Sindh, Pakistan  \n2 weeks ago\n\n            127
 Islamabad, Islāmābād, Pakistan  \n2 weeks ago\n\n      126
 Pakistan  \n2 weeks ago\n\n                            124
 Islamabad, Islāmābād, Pakistan  \n2 weeks ago          113
 Karāchi, Sindh, Pakistan  \n1 week ago                 112
 Lahore, Punjab, Pakistan  \n3 days ago\n\n              98
 Karāchi, Sindh, Pakistan  \n3 days ago\n\n              94
 Islāmābād, Pakistan                                     90
 Lahore, Punjab, Pakistan Reposted  \n1 week ago         90
 Islamabad, Islāmābād, Pakistan  \n1 week ago\n\n        90
 Lahore, Punjab, Pakistan  \n2 days ago\n\n              89
 Lahore, Punjab, Pakistan  \n5 days ago\n\n              85
 Lahore District, Punjab, Pakistan                       83
 Karāchi, Sindh, Pakistan  \n1 month ago                 81
 Lahore, Punjab, Pakistan  \n1 day ago\n\n               79
 Islamabad, Islāmābād, Pakistan  \n1 week ago            76
 Lahore, Punjab, Pakistan  \n3 days ago                  73
Name: count, dtype: int64

In [73]:
# df_concat['Lahore, Punjab, Pakistan  \n1 week ago\n\n' in df_concat['Job Info']]

In [74]:
df[df['location']==' Lahore District, Punjab, Pakistan  \n1 week ago']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location
94,Social Media Manager,"siyaahat.pk · Lahore District, Punjab, Pakista...",Full-time,https://www.linkedin.com/jobs/view/525119752,1-10 employees,525119752,siyaahat.pk,"Lahore District, Punjab, Pakistan \n1 week ago"
4284,Business Development Executive,CEO Clubs Worldwide - Pakistan Chapter · Lahor...,On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3735035487,51-200 employees,3735035487,CEO Clubs Worldwide - Pakistan Chapter,"Lahore District, Punjab, Pakistan \n1 week ago"
4427,UI/UX Designer || Team Lead,ZAPTA Technologies (Pvt.) Limited · Lahore Dis...,On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3735033203,51-200 employees,3735033203,ZAPTA Technologies (Pvt.) Limited,"Lahore District, Punjab, Pakistan \n1 week ago"
4804,Corporate Receptionist,"READ SOLAR PVT LTD · Lahore District, Punjab, ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3726506151,11-50 employees,3726506151,READ SOLAR PVT LTD,"Lahore District, Punjab, Pakistan \n1 week ago"
5224,Appointment Setter,"Progressive Marketing · Lahore District, Punja...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3732023766,1-10 employees,3732023766,Progressive Marketing,"Lahore District, Punjab, Pakistan \n1 week ago"
13693,Full Stack Developer,"Senew Tech · Lahore District, Punjab, Pakistan...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767771812,"501-1,000 employees",3767771812,Senew Tech,"Lahore District, Punjab, Pakistan \n1 week ago"
14129,Full Stack Dev (.NET & React),"TekFirst · Lahore District, Punjab, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3766492908,11-50 employees,3766492908,TekFirst,"Lahore District, Punjab, Pakistan \n1 week ago"
14306,Emergency Services Counsellor (Part time),Lahore University of Management Sciences · Lah...,On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3764139616,"1,001-5,000 employees · Higher Education",3764139616,Lahore University of Management Sciences,"Lahore District, Punjab, Pakistan \n1 week ago"
15865,YouTube Channel Producer,"Senew Tech · Lahore District, Punjab, Pakistan...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767643794,"501-1,000 employees",3767643794,Senew Tech,"Lahore District, Punjab, Pakistan \n1 week ago"

In [75]:
print(df[df['location']==' Lahore District, Punjab, Pakistan  \n1 week ago']['Job Info'])

94       siyaahat.pk · Lahore District, Punjab, Pakista...
4284     CEO Clubs Worldwide - Pakistan Chapter · Lahor...
4427     ZAPTA Technologies (Pvt.) Limited · Lahore Dis...
4804     READ SOLAR PVT LTD · Lahore District, Punjab, ...
5224     Progressive Marketing · Lahore District, Punja...
13693    Senew Tech · Lahore District, Punjab, Pakistan...
14129    TekFirst · Lahore District, Punjab, Pakistan  ...
14306    Lahore University of Management Sciences · Lah...
15865    Senew Tech · Lahore District, Punjab, Pakistan...
Name: Job Info, dtype: object

In [76]:
df.iloc[94]['Job Info']

'siyaahat.pk · Lahore District, Punjab, Pakistan  \n1 week ago'

In [77]:
df.iloc[94]['Job Info'].strip('\n')

'siyaahat.pk · Lahore District, Punjab, Pakistan  \n1 week ago'

In [78]:
'siyaahat.pk · Lahore District, Punjab, Pakistan  \n1 week ago'.strip('\n')

'siyaahat.pk · Lahore District, Punjab, Pakistan  \n1 week ago'

In [79]:
'siyaahat.pk · Lahore District, Punjab, Pakistan  \n1 week ago'.strip('\n1 week ago')

'siyaahat.pk · Lahore District, Punjab, Pakistan'

In [80]:
'siyaahat.pk · Lahore District, Punjab, Pakistan  \n1 week ago'.strip('\n2 week ago\n1 week ago')

'siyaahat.pk · Lahore District, Punjab, Pakistan'

In [81]:
'siyaahat.pk · Lahore District, Punjab, Pakistan  \n1 week ago'.strip('\n2 week ago')

'siyaahat.pk · Lahore District, Punjab, Pakistan  \n1'

In [82]:
df.iloc[94]['Job Type']

'Full-time'

In [83]:
df['location']=df['Job Info'].apply(lambda x:x.split('·')[1].split('(')[0].strip('\n2 week ago\n1 week ago'))
#not correctly remove \n2 weeks

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_6020\1454157284.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['location']=df['Job Info'].apply(lambda x:x.split('·')[1].split('(')[0].strip('\n2 week ago\n1 week ago'))

In [84]:
df['location']

0                                 Pakistan
1                 Lahore, Punjab, Pakistan
2                 Lahore, Punjab, Pakistan
3           Islamabad, Islāmābād, Pakistan
4                 Lahore, Punjab, Pakistan
                       ...
15869         Bahawalpur, Punjab, Pakistan
15870             Karāchi, Sindh, Pakistan
15872       Islamabad, Islāmābād, Pakistan
15873    Karachi Division, Sindh, Pakistan
15874    Karachi Division, Sindh, Pakistan
Name: location, Length: 11737, dtype: object

In [85]:
df['location'].unique()

array(['Pakistan', 'Lahore, Punjab, Pakistan',
       'Islamabad, Islāmābād, Pakistan', 'Karāchi, Sindh, Pakistan',
       'Peshawar, Khyber Pakhtunkhwa, Pakistan', 'Islāmābād, Pakistan',
       'Rawalpindi, Punjab, Pakistan', 'Multan, Punjab, Pakistan',
       'Karachi Division, Sindh, Pakistan', 'Hyderabad, Sindh, Pakistan',
       'Lahore District, Punjab, Pakistan',
       'Mirpur, Azad Kashmir, Pakistan', 'Kharian, Punjab, Pakistan',
       'Sindh, Pakistan', 'Lahore, Punjab, Pakistan  \n2 weeks',
       'Faisalabad, Punjab, Pakistan',
       'Islamabad, Islāmābād, Pakistan Reposted',
       'Jhelum, Punjab, Pakistan  \n2 weeks', 'Gujrāt, Punjab, Pakistan',
       'Korangi District, Sindh, Pakistan',
       'Bahawalpur, Punjab, Pakistan', 'Gulshan Town, Sindh, Pakistan',
       'Gujranwala, Punjab, Pakistan', 'Sukkur, Sindh, Pakistan',
       'Punjab, Pakistan', 'Shekhūpura, Punjab, Pakistan',
       'Sargodha, Punjab, Pakistan', 'Jhelum, Punjab, Pakistan',
       'Wazirabad, Punjab, Pakistan',
       'Mānsehra, Khyber Pakhtunkhwa, Pakistan',
       'Sialkot, Punjab, Pakistan', 'Chakwāl, Punjab, Pakistan',
       'Muzaffargarh, Punjab, Pakistan', 'Nawabshah, Sindh, Pakistan',
       'Muzaffargarh District, Punjab, Pakistan',
       'Peshawar, Khyber Pakhtunkhwa, Pakistan Reposted',
       'Mardān, Khyber Pakhtunkhwa, Pakistan',
       'Gujrat District, Punjab, Pakistan',
       'Dera Ghazi Khan, Punjab, Pakistan',
       'Jhelum, Punjab, Pakistan Reposted', 'Sāhīwāl, Punjab, Pakistan',
       'Rawalpindi District, Punjab, Pakistan', 'Jhang, Punjab, Pakistan',
       'Punjab, Pakistan Reposted  \n6 days',
       'Sahiwal District, Punjab, Pakistan',
       'Quetta, Baluchistan, Pakistan',
       'Karāchi, Sindh, Pakistan  \n2 weeks', 'Vienna, Austri',
       'Lahore, Punjab, Pakistan Reposted',
       'Lahore, Punjab, Pakistan Reposted  \n5 hours',
       'Islamabad, Islāmābād, Pakistan Reposted  \n4 days',
       'Karāchi, Sindh, Pakistan Reposted',
       'Rahimyar Khan, Punjab, Pakistan', 'Milan, Lombardy, Italy',
       'Lodhran Tehsil, Punjab, Pakistan',
       'Mirpur Khas District, Sindh, Pakistan', 'South Asi',
       'Zhob, Baluchistan, Pakistan', 'Jamshoro, Sindh, Pakistan',
       'Lahore, Punjab, Pakistan Reposted  \n5 days',
       'Khyber Pakhtunkhwa, Pakistan',
       'New Karachi Town, Sindh, Pakistan',
       'Rakhni, Baluchistan, Pakistan', 'Taxila, Punjab, Pakistan',
       'APAC', 'Karachi Division, Sindh, Pakistan Reposted',
       'Azad Kashmir, Pakistan', 'Faisalabad, Punjab, Pakistan Reposted',
       'Islamabad, Islāmābād, Pakistan Reposted  \n6 days',
       'Toba Tek Singh, Punjab, Pakistan', 'Thatta, Sindh, Pakistan',
       'Jarānwāla, Punjab, Pakistan Reposted',
       'Mīrpur Khās, Sindh, Pakistan',
       'Larkana District, Sindh, Pakistan', 'Pasrur, Punjab, Pakistan',
       'Sarai Alamgir Tehsil, Punjab, Pakistan',
       'Sahiwal Division, Punjab, Pakistan',
       'Panjgur, Baluchistan, Pakistan',
       'Hyderabad District, Sindh, Pakistan', 'Baloch Colony, Pakistan',
       'Attock, Punjab, Pakistan Reposted',
       'Rahim Yar Khan District, Punjab, Pakistan',
       'Ratodero, Sindh, Pakistan', 'APJ',
       'Chakwal District, Punjab, Pakistan',
       'Islamabad, Punjab, Pakistan', 'İzmir, İzmir, Turkey',
       'Miān Channūn, Punjab, Pakistan',
       'Battagram, Khyber Pakhtunkhwa, Pakistan',
       'Harīpur, Khyber Pakhtunkhwa, Pakistan',
       'Jamshoro, Sindh, Pakistan Reposted  \n1 hour',
       'Lahore, Punjab, Pakistan Reposted  \n2 hours',
       'Gujranwala District, Punjab, Pakistan',
       'Lahore Division, Punjab, Pakistan',
       'Naushahro Feroze District, Sindh, Pakistan',
       'Islamabad, Islāmābād, Pakistan Reposted  \n5 days',
       'Khuzdar, Baluchistan, Pakistan',
       'Karāchi, Sindh, Pakistan  \n6 days',
       'Kasur District, Punjab, Pakistan',
       'Sukkur District, Sindh, Pakistan',
       'Abbottabad District, Khyber Pakhtunkhwa, Pakistan',
       'Islamabad, Islāmābād, Pakistan Reposted  \n5 hours',
       'Malir District, Sindh, Pakistan', 'Vehari, Punjab, Pakistan',
       'Kahuta, Punjab, Pakistan', 'Badin, Sindh, Pakistan',
       'Karāchi, Sindh, Pakistan Reposted  \n6 days',
       'Karāchi, Sindh, Pakistan Reposted  \n3 days',
       'Sahiwal, Punjab, Pakistan',
       'Islamabad, Islāmābād, Pakistan  \n6 days',
       'Lahore, Punjab, Pakistan Reposted  \n6 days',
       'Lahore, Punjab, Pakistan  \n6 days',
       'Thal, Khyber Pakhtunkhwa, Pakistan', 'Landhi, Sindh, Pakistan',
       'Shikarpur, Sindh, Pakistan',
       'Faisalabad District, Punjab, Pakistan',
       'Karāchi, Sindh, Pakistan Reposted  \n4 days',
       'Islamabad, Islāmābād, Pakistan Reposted  \n1 day',
       'Bhakkar, Punjab, Pakistan',
       'Karāchi, Sindh, Pakistan Reposted  \n2 days',
       'Karāchi, Sindh, Pakistan Reposted  \n1 day',
       'Lahore, Punjab, Pakistan Reposted  \n2 days',
       'Lahore, Punjab, Pakistan Reposted  \n1 day',
       'Karāchi, Sindh, Pakistan  \n5 days',
       'Karāchi, Sindh, Pakistan Reposted  \n5 days',
       'Bahrain, Khyber Pakhtunkhwa, Pakistan', 'Metro Manil',
       'Lahore, Punjab, Pakistan Reposted  \n4 days',
       'Jarānwāla, Punjab, Pakistan Reposted  \n1 day',
       'Kohāt, Khyber Pakhtunkhwa, Pakistan',
       'Lahore, Punjab, Pakistan Reposted  \n3 days',
       'Karāchi, Sindh, Pakistan  \n4 days', 'Okāra, Punjab, Pakistan',
       'Islamabad, Islāmābād, Pakistan Reposted  \n3 days',
       'Islamabad, Islāmābād, Pakistan  \n4 days',
       'Islāmābād, Pakistan  \n4 days',
       'Karachi Division, Sindh, Pakistan  \n4 days',
       'Pakistan Reposted  \n4 days',
       'Lahore, Punjab, Pakistan  \n4 days',
       'Karachi Division, Sindh, Pakistan Reposted  \n4 days',
       'Islāmābād, Pakistan Reposted  \n4 days',
       'Sindh, Pakistan  \n4 days', 'Punjab, Pakistan  \n4 days',
       'Sialkot, Punjab, Pakistan  \n4 days', 'APJ  \n4 days',
       'Pakistan  \n4 days', 'Nawabshah, Sindh, Pakistan  \n4 days',
       'Gujranwala District, Punjab, Pakistan  \n4 days',
       'Bahawalnagar District, Punjab, Pakistan  \n4 days',
       'Muzaffargarh, Punjab, Pakistan  \n4 days',
       'Lahore, Punjab, Pakistan Reposted  \n7 hours',
       'New Karachi Town, Sindh, Pakistan Reposted  \n3 days',
       'APAC  \n4 days',
       'Rawalpindi, Punjab, Pakistan Reposted  \n3 days',
       'Rawalpindi, Punjab, Pakistan  \n4 days',
       'Multan, Punjab, Pakistan  \n4 days',
       'Rawalpindi, Punjab, Pakistan Reposted  \n8 hours',
       'Quetta, Baluchistan, Pakistan  \n4 days',
       'Badin, Sindh, Pakistan  \n4 days', 'South Asia  \n4 days',
       'APAC Reposted  \n3 days', 'Pakistan Reposted', 'APAC Reposted',
       'Islamabad, Islāmābād, Pakistan Reposted  \n14 hours',
       'Lahore, Punjab, Pakistan Reposted  \n14 hours',
       'Rawalpindi, Punjab, Pakistan Reposted  \n14 hours',
       'Islamabad, Islāmābād, Pakistan Reposted  \n2 days',
       'Shergarh, Punjab, Pakistan Reposted',
       'Hyderabad, Sindh, Pakistan Reposted  \n2 days',
       'Chaman, Baluchistan, Pakistan',
       'Karachi Division, Sindh, Pakistan Reposted  \n2 days',
       'Islāmābād, Pakistan Reposted',
       'Lahore, Punjab, Pakistan Reposted  \n4 hours',
       'Islamabad, Islāmābād, Pakistan Reposted  \n22 hours',
       'Lahore, Punjab, Pakistan Reposted  \n12 hours',
       'Rawalpindi, Punjab, Pakistan Reposted  \n22 hours',
       'Bin Qasim Town, Sindh, Pakistan',
       'Lahore, Punjab, Pakistan Reposted  \n22 hours',
       'Hyderabad, Sindh, Pakistan Reposted  \n22 hours',
       'Karāchi, Sindh, Pakistan Reposted  \n22 hours',
       'Rawalpindi, Punjab, Pakistan Reposted  \n23 hours',
       'Lahore, Punjab, Pakistan Reposted  \n23 hours',
       'Karāchi, Sindh, Pakistan Reposted  \n23 hours',
       'Islamabad, Islāmābād, Pakistan Reposted  \n23 hours',
       'Pakistan Reposted  \n23 hours',
       'Sukkur Division, Sindh, Pakistan',
       'Peshawar District, Khyber Pakhtunkhwa, Pakistan',
       'Hyderabad, Sindh, Pakistan Reposted  \n23 hours',
       'Pakistan Reposted  \n6 days',
       'Multan, Punjab, Pakistan Reposted  \n23 hours',
       'Multan, Punjab, Pakistan Reposted  \n1 day', 'Pakistan  \n6 days',
       'Hyderabad, Sindh, Pakistan Reposted',
       'Faisalabad, Punjab, Pakistan Reposted  \n6 days',
       'Sibi, Baluchistan, Pakistan',
       'Karachi Division, Sindh, Pakistan  \n6 days',
       'Islamabad, Islāmābād, Pakistan Reposted  \n17 hours',
       'Islāmābād, Pakistan  \n6 days',
       'Chaman, Baluchistan, Pakistan  \n6 days',
       'Faisalabad, Punjab, Pakistan Reposted  \n1 day',
       'Rawalpindi, Punjab, Pakistan  \n6 days',
       'Karachi Division, Sindh, Pakistan Reposted  \n6 days',
       'Faisalabad, Punjab, Pakistan  \n6 days',
       'Gujranwala, Punjab, Pakistan  \n6 days',
       'Punjab, Pakistan  \n6 days',
       'Lahore District, Punjab, Pakistan  \n6 days',
       'Peshawar, Khyber Pakhtunkhwa, Pakistan  \n6 days',
       'South Asia Reposted  \n5 days', 'Bagar, Punjab, Pakistan',
       'Quetta, Baluchistan, Pakistan  \n6 days',
       'Hyderabad District, Sindh, Pakistan  \n6 days',
       'Lahore, Punjab, Pakistan  \n5 days',
       'Islāmābād, Pakistan  \n5 days',
       'Multan, Punjab, Pakistan  \n5 days',
       'Quetta, Baluchistan, Pakistan  \n5 days', 'Pakistan  \n5 days',
       'Islamabad, Islāmābād, Pakistan  \n5 days',
       'Pakistan Reposted  \n5 days',
       'Karachi Division, Sindh, Pakistan  \n5 days',
       'Islamabad, Islāmābād, Pakistan Reposted  \n11 hours',
       'Pakistan Reposted  \n6 hours',
       'Lahore District, Punjab, Pakistan  \n5 days',
       'Rahim Yar Khan District, Punjab, Pakistan Reposted  \n2 days',
       'Islāmābād, Pakistan Reposted  \n5 days',
       'Rawalpindi, Punjab, Pakistan  \n5 days',
       'Punjab, Pakistan  \n5 days', 'Pakistan Reposted  \n12 hours',
       'Kabirwala, Punjab, Pakistan Reposted  \n3 days',
       'Pakistan Reposted  \n1 day',
       'Hyderabad, Sindh, Pakistan  \n6 days',
       'Faisalabad, Punjab, Pakistan  \n5 days',
       'Multan, Punjab, Pakistan  \n6 days',
       'Karachi Division, Sindh, Pakistan Reposted  \n5 days',
       'Shekhūpura, Punjab, Pakistan  \n6 days',
       'Karāchi, Sindh, Pakistan Reposted  \n19 hours', 'APJ  \n5 days',
       'APAC  \n6 days',
       'Peshawar, Khyber Pakhtunkhwa, Pakistan  \n5 days',
       'South Asia  \n5 days',
       'Islamabad, Islāmābād, Pakistan Reposted  \n15 hours',
       'Peshawar, Khyber Pakhtunkhwa, Pakistan Reposted  \n8 hours',
       'Pakistan Reposted  \n13 hours',
       'Islamabad, Islāmābād, Pakistan Reposted  \n8 hours',
       'Rawalpindi, Punjab, Pakistan Reposted  \n1 day',
       'Faisalabad, Punjab, Pakistan  \n4 days',
       'Faisalabad, Punjab, Pakistan Reposted  \n5 days',
       'Peshawar, Khyber Pakhtunkhwa, Pakistan Reposted  \n1 day',
       'Kasūr, Punjab, Pakistan  \n5 days',
       'Hyderabad, Sindh, Pakistan Reposted  \n1 day',
       'Mehmood Kot, Punjab, Pakistan  \n5 days',
       'Azad Kashmir, Pakistan  \n5 days',
       'Muzaffargarh, Punjab, Pakistan  \n5 days',
       'Bahadar Kot, Khyber Pakhtunkhwa, Pakistan  \n5 days',
       'Sahiwal, Punjab, Pakistan  \n5 days', 'APAC Reposted  \n5 days',
       'Fazilpur, Punjab, Pakistan  \n5 days',
       'Qasba Gujrat, Punjab, Pakistan  \n5 days',
       'Shikarpur, Sindh, Pakistan  \n5 days',
       'Sindh, Pakistan  \n5 days',
       'Bahawalpur, Punjab, Pakistan  \n5 days',
       'Karāchi, Sindh, Pakistan  \n3 days', 'Pakistan  \n3 days',
       'Islamabad, Islāmābād, Pakistan  \n3 days',
       'Lahore, Punjab, Pakistan  \n3 days',
       'Mall Nau, Baluchistan, Pakistan Reposted  \n3 days',
       'Lahore District, Punjab, Pakistan  \n3 days',
       'Faisalabad, Punjab, Pakistan  \n3 days',
       'Islāmābād, Pakistan  \n3 days',
       'Rawalpindi, Punjab, Pakistan  \n3 days', 'APAC  \n3 days',
       'Lahore Division, Punjab, Pakistan  \n3 days',
       'Islāmābād, Pakistan Reposted  \n3 days',
       'Jamshoro, Sindh, Pakistan Reposted  \n3 days',
       'Punjab, Pakistan  \n2 days', 'Punjab, Pakistan  \n3 days',
       'Islamabad, Islāmābād, Pakistan  \n2 days',
       'Kot Chutta, Punjab, Pakistan  \n2 days',
       'Pakistan Reposted  \n10 hours',
       'Peshawar, Khyber Pakhtunkhwa, Pakistan  \n3 days',
       'Karachi Division, Sindh, Pakistan  \n3 days', 'APJ  \n3 days',
       'Gujranwala, Punjab, Pakistan  \n3 days',
       'Jhang, Punjab, Pakistan  \n3 days',
       'Hyderabad, Sindh, Pakistan  \n3 days',
       'Multan District, Punjab, Pakistan  \n3 days',
       'Multan, Punjab, Pakistan  \n3 days',
       'Gujrāt, Punjab, Pakistan  \n3 days',
       'Bahawalpur District, Punjab, Pakistan  \n3 days',
       'Lahore District, Punjab, Pakistan Reposted  \n3 days',
       'Haripur District, Khyber Pakhtunkhwa, Pakistan  \n3 days',
       'Korangi District, Sindh, Pakistan Reposted  \n3 days',
       'Jamshoro, Sindh, Pakistan Reposted  \n1 day',
       'Hyderabad District, Sindh, Pakistan  \n3 days',
       'Sahiwal Division, Punjab, Pakistan  \n3 days',
       'Lahore, Punjab, Pakistan  \n2 days',
       'Karāchi, Sindh, Pakistan  \n2 days',
       'Peshawar, Khyber Pakhtunkhwa, Pakistan  \n2 days',
       'Parkersburg, WV Reposted  \n2 days',
       'Lahore District, Punjab, Pakistan  \n2 days',
       'Lahore, Punjab, Pakistan Reposted  \n13 hours',
       'Islamabad, Islāmābād, Pakistan Reposted  \n20 hours',
       'Islāmābād, Pakistan  \n2 days',
       'Sialkot, Punjab, Pakistan  \n3 days',
       'Islamabad, Islāmābād, Pakistan Reposted  \n12 hours',
       'Rawalpindi, Punjab, Pakistan Reposted  \n21 hours',
       'South Asia  \n3 days',
       'Sahiwal, Punjab, Pakistan Reposted  \n3 days',
       'Pakistan Reposted  \n2 days',
       'Narowal District, Punjab, Pakistan  \n2 days',
       'Karachi Division, Sindh, Pakistan  \n2 days',
       'Pakistan  \n2 days',
       'Islamabad, Islāmābād, Pakistan Reposted  \n18 hours',
       'Lahore, Punjab, Pakistan Reposted  \n17 hours',
       'Multan, Punjab, Pakistan Reposted  \n20 hours',
       'Multan, Punjab, Pakistan Reposted  \n18 hours',
       'Karāchi, Sindh, Pakistan Reposted  \n17 hours',
       'Khyber Pakhtunkhwa, Pakistan  \n3 days',
       'Karāchi, Sindh, Pakistan Reposted  \n20 hours',
       'Lahore, Punjab, Pakistan Reposted  \n18 hours',
       'Karāchi, Sindh, Pakistan Reposted  \n18 hours',
       'Rawalpindi, Punjab, Pakistan Reposted  \n18 hours',
       'Lahore, Punjab, Pakistan Reposted  \n21 hours',
       'New Karachi Town, Sindh, Pakistan Reposted  \n1 day',
       'Lahore District, Punjab, Pakistan  \n1 day',
       'Islamabad, Islāmābād, Pakistan Reposted  \n21 hours',
       'New Karachi Town, Sindh, Pakistan Reposted  \n21 hours',
       'Lahore, Punjab, Pakistan Reposted  \n20 hours',
       'Peshawar, Khyber Pakhtunkhwa, Pakistan Reposted  \n20 hours',
       'Islamabad, Punjab, Pakistan  \n3 days',
       'Faisalabad, Punjab, Pakistan  \n2 days',
       'Jhelum, Punjab, Pakistan  \n2 days', 'India  \n2 days',
       'Rawalpindi, Punjab, Pakistan Reposted  \n19 hours',
       'Islamabad, Islāmābād, Pakistan Reposted  \n19 hours',
       'Quetta, Baluchistan, Pakistan  \n2 days',
       'New Karachi Town, Sindh, Pakistan Reposted  \n22 hours',
       'Multan, Punjab, Pakistan  \n2 days',
       'Rawalpindi, Punjab, Pakistan  \n2 days',
       'Hyderabad District, Sindh, Pakistan  \n2 days',
       'Pakistan Reposted  \n21 hours',
       'Karachi Division, Sindh, Pakistan Reposted  \n18 hours',
       'New Karachi Town, Sindh, Pakistan  \n3 days',
       'Lodhran District, Punjab, Pakistan  \n2 days',
       'Lahore, Punjab, Pakistan Reposted  \n19 hours',
       'Quetta, Baluchistan, Pakistan  \n3 days',
       'Okāra, Punjab, Pakistan  \n3 days',
       'Rawalpindi, Punjab, Pakistan Reposted  \n20 hours',
       'Kot Abdul Malik, Punjab, Pakistan  \n3 days',
       'APAC Reposted  \n2 days', 'Kharian, Punjab, Pakistan  \n2 days',
       'Jhelum, Punjab, Pakistan Reposted  \n2 days',
       'Mānsehra, Khyber Pakhtunkhwa, Pakistan  \n2 days',
       'Faisalabad, Punjab, Pakistan Reposted  \n2 days',
       'Islāmābād, Pakistan Reposted  \n2 days',
       'Sindh, Pakistan  \n2 days',
       'Shekhūpura, Punjab, Pakistan  \n2 days',
       'Sialkot, Punjab, Pakistan  \n2 days',
       'Pakistan Reposted  \n14 hours',
       'Hyderabad, Sindh, Pakistan  \n2 days',
       'Peshawar, Khyber Pakhtunkhwa, Pakistan Reposted  \n23 hours',
       'Nawabshah, Sindh, Pakistan  \n2 days',
       'Gujranwala District, Punjab, Pakistan  \n2 days',
       'Ahmadpur East Tehsil, Punjab, Pakistan  \n2 days',
       'Naya Nazimabad, Pakistan  \n2 days',
       'Muzaffarabad, Azad Kashmir, Pakistan  \n2 days',
       'Lahore, Punjab, Pakistan  \n1 day',
       'Karāchi, Sindh, Pakistan  \n1 day', 'Pakistan  \n1 day',
       'Islāmābād, Pakistan  \n1 day',
       'Islamabad, Islāmābād, Pakistan  \n1 day',
       'Rawalpindi, Punjab, Pakistan  \n1 day',
       'Faisalabad, Punjab, Pakistan  \n1 day',
       'Karachi Division, Sindh, Pakistan  \n1 day',
       'South Asia  \n2 days',
       'Karachi Division, Sindh, Pakistan Reposted  \n20 hours',
       'Pakistan Reposted  \n18 hours',
       'Mandi Bahauddin District, Punjab, Pakistan  \n1 day',
       'Sialkot, Punjab, Pakistan  \n1 day',
       'Quetta, Baluchistan, Pakistan  \n1 day',
       'Punjab, Pakistan  \n1 day', 'APJ  \n1 day',
       'Khyber Pakhtunkhwa, Pakistan  \n1 day',
       'Kharian, Punjab, Pakistan  \n1 day',
       'Peshawar, Khyber Pakhtunkhwa, Pakistan  \n1 day',
       'Sargodha, Punjab, Pakistan  \n2 days',
       'Clifton, Sindh, Pakistan  \n1 day', 'APAC  \n2 days',
       'Kohāt, Khyber Pakhtunkhwa, Pakistan  \n2 days', 'APJ  \n2 days',
       'Islamabad, Islāmābād, Pakistan  \n23 hours',
       'Pakistan  \n17 hours', 'Karāchi, Sindh, Pakistan  \n21 hours',
       'Pakistan  \n16 hours', 'Pakistan  \n21 hours',
       'Lahore, Punjab, Pakistan  \n19 hours',
       'Lahore, Punjab, Pakistan  \n20 hours',
       'Lahore, Punjab, Pakistan  \n17 hours',
       'Karāchi, Sindh, Pakistan  \n16 hours',
       'Islamabad, Islāmābād, Pakistan  \n19 hours',
       'Lahore District, Punjab, Pakistan Reposted  \n1 day',
       'Multan, Punjab, Pakistan  \n1 day',
       'Rawalpindi, Punjab, Pakistan  \n20 hours',
       'Lodhran District, Punjab, Pakistan  \n1 day',
       'Islamabad, Islāmābād, Pakistan  \n21 hours',
       'Faisalabad, Punjab, Pakistan  \n20 hours',
       'Lahore, Punjab, Pakistan  \n22 hours',
       'Rawalpindi, Punjab, Pakistan  \n23 hours',
       'Karachi Division, Sindh, Pakistan Reposted  \n1 day',
       'Lahore, Punjab, Pakistan  \n21 hours',
       'Peshawar District, Khyber Pakhtunkhwa, Pakistan  \n1 day',
       'Sindh, Pakistan  \n1 day',
       'Dera Ghazi Khan District, Punjab, Pakistan  \n1 day',
       'Rawalpindi, Punjab, Pakistan  \n17 hours', 'Pakistan  \n22 hours',
       'Lahore, Punjab, Pakistan  \n12 hours',
       'Islamabad, Islāmābād, Pakistan  \n17 hours',
       'Karāchi, Sindh, Pakistan  \n23 hours',
       'Bahawalpur, Punjab, Pakistan  \n1 day',
       'Hyderabad, Sindh, Pakistan  \n1 day',
       'Multan, Punjab, Pakistan  \n23 hours',
       'Gujranwala, Punjab, Pakistan  \n1 day',
       'Lahore, Punjab, Pakistan  \n23 hours',
       'Sialkot District, Punjab, Pakistan  \n1 day',
       'Pakistan  \n13 hours', 'APJ  \n12 hours',
       'Lahore, Punjab, Pakistan  \n11 hours',
       'Islamabad, Islāmābād, Pakistan  \n22 hours',
       'Faisalabad, Punjab, Pakistan  \n23 hours',
       'New Karachi Town, Sindh, Pakistan  \n20 hours',
       'Abbottabad Tehsil, Khyber Pakhtunkhwa, Pakistan  \n23 hours',
       'Karachi Division, Sindh, Pakistan  \n13 hours',
       'Karāchi, Sindh, Pakistan  \n20 hours',

In [86]:
len(df['location'].unique())

939

# 19 oct 2023

In [87]:
df['Job Info'].iloc[3]

'DevNatives · Islamabad, Islāmābād, Pakistan (Hybrid)  \n1 week ago\n\n · 51 applicants'

In [88]:
df['Job Info'].iloc[3].split('(')

['DevNatives · Islamabad, Islāmābād, Pakistan ',
 'Hybrid)  \n1 week ago\n\n · 51 applicants']

In [89]:
df['Job Info'].iloc[3].split('(')[1].split(')')

['Hybrid', '  \n1 week ago\n\n · 51 applicants']

In [90]:
df['Job Info'].iloc[3].split('(')[1].split(')')[0]

'Hybrid'

In [91]:
# df['Remote/Onsite']=df['Job Info'].apply(lambda x:x.split('(')[1].split(')')[0])
# # IndexError: list index out of range

In [92]:
# i=0
# for info in df['Job Info']:
#     print(info.split('(')[1].split(')')[0])
#     i=i+1
#     print(info)
# # IndexError: list index out of range

In [93]:
# i

In [94]:
df.iloc[87]['Job Info']

'Contour Software · Lahore, Punjab, Pakistan  \n2 weeks ago\n\n · 154 applicants'

In [95]:
# i=0
# for info in df['Job Info']:
#     try:
#         print(info.split('(')[1].split(')')[0])
#     except IndexError:
#         print('Not specified')
#     i=i+1
#     print(i)

In [96]:
# pvt value observed

In [97]:
# for couting how many pvt values
# i=0
# for info in df['Job Info']:
#     try:
#         a=info.split('(')[1].split(')')[0])
#     except IndexError:
#         a='Not specified'
#     i=i+1
#     if a=='Pvt':
#         print(i)
# # SyntaxError: unmatched ')'

In [98]:
df.iloc[11]['Job Info']

'ArhamSoft (Pvt) Ltd · Lahore, Punjab, Pakistan (On-site)  \n1 week ago'

In [99]:
df.iloc[11]['Job Info'].split('·')[1].split('(')[1].split(')')[0]

'On-site'

In [100]:
remote_onsite_list=[]
for info in df['Job Info']:
    try:
        remote_onsite_list.append(info.split('·')[1].split('(')[1].split(')')[0])
    except IndexError:
        remote_onsite_list.append('Not specified')

In [101]:
# remote_onsite_list

In [102]:
len(remote_onsite_list)

11737

In [103]:
df['Remote/Onsite']=remote_onsite_list
# df['Remote/Onsite']=pd.Series(remote_onsite_list)

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_6020\3071556669.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Remote/Onsite']=remote_onsite_list

In [104]:
df['Remote/Onsite']

0               Remote
1              On-site
2              On-site
3               Hybrid
4              On-site
             ...
15869    Not specified
15870    Not specified
15872    Not specified
15873    Not specified
15874    Not specified
Name: Remote/Onsite, Length: 11737, dtype: object

In [105]:
df['Remote/Onsite'].unique()

array(['Remote', 'On-site', 'Hybrid', 'Not specified'], dtype=object)

In [106]:
df['Remote/Onsite'].value_counts()

Remote/Onsite
Not specified    8396
On-site          2616
Remote            525
Hybrid            200
Name: count, dtype: int64

In [107]:
df['Job Info'].iloc[3]

'DevNatives · Islamabad, Islāmābād, Pakistan (Hybrid)  \n1 week ago\n\n · 51 applicants'

In [108]:
df['Job Info'].iloc[3].split('·')[2]

' 51 applicants'

In [109]:
# df['n-applicants']=df['Job Info'].apply(lambda x:x.split('·')[2])
# # IndexError: list index out of range

In [110]:
# i=0
# for info in df['Job Info']:
#     print(info.split('·')[2])
#     i=i+1
#     print(info)
# # IndexError: list index out of range

In [111]:
# i

In [112]:
df.iloc[0]['Job Info']

'EcomFleet · Pakistan (Remote)  \n1 week ago'

#application not given

In [113]:
df['Job Info'].iloc[3].split('·')[2].strip(' applicants')

'51'

# 20 oct 2023

In [114]:
# n_applicant_list=[]
# for info in df['Job Info']:
#     try:
#         n_applicant_list.append(int(info.split('·')[2].strip(' applicants')))
#     except IndexError:
#         n_applicant_list.append(np.nan)
# # ValueError: invalid literal for int() with base 10: '2,048'

In [115]:
n_applicant_list=[]
for info in df['Job Info']:
    try:
        n_applicant_list.append(info.split('·')[2].strip(' applicants'))
    except IndexError:
        n_applicant_list.append(np.nan)

In [116]:
n_applicant_list[:10]

[nan, nan, nan, '51', '51', nan, nan, nan, '312', '2,048']

In [117]:
df['n_applicant']=n_applicant_list

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_6020\1363075266.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['n_applicant']=n_applicant_list

In [118]:
df['n_applicant'].dtype

dtype('O')

In [119]:
# df['n_applicant'] = df['n_applicant'].astype(int)
# # ValueError: cannot convert float NaN to integer

In [120]:
df['n_applicant'].unique()

array([nan, '51', '312', '2,048', '30', '3,159', '41', '3,008', '120',
       '685', '50', '28', '24', '734', '9', '112', '42', '10', '89', '48',
       '19', '732', '338', '18', '154', '472', '110', '32', '16', '448',
       '239', '933', '255', '15', '177', '33', '323', '207', '22', '21',
       '49', '591', '45', '29', '231', '337', '249', '123', '40', '192',
       '157', '1,386', '36', '1,186', '17', '76', '61', '38', '20', '12',
       '115', '73', '46', '315', '90', '67', '27', '23', '13', '172',
       '778', '96', '58', '216', '43', '204', '247', '380', '39', '1,768',
       '11', '310', '34', '108', '162', '853', '986', '215', '14', '94',
       '92', '168', '911', '53', '420', '31', '72', '44', '59', '132',
       '289', '35', '52', '1,379', '158', '260', '54', '250', '332',
       '649', '1,385', '153', '37', '83', '370', '287', '57', '339', '47',
       '208', '121', '56', '98', '68', '254', '259', '138', '305', '186',
       '197', '84', '795', '63', '79', '757', '166', '662', '100', '109',
       '285', '60', '127', '364', '74', '199', '198', '212', '328', '122',
       '252', '264', '502', '237', '376', '903', '146', '298', '505',
       '985', '342', '516', '1,213', '362', '1,344', '256', '189', '143',
       '88', '131', '531', '25', '149', '26', '316', '141', '99', '184',
       '113', '97', '170', '6', '480', '133', '309', '77', '429', '62',
       '4', '55', '202', '521', '925', '135', '304', '164', '1,391',
       '862', '229', '628', '200', '151', '176', '468', '71', '66',
       '1,650', '394', '1,015', '458', '181', '611', '749', '335', '904',
       '377', '3,400', '604', '372', '180', '693', '1,577', '144', '171',
       '926', '1,968', '834', '104', '69', '148', '479', '293', '95',
       '1,159', '190', '1,034', '75', '86', '898', '130', '270', '852',
       '136', '432', '441', '402', '2,420', '346', '827', '438', '134',
       '1,319', '495', '396', '560', '114', '81', '283', '804', '185',
       '253', '117', '344', '295', '1,296', '557', '175', '242', '811',
       '868', '880', '822', '526', '214', '532', '681', '2,142', '87',
       '535', '744', '371', '413', '928', '573', '187', '201', '322',
       '244', '78', '409', '307', '227', '424', '213', '930', '225',
       '2,943', '399', '245', '830', '267', '1,708', '779', '165', '291',
       '65', '2,701', '496', '105', '358', '793', '137', '106', '246',
       '467', '243', '1,415', '248', '7', '389', '541', '351', '345',
       '507', '107', '347', '336', '369', '561', '475', '326', '640',
       '174', '536', '860', '139', '821', '682', '545', '85', '465',
       '803', '203', '455', '268', '265', '217', '8', '1,574', '542',
       '1,704', '513', '1,177', '452', '1,750', '577', '147', '428',
       '1,649', '152', '469', '427', '837', '592', '522', '191', '464',
       '80', '159', '233', '430', '103', '142', '5,401', '664', '1,167',
       '182', '3', '400', '70', '773', '284', '124', '205', '64', '262',
       '263', '555', '1,857', '266', '321', '597', '318', '221', '195',
       '288', '1,674', '93', '223', '481', '408', '1,132', '363', '477',
       '854', '419', '240', '129', '552', '921', '723', '5,203', '145',
       '666', '116', '194', '711', '589', '118', '546', '258', '188',
       '679', '303', '387', '125', '218', '102', '651', '82', '1,064',
       '431', '406', '425', '234', '1,632', '381', '294', '721', '155',
       '638', '220', '391', '126', '156', '1,657', '998', '1,195', '478',
       '319', '257', '403', '224', '357', '119', '942', '5', '167', '379',
       '111', '740', '330', '2,895', '210', '463', '281', '1,023', '301',
       '1,381', '1,148', '661', '617', '1,556', '286', '603', '850',
       '1,080', '1,356', '196', '992', '1,457', '1,917', '361', '1,514',
       '667', '206', '529', '558', '91', '101', '163', '588', '1,450',
       '1,588', '140', '609', '500', '1', '193', '1,042', '275', '768',
       '128', '395', '1,013', '340', '474', '423', '551', '484', '490',
       '367', '272', '290', '278', '366', '671', '791', '375', '2', '235',
       '1,882', '1,579', '581', '1,225', '1,066', '895', '669', '1,239',
       '219', '678', '674', '1,824', '160', '1,840', '1,516', '179',
       '543', '990', '462', '299', '639', '619', '355', '567', '161',
       '701', '1,848', '445', '398', '276', '3,098', '282', '308', '426',
       '251', '586', '211', '269', '585', '553', '799', '228', '470',
       '331', '230', '238', '489', '292', '365', '1,767', '620', '1,179',
       '327', '302', '482', '1,897', '405', '422', '183', '962', '514',
       '236', '3,052', '353', '418', '493', '1,405', '629', '648',
       '2,264', '434', '2,163', '306', '280', '719', '226', '277', '487',
       '241', '1,438', '762', '716', '169', '820', '1,269', '388', '646',
       '1,108', '359', '354', '150', '1,456', '1,267', '1,566', '410',
       '491', '414', '550', '333', '325', '1,138', '350', '554', '348',
       '356', '580', '222', '440', '390', '0', '945', '314', '2,046',
       '1,365', '360', '705', '2,920', '392', '2,177', '751', '279',
       '261', '809', '777', '417', '442', '343', '300', '232', '499',
       '892', '802', '407', '623', '595', '178', '845', '1,502', '2,368',
       '525', '632', '999', '508', '859', '273', '660', '1,286', '433',
       '1,087', '1,820', '1,284', '548', '393', '961', '1,120', '1,075',
       '540', 'Over 200', '313', '1,079', '411', '512', '831', '401',
       '559', '1,441', '657', '311', '439', '817', '727', '447', '497',
       '790', '659', '1,311', '404', '1,477', '584', '568', '334', '569',
       '534', '621', '1,497', '590', '645', '635', '320', '801', '1,016',
       '520', '368', '556', '786', '2,052', '863', '750', '527', '647',
       '605', '706', '1,252', '951', '697', '720', '449', '374', '1,224',
       '993', '173', '473', '435', '733', '1,215', '699', '1,426', '454',
       '1,050', '753', '690', '713', '1,037', '888', '443', '607',
       '1,059', '451', '373', '415', '562', '1,039', '1,886', '450',
       '918', '504'], dtype=object)

In [121]:
len(df['n_applicant'].unique())

756

In [122]:
df['n_applicant'].value_counts()[:30]

n_applicant
51          287
Over 200    271
11          194
13          140
10          135
12          132
0           129
15          122
14          121
18          108
17          107
19          103
1           101
16           98
9            94
3            93
21           90
7            89
8            89
2            85
4            83
6            82
20           79
5            78
23           68
24           67
25           67
32           66
26           61
22           59
Name: count, dtype: int64

# 21 oct 2023

In [123]:
df['Job Info'].iloc[3]

'DevNatives · Islamabad, Islāmābād, Pakistan (Hybrid)  \n1 week ago\n\n · 51 applicants'

In [124]:
df['Job Info'].iloc[3].split('\n')[1]

'1 week ago'

In [125]:
df['job posting time']=df['Job Info'].apply(lambda x:x.split('\n')[1])
df['job posting time']

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_6020\1476465958.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job posting time']=df['Job Info'].apply(lambda x:x.split('\n')[1])

0         1 week ago
1        2 weeks ago
2         1 week ago
3         1 week ago
4         1 week ago
            ...
15869     1 week ago
15870     1 week ago
15872     1 week ago
15873     1 week ago
15874     1 week ago
Name: job posting time, Length: 11737, dtype: object

In [126]:
df['job posting time'].unique()

array(['1 week ago', '2 weeks ago', '1 day ago', '6 days ago',
       '5 days ago', '11 hours ago', '3 days ago', '3 hours ago',
       '4 days ago', '13 minutes ago', '14 minutes ago', '5 hours ago',
       '10 hours ago', '9 hours ago', '2 days ago', '13 hours ago',
       '18 hours ago', '7 hours ago', '4 hours ago', '3 weeks ago',
       '2 hours ago', '12 hours ago', '6 hours ago', '14 hours ago',
       '1 hour ago', '22 hours ago', '8 hours ago', '23 hours ago',
       '15 hours ago', '20 hours ago', '19 hours ago', '16 hours ago',
       '17 hours ago', '21 hours ago', '17 minutes ago', '48 minutes ago',
       '23 minutes ago', '49 minutes ago', '37 minutes ago',
       '42 minutes ago', '36 minutes ago', '44 minutes ago',
       '55 minutes ago', '32 minutes ago', '58 minutes ago',
       '3 minutes ago', '1 month ago', '4 weeks ago',
       'https://anitechnologies.net/ · Islamabad, Islāmābād, Pakistan Reposted  '],
      dtype=object)

In [127]:
df['job posting time'].value_counts()

job posting time
1 week ago                                                                  3578
2 weeks ago                                                                 2243
5 days ago                                                                   854
6 days ago                                                                   743
3 days ago                                                                   664
1 day ago                                                                    528
1 month ago                                                                  495
4 days ago                                                                   491
2 days ago                                                                   474
3 weeks ago                                                                  319
23 hours ago                                                                 128
3 hours ago                                                                  115
22 hours ago                                                                  82
17 hours ago                                                                  77
20 hours ago                                                                  72
18 hours ago                                                                  69
15 hours ago                                                                  64
19 hours ago                                                                  63
21 hours ago                                                                  63
13 hours ago                                                                  57
14 hours ago                                                                  55
16 hours ago                                                                  54
10 hours ago                                                                  54
2 hours ago                                                                   51
7 hours ago                                                                   47
12 hours ago                                                                  46
6 hours ago                                                                   46
11 hours ago                                                                  40
8 hours ago                                                                   39
5 hours ago                                                                   31
9 hours ago                                                                   30
1 hour ago                                                                    27
4 hours ago                                                                   18
13 minutes ago                                                                 4
49 minutes ago                                                                 2
44 minutes ago                                                                 1
4 weeks ago                                                                    1
3 minutes ago                                                                  1
58 minutes ago                                                                 1
32 minutes ago                                                                 1
55 minutes ago                                                                 1
36 minutes ago                                                                 1
14 minutes ago                                                                 1
42 minutes ago                                                                 1
37 minutes ago                                                                 1
23 minutes ago                                                                 1
48 minutes ago                                                                 1
17 minutes ago                                                                 1
https://anitechnologies.net/ · Islamabad, Islāmābād, Pakistan Reposted         1
Name: count, dtype: int64

In [128]:
df['Job Type'].unique()

array(['Full-time', 'Full-time · Mid-Senior level',
       'Internship · Internship', 'Full-time · Associate', 'Internship',
       'Full-time · Entry level', 'Part-time', 'Full-time · Internship',
       'Contract · Mid-Senior level', 'Contract', 'Contract · Associate',
       '$150/month - $300/month · Full-time', 'Full-time · Director',
       'Part-time · Associate', 'Mr Ahsan is hiring for this job',
       'Part-time · Executive', 'Contract · Executive',
       'Part-time · Mid-Senior level', 'Contract · Entry level',
       'Temporary · Mid-Senior level', 'Executive',
       'Full-time · Executive', 'Sean Sato is hiring for this job',
       'Part-time · Internship', 'Internship · Mid-Senior level',
       '$12,000/yr - $15,000/yr · Full-time · Mid-Senior level',
       '$200,000/yr · Full-time', 'Part-time · Entry level',
       'dr.ry. L. is hiring for this job',
       '10,001+ employees · Tobacco Manufacturing', 'Volunteer',
       'On-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nFull-time\n\n \nMid-Senior level',
       'Remote\n\n \nFull-time\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nFull-time',
       'Hybrid\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nDirector', 'Remote\n\n \nFull-time',
       'On-site\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nAssociate',
       'Full-time\n\n \nMid-Senior level', 'On-site\n\n \nPart-time',
       'Hybrid\n\n \nFull-time',
       'Remote\n\n \nContract\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nExecutive',
       'Remote\n\n \nFull-time\n\n \nEntry level',
       'Remote\n\n \nInternship', 'On-site\n\n \nInternship',
       'On-site\n\n \nContract\n\n \nMid-Senior level',
       'Remote\n\n \nContract', 'Remote\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nContract\n\n \nEntry level',
       'On-site\n\n \nFull-time\n\n \nInternship',
       'Remote\n\n \nPart-time\n\n \nAssociate', 'Remote\n\n \nPart-time',
       'Remote\n\n \nContract\n\n \nEntry level',
       'On-site\n\n \nContract\n\n \nAssociate',
       'Full-time\n\n \nEntry level', 'Hybrid\n\n \nContract',
       'Remote\n\n \nFull-time\n\n \nDirector', 'Hybrid\n\n \nPart-time',
       'On-site\n\n \nContract',
       'PKR600,000/yr - PKR660,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       'Remote', 'Contract\n\n \nMid-Senior level',
       'On-site\n\n \nContract\n\n \nInternship',
       'Full-time\n\n \nExecutive',
       'Remote\n\n \nInternship\n\n \nMid-Senior level',
       'Hybrid\n\n \nContract\n\n \nMid-Senior level',
       'Remote\n\n \nPart-time\n\n \nEntry level',
       'Hybrid\n\n \nTemporary', 'Remote\n\n \nPart-time\n\n \nExecutive',
       'On-site\n\n \nInternship\n\n \nEntry level',
       'On-site\n\n \nVolunteer',
       'Remote\n\n \nFull-time\n\n \nExecutive',
       'On-site\n\n \nInternship\n\n \nInternship',
       'Remote\n\n \nVolunteer',
       'On-site\n\n \nPart-time\n\n \nEntry level', 'On-site',
       'Hybrid\n\n \nInternship',
       'Hybrid\n\n \nContract\n\n \nEntry level',
       'Full-time\n\n \nInternship',
       '$180/month - $250/month\n\n \nRemote\n\n \nFull-time', 'Hybrid',
       'Remote\n\n \nContract\n\n \nAssociate',
       'Remote\n\n \nTemporary\n\n \nEntry level',
       'On-site\n\n \nTemporary', 'Remote\n\n \nTemporary',
       'Full-time\n\n \nAssociate',
       'PKR1,200,000/yr - PKR1,800,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       '5,001-10,000 employees · IT Services and IT Consulting',
       'PKR1,200,000/yr - PKR2,400,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       'On-site\n\n \nContract\n\n \nExecutive',
       'PKR1,800,000/yr - PKR3,600,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nMid-Senior level',
       'MYR57,000/yr - MYR108,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nEntry level',
       '$1,500/month - $1,800/month\n\n \nRemote\n\n \nFull-time',
       '11-50 employees',
       '10,001+ employees · Food and Beverage Manufacturing',
       'PHP360,000/yr - PHP720,000/yr\n\n \nRemote\n\n \nPart-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nVolunteer', 'Remote\n\n \nMid-Senior level',
       '$500/month - $1,000/month\n\n \nHybrid\n\n \nContract',
       'Remote\n\n \nPart-time\n\n \nMid-Senior level',
       'PKR960,000/yr - PKR1,200,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       '$20,000/yr - $25,000/yr\n\n \nRemote\n\n \nContract\n\n \nEntry level',
       '$30,000/month - $60,000/month\n\n \nHybrid\n\n \nFull-time',
       'Remote\n\n \nPart-time\n\n \nDirector',
       'PKR960,000/yr - PKR1,200,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nContract\n\n \nInternship',
       'On-site\n\n \nPart-time\n\n \nMid-Senior level',
       'On-site\n\n \nTemporary\n\n \nEntry level',
       'Full-time\n\n \nDirector',
       'Hybrid\n\n \nInternship\n\n \nInternship',
       'Remote\n\n \nInternship\n\n \nInternship',
       'On-site\n\n \nExecutive',
       '$1,000/month - $2,500/month\n\n \nOn-site\n\n \nFull-time',
       '$36,000/yr - $60,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nEntry level',
       '$50,000/month - $70,000/month + Commission\n\n \nOn-site\n\n \nFull-time',
       'On-site\n\n \nInternship\n\n \nDirector',
       'Hybrid\n\n \nFull-time\n\n \nExecutive',
       '₹180,000/yr - ₹360,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nEntry level',
       'On-site\n\n \nTemporary\n\n \nInternship',
       '$12,000/yr - $18,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nMid-Senior level',
       'Contract\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nInternship',
       'On-site\n\n \nTemporary\n\n \nMid-Senior level',
       'Hybrid\n\n \nInternship\n\n \nMid-Senior level'], dtype=object)

In [129]:
len(df['Job Type'].unique())

129

In [130]:
df[df['Job Type']=='Full-time']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,EcomFleet,Pakistan,Remote,NaN,1 week ago
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,Digicon Valley,"Lahore, Punjab, Pakistan",On-site,NaN,2 weeks ago
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,Murkez Technologies,"Lahore, Punjab, Pakistan",On-site,NaN,1 week ago
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,DevNatives,"Islamabad, Islāmābād, Pakistan",Hybrid,51,1 week ago
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,ItCreaters,"Lahore, Punjab, Pakistan",On-site,51,1 week ago
...,...,...,...,...,...,...,...,...,...,...,...
12672,Asst. R. O. Operator,"Wärtsilä · Lahore, Punjab, Pakistan \n3 weeks...",Full-time,https://www.linkedin.com/jobs/view/3755527543,"10,001+ employees · Industrial Machinery Manuf...",3755527543,Wärtsilä,"Lahore, Punjab, Pakistan \n3 weeks",Not specified,NaN,3 weeks ago
12896,Cloud ISA - MS 365,"Zones IT Solutions · Islamabad, Islāmābād, Pak...",Full-time,https://www.linkedin.com/jobs/view/3763078899,"501-1,000 employees · IT Services and IT Consu...",3763078899,Zones IT Solutions,"Islamabad, Islāmābād, Pakistan \n2 weeks",Not specified,32,2 weeks ago
13176,Software Developer,"Ericsson · Islamabad, Islāmābād, Pakistan Repo...",Full-time,https://www.linkedin.com/jobs/view/3756603290,"10,001+ employees · IT Services and IT Consulting",3756603290,Ericsson,"Islamabad, Islāmābād, Pakistan Reposted",Not specified,NaN,1 week ago
13941,Aspire for Unilever - AM E&I,"Unilever · Lahore, Punjab, Pakistan \n1 week ...",Full-time,https://www.linkedin.com/jobs/view/3764164143,"10,001+ employees · Manufacturing",3764164143,Unilever,"Lahore, Punjab, Pakistan",Not specified,226,1 week ago
15633,DevOps Architect,"Ericsson · Islamabad, Islāmābād, Pakistan \n1...",Full-time,https://www.linkedin.com/jobs/view/3765626902,"10,001+ employees · Telecommunications",3765626902,Ericsson,"Islamabad, Islāmābād, Pakistan",Not specified,35,1 week ago

In [131]:
len(df[df['Job Type']=='Full-time'])

2260

In [132]:
df[df['Job Type']=='Internship · Internship']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time
9,Fresh Graduate Engineers,"HUAWEI Pakistan · Islāmābād, Pakistan (On-site...",Internship · Internship,https://www.linkedin.com/jobs/view/3723394654,"501-1,000 employees · Telecommunications",3723394654,HUAWEI Pakistan,"Islāmābād, Pakistan",On-site,"2,048",2 weeks ago
91,Audit Intern,"Confiz · Lahore, Punjab, Pakistan (On-site) \...",Internship · Internship,https://www.linkedin.com/jobs/view/3727032054,"501-1,000 employees · IT Services and IT Consu...",3727032054,Confiz,"Lahore, Punjab, Pakistan",On-site,NaN,2 weeks ago
1276,Virtual Data Analytics Internship - Customer I...,"Talent Pal · Karāchi, Sindh, Pakistan (On-site...",Internship · Internship,https://www.linkedin.com/jobs/view/3730068355,11-50 employees · Staffing and Recruiting,3730068355,Talent Pal,"Karāchi, Sindh, Pakistan",On-site,377,1 week ago
1301,Virtual Data Engineering Internship - Performa...,"Talent Pal · Islamabad, Islāmābād, Pakistan (O...",Internship · Internship,https://www.linkedin.com/jobs/view/3730064938,11-50 employees · Staffing and Recruiting,3730064938,Talent Pal,"Islamabad, Islāmābād, Pakistan",On-site,38,1 week ago
1308,Virtual Data Analytics Internship - Customer R...,"Talent Pal · Karāchi, Sindh, Pakistan (On-site...",Internship · Internship,https://www.linkedin.com/jobs/view/3730069358,11-50 employees · Staffing and Recruiting,3730069358,Talent Pal,"Karāchi, Sindh, Pakistan",On-site,51,1 week ago
1311,Virtual Data Analytics Internship - Customer R...,"Talent Pal · Islamabad, Islāmābād, Pakistan (O...",Internship · Internship,https://www.linkedin.com/jobs/view/3730065593,11-50 employees · Staffing and Recruiting,3730065593,Talent Pal,"Islamabad, Islāmābād, Pakistan",On-site,38,1 week ago
1321,Virtual Project Management Internship,"Talent Pal · Karāchi, Sindh, Pakistan (On-site...",Internship · Internship,https://www.linkedin.com/jobs/view/3730069362,11-50 employees · Staffing and Recruiting,3730069362,Talent Pal,"Karāchi, Sindh, Pakistan",On-site,69,1 week ago
1326,Virtual Data Engineering Internship - Cloud Ba...,"Talent Pal · Islamabad, Islāmābād, Pakistan (O...",Internship · Internship,https://www.linkedin.com/jobs/view/3730067572,11-50 employees · Staffing and Recruiting,3730067572,Talent Pal,"Islamabad, Islāmābād, Pakistan",On-site,57,1 week ago
1330,Virtual Data Engineering Internship - Cloud Ba...,"Talent Pal · Karāchi, Sindh, Pakistan (On-site...",Internship · Internship,https://www.linkedin.com/jobs/view/3730071088,11-50 employees · Staffing and Recruiting,3730071088,Talent Pal,"Karāchi, Sindh, Pakistan",On-site,57,1 week ago
1333,Virtual Data Engineering Internship - Payment ...,"Talent Pal · Islamabad, Islāmābād, Pakistan (O...",Internship · Internship,https://www.linkedin.com/jobs/view/3730064941,11-50 employees · Staffing and Recruiting,3730064941,Talent Pal,"Islamabad, Islāmābād, Pakistan",On-site,20,1 week ago
1334,Virtual Data Engineering Internship - Payment ...,"Talent Pal · Karāchi, Sindh, Pakistan (On-site...",Internship · Internship,https://www.linkedin.com/jobs/view/3730071065,11-50 employees · Staffing and Recruiting,3730071065,Talent Pal,"Karāchi, Sindh, Pakistan",On-site,NaN,1 week ago
1336,Virtual B2B Sales Internship,"Talent Pal · Karāchi, Sindh, Pakistan (On-site...",Internship · Internship,https://www.linkedin.com/jobs/view/3730064909,11-50 employees · Staffing and Recruiting,3730064909,Talent Pal,"Karāchi, Sindh, Pakistan",On-site,NaN,1 week ago
1339,Virtual Customer Experience Internship,"Talent Pal · Islamabad, Islāmābād, Pakistan (O...",Internship · Internship,https://www.linkedin.com/jobs/view/3730071079,11-50 employees · Staffing and Recruiting,3730071079,Talent Pal,"Islamabad, Islāmābād, Pakistan",On-site,38,1 week ago
1351,Virtual B2B Sales Internship,"Talent Pal · Islamabad, Islāmābād, Pakistan (O...",Internship · Internship,https://www.linkedin.com/jobs/view/3730068298,11-50 employees · Staffing and Recruiting,3730068298,Talent Pal,"Islamabad, Islāmābād, Pakistan",On-site,21,1 week ago
1353,Virtual Customer Experience Internship,"Talent Pal · Karāchi, Sindh, Pakistan (On-site...",Internship · Internship,https://www.linkedin.com/jobs/view/3730065606,11-50 employees · Staffing and Recruiting,3730065606,Talent Pal,"Karāchi, Sindh, Pakistan",On-site,28,1 week ago
1364,Virtual Operations Management Internship,"Talent Pal · Islamabad, Islāmābād, Pakistan (O...",Internship · Internship,https://www.linkedin.com/jobs/view/3730068321,11-50 employees · Staffing and Recruiting,3730068321,Talent Pal,"Islamabad, Islāmābād, Pakistan",On-site,38,1 week ago
1394,Virtual Product Management Internship,"Talent Pal · Karāchi, Sindh, Pakistan (On-site...",Internship · Internship,https://www.linkedin.com/jobs/view/3730068331,11-50 employees · Staffing and Recruiting,3730068331,Talent Pal,"Karāchi, Sindh, Pakistan",On-site,NaN,1 week ago
1395,Virtual Product Management Internship,"Talent Pal · Islamabad, Islāmābād, Pakistan (O...",Internship · Internship,https://www.linkedin.com/jobs/view/3730064948,11-50 employees · Staffing and Recruiting,3730064948,Talent Pal,"Islamabad, Islāmābād, Pakistan",On-site,24,1 week ago
1773,Live Ops Agent - Intern,"Careem · Lahore, Punjab, Pakistan (Remote) \n...",Internship · Internship,https://www.linkedin.com/jobs/view/3730366816,"1,001-5,000 employees · IT Services and IT Con...",3730366816,Careem,"Lahore, Punjab, Pakistan",Remote,307,1 week ago
3948,Employer Branding & Culture Intern,"Jazz · Islamabad, Islāmābād, Pakistan (On-site...",Internship · Internship,https://www.linkedin.com/jobs/view/3734535702,"1,001-5,000 employees · Telecommunications",3734535702,Jazz,"Islamabad, Islāmābād, Pakistan",On-site,NaN,4 days ago

In [133]:
len(df[df['Job Type']=='Internship · Internship'])

20

In [134]:
df[df['Job Type']=='Contract']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time
192,Content Writer,"Torque360 · Lahore, Punjab, Pakistan (On-site)...",Contract,https://www.linkedin.com/jobs/view/3727018176,11-50 employees,3727018176,Torque360,"Lahore, Punjab, Pakistan",On-site,NaN,2 weeks ago
282,Shopify App Developer,Shopify1 - A Shopify Agency · Pakistan (Remote...,Contract,https://www.linkedin.com/jobs/view/3727041074/...,11-50 employees,3727041074,Shopify1 - A Shopify Agency,Pakistan,Remote,46,1 week ago
428,Senior Software Development Project Manager,"Staffing Wise · Lahore, Punjab, Pakistan (Remo...",Contract,https://www.linkedin.com/jobs/view/3676168478/...,11-50 employees,3676168478,Staffing Wise,"Lahore, Punjab, Pakistan",Remote,46,2 weeks ago
429,Community Counselor,Humraz Male Health Society Nawabshah · Nawabsh...,Contract,https://www.linkedin.com/jobs/view/3727015123/...,See how you compare to 15 applicants. Reactiva...,3727015123,Humraz Male Health Society Nawabshah,"Nawabshah, Sindh, Pakistan",On-site,NaN,2 weeks ago
584,SOFTWARE DEVELOPER,"360 TECHNOLOGIES · Islamabad, Islāmābād, Pakis...",Contract,https://www.linkedin.com/jobs/view/3727513946,51-200 employees,3727513946,360 TECHNOLOGIES,"Islamabad, Islāmābād, Pakistan",Hybrid,NaN,1 week ago
590,SOFTWARE DEVELOPER,"360 TECHNOLOGIES · Islamabad, Islāmābād, Pakis...",Contract,https://www.linkedin.com/jobs/view/3727510836,51-200 employees,3727510836,360 TECHNOLOGIES,"Islamabad, Islāmābād, Pakistan",Hybrid,NaN,1 week ago
605,Social Media Manager,"US Trips n Tours · Punjab, Pakistan (Remote) R...",Contract,https://www.linkedin.com/jobs/view/3714484473,Umar Siddiqui is hiring for this job,3714484473,US Trips n Tours,"Punjab, Pakistan",Remote,685,1 week ago
694,Call Center Representative,"Logico info technology · Lahore, Punjab, Paki...",Contract,https://www.linkedin.com/jobs/view/3728711440,Yasir Khubaib is hiring for this job,3728711440,Logico info technology,"Lahore, Punjab, Pakistan",On-site,11,1 week ago
734,Field Research Interviewer,"Static-A (CX-CS Consulting Firm) · Lahore, Pun...",Contract,https://www.linkedin.com/jobs/view/3727085245,"Ali Malik, CCXP is hiring for this job",3727085245,Static-A (CX-CS Consulting Firm),"Lahore, Punjab, Pakistan",On-site,10,2 weeks ago
839,Voice User Interface (VUI) Designer,CRES Technology · Pakistan (Remote) \n1 week ago,Contract,https://www.linkedin.com/jobs/view/3727537108,11-50 employees,3727537108,CRES Technology,Pakistan,Remote,NaN,1 week ago
1082,Business Development Executive,"The Royal Advisor · Karachi Division, Sindh, P...",Contract,https://www.linkedin.com/jobs/view/3729118023,51-200 employees,3729118023,The Royal Advisor,"Karachi Division, Sindh, Pakistan",On-site,16,1 week ago
1088,Elementary School Teacher,Sayed Saeedullah Shah Rashadi Model School Tal...,Contract,https://www.linkedin.com/jobs/view/3727929128,11-50 employees,3727929128,Sayed Saeedullah Shah Rashadi Model School Tal...,"Mirpur Khas District, Sindh, Pakistan",On-site,14,1 week ago
1121,Webflow Developer and Graphic Designer,Prodcircle · Pakistan (Remote) \n1 week ago,Contract,https://www.linkedin.com/jobs/view/3728229216,1-10 employees,3728229216,Prodcircle,Pakistan,Remote,NaN,1 week ago
1167,Appointment Setter,HTSolutions · Pakistan (Remote) \n1 week ago,Contract,https://www.linkedin.com/jobs/view/3728252010,1-10 employees,3728252010,HTSolutions,Pakistan,Remote,NaN,1 week ago
1291,Lead Generation Specialist,"Humans Meta Tech · Lahore, Punjab, Pakistan (H...",Contract,https://www.linkedin.com/jobs/view/3726567599,11-50 employees,3726567599,Humans Meta Tech,"Lahore, Punjab, Pakistan",Hybrid,NaN,1 week ago
1458,Solar Installation Technician (Project Based),"IPS - Ideal Power Solutions · Karāchi, Sindh, ...",Contract,https://www.linkedin.com/jobs/view/3728515017,51-200 employees,3728515017,IPS - Ideal Power Solutions,"Karāchi, Sindh, Pakistan",On-site,NaN,1 week ago
1533,Social Media Agency,"Al Alwaan Food · Karāchi, Sindh, Pakistan (Hyb...",Contract,https://www.linkedin.com/jobs/view/3729941082,11-50 employees,3729941082,Al Alwaan Food,"Karāchi, Sindh, Pakistan",Hybrid,51,1 week ago
1551,Affiliate content writer,"Techticks · Bahawalpur, Punjab, Pakistan (On-s...",Contract,https://www.linkedin.com/jobs/view/3729944965,11-50 employees,3729944965,Techticks,"Bahawalpur, Punjab, Pakistan",On-site,24,1 week ago
1685,Educational Consultant,"One Path Migration · Islamabad, Islāmābād, Pak...",Contract,https://www.linkedin.com/jobs/view/3730122918,1-10 employees,3730122918,One Path Migration,"Islamabad, Islāmābād, Pakistan",On-site,37,1 week ago
1730,Senior Web Application Developer,Linkamber · Pakistan (Remote) \n1 week ago\n\...,Contract,https://www.linkedin.com/jobs/view/3730138495,11-50 employees,3730138495,Linkamber,Pakistan,Remote,48,1 week ago
1756,Digital Marketing Executive,COSMO · Pakistan (Remote) \n1 week ago,Contract,https://www.linkedin.com/jobs/view/3730677619,11-50 employees,3730677619,COSMO,Pakistan,Remote,NaN,1 week ago
1821,Web Developer,Thokmandee.com · Pakistan (Remote) \n1 week ago,Contract,https://www.linkedin.com/jobs/view/3730360128,11-50 employees,3730360128,Thokmandee.com,Pakistan,Remote,NaN,1 week ago
1830,Social Media Marketing Specialist,"Cross Sky Consultants · Peshawar, Khyber Pakht...",Contract,https://www.linkedin.com/jobs/view/3730383291,1-10 employees,3730383291,Cross Sky Consultants,"Peshawar, Khyber Pakhtunkhwa, Pakistan",Hybrid,NaN,1 week ago
1935,Sales Representative,"Kyrios Dev · Karāchi, Sindh, Pakistan (Remote)...",Contract,https://www.linkedin.com/jobs/view/3730397066,1-10 employees,3730397066,Kyrios Dev,"Karāchi, Sindh, Pakistan",Remote,NaN,1 week ago
1997,Freelance Video Editor,"Axial Consulting Pvt Ltd · Lahore, Punjab, Pak...",Contract,https://www.linkedin.com/jobs/view/3730352375,1-10 employees,3730352375,Axial Consulting Pvt Ltd,"Lahore, Punjab, Pakistan",Hybrid,162,1 week ago
2270,Salesperson,Webmicron · Pakistan (Remote) \n1 week ago,Contract,https://www.linkedin.com/jobs/view/3731280300,11-50 employees,3731280300,Webmicron,Pakistan,Remote,NaN,1 week ago
2333,Associate Content Writer,"Torque360 · Lahore, Punjab, Pakistan (On-site)...",Contract,https://www.linkedin.com/jobs/view/3731298011,11-50 employees,3731298011,Torque360,"Lahore, Punjab, Pakistan",On-site,NaN,1 week ago
2688,Power Market and Financials Sr Associate,"Planetive · Islāmābād, Pakistan (On-site) \n1...",Contract,https://www.linkedin.com/jobs/view/3731607788,11-50 employees,3731607788,Planetive,"Islāmābād, Pakistan",On-site,NaN,1 week ago
2705,Microsoft Dynamics 365 CE/CRM functional consu...,Tech Infiniti · Pakistan (Remote) \n1 week ag...,Contract,https://www.linkedin.com/jobs/view/3700625619,1-10 employees,3700625619,Tech Infiniti,Pakistan,Remote,34,1 week ago
2720,Blockchain Expert,"Cathect Sdn Bhd · Islamabad, Islāmābād, Pakist...",Contract,https://www.linkedin.com/jobs/view/3731686008,11-50 employees,3731686008,Cathect Sdn Bhd,"Islamabad, Islāmābād, Pakistan",Hybrid,12,1 week ago
2770,Senior Business Development Consultant,"VACON.AI · Lahore Division, Punjab, Pakistan (...",Contract,https://www.linkedin.com/jobs/view/3731642783,1-10 employees,3731642783,VACON.AI,"Lahore Division, Punjab, Pakistan",Hybrid,NaN,1 week ago
2833,PHP AND LARAVEL DEVELOPER,"SAAMH TECH · Multan, Punjab, Pakistan (On-site...",Contract,https://www.linkedin.com/jobs/view/3732435425,Ahmad Saleem is hiring for this job,3732435425,SAAMH TECH,"Multan, Punjab, Pakistan",On-site,15,1 week ago
2970,Marketing Automation Specialist,Meraki Partners · Pakistan (Remote) \n1 week ago,Contract,https://www.linkedin.com/jobs/view/3732689535,1-10 employees,3732689535,Meraki Partners,Pakistan,Remote,NaN,1 week ago
2984,Gynecologist,Bach Christian Hospital · Abbottabad District...,Contract,https://www.linkedin.com/jobs/view/3732824663,Ambrose Emmanuel is hiring for this job,3732824663,Bach Christian Hospital,"Abbottabad District, Khyber Pakhtunkhwa, Pakistan",On-site,4,6 days ago
2988,Word Press Developer,EPLsoft PVT LTD. · Pakistan (Remote) \n6 days...,Contract,https://www.linkedin.com/jobs/view/3732856079,Saad Malik is hiring for this job,3732856079,EPLsoft PVT LTD.,Pakistan,Remote,27,6 days ago
3000,Senior Devops Engineer,"Pan Asia Resources · Karāchi, Sindh, Pakistan ...",Contract,https://www.linkedin.com/jobs/view/3729036426,201-500 employees,3729036426,Pan Asia Resources,"Karāchi, Sindh, Pakistan",On-site,NaN,6 days ago
3003,QC Shift Analyst,"Alpha Container Industries · Karāchi, Sindh, P...",Contract,https://www.linkedin.com/jobs/view/3732690046,"501-1,000 employees",3732690046,Alpha Container Industries,"Karāchi, Sindh, Pakistan",On-site,26,1 week ago
3024,AWS Solutions Architect,"DOTIVATE · Lahore, Punjab, Pakistan (Hybrid) ...",Contract,https://www.linkedin.com/jobs/view/3732858036,11-50 employees,3732858036,DOTIVATE,"Lahore, Punjab, Pakistan",Hybrid,NaN,6 days ago
3054,Inside Sales Specialist,"BrinySoft Animation Studio Inc · Islāmābād, Pa...",Contract,https://www.linkedin.com/jobs/view/3729047773,11-50 employees,3729047773,BrinySoft Animation Studio Inc,"Islāmābād, Pakistan",Remote,NaN,6 days ago
3080,Mediální nákupčí,FusionAd Digital · Pakistan (Remote) \n6 days...,Contract,https://www.linkedin.com/jobs/view/3733673145,1-10 employees,3733673145,FusionAd Digital,Pakistan,Remote,NaN,6 days ago
3122,Off-Page SEO Strategist,"Virtue Xolutions · Karachi Division, Sindh, Pa...",Contract,https://www.linkedin.com/jobs/view/3723929582,201-500 employees,3723929582,Virtue Xolutions,"Karachi Division, Sindh, Pakistan",On-site,NaN,1 week ago
3298,Software Engineer,"360 TECHNOLOGIES · Islamabad, Islāmābād, Pakis...",Contract,https://www.linkedin.com/jobs/view/3733338358,51-200 employees,3733338358,360 TECHNOLOGIES,"Islamabad, Islāmābād, Pakistan",Hybrid,NaN,5 days ago
3478,SSRS Developer,Datawiz Corporation · Pakistan (Remote) \n6 d...,Contract,https://www.linkedin.com/jobs/view/3688127558,51-200 employees,3688127558,Datawiz Corporation,Pakistan,Remote,NaN,6 days ago
3774,Business growth strategist,Zulqarnain Writes Copy · Pakistan (Remote) \n...,Contract,https://www.linkedin.com/jobs/view/3734240700,1-10 employees,3734240700,Zulqarnain Writes Copy,Pakistan,Remote,51,4 days ago
3787,Python Developer,Hour Solution · Pakistan (Remote) \n5 days ago,Contract,https://www.linkedin.com/jobs/view/3734214535,11-50 employees,3734214535,Hour Solution,Pakistan,Remote,NaN,5 days ago
3793,Customer Service Representative,HRSG - Innovative Business Solutions · Karāchi...,Contract,https://www.linkedin.com/jobs/view/3734048168,"10,001+ employees",3734048168,HRSG - Innovative Business Solutions,"Karāchi, Sindh, Pakistan",On-site,41,5 days ago
3795,UI/UX Designer - Contract Based,Technifirm · Pakistan (Remote) \n4 days ago,Contract,https://www.linkedin.com/jobs/view/3734239574,1-10 employees,3734239574,Technifirm,Pakistan,Remote,NaN,4 days ago
3812,SAP Functional Consultant,"Sapience Consulting (Pvt) Ltd · Rawalpindi, Pu...",Contract,https://www.linkedin.com/jobs/view/3734210525,Umair Shahzad-SAP is hiring for this job,3734210525,Sapience Consulting (Pvt) Ltd,"Rawalpindi, Punjab, Pakistan",On-site,14,5 days ago
3816,Foreign Education Consultant,"DOTIVATE · Lahore, Punjab, Pakistan (On-site) ...",Contract,https://www.linkedin.com/jobs/view/3734218805,11-50 employees,3734218805,DOTIVATE,"Lahore, Punjab, Pakistan",On-site,25,5 days ago
3830,Power Platform Developer,MicroSysX · Pakistan (Remote) \n4 days ago\n\...,Contract,https://www.linkedin.com/jobs/view/3734237609,51-200 employees,3734237609,MicroSysX,Pakistan,Remote,71,4 days ago
3837,Business Feasibility & Projections Expert,BFT - Business Fitter Fintech · Pakistan (Rem...,Contract,https://www.linkedin.com/jobs/view/3734214292,11-50 employees,3734214292,BFT - Business Fitter Fintech,Pakistan,Remote,NaN,4 days ago

In [135]:
len(df[df['Job Type']=='Contract'])

51

In [136]:
df[df['Job Type']=='On-site\n\n \nFull-time\n\n \nMid-Senior level']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time
3997,Team Lead Performance Management,"Telenor Microfinance Bank Limited · Islamabad,...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3734530164,"1,001-5,000 employees · Banking",3734530164,Telenor Microfinance Bank Limited,"Islamabad, Islāmābād, Pakistan \n4 days",Not specified,490,4 days ago
3998,Solutions Architect,"SwipBox · Islāmābād, Pakistan \n4 days ago\n\...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735939988,"51-200 employees · Transportation, Logistics, ...",3735939988,SwipBox,"Islāmābād, Pakistan \n4 days",Not specified,37,4 days ago
3999,Customer Support Executive UAE,"Abacus Outsourcing · Lahore, Punjab, Pakistan ...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3734589987,"1,001-5,000 employees · Outsourcing and Offsho...",3734589987,Abacus Outsourcing,"Lahore, Punjab, Pakistan Reposted \n1 day",Not specified,367,1 day ago
4000,Cash Management Product Manager (Mashreq Globa...,"Mashreq · Karachi Division, Sindh, Pakistan \...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3734539790,"1,001-5,000 employees · Banking",3734539790,Mashreq,"Karachi Division, Sindh, Pakistan \n4 days",Not specified,237,4 days ago
4001,Senior Territory Manager,"foodpanda · Islamabad, Islāmābād, Pakistan \n...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3734537706,"5,001-10,000 employees · Internet Marketplace ...",3734537706,foodpanda,"Islamabad, Islāmābād, Pakistan \n4 days",Not specified,272,4 days ago
...,...,...,...,...,...,...,...,...,...,...,...
15849,Finance Business Partner,"ACCA Careers · Karāchi, Sindh, Pakistan \n2 w...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3766661554,51-200 employees · Accounting,3766661554,ACCA Careers,"Karāchi, Sindh, Pakistan \n2 weeks",Not specified,NaN,2 weeks ago
15854,"Commercial Sales Manager - Karachi, Pakistan.","Siemens · Karāchi, Sindh, Pakistan \n1 week a...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3765134559,"10,001+ employees · Automation Machinery Manuf...",3765134559,Siemens,"Karāchi, Sindh, Pakistan",Not specified,208,1 week ago
15862,Software Development Support Engineer (L2 & L3),"the ENTERTAINER · Lahore, Punjab, Pakistan \n...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3763867444,201-500 employees · Software Development,3763867444,the ENTERTAINER,"Lahore, Punjab, Pakistan",Not specified,25,1 week ago
15870,Manager – Growth Chat & SMS (Digital Marketing),"Bank Alfalah Limited · Karāchi, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767355025,"5,001-10,000 employees · Banking",3767355025,Bank Alfalah Limited,"Karāchi, Sindh, Pakistan",Not specified,NaN,1 week ago
15873,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,"Level 3 BOS · Karachi Division, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771943212,201-500 employees · Outsourcing and Offshoring...,3771943212,Level 3 BOS,"Karachi Division, Sindh, Pakistan",Not specified,19,1 week ago

In [137]:
len(df[df['Job Type']=='On-site\n\n \nFull-time\n\n \nMid-Senior level'])

1023

In [138]:
df[df['Job Type']=='Mr Ahsan is hiring for this job']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time
515,Video Editor,"Digital A · Lahore, Punjab, Pakistan (Hybrid) ...",Mr Ahsan is hiring for this job,https://www.linkedin.com/jobs/view/3723343449/...,See how you compare to 51 applicants. Reactiva...,3723343449,Digital A,"Lahore, Punjab, Pakistan",Hybrid,51,2 weeks ago

In [139]:
df[df['Job Type']=='$12,000/yr - $15,000/yr · Full-time · Mid-Senior level']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time
1876,Operations & Logistics Project Manager,Ridge · Pakistan (Remote) \n1 week ago\n\n · ...,"$12,000/yr - $15,000/yr · Full-time · Mid-Seni...",https://www.linkedin.com/jobs/view/3730353203,51-200 employees · Retail Luxury Goods and Jew...,3730353203,Ridge,Pakistan,Remote,898,1 week ago

### counting number of elements in job type column

In [140]:
'Full-time · Entry level'.split()

['Full-time', '·', 'Entry', 'level']

In [141]:
a='Full-time · Entry level'.split()
a.remove('·')
a

['Full-time', 'Entry', 'level']

In [142]:
# a='Full-time · Entry level'.split('·')
# len(a)
len('Full-time · Entry level'.split('·'))

2

In [143]:
'On-site\n\n \nFull-time\n\n \nAssociate'.split()

['On-site', 'Full-time', 'Associate']

In [144]:
'On-site\n\n \nFull-time\n\n \nAssociate'.split('\n\n \n')

['On-site', 'Full-time', 'Associate']

In [145]:
'Part-time · Mid-Senior level'.split()

['Part-time', '·', 'Mid-Senior', 'level']

In [146]:
'·' in 'Part-time · Mid-Senior level'

True

In [147]:
'\n\n \n' in 'On-site\n\n \nFull-time\n\n \nAssociate'

True

In [148]:
Job_Type_nElements=[]
for cell in df['Job Type']:
    if '·' in cell:
        nElements=len(cell.split('·'))
        Job_Type_nElements.append(nElements)
    elif '\n\n \n' in cell:
        nElements=len(cell.split('\n\n \n'))
        Job_Type_nElements.append(nElements)
    else:
        nElements=len(cell.split())
        Job_Type_nElements.append(nElements)

In [149]:
Job_Type_nElements[:10]

[1, 1, 1, 1, 1, 1, 1, 2, 1, 2]

In [150]:
len(df['Job Type'])

11737

In [151]:
len(Job_Type_nElements)

11737

In [152]:
set(Job_Type_nElements)

{1, 2, 3, 4, 7}

In [153]:
Job_Type_nElements.count(1)

2395

In [154]:
Job_Type_nElements.count(2)

5693

In [155]:
Job_Type_nElements.count(3)

3633

In [156]:
Job_Type_nElements.count(7)

3

In [157]:
df['Job Type nElements']=Job_Type_nElements

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_6020\2089687400.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Job Type nElements']=Job_Type_nElements

In [158]:
df['Job Type nElements'].value_counts()

Job Type nElements
2    5693
3    3633
1    2395
4      13
7       3
Name: count, dtype: int64

In [159]:
df[df['Job Type nElements']==7]

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time,Job Type nElements
515,Video Editor,"Digital A · Lahore, Punjab, Pakistan (Hybrid) ...",Mr Ahsan is hiring for this job,https://www.linkedin.com/jobs/view/3723343449/...,See how you compare to 51 applicants. Reactiva...,3723343449,Digital A,"Lahore, Punjab, Pakistan",Hybrid,51,2 weeks ago,7
1335,Sales Specialist(Outsourcing agent),"Shin-Ryu Co.,Ltd. · Karachi Division, Sindh, P...",Sean Sato is hiring for this job,https://www.linkedin.com/jobs/view/3726585044,See how you compare to 18 applicants. Reactiva...,3726585044,"Shin-Ryu Co.,Ltd.","Karachi Division, Sindh, Pakistan",Remote,18,1 week ago,7
2483,"Nutritionist, Child specialist","Dentistry Aesthetic clinics · Karāchi, Sindh, ...",dr.ry. L. is hiring for this job,https://www.linkedin.com/jobs/view/3731260106,See how you compare to 18 applicants. Reactiva...,3731260106,Dentistry Aesthetic clinics,"Karāchi, Sindh, Pakistan",On-site,18,1 week ago,7

In [160]:
df['Job Type'].unique()

array(['Full-time', 'Full-time · Mid-Senior level',
       'Internship · Internship', 'Full-time · Associate', 'Internship',
       'Full-time · Entry level', 'Part-time', 'Full-time · Internship',
       'Contract · Mid-Senior level', 'Contract', 'Contract · Associate',
       '$150/month - $300/month · Full-time', 'Full-time · Director',
       'Part-time · Associate', 'Mr Ahsan is hiring for this job',
       'Part-time · Executive', 'Contract · Executive',
       'Part-time · Mid-Senior level', 'Contract · Entry level',
       'Temporary · Mid-Senior level', 'Executive',
       'Full-time · Executive', 'Sean Sato is hiring for this job',
       'Part-time · Internship', 'Internship · Mid-Senior level',
       '$12,000/yr - $15,000/yr · Full-time · Mid-Senior level',
       '$200,000/yr · Full-time', 'Part-time · Entry level',
       'dr.ry. L. is hiring for this job',
       '10,001+ employees · Tobacco Manufacturing', 'Volunteer',
       'On-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nFull-time\n\n \nMid-Senior level',
       'Remote\n\n \nFull-time\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nFull-time',
       'Hybrid\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nDirector', 'Remote\n\n \nFull-time',
       'On-site\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nAssociate',
       'Full-time\n\n \nMid-Senior level', 'On-site\n\n \nPart-time',
       'Hybrid\n\n \nFull-time',
       'Remote\n\n \nContract\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nExecutive',
       'Remote\n\n \nFull-time\n\n \nEntry level',
       'Remote\n\n \nInternship', 'On-site\n\n \nInternship',
       'On-site\n\n \nContract\n\n \nMid-Senior level',
       'Remote\n\n \nContract', 'Remote\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nContract\n\n \nEntry level',
       'On-site\n\n \nFull-time\n\n \nInternship',
       'Remote\n\n \nPart-time\n\n \nAssociate', 'Remote\n\n \nPart-time',
       'Remote\n\n \nContract\n\n \nEntry level',
       'On-site\n\n \nContract\n\n \nAssociate',
       'Full-time\n\n \nEntry level', 'Hybrid\n\n \nContract',
       'Remote\n\n \nFull-time\n\n \nDirector', 'Hybrid\n\n \nPart-time',
       'On-site\n\n \nContract',
       'PKR600,000/yr - PKR660,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       'Remote', 'Contract\n\n \nMid-Senior level',
       'On-site\n\n \nContract\n\n \nInternship',
       'Full-time\n\n \nExecutive',
       'Remote\n\n \nInternship\n\n \nMid-Senior level',
       'Hybrid\n\n \nContract\n\n \nMid-Senior level',
       'Remote\n\n \nPart-time\n\n \nEntry level',
       'Hybrid\n\n \nTemporary', 'Remote\n\n \nPart-time\n\n \nExecutive',
       'On-site\n\n \nInternship\n\n \nEntry level',
       'On-site\n\n \nVolunteer',
       'Remote\n\n \nFull-time\n\n \nExecutive',
       'On-site\n\n \nInternship\n\n \nInternship',
       'Remote\n\n \nVolunteer',
       'On-site\n\n \nPart-time\n\n \nEntry level', 'On-site',
       'Hybrid\n\n \nInternship',
       'Hybrid\n\n \nContract\n\n \nEntry level',
       'Full-time\n\n \nInternship',
       '$180/month - $250/month\n\n \nRemote\n\n \nFull-time', 'Hybrid',
       'Remote\n\n \nContract\n\n \nAssociate',
       'Remote\n\n \nTemporary\n\n \nEntry level',
       'On-site\n\n \nTemporary', 'Remote\n\n \nTemporary',
       'Full-time\n\n \nAssociate',
       'PKR1,200,000/yr - PKR1,800,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       '5,001-10,000 employees · IT Services and IT Consulting',
       'PKR1,200,000/yr - PKR2,400,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       'On-site\n\n \nContract\n\n \nExecutive',
       'PKR1,800,000/yr - PKR3,600,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nMid-Senior level',
       'MYR57,000/yr - MYR108,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nEntry level',
       '$1,500/month - $1,800/month\n\n \nRemote\n\n \nFull-time',
       '11-50 employees',
       '10,001+ employees · Food and Beverage Manufacturing',
       'PHP360,000/yr - PHP720,000/yr\n\n \nRemote\n\n \nPart-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nVolunteer', 'Remote\n\n \nMid-Senior level',
       '$500/month - $1,000/month\n\n \nHybrid\n\n \nContract',
       'Remote\n\n \nPart-time\n\n \nMid-Senior level',
       'PKR960,000/yr - PKR1,200,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       '$20,000/yr - $25,000/yr\n\n \nRemote\n\n \nContract\n\n \nEntry level',
       '$30,000/month - $60,000/month\n\n \nHybrid\n\n \nFull-time',
       'Remote\n\n \nPart-time\n\n \nDirector',
       'PKR960,000/yr - PKR1,200,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nContract\n\n \nInternship',
       'On-site\n\n \nPart-time\n\n \nMid-Senior level',
       'On-site\n\n \nTemporary\n\n \nEntry level',
       'Full-time\n\n \nDirector',
       'Hybrid\n\n \nInternship\n\n \nInternship',
       'Remote\n\n \nInternship\n\n \nInternship',
       'On-site\n\n \nExecutive',
       '$1,000/month - $2,500/month\n\n \nOn-site\n\n \nFull-time',
       '$36,000/yr - $60,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nEntry level',
       '$50,000/month - $70,000/month + Commission\n\n \nOn-site\n\n \nFull-time',
       'On-site\n\n \nInternship\n\n \nDirector',
       'Hybrid\n\n \nFull-time\n\n \nExecutive',
       '₹180,000/yr - ₹360,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nEntry level',
       'On-site\n\n \nTemporary\n\n \nInternship',
       '$12,000/yr - $18,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nMid-Senior level',
       'Contract\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nInternship',
       'On-site\n\n \nTemporary\n\n \nMid-Senior level',
       'Hybrid\n\n \nInternship\n\n \nMid-Senior level'], dtype=object)

In [161]:
'Full-time · Mid-Senior level'.split('·')[0]

'Full-time '

In [162]:
df['Job-Type']=df['Job Type'].apply(lambda x:x.split('·')[0])
df['Job-Type']

C:\Users\BILAL.COM\AppData\Local\Temp\ipykernel_6020\2876650013.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Job-Type']=df['Job Type'].apply(lambda x:x.split('·')[0])

0                                             Full-time
1                                             Full-time
2                                             Full-time
3                                             Full-time
4                                             Full-time
                              ...
15869                           On-site\n\n \nFull-time
15870    On-site\n\n \nFull-time\n\n \nMid-Senior level
15872         On-site\n\n \nFull-time\n\n \nEntry level
15873    On-site\n\n \nFull-time\n\n \nMid-Senior level
15874                           On-site\n\n \nFull-time
Name: Job-Type, Length: 11737, dtype: object

In [163]:
df['Job-Type'].unique()

array(['Full-time', 'Full-time ', 'Internship ', 'Internship',
       'Part-time', 'Contract ', 'Contract', '$150/month - $300/month ',
       'Part-time ', 'Mr Ahsan is hiring for this job', 'Temporary ',
       'Executive', 'Sean Sato is hiring for this job',
       '$12,000/yr - $15,000/yr ', '$200,000/yr ',
       'dr.ry. L. is hiring for this job', '10,001+ employees ',
       'Volunteer', 'On-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nFull-time\n\n \nMid-Senior level',
       'Remote\n\n \nFull-time\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nFull-time',
       'Hybrid\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nDirector', 'Remote\n\n \nFull-time',
       'On-site\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nAssociate',
       'Full-time\n\n \nMid-Senior level', 'On-site\n\n \nPart-time',
       'Hybrid\n\n \nFull-time',
       'Remote\n\n \nContract\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nExecutive',
       'Remote\n\n \nFull-time\n\n \nEntry level',
       'Remote\n\n \nInternship', 'On-site\n\n \nInternship',
       'On-site\n\n \nContract\n\n \nMid-Senior level',
       'Remote\n\n \nContract', 'Remote\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nContract\n\n \nEntry level',
       'On-site\n\n \nFull-time\n\n \nInternship',
       'Remote\n\n \nPart-time\n\n \nAssociate', 'Remote\n\n \nPart-time',
       'Remote\n\n \nContract\n\n \nEntry level',
       'On-site\n\n \nContract\n\n \nAssociate',
       'Full-time\n\n \nEntry level', 'Hybrid\n\n \nContract',
       'Remote\n\n \nFull-time\n\n \nDirector', 'Hybrid\n\n \nPart-time',
       'On-site\n\n \nContract',
       'PKR600,000/yr - PKR660,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       'Remote', 'Contract\n\n \nMid-Senior level',
       'On-site\n\n \nContract\n\n \nInternship',
       'Full-time\n\n \nExecutive',
       'Remote\n\n \nInternship\n\n \nMid-Senior level',
       'Hybrid\n\n \nContract\n\n \nMid-Senior level',
       'Remote\n\n \nPart-time\n\n \nEntry level',
       'Hybrid\n\n \nTemporary', 'Remote\n\n \nPart-time\n\n \nExecutive',
       'On-site\n\n \nInternship\n\n \nEntry level',
       'On-site\n\n \nVolunteer',
       'Remote\n\n \nFull-time\n\n \nExecutive',
       'On-site\n\n \nInternship\n\n \nInternship',
       'Remote\n\n \nVolunteer',
       'On-site\n\n \nPart-time\n\n \nEntry level', 'On-site',
       'Hybrid\n\n \nInternship',
       'Hybrid\n\n \nContract\n\n \nEntry level',
       'Full-time\n\n \nInternship',
       '$180/month - $250/month\n\n \nRemote\n\n \nFull-time', 'Hybrid',
       'Remote\n\n \nContract\n\n \nAssociate',
       'Remote\n\n \nTemporary\n\n \nEntry level',
       'On-site\n\n \nTemporary', 'Remote\n\n \nTemporary',
       'Full-time\n\n \nAssociate',
       'PKR1,200,000/yr - PKR1,800,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       '5,001-10,000 employees ',
       'PKR1,200,000/yr - PKR2,400,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       'On-site\n\n \nContract\n\n \nExecutive',
       'PKR1,800,000/yr - PKR3,600,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nMid-Senior level',
       'MYR57,000/yr - MYR108,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nEntry level',
       '$1,500/month - $1,800/month\n\n \nRemote\n\n \nFull-time',
       '11-50 employees',
       'PHP360,000/yr - PHP720,000/yr\n\n \nRemote\n\n \nPart-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nVolunteer', 'Remote\n\n \nMid-Senior level',
       '$500/month - $1,000/month\n\n \nHybrid\n\n \nContract',
       'Remote\n\n \nPart-time\n\n \nMid-Senior level',
       'PKR960,000/yr - PKR1,200,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nEntry level',
       '$20,000/yr - $25,000/yr\n\n \nRemote\n\n \nContract\n\n \nEntry level',
       '$30,000/month - $60,000/month\n\n \nHybrid\n\n \nFull-time',
       'Remote\n\n \nPart-time\n\n \nDirector',
       'PKR960,000/yr - PKR1,200,000/yr\n\n \nOn-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nContract\n\n \nInternship',
       'On-site\n\n \nPart-time\n\n \nMid-Senior level',
       'On-site\n\n \nTemporary\n\n \nEntry level',
       'Full-time\n\n \nDirector',
       'Hybrid\n\n \nInternship\n\n \nInternship',
       'Remote\n\n \nInternship\n\n \nInternship',
       'On-site\n\n \nExecutive',
       '$1,000/month - $2,500/month\n\n \nOn-site\n\n \nFull-time',
       '$36,000/yr - $60,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nEntry level',
       '$50,000/month - $70,000/month + Commission\n\n \nOn-site\n\n \nFull-time',
       'On-site\n\n \nInternship\n\n \nDirector',
       'Hybrid\n\n \nFull-time\n\n \nExecutive',
       '₹180,000/yr - ₹360,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nEntry level',
       'On-site\n\n \nTemporary\n\n \nInternship',
       '$12,000/yr - $18,000/yr\n\n \nRemote\n\n \nFull-time\n\n \nMid-Senior level',
       'Contract\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nInternship',
       'On-site\n\n \nTemporary\n\n \nMid-Senior level',
       'Hybrid\n\n \nInternship\n\n \nMid-Senior level'], dtype=object)

In [164]:
len(df['Job-Type'].unique())

115

##### len(df['Job-Type'].unique()) should be 7 instead of 35

In [165]:
len(df['Job Type'].unique())

129

In [166]:
print(f"There is difference of:{len(df['Job Type'].unique())-len(df['Job-Type'].unique())}")

There is difference of:14

In [167]:
df[df['Job Type nElements']==1]

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time,Job Type nElements,Job-Type
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,EcomFleet,Pakistan,Remote,NaN,1 week ago,1,Full-time
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,Digicon Valley,"Lahore, Punjab, Pakistan",On-site,NaN,2 weeks ago,1,Full-time
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,Murkez Technologies,"Lahore, Punjab, Pakistan",On-site,NaN,1 week ago,1,Full-time
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,DevNatives,"Islamabad, Islāmābād, Pakistan",Hybrid,51,1 week ago,1,Full-time
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,ItCreaters,"Lahore, Punjab, Pakistan",On-site,51,1 week ago,1,Full-time
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13176,Software Developer,"Ericsson · Islamabad, Islāmābād, Pakistan Repo...",Full-time,https://www.linkedin.com/jobs/view/3756603290,"10,001+ employees · IT Services and IT Consulting",3756603290,Ericsson,"Islamabad, Islāmābād, Pakistan Reposted",Not specified,NaN,1 week ago,1,Full-time
13480,Soccer Player,"Vibrant FC · Islamabad, Islāmābād, Pakistan ...",On-site,https://www.linkedin.com/jobs/view/3756090665,See how you compare to 11 applicants. Reactiva...,3756090665,Vibrant FC,"Islamabad, Islāmābād, Pakistan \n2 weeks",Not specified,11,2 weeks ago,1,On-site
13941,Aspire for Unilever - AM E&I,"Unilever · Lahore, Punjab, Pakistan \n1 week ...",Full-time,https://www.linkedin.com/jobs/view/3764164143,"10,001+ employees · Manufacturing",3764164143,Unilever,"Lahore, Punjab, Pakistan",Not specified,226,1 week ago,1,Full-time
14195,Clients Finder for MERN Stack Webites,Ahmad Raza Khokhar · Pakistan \n1 week ago,Remote,https://www.linkedin.com/jobs/view/3762632565,See how you compare to 9 applicants. Reactivat...,3762632565,Ahmad Raza Khokhar,Pakistan,Not specified,NaN,1 week ago,1,Remote
15633,DevOps Architect,"Ericsson · Islamabad, Islāmābād, Pakistan \n1...",Full-time,https://www.linkedin.com/jobs/view/3765626902,"10,001+ employees · Telecommunications",3765626902,Ericsson,"Islamabad, Islāmābād, Pakistan",Not specified,35,1 week ago,1,Full-time

In [168]:
df[df['Job Type nElements']==1]['Job Type'].unique()

array(['Full-time', 'Internship', 'Part-time', 'Contract', 'Executive',
       'Volunteer', 'Remote', 'On-site', 'Hybrid'], dtype=object)

In [169]:
# Job_type_options

In [170]:
inconsistant_Job_Type_Elements_1=['Executive']
inconsistant_Job_Type_Elements_1

['Executive']

In [171]:
len(df[df['Job Type nElements']==1]['Job Type'].unique())

9

In [172]:
df[df['Job Type']=='Executive']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time,Job Type nElements,Job-Type
1184,AWS specialist for a Cloud migration from Huwa...,"CloudPSO · Islamabad, Islāmābād, Pakistan (Rem...",Executive,https://www.linkedin.com/jobs/view/3729427412,51-200 employees · IT Services and IT Consulting,3729427412,CloudPSO,"Islamabad, Islāmābād, Pakistan",Remote,20,1 week ago,1,Executive

In [173]:
df[df['Job Type nElements']==2]['Job Type'].unique()

array(['Full-time · Mid-Senior level', 'Internship · Internship',
       'Full-time · Associate', 'Full-time · Entry level',
       'Full-time · Internship', 'Contract · Mid-Senior level',
       'Contract · Associate', '$150/month - $300/month · Full-time',
       'Full-time · Director', 'Part-time · Associate',
       'Part-time · Executive', 'Contract · Executive',
       'Part-time · Mid-Senior level', 'Contract · Entry level',
       'Temporary · Mid-Senior level', 'Full-time · Executive',
       'Part-time · Internship', 'Internship · Mid-Senior level',
       '$200,000/yr · Full-time', 'Part-time · Entry level',
       '10,001+ employees · Tobacco Manufacturing',
       'On-site\n\n \nFull-time', 'Remote\n\n \nFull-time',
       'Full-time\n\n \nMid-Senior level', 'On-site\n\n \nPart-time',
       'Hybrid\n\n \nFull-time', 'Remote\n\n \nInternship',
       'On-site\n\n \nInternship', 'Remote\n\n \nContract',
       'Remote\n\n \nPart-time', 'Full-time\n\n \nEntry level',
       'Hybrid\n\n \nContract', 'Hybrid\n\n \nPart-time',
       'On-site\n\n \nContract', 'Contract\n\n \nMid-Senior level',
       'Full-time\n\n \nExecutive', 'Hybrid\n\n \nTemporary',
       'On-site\n\n \nVolunteer', 'Remote\n\n \nVolunteer',
       'Hybrid\n\n \nInternship', 'Full-time\n\n \nInternship',
       'On-site\n\n \nTemporary', 'Remote\n\n \nTemporary',
       'Full-time\n\n \nAssociate',
       '5,001-10,000 employees · IT Services and IT Consulting',
       '11-50 employees',
       '10,001+ employees · Food and Beverage Manufacturing',
       'Hybrid\n\n \nVolunteer', 'Remote\n\n \nMid-Senior level',
       'Full-time\n\n \nDirector', 'On-site\n\n \nExecutive',
       'Contract\n\n \nEntry level'], dtype=object)

In [174]:
inconsistant_Job_Type_Elements_2=['$150/month - $300/month · Full-time','$200,000/yr · Full-time','10,001+ employees · Tobacco Manufacturing','Full-time\n\n \nMid-Senior level']
inconsistant_Job_Type_Elements_2

['$150/month - $300/month · Full-time',
 '$200,000/yr · Full-time',
 '10,001+ employees · Tobacco Manufacturing',
 'Full-time\n\n \nMid-Senior level']

In [175]:
len(df[df['Job Type nElements']==2]['Job Type'].unique())

52

In [176]:
df[df['Job Type']=='Full-time\n\n \nMid-Senior level']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time,Job Type nElements,Job-Type
4035,Senior Medical Coder,"CureMD · Lahore, Punjab, Pakistan Reposted \n...",Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3734776775,"1,001-5,000 employees · Software Development",3734776775,CureMD,"Lahore, Punjab, Pakistan Reposted \n4 days",Not specified,57,4 days ago,2,Full-time\n\n \nMid-Senior level
4229,Assistant HR Services Manager,"BAT · Islamabad, Islāmābād, Pakistan Reposted ...",Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3720206722,"10,001+ employees · Tobacco Manufacturing",3720206722,BAT,"Islamabad, Islāmābād, Pakistan Reposted",Not specified,"1,579",1 week ago,2,Full-time\n\n \nMid-Senior level
4413,CC&B Functional Administrator,Sui Southern Gas Company Limited · Karachi Div...,Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735937627,"5,001-10,000 employees · Utilities",3735937627,Sui Southern Gas Company Limited,"Karachi Division, Sindh, Pakistan",Not specified,14,1 week ago,2,Full-time\n\n \nMid-Senior level
4669,Jr. Production Engineer,"Ingredion Incorporated · Jarānwāla, Punjab, Pa...",Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3706694491,"10,001+ employees · Food and Beverage Services",3706694491,Ingredion Incorporated,"Jarānwāla, Punjab, Pakistan Reposted",Not specified,555,1 week ago,2,Full-time\n\n \nMid-Senior level
4677,Purchasing Executive,"BAT · Lahore, Punjab, Pakistan \n1 week ago\n...",Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736996248,"10,001+ employees · Tobacco Manufacturing",3736996248,BAT,"Lahore, Punjab, Pakistan",Not specified,340,1 week ago,2,Full-time\n\n \nMid-Senior level
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15698,IDT Application Management Analyst,"BAT · Lahore, Punjab, Pakistan \n1 week ago\n...",Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3772801246,"10,001+ employees · Tobacco Manufacturing",3772801246,BAT,"Lahore, Punjab, Pakistan",Not specified,6,1 week ago,2,Full-time\n\n \nMid-Senior level
15791,Trade Marketing Executive,"BAT · Lahore, Punjab, Pakistan \n1 week ago\n...",Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771394569,"10,001+ employees · Tobacco Manufacturing",3771394569,BAT,"Lahore, Punjab, Pakistan",Not specified,99,1 week ago,2,Full-time\n\n \nMid-Senior level
15831,Performance Marketing Manager,"Careem · Karāchi, Sindh, Pakistan \n1 week ag...",Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767391406,"1,001-5,000 employees · Software Development",3767391406,Careem,"Karāchi, Sindh, Pakistan",Not specified,223,1 week ago,2,Full-time\n\n \nMid-Senior level
15847,Brand Development Manager,"BAT · Lahore, Punjab, Pakistan \n2 weeks ago\...",Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771397112,"10,001+ employees · Tobacco Manufacturing",3771397112,BAT,"Lahore, Punjab, Pakistan \n2 weeks",Not specified,62,2 weeks ago,2,Full-time\n\n \nMid-Senior level
15859,"EY Ford Rhodes | Senior Consultant, Business C...","EY in Pakistan · Karachi Division, Sindh, Pak...",Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767943789,"1,001-5,000 employees · Accounting",3767943789,EY in Pakistan,"Karachi Division, Sindh, Pakistan",Not specified,1,1 week ago,2,Full-time\n\n \nMid-Senior level

In [177]:
df[df['Job Type']=='10,001+ employees · Tobacco Manufacturing']

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time,Job Type nElements,Job-Type
3212,Line Lead,"Philip Morris International · Sahiwal, Punjab,...","10,001+ employees · Tobacco Manufacturing",https://www.linkedin.com/jobs/view/3734692138,7 school alumni work here,3734692138,Philip Morris International,"Sahiwal, Punjab, Pakistan",On-site,198,5 days ago,2,"10,001+ employees"

In [178]:
df[df['Job Type'].isin(inconsistant_Job_Type_Elements_2)]

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time,Job Type nElements,Job-Type
250,Wordpress Developer,NeuroCare.AI · Pakistan (Remote) \n2 weeks ago,$150/month - $300/month · Full-time,https://www.linkedin.com/jobs/view/3724308929/...,11-50 employees,3724308929,NeuroCare.AI,Pakistan,Remote,NaN,2 weeks ago,2,$150/month - $300/month
1894,Client Success Specialist,"Cedar Financial · Lahore, Punjab, Pakistan (On...","$200,000/yr · Full-time",https://www.linkedin.com/jobs/view/3730671133,51-200 employees,3730671133,Cedar Financial,"Lahore, Punjab, Pakistan",On-site,NaN,1 week ago,2,"$200,000/yr"
3212,Line Lead,"Philip Morris International · Sahiwal, Punjab,...","10,001+ employees · Tobacco Manufacturing",https://www.linkedin.com/jobs/view/3734692138,7 school alumni work here,3734692138,Philip Morris International,"Sahiwal, Punjab, Pakistan",On-site,198,5 days ago,2,"10,001+ employees"
4035,Senior Medical Coder,"CureMD · Lahore, Punjab, Pakistan Reposted \n...",Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3734776775,"1,001-5,000 employees · Software Development",3734776775,CureMD,"Lahore, Punjab, Pakistan Reposted \n4 days",Not specified,57,4 days ago,2,Full-time\n\n \nMid-Senior level
4229,Assistant HR Services Manager,"BAT · Islamabad, Islāmābād, Pakistan Reposted ...",Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3720206722,"10,001+ employees · Tobacco Manufacturing",3720206722,BAT,"Islamabad, Islāmābād, Pakistan Reposted",Not specified,"1,579",1 week ago,2,Full-time\n\n \nMid-Senior level
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15698,IDT Application Management Analyst,"BAT · Lahore, Punjab, Pakistan \n1 week ago\n...",Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3772801246,"10,001+ employees · Tobacco Manufacturing",3772801246,BAT,"Lahore, Punjab, Pakistan",Not specified,6,1 week ago,2,Full-time\n\n \nMid-Senior level
15791,Trade Marketing Executive,"BAT · Lahore, Punjab, Pakistan \n1 week ago\n...",Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771394569,"10,001+ employees · Tobacco Manufacturing",3771394569,BAT,"Lahore, Punjab, Pakistan",Not specified,99,1 week ago,2,Full-time\n\n \nMid-Senior level
15831,Performance Marketing Manager,"Careem · Karāchi, Sindh, Pakistan \n1 week ag...",Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767391406,"1,001-5,000 employees · Software Development",3767391406,Careem,"Karāchi, Sindh, Pakistan",Not specified,223,1 week ago,2,Full-time\n\n \nMid-Senior level
15847,Brand Development Manager,"BAT · Lahore, Punjab, Pakistan \n2 weeks ago\...",Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771397112,"10,001+ employees · Tobacco Manufacturing",3771397112,BAT,"Lahore, Punjab, Pakistan \n2 weeks",Not specified,62,2 weeks ago,2,Full-time\n\n \nMid-Senior level
15859,"EY Ford Rhodes | Senior Consultant, Business C...","EY in Pakistan · Karachi Division, Sindh, Pak...",Full-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767943789,"1,001-5,000 employees · Accounting",3767943789,EY in Pakistan,"Karachi Division, Sindh, Pakistan",Not specified,1,1 week ago,2,Full-time\n\n \nMid-Senior level

In [179]:
len(df[df['Job Type'].isin(inconsistant_Job_Type_Elements_2)])

184

In [180]:
df[df['Job Type nElements']==3]['Job Type'].unique()

array(['$12,000/yr - $15,000/yr · Full-time · Mid-Senior level',
       'On-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nFull-time\n\n \nMid-Senior level',
       'Remote\n\n \nFull-time\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nAssociate',
       'Hybrid\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nAssociate',
       'Remote\n\n \nContract\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nExecutive',
       'Remote\n\n \nFull-time\n\n \nEntry level',
       'On-site\n\n \nContract\n\n \nMid-Senior level',
       'Remote\n\n \nFull-time\n\n \nAssociate',
       'On-site\n\n \nContract\n\n \nEntry level',
       'On-site\n\n \nFull-time\n\n \nInternship',
       'Remote\n\n \nPart-time\n\n \nAssociate',
       'Remote\n\n \nContract\n\n \nEntry level',
       'On-site\n\n \nContract\n\n \nAssociate',
       'Remote\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nContract\n\n \nInternship',
       'Remote\n\n \nInternship\n\n \nMid-Senior level',
       'Hybrid\n\n \nContract\n\n \nMid-Senior level',
       'Remote\n\n \nPart-time\n\n \nEntry level',
       'Remote\n\n \nPart-time\n\n \nExecutive',
       'On-site\n\n \nInternship\n\n \nEntry level',
       'Remote\n\n \nFull-time\n\n \nExecutive',
       'On-site\n\n \nInternship\n\n \nInternship',
       'On-site\n\n \nPart-time\n\n \nEntry level',
       'Hybrid\n\n \nContract\n\n \nEntry level',
       '$180/month - $250/month\n\n \nRemote\n\n \nFull-time',
       'Remote\n\n \nContract\n\n \nAssociate',
       'Remote\n\n \nTemporary\n\n \nEntry level',
       'On-site\n\n \nContract\n\n \nExecutive',
       '$1,500/month - $1,800/month\n\n \nRemote\n\n \nFull-time',
       '$500/month - $1,000/month\n\n \nHybrid\n\n \nContract',
       'Remote\n\n \nPart-time\n\n \nMid-Senior level',
       '$30,000/month - $60,000/month\n\n \nHybrid\n\n \nFull-time',
       'Remote\n\n \nPart-time\n\n \nDirector',
       'Hybrid\n\n \nContract\n\n \nInternship',
       'On-site\n\n \nPart-time\n\n \nMid-Senior level',
       'On-site\n\n \nTemporary\n\n \nEntry level',
       'Hybrid\n\n \nInternship\n\n \nInternship',
       'Remote\n\n \nInternship\n\n \nInternship',
       '$1,000/month - $2,500/month\n\n \nOn-site\n\n \nFull-time',
       '$50,000/month - $70,000/month + Commission\n\n \nOn-site\n\n \nFull-time',
       'On-site\n\n \nInternship\n\n \nDirector',
       'Hybrid\n\n \nFull-time\n\n \nExecutive',
       'On-site\n\n \nTemporary\n\n \nInternship',
       'Hybrid\n\n \nFull-time\n\n \nInternship',
       'On-site\n\n \nTemporary\n\n \nMid-Senior level',
       'Hybrid\n\n \nInternship\n\n \nMid-Senior level'], dtype=object)

In [181]:
len(df[df['Job Type nElements']==3]['Job Type'].unique())

53

In [182]:
inconsistant_Job_Type_Elements_3=['$12,000/yr - $15,000/yr · Full-time · Mid-Senior level']
inconsistant_Job_Type_Elements_3

['$12,000/yr - $15,000/yr · Full-time · Mid-Senior level']

In [183]:
df[df['Job Type'].isin(inconsistant_Job_Type_Elements_3)]

,Job Title,Job Info,Job Type,Job Link,employees,Job ID,company,location,Remote/Onsite,n_applicant,job posting time,Job Type nElements,Job-Type
1876,Operations & Logistics Project Manager,Ridge · Pakistan (Remote) \n1 week ago\n\n · ...,"$12,000/yr - $15,000/yr · Full-time · Mid-Seni...",https://www.linkedin.com/jobs/view/3730353203,51-200 employees · Retail Luxury Goods and Jew...,3730353203,Ridge,Pakistan,Remote,898,1 week ago,3,"$12,000/yr - $15,000/yr"

In [184]:
len(df[df['Job Type'].isin(inconsistant_Job_Type_Elements_3)])

1

In [185]:
df[df['Job Type nElements']==7]['Job Type'].unique()

array(['Mr Ahsan is hiring for this job',
       'Sean Sato is hiring for this job',
       'dr.ry. L. is hiring for this job'], dtype=object)

In [186]:
len(df[df['Job Type nElements']==7]['Job Type'].unique())

3

In [187]:
'Executive' not in inconsistant_Job_Type_Elements_1

False

In [188]:
'·' in 'Full-time · Mid-Senior level'

True

In [189]:
'Full-time · Mid-Senior level'.split('·')[0]

'Full-time '

In [190]:
"On-site\n\n \nFull-time".split('\n\n \n')[1]

'Full-time'

In [191]:
i=0
for inconsistant_Job in inconsistant_Job_Type_Elements_2:
    if 'Full-time' in inconsistant_Job:
        i=i+1
i

3

In [192]:
'On-site\n\n \nFull-time\n\n \nMid-Senior level'.split('\n\n \n')[1]

'Full-time'

In [193]:
i=0
for inconsistant_Job in inconsistant_Job_Type_Elements_3:
    if 'Full-time' in inconsistant_Job:
        i=i+1
i

1

In [194]:
'On-site\n\n \nFull-time\n\n \nMid-Senior level'.split('\n\n \n')

['On-site', 'Full-time', 'Mid-Senior level']

In [195]:
# Job_Type_list=[]
# for elmnt in df['Job Type']:
#     if len(elmnt.split())==1:
#         if elmnt not in inconsistant_Job_Type_Elements_1:
#             Job_Type_list.append(elmnt)
#         else:
#             Job_Type_list.append('Not specified')
#     if len(elmnt.split())==2:
#         if elmnt not in inconsistant_Job_Type_Elements_2:
#             if '·' in elmnt:
#                 Job_Type_list.append(elmnt.split('·')[0])
#             elif '\n\n \n' in elmnt:
#                 Job_Type_list.append(elmnt.split('\n\n \n')[1])
#             else:
#                 Job_Type_list.append('Not specified')
#         else:
#             for inconsistant_Job in inconsistant_Job_Type_Elements_2:
#                 if 'Full-time' in inconsistant_Job:
#                     Job_Type_list.append('Full-time')
#                 else:
#                     Job_Type_list.append('Not specified')
#     if len(elmnt.split())==3:
#         if elmnt not in inconsistant_Job_Type_Elements_3:
#             Job_Type_list.append(elmnt.split('\n\n \n')[1])
#         else:
#             for inconsistant_Job in inconsistant_Job_Type_Elements_3:
#                 if 'Full-time' in inconsistant_Job:
#                     Job_Type_list.append('Full-time')
#                 else:
#                     Job_Type_list.append('Not specified')
#     if len(elmnt.split())==7:
#         Job_Type_list.append('Not specified')
# # IndexError: list index out of range

In [196]:
# Job_Type_list=[]
# i=0
# for elmnt in df['Job Type']:
#     if len(elmnt.split())==3:
#         if elmnt not in inconsistant_Job_Type_Elements_3:
#             # print(elmnt.split('\n\n \n')[1])
#             print(elmnt)
#     print(i)        
#     i=i+1
# i

In [197]:
# Job_Type_list=[]
# i=0
# for elmnt in df['Job Type']:
#     if len(elmnt.split())==2:
#         if elmnt not in inconsistant_Job_Type_Elements_2:
#             # print(elmnt.split('\n\n \n')[1])
#             print(elmnt)
#     i=i+1
# i

In [198]:
'Full-time · Mid-Senior level'.split()

['Full-time', '·', 'Mid-Senior', 'level']

In [199]:
len('Full-time · Mid-Senior level'.split())

4

In [200]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt not in inconsistant_Job_Type_Elements_1:
            Job_Type_list.append(elmnt)
        else:
            Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '·' in elmnt:
                Job_Type_list.append(elmnt.split('·')[0])
            elif '\n\n \n' in elmnt:
                Job_Type_list.append(elmnt.split('\n\n \n')[1])
            else:
                Job_Type_list.append('Not specified')
        else:
            for inconsistant_Job in inconsistant_Job_Type_Elements_2:
                if 'Full-time' in inconsistant_Job:
                    Job_Type_list.append('Full-time')
                else:
                    Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[1])
        else:
            for inconsistant_Job in inconsistant_Job_Type_Elements_3:
                if 'Full-time' in inconsistant_Job:
                    Job_Type_list.append('Full-time')
                else:
                    Job_Type_list.append('Not specified')
    if len(elmnt.split())==7:
        Job_Type_list.append('Not specified')

include all Job_type_options instaed 'Full-time'

In [201]:
Job_Type_list[:10]

['Full-time',
 'Full-time',
 'Full-time',
 'Full-time',
 'Full-time',
 'Full-time',
 'Full-time',
 'Full-time ',
 'Full-time',
 'Internship ']

In [202]:
len(Job_Type_list)

12290

In [203]:
len(df)

11737

In [204]:
len(Job_Type_list)-len(df)

553

In [205]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt not in inconsistant_Job_Type_Elements_1:
            Job_Type_list.append(elmnt)
        else:
            Job_Type_list.append('Not specified')

In [206]:
len(Job_Type_list)

2395

In [207]:
len(df[df['Job Type nElements']==1])

2395

In [208]:
Job_Type_list=[]
i=0
i_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '·' in elmnt:
                Job_Type_list.append(elmnt.split('·')[0])
                i_list.append(i)
            elif '\n\n \n' in elmnt:
                Job_Type_list.append(elmnt.split('\n\n \n')[1])
                i_list.append(i)
            else:
                Job_Type_list.append('Not specified')
                i_list.append(i)
        else:
            for inconsistant_Job in inconsistant_Job_Type_Elements_2:
                if 'Full-time' in inconsistant_Job:
                    Job_Type_list.append('Full-time')
                    i_list.append(i)
                else:
                    Job_Type_list.append('Not specified')
                    i_list.append(i)
    i=i+1
i

11737

In [209]:
len(i_list)

6244

In [210]:
i_list=pd.Series(i_list)

In [211]:
i_list.value_counts()[:10]

8409     4
11105    4
11175    4
11163    4
4921     4
11155    4
4929     4
9852     4
9857     4
10626    4
Name: count, dtype: int64

In [212]:
df['Job Type'].iloc[3470]

'Full-time\n\n \nMid-Senior level'

In [213]:
df['Job Type'].iloc[3470].split('\n\n \n')

['Full-time', 'Mid-Senior level']

In [214]:
df['Job Type'].iloc[1725]

'$200,000/yr · Full-time'

In [215]:
df['Job Type'].iloc[2810]

'10,001+ employees · Tobacco Manufacturing'

In [216]:
inconsistant_Job_Type_Elements_2

['$150/month - $300/month · Full-time',
 '$200,000/yr · Full-time',
 '10,001+ employees · Tobacco Manufacturing',
 'Full-time\n\n \nMid-Senior level']

In [217]:
df[df['Job Type nElements']==2]['Job Type'].unique()

array(['Full-time · Mid-Senior level', 'Internship · Internship',
       'Full-time · Associate', 'Full-time · Entry level',
       'Full-time · Internship', 'Contract · Mid-Senior level',
       'Contract · Associate', '$150/month - $300/month · Full-time',
       'Full-time · Director', 'Part-time · Associate',
       'Part-time · Executive', 'Contract · Executive',
       'Part-time · Mid-Senior level', 'Contract · Entry level',
       'Temporary · Mid-Senior level', 'Full-time · Executive',
       'Part-time · Internship', 'Internship · Mid-Senior level',
       '$200,000/yr · Full-time', 'Part-time · Entry level',
       '10,001+ employees · Tobacco Manufacturing',
       'On-site\n\n \nFull-time', 'Remote\n\n \nFull-time',
       'Full-time\n\n \nMid-Senior level', 'On-site\n\n \nPart-time',
       'Hybrid\n\n \nFull-time', 'Remote\n\n \nInternship',
       'On-site\n\n \nInternship', 'Remote\n\n \nContract',
       'Remote\n\n \nPart-time', 'Full-time\n\n \nEntry level',
       'Hybrid\n\n \nContract', 'Hybrid\n\n \nPart-time',
       'On-site\n\n \nContract', 'Contract\n\n \nMid-Senior level',
       'Full-time\n\n \nExecutive', 'Hybrid\n\n \nTemporary',
       'On-site\n\n \nVolunteer', 'Remote\n\n \nVolunteer',
       'Hybrid\n\n \nInternship', 'Full-time\n\n \nInternship',
       'On-site\n\n \nTemporary', 'Remote\n\n \nTemporary',
       'Full-time\n\n \nAssociate',
       '5,001-10,000 employees · IT Services and IT Consulting',
       '11-50 employees',
       '10,001+ employees · Food and Beverage Manufacturing',
       'Hybrid\n\n \nVolunteer', 'Remote\n\n \nMid-Senior level',
       'Full-time\n\n \nDirector', 'On-site\n\n \nExecutive',
       'Contract\n\n \nEntry level'], dtype=object)

In [218]:
len(Job_Type_list)

6244

In [219]:
len(df[df['Job Type nElements']==2])

5693

In [220]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[1])
        else:
            for inconsistant_Job in inconsistant_Job_Type_Elements_3:
                if 'Full-time' in inconsistant_Job:
                    Job_Type_list.append('Full-time')
                else:
                    Job_Type_list.append('Not specified')

In [221]:
len(Job_Type_list)

3633

In [222]:
len(df[df['Job Type nElements']==3])

3633

In [223]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==7:
        Job_Type_list.append('Not specified')

In [224]:
len(Job_Type_list)

18

In [225]:
len(df[df['Job Type nElements']==7])

3

In [226]:
df['Job Type nElements'].value_counts()

Job Type nElements
2    5693
3    3633
1    2395
4      13
7       3
Name: count, dtype: int64

In [227]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt not in inconsistant_Job_Type_Elements_1:
            Job_Type_list.append(elmnt)
        else:
            Job_Type_list.append('Not specified')
    elif len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '\n\n \n' in elmnt:
                Job_Type_list.append(elmnt.split('\n\n \n')[1])
            elif '·' in elmnt:
                Job_Type_list.append(elmnt.split('·')[0])
            else:
                Job_Type_list.append('Not specified')
        else:
            for inconsistant_Job in inconsistant_Job_Type_Elements_2:
                if 'Full-time' in inconsistant_Job:
                    Job_Type_list.append('Full-time')
                else:
                    Job_Type_list.append('Not specified')
    elif len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[1])
        else:
            for inconsistant_Job in inconsistant_Job_Type_Elements_3:
                if 'Full-time' in inconsistant_Job:
                    Job_Type_list.append('Full-time')
                else:
                    Job_Type_list.append('Not specified')
    elif len(elmnt.split())==7:
        Job_Type_list.append('Not specified')

In [228]:
len(Job_Type_list)

12288

In [229]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt not in inconsistant_Job_Type_Elements_1:
            Job_Type_list.append(elmnt)
        else:
            Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '·' in elmnt:
                Job_Type_list.append(elmnt.split('·')[0])
            elif '\n\n \n' in elmnt:
                Job_Type_list.append(elmnt.split('\n\n \n')[1])
            else:
                Job_Type_list.append('Not specified')
        else:
            if 'Full-time' in elmnt:
                Job_Type_list.append('Full-time')
            else:
                Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[1])
        else:
            if 'Full-time' in elmnt:
                Job_Type_list.append('Full-time')
            else:
                Job_Type_list.append('Not specified')
    if len(elmnt.split())==7:
        Job_Type_list.append('Not specified')

In [230]:
len(Job_Type_list)

11738

In [231]:
set(Job_Type_list)

{'10,001+ employees ',
 '5,001-10,000 employees ',
 'Associate',
 'Contract',
 'Contract ',
 'Director',
 'Entry level',
 'Executive',
 'Full-time',
 'Full-time ',
 'Hybrid',
 'Internship',
 'Internship ',
 'Mid-Senior level',
 'Not specified',
 'On-site',
 'Part-time',
 'Part-time ',
 'Remote',
 'Temporary',
 'Temporary ',
 'Volunteer'}

In [232]:
df['Job-Type']=Job_Type_list

ValueError: Length of values (11738) does not match length of index (11737)

In [ ]:
df['Job-Type'].unique()

In [ ]:
# df[df['Job-Type']=='Full-time ']

In [ ]:
df['Job-Type'].value_counts()

In [ ]:
df.columns

In [ ]:
df['Job-Type'].value_counts()['Full-time']+df['Job-Type'].value_counts()['Full-time ']

In [ ]:
df['Job-Type'].value_counts()['Internship']+df['Job-Type'].value_counts()['Internship ']

In [ ]:
df['Job-Type'].value_counts()['Part-time ']+df['Job-Type'].value_counts()['Part-time']

In [ ]:
df['Job-Type'].value_counts()['Contract ']+df['Job-Type'].value_counts()['Contract']

In [ ]:
df['Job-Type'] = df['Job-Type'].replace(['Full-time ','Internship ','Part-time ','Contract '],['Full-time','Internship','Part-time','Contract'])

In [ ]:
df['Job-Type'].unique()

In [ ]:
df['Job-Type'].value_counts()

### 01 december 2023

## extarcting Experience level from df['Job Type']

In [ ]:
df['Job Type']

In [ ]:
## it is observed that Experience level is at 2nd split ,3rd split nad 2nd split 
uniques=['Full-time · Mid-Senior level','On-site\n\n \nFull-time\n\n \nMid-Senior level','Full-time\n\n \nMid-Senior level']
uniques

In [ ]:
df[df['Job Type nElements']==1]['Job Type'].unique()

In [ ]:
df[df['Job Type nElements']==1]['Job Type'].value_counts()

In [ ]:
# inconsistant_Job_Type_Elements_1=['Executive']
inconsistant_Job_Type_Elements_1

In [ ]:
# inconsistant_Job_Type_Elements_2=['$150/month - $300/month · Full-time','$200,000/yr · Full-time','10,001+ employees · Tobacco Manufacturing','Full-time\n\n \nMid-Senior level']
inconsistant_Job_Type_Elements_2

In [ ]:
inconsistant_Job_Type_Elements_3

### 07 december 2023

In [ ]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt in inconsistant_Job_Type_Elements_1:
            if elmnt=='Executive':
                Job_Type_list.append(elmnt)
        else:
            Job_Type_list.append('Not specified')
    # if len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
    #     if elmnt not in inconsistant_Job_Type_Elements_2:
    #         if '·' in elmnt:
    #             Job_Type_list.append(elmnt.split('·')[0])
    #         elif '\n\n \n' in elmnt:
    #             Job_Type_list.append(elmnt.split('\n\n \n')[1])
    #         else:
    #             Job_Type_list.append('Not specified')
    #     else:
    #         if 'Full-time' in elmnt:
    #             Job_Type_list.append('Full-time')
    #         else:
    #             Job_Type_list.append('Not specified')
    # if len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
    #     if elmnt not in inconsistant_Job_Type_Elements_3:
    #         Job_Type_list.append(elmnt.split('\n\n \n')[1])
    #     else:
    #         if 'Full-time' in inconsistant_Job:
    #             Job_Type_list.append('Full-time')
    #         else:
    #             Job_Type_list.append('Not specified')
    # if len(elmnt.split())==7:
    #     Job_Type_list.append('Not specified')

In [ ]:
set(Job_Type_list)

In [ ]:
len(Job_Type_list)

In [ ]:
inconsistant_Job_Type_Elements_2

In [ ]:
df[df['Job Type nElements']==2]['Job Type'].unique()

In [ ]:
df['Job Type nElements'].value_counts()

In [ ]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '·' in elmnt:
                Job_Type_list.append(elmnt.split('·')[1])
            # elif '\n\n \n' in elmnt:
            #     Job_Type_list.append(elmnt.split('\n\n \n')[2])
            else:
                Job_Type_list.append('Not specified')
        else:
            if 'Mid-Senior level' in elmnt:
                Job_Type_list.append('Mid-Senior level')
            else:
                Job_Type_list.append('Not specified')

In [ ]:
len(Job_Type_list)

In [ ]:
set(Job_Type_list)

In [ ]:
inconsistant_Job_Type_Elements_3

In [ ]:
df[df['Job Type nElements']==3]['Job Type'].unique()

In [ ]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[2])
        else:
            # if 'Mid-Senior level' in inconsistant_Job: due to this problem not sepecified is in list 
            if 'Mid-Senior level' in elmnt:  
                Job_Type_list.append('Mid-Senior level')
            else:
                Job_Type_list.append('Not specified')

In [ ]:
# ' Mid-Senior level' in '$12,000/yr - $15,000/yr · Full-time · Mid-Senior level'

In [ ]:
 # ' Mid-Senior level' in inconsistant_Job

In [ ]:
len(Job_Type_list)

In [ ]:
set(Job_Type_list)

In [ ]:
df[df['Job Type nElements']==7]['Job Type'].unique()

In [ ]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt in inconsistant_Job_Type_Elements_1:
            if elmnt=='Executive':
                Job_Type_list.append(elmnt)
        else:
            Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '·' in elmnt:
                Job_Type_list.append(elmnt.split('·')[1])
            # elif '\n\n \n' in elmnt:
            #     Job_Type_list.append(elmnt.split('\n\n \n')[2])
            else:
                Job_Type_list.append('Not specified')
        else:
            if 'Mid-Senior level' in elmnt:
                Job_Type_list.append('Mid-Senior level')
            else:
                Job_Type_list.append('Not specified')
                
    if len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[2])
        else:
            # if 'Mid-Senior level' in inconsistant_Job: due to this problem not sepecified is in list 
            if 'Mid-Senior level' in elmnt:  
                Job_Type_list.append('Mid-Senior level')
            else:
                Job_Type_list.append('Not specified')
    if len(elmnt.split())==7:
        Job_Type_list.append('Not specified')

In [ ]:
len(Job_Type_list)

In [ ]:
set(Job_Type_list)

In [ ]:
df['Experience Level']=Job_Type_list

In [ ]:
df['Experience Level'].unique()

In [ ]:
df['Experience Level'].value_counts()

In [ ]:
df['Experience Level'] = df['Experience Level'].replace([' Mid-Senior level',' Associate',' Entry level',' Director',' Executive',' Internship'],['Mid-Senior level','Associate','Entry level','Director','Executive','Internship'])

In [ ]:
df['Experience Level'].unique()

In [ ]:
len(df['Experience Level'].unique())

In [ ]:
# len(Experience_level_options)

In [ ]:
df['Experience Level'].value_counts()

### extracting On-site/remote from Job Type feature

##### as in nelement==1 not have remote/onsite

In [ ]:
df[df['Job Type nElements']==2]['Job Type'].unique()

In [ ]:
inconsistant_Job_Type_Elements_2

In [ ]:
inconsistant_Job_Type_Elements_3

In [ ]:
jobconditionnElements2=['On-site\n\n \nFull-time', 'Remote\n\n \nFull-time','On-site\n\n \nPart-time','Hybrid\n\n \nFull-time']
jobconditionnElements2

In [ ]:
jobconditionnElements3=['On-site\n\n \nFull-time\n\n \nMid-Senior level',
       'Hybrid\n\n \nFull-time\n\n \nMid-Senior level',
       'Remote\n\n \nFull-time\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nAssociate',
       'Hybrid\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nEntry level',
       'Hybrid\n\n \nFull-time\n\n \nAssociate',
       'Remote\n\n \nContract\n\n \nMid-Senior level',
       'On-site\n\n \nFull-time\n\n \nDirector',
       'On-site\n\n \nFull-time\n\n \nExecutive',
       'Remote\n\n \nFull-time\n\n \nEntry level']
jobconditionnElements3

In [ ]:
Job_Type_list=[]
for elmnt in df['Job Type']:
    if len(elmnt.split())==1:
        if elmnt not in inconsistant_Job_Type_Elements_1:
            Job_Type_list.append('Not specified')
        else:
            Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==2 or len(elmnt.split('\n\n \n'))==2:
        if elmnt not in inconsistant_Job_Type_Elements_2:
            if '·' in elmnt:
                Job_Type_list.append('Not specified')
            elif '\n\n \n' in elmnt:
                Job_Type_list.append(elmnt.split('\n\n \n')[0])
            else:
                Job_Type_list.append('Not specified')
        else:
            Job_Type_list.append('Not specified')
    if len(elmnt.split('·'))==3 or len(elmnt.split('\n\n \n'))==3:
        if elmnt not in inconsistant_Job_Type_Elements_3:
            Job_Type_list.append(elmnt.split('\n\n \n')[0])
        else:
            Job_Type_list.append('Not specified')
    if len(elmnt.split())==7:
        Job_Type_list.append('Not specified')

In [ ]:
len(Job_Type_list)

In [ ]:
set(Job_Type_list)

In [ ]:
df['Remote/Onsite-2']=Job_Type_list

In [ ]:
df['Remote/Onsite-2'].unique()

In [ ]:
df['Remote/Onsite-2'].value_counts()

#### how many are specified

In [ ]:
df['Remote/Onsite-2'].value_counts()[1:].sum()

In [ ]:
df['Remote/Onsite'].value_counts()

In [ ]:
# actual Not specified values
230-132

but here not specified are 230 instead of 132 this means onsite remote may be null

now i have to mix two columns in such a way it fill Not specified values of Remote/Onsite with specified values of Remote/Onsite-2
I can also investigate a date from where onsite remote is in job type columns as now it is mostly in job feature not in job info

### locating index of change happend

In [ ]:
# investigating by according to 9th oct file as change happened at 119th row 119-2=117
335-117

In [ ]:
3571-218

In [ ]:
df['Remote/Onsite'].iloc[:]

In [ ]:
df['Remote/Onsite'].iloc[3353:]

In [ ]:
df['Remote/Onsite'].iloc[3400:]

but this index not working to locate change

In [ ]:
# 132 are specified values in 'Remote/Onsite-2'
3571-132

In [ ]:
df['Remote/Onsite'].iloc[3439:]

In [ ]:
# moving 1 index backword
df['Remote/Onsite'].iloc[3438:]

it is investigated that change happend at 3438 loc == 3997 index of df

In [ ]:
df['Remote/Onsite'].iloc[3438:].unique()

In [ ]:
df['Remote/Onsite'].iloc[:3438].unique()

In [ ]:
df['Remote/Onsite-2'].iloc[3438:]

In [ ]:
df['Remote/Onsite-2'].iloc[3438:].unique()

In [ ]:
df['Remote/Onsite-2'].iloc[:3438].unique()

so it clarified that 3438th loc=3997th index of dataframe is index of change happend

i have to 'Not specified' in df['Remote/Onsite-2'].iloc[3438:].unique()

ended 12:21 am 8 december
started 7:15 am 8 december

# 8 Dec 2023

#### working on employees feature , Extracting no of employees and industry feature from employees feature

In [ ]:
df['employees'].unique()

In [ ]:
len(df['employees'].unique())

In [ ]:
df['employees'].value_counts()

It is noted that there are also single element :employees also two elements :employees and industry which is seperated by .
It is always employees is first element and industry is 2nd element

there are so many inconsistant values commen words are:
is hiring for this job
See how you compare
Job poster joined LinkedIn

In [ ]:
in_consistant_values_in_employees_feature=['is hiring for this job','See how you compare','Job poster joined LinkedIn']
in_consistant_values_in_employees_feature

In [ ]:
'is hiring for this job' in 'Arooba Aslam is hiring for this job'

In [ ]:
feature_element = 'Arooba Aslam is hiring for this job'
inconsistent_values_in_employees_feature = ['is hiring for this job', 'See how you compare', 'Job poster joined LinkedIn']

for value in inconsistent_values_in_employees_feature:
    if value in feature_element:
        print(f"The string '{value}' is present in the feature element.")
    else:
        print(f"The string '{value}' is not present in the feature element.")

In [ ]:
'11-50 employees'.split('.')

In [ ]:
len('11-50 employees'.split('.'))

In [ ]:
'1,001-5,000 employees · International Trade and Development'.split('·')

In [ ]:
'1,001-5,000 employees · International Trade and Development'.split('·')[0]

In [ ]:
'1,001-5,000 employees · International Trade and Development'.split('·')[1]

In [ ]:
len('1,001-5,000 employees · International Trade and Development'.split('·'))

In [ ]:
L1=[] #for employees 
L2=[] #for industry
for feature_element in df['employees'].iloc[:10]:
    flag=0
    for value in inconsistent_values_in_employees_feature:
        if value in feature_element:
            flag=1
            
    if flag==1:
        L1.append('Not specified')
        L2.append('Not specified')
    else:
        if len(feature_element.split('·'))==1:
            L1.append(feature_element)
            L2.append('Not specified')
        elif len(feature_element.split('·'))==2:
            L1.append(feature_element.split('·')[0])
            L2.append(feature_element.split('·')[1])
        else:
            L1.append('Other')
            L2.append('Other')

In [ ]:
L1

In [ ]:
L2

In [ ]:
df['employees'].iloc[:10]

In [ ]:
L1=[] #for employees 
L2=[] #for industry
for feature_element in df['employees'].iloc[:]:
    flag=0
    for value in inconsistent_values_in_employees_feature:
        if value in feature_element:
            flag=1
            
    if flag==1:
        L1.append('Not specified')
        L2.append('Not specified')
    else:
        if len(feature_element.split('·'))==1:
            L1.append(feature_element)
            L2.append('Not specified')
        elif len(feature_element.split('·'))==2:
            L1.append(feature_element.split('·')[0])
            L2.append(feature_element.split('·')[1])
        else:
            L1.append('Other')
            L2.append('Other')

In [ ]:
len(L1)

In [ ]:
set(L1)

'school alum works here' ,'alumni work here' and 'See recent hiring trends' are still inconsistant values

In [ ]:
inconsistent_values_in_employees_feature

In [ ]:
len(L2)

In [ ]:
set(L2)

here in L2 there is only one inconsistant value which is 4 school alumni work here as this is 2nd element so i have to investigate it

In [ ]:
for feature_element in df['employees'].iloc[:]:
    if '4 school alumni work here' in feature_element:
        print(feature_element)

'6 company alumni work here · 4 school alumni work here' full element is inconsistant

In [ ]:
inconsistent_values_in_employees_feature = ['is hiring for this job', 
                                            'See how you compare', 
                                            'Job poster joined LinkedIn',
                                           'school alum works here',
                                            'alumni work here',
                                            'See recent hiring trends'
                                           ]

In [ ]:
L1=[] #for employees 
L2=[] #for industry
for feature_element in df['employees'].iloc[:]:
    flag=0
    for value in inconsistent_values_in_employees_feature:
        if value in feature_element:
            flag=1
            
    if flag==1:
        L1.append('Not specified')
        L2.append('Not specified')
    else:
        if len(feature_element.split('·'))==1:
            L1.append(feature_element)
            L2.append('Not specified')
        elif len(feature_element.split('·'))==2:
            L1.append(feature_element.split('·')[0])
            L2.append(feature_element.split('·')[1])
        else:
            L1.append('Other')
            L2.append('Other')

In [ ]:
len(L1)

In [ ]:
len(L2)

In [ ]:
set(L1)

In [ ]:
set(L2)

In [ ]:
df['Comp_N_Employees']=L1

In [ ]:
df['Comp_Industry']=L2

In [ ]:
df['Comp_N_Employees'].unique()

In [ ]:
len(df['Comp_N_Employees'].unique())

In [ ]:
df['Comp_N_Employees'].value_counts()

In [ ]:
df['Comp_Industry'].unique()

In [ ]:
len(df['Comp_Industry'].unique())

In [ ]:
df['Comp_Industry'].value_counts()

### These are job Job type options on linkedin:
Full-time,
Part-time,
Contract,
Temporary,
Volunteer,
Internship,
Other
### These are Experience level options on linkedin:
Internship,
Entry level,
Associate,
Mid-Senior level,
Director,
Executive
### These are On-site/remote options on linkedin:
On-site,
Remote,
Hybrid

In [ ]:
Job_type_options=['Full-time','Part-time','Contract','Temporary','Volunteer','Internship','Other']
Job_type_options

In [ ]:
Experience_level_options=['Internship','Entry level','Associate','Mid-Senior level','Director','Executive']
Experience_level_options

In [ ]:
On_site_remote_options=['On-site','Remote','Hybrid']
On_site_remote_options

In [ ]:
len(Job_type_options)

In [ ]:
len(Experience_level_options)

In [ ]:
df.columns

In [ ]:
len(df.columns)